/* ==UserStyle==
@name           Eduardo Furia: chessboard
@namespace      USO Archive
@author         agiota_do_artenio
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@description    `Chess board for Eduardo Furia`
@version        2.0.2
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Logo 1": "op1",
            "Logo 2A": "op2",
            "Logo 2B*": "op3",
            "Logo 2C": "op4",
            "Logo 2D": "op5",
            "Desativado": "op0",
        }
@var    checkbox    setHighlight   "Habilitar Destaque Personalizado" 1
@var    range    highlightOpacity  "Opacidade do destaque" [0.5, 0.3, 1, 0.1, ""]
@var    range    highlightHueRotation  "Tonalidade do destaque" [0, 0, 355, 5, "deg"]
@var    checkbox    setEvaluationBar "Barra de avaliação personalizada" 1
==/UserStyle== */
@-moz-document domain("chess.com"), domain("lichess.org"), domain("chessclub.com") {
    /*set variables values*/
    server='https://github.com/FSA1/Styles/raw/main'
    if myBoard=="op1" {
        boardlink=server + '/edfuria/boards/efcb_clouds1.jpg'
    }
    if myBoard=="op2" {
        boardlink=server + '/edfuria/boards/efcb_clouds2.jpg'
    }
    if myBoard=="op1" || myBoard=="op2" {
        miniBoard=server + '/edfuria/boards/mini/efcb_clouds_clean.jpg'
        darksq=#668BA4
        lightsq=#C8D5DD
        hlcol=#39bceb
        selcol=#5780b6
        /*lichess*/
        dotcol=#48505d70
        hovercol=#6787b1c4
        destoc=#7face7
    }
    if myBoard=="op3"{
        boardlink=server + '/edfuria/boards/efcb_wood2-gray.jpg'
        miniBoard=server + '/edfuria/boards/mini/efcb_wood2-gray_clean.jpg'
        darksq=#647478
        lightsq=#E1E2C9
        hlcol=#71dbff
        selcol=#7c92af
        /*lichess*/
        dotcol=#4c505670
        hovercol=#6f839dc4
        destoc=#4c5056c4
    }
    if myBoard=="op4" {
        boardlink=server + '/edfuria/boards/efcb_poster-blue.jpg'
        miniBoard=server + '/edfuria/boards/mini/efcb_poster-blue_clean.jpg'
        darksq=#547692
        lightsq=#D1D6DA
        hlcol=#39bceb
        selcol=#5780b6
        /*lichess*/
        dotcol=#48505d70
        hovercol=#6787b1c4
        destoc=#7face7
    }
    if myBoard=="op5" {
        boardlink=server + '/edfuria/boards/efdarkwoodcb.jpg'
        miniBoard=server + '/edfuria/boards/mini/efdarkwoodcb_clean.jpg'
        darkSqTex=server + '/edfuria/boards/mini/efdarkwoodcb_evalB.jpg'
        lightSqTex=server + '/edfuria/boards/mini/efdarkwoodcb_evalW.jpg'
        darksq=#AC6D4A
        lightsq=#EFCCA4
        hlcol=#ffd92e
        selcol=#d2b061
        /*lichess*/
        dotcol=#5d584870
        hovercol=#dbb031b0
        destoc=#a88f55
    }
    if myBoard!="op0" {
        /*lichess.org*/
        .is2d cg-board,
        /*ICC*/
        .board-brown .cg-wrap,
        /*chess.com*/
		.board-layout-chessboard .board,
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id*="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        div[id*="chess_com_emailboard_"] {
                background: url(boardlink) 0% 0% / 100% 100% no-repeat!important;
        }

        /*Evaluation bar*/
        if setEvaluationBar {
            .evaluation-bar-black {
                background: url(darkSqTex) 0% 0% / 100% 100% no-repeat !important;
                background-color: darksq !important;
                }
            .evaluation-bar-white {
                background: url(lightSqTex) 0% 0% / 100% 100% no-repeat !important;
                background-color: lightsq !important;
                }
        }
        /*Small board for game preview*/
        div[class^="game-preview"] {
            background: url(miniBoard) 0% 0% / 100% 100% no-repeat !important;
        }
        /*------Coordinates------*/
        .orientation-white .files coord:nth-child(2n),
        .orientation-white .ranks coord:nth-child(2n + 1),
        .orientation-black .files coord:nth-child(2n + 1),
        .orientation-black .ranks coord:nth-child(2n),
        div.number.coords-light,
        div.letter.coords-light,
        text.coordinate-light {
            color: darksq!important;
            fill: @color;
        }
        .orientation-white .files coord:nth-child(2n + 1),
        .orientation-white .ranks coord:nth-child(2n),
        .orientation-black .files coord:nth-child(2n),
        .orientation-black .ranks coord:nth-child(2n + 1),
        div.number.coords-dark,
        div.letter.coords-dark,
        text.coordinate-dark {
            color: lightsq !important;
            fill: @color;
        }

        
        /*Highlight*/
        if setHighlight {
            /*selector with exceptions to avoid override analysis highlights*/
            notThisColors='[style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]'

            square.last-move,
            .move-square, 
            .highlight:not({notThisColors}) {
                background-color: hlcol !important;
            }
            square.move-dest/*Lichess (dot marks shows legal moves)*/
            {
                background: radial-gradient(dotcol 20%, #0000 20%);
            }
            square.move-dest:hover/*Lichess*/
            {
                background: hovercol;
            }
            square.oc.move-dest/*Lichess (on capture?)*/
            {
                background: radial-gradient(transparent 0%, transparent 79%, destoc 80%);
            }
            .selection-square,
            square.selected/*Lichess*/
            {
                background-color: selcol !important;
            }
        }
        /*Highlight*/
        if setHLopacity {
            square.last-move,
            .move-square,
            .highlight {
                opacity: highlightOpacity!important;
            }
        }
        if setHLhueRotation {
            square.last-move,
            .move-square,
            .highlight {
                filter: hue-rotate(highlightHueRotation) !important;
                -webkit-filter: @filter;
                -moz-filter: @filter;
                -o--filter: @filter;
            }
        }
    }
    /*End of the code*/
}
