/* ==UserStyle==
@name           ‼️ 💜BabiChess: chessboard
@author         ChessSkins
@namespace      ChessSkins
@homepageURL    https://www.chess.com/blog/ChessSkins
@description    `highly customizable chess set for chess.com.`
@version        1.0.33
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "🟢🏁Tabuleiro" {
            "Dama": "chessQueen",
            "Roxo": "purpleB",
            "Roxo Textura": "txPurple",
            "Personalizado": "custom",
            "Páscoa": "easter",
            "Desativado": "disabled",
        }
@var    color    svgLightSqColor  "Casas claras"   #dbcee6
@var    color    svgDarkSqColor  "Casas escuras"   #8a5ca2
@var    checkbox    enableGlobalColor   "👉🟪Cor Global (modo fácil) Pretas" 0
@var    select  svgBoardBlend    "↪Mesclagem tabuleiro" ["normal*", "multiply", "screen", "darken", "lighten", "overlay", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"]
@var    range    svgDarkSqOpacity  "Opacidade escuras" [1.00, 0.01, 1.00, 0.01, ""]
@var    range    svgLightSqOpacity  "Opacidade claras" [1.00, 0.01, 1.00, 0.01, ""]

@var    range    frameRadius  "🔵Canto arredondado" [6, 0, 34, 1, "px"]
@var    checkbox    frameRadiusInOut  "↪🔹Conjunto <--> Externo" 1

@var    range    ajustBoardSize  "Tam. do tabuleiro" [0.9, 0.82, 0.92, 0.01, ""]

@var    select      setHighlight    "🟡Destaque de movimento" {
            "Tema do tabuleiro": "op1",
            "Personalizado": "op2",
            "Padrão": "disabled",
        }
@var    select      hlImgOpt    "🟡Destaque animado" {
            "Brilho": "hlImg",
            "Desativado*": "op0",
        }
@var    color    hlColor  "↪Cor do destaque"   #ffff33

@var    range    highlightOpacity  "↪Opacidade Destaque" [0.5, 0.3, 1, 0.1, ""]

@var    color    hlSqRed  "🔴Click Direito"   #eb6150
@var    color    hlSqOrange  "🟠CTRL+Click"   #fa0
@var    color    hlSqGreen  "🟢SHIFT+Click"   #acce59
@var    color    hlSqBlue  "🔵ALT+Click"   #52b0dc

@var    checkbox    enableArrowSettings   "🟩↘️Setas modificadas" 0
@var    range    arrowOpacity  "Opacidade das setas" [0.9, 0.7, 1, 0.1, ""]
@var    color    arrowOrange  "🟠Click Direito"   #ff8000
@var    color    arrowRed  "🔴CTRL+Click"   #fa4d35
@var    color    arrowGreen  "🟢SHIFT+Click"   #abe439
@var    color    arrowBlue  "🔵ALT+Click"   #28b8fa

@var    checkbox    enableBoardFrame  "👉🟩🔳Borda externa" 1
@var    checkbox    enableInnerBorder  "🟩◽Borda interna" 1
@var    checkbox    enableCenterLogo   "🟩Logo central" 0
@var    checkbox    enableCornerLogo   "🟩Logo secundário" 0
@var    checkbox    enableCornerLogo2   "🟩🆎Texto extra" 0
@var    checkbox    enableWallpaper   "🟩Plano de fundo" 1

@var    checkbox    enableCustomCoord "🟨🔠Coord. personalizadas" 0
@var    checkbox    enableOutsideCoords "🟡Coord. Externas" 1
@var    select  coordsBlend    "↪Mesclagem Coordenadas" ["normal*", "multiply", "screen", "darken", "lighten", "overlay"]
@var    select   outCoordFontName   "↪🆎Nome da fonte"{
        "Fonte 1": "userFont1",
        "Fonte 2": "userFont2",
        "Fonte 3": "userFont3",
        "Times New Roman": "Times New Roman",
        "Helvetica": "Helvetica",
        "Segoe UI*": "Segoe UI",
        "Tahoma": "Tahoma",
        "Verdana": "Verdana",
        "serif": "serif",
        "sans-serif": "sans-serif",
    }
@var    range    outCoordFontSize  "↪Tam. da fonte" [0.24, 0.1, 0.3, 0.01, "rem"]
@var select   outCoordFontWeight   "↪Tipo"    ["400*", "600", "700", "800"]

@var    select      outCoordFontCase    "↪Maiúsculas ou minúsculas"{
            "Maiúsculas": "uppercase",
            "Minúsculas*": "lowercase",
        }
@var    select      outCoordColorOpt    "↪🟢Origem da cor"{
            "Casas Claras*": "svgLightSqColor",
            "Personalizado": "outCoordCol",
        }
@var color    outCoordCol  "Coordenadas externas"   #ffffffb8
@var color    lCoordCol  "Coord. de casas claras"   #8d8d8d
@var color    dCoordCol  "Coord. de casas escuras"   #acacac

@var    range    outCoordX  "↪Ajuste horiz. coord." [-4.5, -6, -4.5, 0.1, "%"]
@var    range    outCoordY  "↪Ajuste vert. coord" [4.8, 4.8, 6, 0.1, "%"]

@var    select      boardBGOpt    "🟠Fundo do tabuleiro"{
            "Somente cor*": "colorOnly",
        }
@var    color    boardBGColor  "🟠Cor de fundo"   #8352a2
@var    select      bgSize    "↪🔸Tam. do fundo"{
            "Estender": "cover",
        }
@var    range    bPercentSize    "↪valor de porcentagem" [100, 1, 120, 1, "%"]

@var    range    bgPosX  "↪🔸Ajuste horizontal" [50, 0, 100, 5, "%"]
@var    range    bgPosY  "↪🔸Ajuste vertical" [50, 0, 100, 5, "%"]

@var    select      frameOpt    "↪🟢Borda"{
            "Igual ao fundo*": "boardBGOpt",
            "Somente cor": "colorOnly",
        }
@var    color    frameColor  "↪🟢Cor da borda"   #8352a2

@var    select      frameSize    "Tam. da borda"{
            "Estender": "cover",
        }
@var    range    fPercentSize    "↪valor de porcentagem" [100, 1, 120, 1, "%"]


@var    range    framePosX  "Ajuste horizontal" [50, 0, 100, 5, "%"]
@var    range    framePosY  "Ajuste vertical" [50, 0, 100, 5, "%"]


@var    select      innerBorderOpt    "↪🟢Borda interna"{
            "cor casas claras": "svgLightSqColor",
            "cor casas escuras": "svgDarkSqColor",
            "cor personalizada*": "innerBorderColor",
        }
@var    color    innerBorderColor   "↪🟢Cor borda interna"   #c58ccf

@var    checkbox    enableBoardShadowInset  "🟨Sombra interna do tabuleiro" 0
@var    checkbox    enableBoardShadow  "🟨Sombra externa do tabuleiro" 0

@var    checkbox    enableFrameShadowInset  "🟧Sombra interna da borda" 0
@var    range    frameShadowInsetBlur    "↪🔸Desfocar" [2, 0, 310, 1, "px"]
@var    range    frameShadowInsetSpread   "↪🔸Dispersar" [1, 0, 310, 1, "px"]
@var    color    frameShadowInsetColor  "↪🔸Cor da sombra"   rgba(0, 0, 0, .4)

@var    checkbox    enableFrameShadow  "🟧Sombra externa da borda" 1
@var    range    frameShadowBlur    "↪🔸Desfocar" [8, 0, 34, 1, "px"]
@var    range    frameShadowSpread   "↪🔸Dispersar" [4, 0, 34, 1, "px"]
@var    color    frameShadowColor  "↪🔸Cor da sombra"    rgba(0, 0, 0, .5)

@var    checkbox    enablePanelTexture   "🟦Ativar Textura nos paineis" 0
@var    select      panelBGOpt    "↪🔵Textura dos Paineis"{
            "Igual ao fundo": "boardBGOpt",
            "Igual a borda*": "frameOpt",
            "Somente cor": "colorOnly",
        }
@var    checkbox    enableCustomPanelFontColor "🟡🆎Fontes personalizadas nos paineis" 0
@var color    panelFontColor  "↪cor da fonte dos paineis"   #ffffff99
@var    select      setFontColorSrc    "↪Origem de cor" {
            "Segue coordenadas*": "outCoordColorOpt",
            "Personalizada": "panelFontColor",
        }
@var    checkbox    enablePanelColor "🟧Colorir Paineis" 0
@var    checkbox    mainColumnColor "↪🟠📰Incluir blocos de texto" 0
@var    color    panelColor  "↪🔸🎨Cor do painel"   #8352a230
@var    checkbox    enablePanelBlur "🟦Desfocar Paineis" 0
@var    checkbox    mainColBlur "↪🔵📰Incluir blocos de texto" 1
@var    select  centerLogoBlend    "↪Mesclagem logo central" ["normal", "multiply", "screen", "darken*", "lighten", "overlay", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"]

@var color    centerLogoCol  "Cor do logo central"   #8200d340
@var    range    centerLogoSize  "Tam. logo central" [50, 10, 120, 1, "%"]
@var    range    centerLogoOpacity  "Opacidade do logo central" [0.4, 0.01, 1, 0.01, ""]
@var    range    centerLogoPosX  "Ajuste horizontal" [50, -20, 120, 2, "%"]
@var    range    centerLogoPosY  "Ajuste vertical" [50, -20, 120, 2, "%"]

@var    select      cornerLogoOpt    "👉☯️Selecionar logo secundário"{
            "🔗Texto*": "cornerLogoTextOnly",
        }

@var    select  cornerLogoBlend    "↪Mesclagem logo secundário" ["normal", "multiply*", "screen", "darken", "lighten", "overlay", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"]
@var    range    cornerLogoSize  "↪Tam. logo secundário" [15, 10, 120, 1, "%"]
@var    range    cornerLogoOpacity  "↪Opacidade do logo secundário" [1, 0.01, 1, 0.01, ""]
@var    range    cornerLogoPosX  "↪Ajuste horizontal" [115, -40, 150, 1, "%"]
@var    range    cornerLogoPosY  "↪Ajuste vertical" [53, -40, 150, 1, "%"]
@var color    cornerLogoCol  "↪Cor do logo secundário"   #8200d340
@var    range    cornerLogoFontSize  "↪Tam. da fonte" [8, 8, 24, 2, "px"]
@var select   cornerLogoFontWeight   "↪Tipo"    ["400", "600*", "700", "800"]
@var select   cornerLogoFontName   "↪🆎Nome da fonte"{
        "Fonte 1": "userFont1",
        "Fonte 2": "userFont2",
        "Fonte 3": "userFont3",
        "Dancing Script": "Dancing Script",
        "Parisienne": "Parisienne",
        "Montserrat": "Montserrat",
        "Times New Roman": "Times New Roman",
        "Montserrat": "Montserrat",
        "Arial Black": "Arial Black",
        "Arial": "Arial",
        "Courier": "Courier",
        "Georgia": "Georgia",
        "Helvetica": "Helvetica",
        "Palatino": "Palatino",
        "Segoe UI": "Segoe UI",
        "Tahoma": "Tahoma",
        "Verdana": "Verdana",
        "serif": "serif",
        "sans-serif*": "sans-serif",
    }
@var    text     cornerLogoText    "👉Texto 1"   "WNM"
@var    text     cornerLogo2Text    "👉Texto 2"   "BabiChess"
@var select   cornerLogo2FontName   "↪🆎Nome da fonte"{
        "Fonte 1": "userFont1",
        "Fonte 2": "userFont2",
        "Fonte 3": "userFont3",
        "Dancing Script": "Dancing Script",
        "Parisienne*": "Parisienne",
        "Montserrat": "Montserrat",
        "Times New Roman": "Times New Roman",
        "Arial Black": "Arial Black",
        "Arial": "Arial",
        "Courier": "Courier",
        "Georgia": "Georgia",
        "Helvetica": "Helvetica",
        "Palatino": "Palatino",
        "Segoe UI": "Segoe UI",
        "Tahoma": "Tahoma",
        "Verdana": "Verdana",
        "serif": "serif",
        "sans-serif": "sans-serif",       
    }
@var select   cornerLogo2FontWeight   "↪Tipo txt 2"    ["400", "600*", "700", "800"]
@var    range    cornerLogo2FontSize  "↪Tam. fonte texto 2" [16, 8, 24, 2, "px"]
@var color    cornerLogo2Col  "↪Cor texto 2"    #8200d340
@var    select  cornerLogo2Blend    "↪Mesclagem texto 2" ["normal", "multiply*", "screen", "darken", "lighten", "overlay", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"]
@var    range    cornerLogo2Size  "↪Tam.  texto 2" [14, 10, 100, 1, "%"]
@var    range    cornerLogo2PosX  "↪Ajuste horiz. texto 2" [109, -40, 150, 1, "%"]
@var    range    cornerLogo2PosY  "↪Ajuste vert. texto 2" [60, -40, 150, 1, "%"]

@var    select      useWallpaper    "🖼️Plano de fundo" {
            "Do tema (se houver)*": "themeWallpaper",
            "Degradê": "gradient",
        }
@var    checkbox    enableLightTheme   "🟩Tema escuro <-> claro" 0
@var    select      setWallpaper    "Modo do Plano de fundo" {
            "Estender*": "cover",
            "Conter": "contain",
            "Porcentagem": "percentSize",
            "Manter": "initial",
        }
@var    range    percentSize    "↪valor de porcentagem" [100, 1, 100, 1, "%"]

@var    color    backgroundColp  "Cor de fundo"   #4b3367

@var    select      evalOpt    "Barra de Avaliação" {
            "Cor automática*": "auto",
            "Personalizada": "custom",	
            "Padrão": "disabled",
        }

@var color    dEvalCol  "Avaliação Pretas"   #403D39
@var color    lEvalCol  "Avaliação Brancas"   #E0E0E0
@var    range    evalBarOpacity  "Opacidade barra de avaliação" [0.9, 0.5, 1, 0.1, ""]

@var    text     userFont1    "🆎Importar fonte 1:"   "'Bauhaus'"

@var    text     userFont2    "🆎Importar fonte 2:"   "'Comic Sans MS'"

@var    text     userFont3    "🆎Importar fonte 3:"   "'MS Gothic'"

==/UserStyle== */
@-moz-document domain("chess.com") {
    /* Special settings */

    /*Fine tuning to board size*/
    ajustBoardSize=ajustBoardSize * 1.002;
    /*Textures*/
    txRoseWoodFabric="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpRb4IP5.jpg";
    txEasterEggPattern="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpcawB1L.jpg";
    txDarkEasterPattern="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpm2VHjS.jpg";
    txQueen="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpheedSU.png";
    /*selector with exceptions to avoid override analysis highlights*/
    notThisColors='[style*="179\, 52\, 48"]):not([style*="244\, 42\, 50"]):not([style*="#f42a32"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="92\, 139\, 176"]):not([style*="150\, 188\, 75"]):not([style*="150\, 188\, 75"]):not([style*="150\, 175\, 139"]):not([style*="168\, 136\, 101"]):not([style*="240\, 193\, 92"]):not([style*="229\, 143\, 42"]):not([style*="202\, 52\, 49"]):not([style*="219\, 172\, 22"]):not([style*="172\, 206\, 89"]):not([style*="235\, 97\, 80"]):not([style*="82\, 176\, 220"]):not([style*="255\, 170\, 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]';

    if enableBoardShadow{
        boardShadow= 0px 0px 8px 4px rgba(0, 0, 0, .4);
    }
    if enableBoardShadowInset{
        boardShadowInset= inset 0px 1px 2px 1px rgba(0, 0, 0, .4);
    }
    if enableFrameShadow{
        frameShadow= 0px 0px frameShadowBlur frameShadowSpread frameShadowColor;
    }
    if enableFrameShadowInset{
        frameShadowInset= inset 0px -1px frameShadowInsetBlur frameShadowInsetSpread frameShadowInsetColor;
    }
    
}/*Themes below*/
@-moz-document domain("chess.com") {
    /*Themes*/
    /*Highlight image*/
    hlImg='https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpk7vDpv.gif';
    
    if myBoard=="purpleB"{
        enableGlobalColor=0;
        enableInnerBorder=1;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        enableCornerLogo=1;
        enableCornerLogo2=1;
        //enableWallpaper=1;
        enableCustomCoord=1;
        //enableOutsideCoords=1;
        svgBoardBlend=normal;
        svgLightSqColor=#d4d7ee;
        svgLightSqOpacity=1;
        svgDarkSqColor=#7c60ad;
        svgDarkSqOpacity=1;
        boardBGOpt=colorOnly;
        boardBGColor=#5c538b;
        bgSize=cover;
        bgPosX=50%;
        bgPosY=50%;
        frameOpt=colorOnly;
        frameColor=#6e4599;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        innerBorderOpt=#bdc0d5;
        innerBorderColor=#7638ce;
        if setHighlight=='op1'{
            hlColor=#66a8ff;
            highlightOpacity=0.7;
        }
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=#d4dfee;
        outCoordCol=rgba(255,255,255,0.722);
        lCoordCol=svgDarkSqColor;
        dCoordCol=svgLightSqColor;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        centerLogoOpt="";
        centerLogoBlend=darken;
        centerLogoCol=rgba(84,0,185,0.102);
        centerLogoSize=50%;
        centerLogoOpacity=0.4;
        centerLogoPosX=50%;
        centerLogoPosY=50%;
        cornerLogoOpt=cornerLogoTextOnly;
        cornerLogoBlend=multiply;
        cornerLogoCol=#c363cc;
        cornerLogoSize=17%;
        cornerLogoOpacity=0.12;
        cornerLogoPosX=118%;
        cornerLogoPosY=104%;
        cornerLogoFontSize=16px;
        cornerLogoFontCol=rgba(105,0,128,0.42);
        cornerLogoFontName='Parisienne';
        cornerLogoFontFamily=sans-serif;
        cornerLogoFontWeight=400;
        cornerLogoText='BabiChess';
        cornerLogo2Text='WNM';
        cornerLogo2Blend=multiply;
        cornerLogo2Size=16%;
        cornerLogo2PosX=111%;
        cornerLogo2PosY=96%;
        cornerLogo2FontSize=8px;
        cornerLogo2Col=rgba(84,0,185,0.212);
        cornerLogo2FontName='Segoe UI';
        cornerLogo2FontWeight=600;
        useWallpaper=degrade;
        backgroundColp=#564e7f;
        evalOpt=auto;
        outCoordX=-4.5%;
        outCoordY=4.8%;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }
    else if myBoard=="chessQueen"{
        enableGlobalColor=0;
        enableInnerBorder=1;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        enableCornerLogo=1;
        enableCornerLogo2=1;
        //enableWallpaper=1;
        enableCustomCoord=1;
        //enableOutsideCoords=1;
        svgBoardBlend=normal;
        svgLightSqColor=#e7e0f3;
        svgLightSqOpacity=0.3;
        svgDarkSqColor=#51327f;
        svgDarkSqOpacity=0.7;
        boardBGOpt=txQueen;
        boardBGColor=#e1d9ef;
        bgSize=100%;
        bgPosX=50%;
        bgPosY=50%;
        frameOpt=colorOnly;
        frameColor=#6a4c90;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        innerBorderOpt=#d7cceb;
        innerBorderColor=#7638ce;
        if setHighlight=='op1'{
            hlColor=#d75fff;
            highlightOpacity=0.7;
        }
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=#d4dfee;
        outCoordCol=rgba(255,255,255,0.722);
        lCoordCol=#7d62a7;
        dCoordCol=svgLightSqColor;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        centerLogoOpt="";
        centerLogoBlend=darken;
        centerLogoCol=rgba(84,0,185,0.102);
        centerLogoSize=50%;
        centerLogoOpacity=0.4;
        centerLogoPosX=50%;
        centerLogoPosY=50%;
        cornerLogoOpt=cornerLogoTextOnly;
        cornerLogoBlend=multiply;
        cornerLogoCol=#d06fd9;
        cornerLogoSize=17%;
        cornerLogoOpacity=0.12;
        cornerLogoPosX=118%;
        cornerLogoPosY=104%;
        cornerLogoFontSize=16px;
        cornerLogoFontCol=rgba(105,0,128,0.42);
        cornerLogoFontName='Parisienne';
        cornerLogoFontFamily=sans-serif;
        cornerLogoFontWeight=400;
        cornerLogoText='BabiChess';
        cornerLogo2Text='WNM';
        cornerLogo2Blend=multiply;
        cornerLogo2Size=16%;
        cornerLogo2PosX=111%;
        cornerLogo2PosY=96%;
        cornerLogo2FontSize=8px;
        cornerLogo2Col=rgba(84,0,185,0.212);
        cornerLogo2FontName='Segoe UI';
        cornerLogo2FontWeight=600;
        useWallpaper=degrade;
        backgroundColp=#564e7f;
        evalOpt=custom;
        outCoordX=-4.5%;
        outCoordY=4.8%;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }
    else if myBoard=="txPurple" {
        enableGlobalColor=0;
        enableInnerBorder=1;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=1;
        enableFrameShadow=1;
        enableCenterLogo=0;
        enableCornerLogo=1;
        enableCornerLogo2=1;
        enableLightTheme=0;
        enableCustomCoord=1;
        //enableOutsideCoords=1;
        svgBoardBlend=overlay;
        svgLightSqColor=#fff;
        svgLightSqOpacity=1;
        svgDarkSqColor=#c576cf;
        svgDarkSqOpacity=0.7;
        boardBGOpt=txRoseWoodFabric;
        boardBGColor=#8352a2;
        ajustBoardSize=0.9;
        bgSize=30%;
        bgPosX=50%;
        bgPosY=50%;
        frameOpt=boardBGOpt;
        frameColor=#9352a2;
        frameSize=50%;
        framePosX=50%;
        framePosY=50%;
        innerBorderOpt=rgba(207, 140, 191, .812);
        innerBorderColor=rgba(197,140,207,0.812);
        if setHighlight=='op1'{
            hlColor=#ee1fbb;
            highlightOpacity=0.6;
        }
        outCoordFontSize=0.24rem;
        outCoordFontName='Bauhaus 93', Bauhaus;
        outCoordFontWeight=400;
        outCoordColorOpt=#fff;
        outCoordCol=rgba(255,255,255,0.722);
        lCoordCol=#9b2e8f;
        dCoordCol=#ea8fcc;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        cornerLogoOpt=cornerLogoTextOnly;
        cornerLogoBlend=multiply;
        cornerLogoCol=rgba(106,31,106,0.388);
        cornerLogoSize=14%;
        cornerLogoOpacity=1;
        cornerLogoPosX=100%;
        cornerLogoPosY=95%;
        cornerLogoFontSize=8px;
        cornerLogoFontName=Montserrat;
        cornerLogoFontWeight=700;
        cornerLogoText='WNM';
        cornerLogo2Text='BabiChess';
        cornerLogo2Blend=multiply;
        cornerLogo2Size=17%;
        cornerLogo2PosX=118%;
        cornerLogo2PosY=104%;
        cornerLogo2FontSize=16px;
        cornerLogo2Col=rgba(17,5,17,0.388);
        cornerLogo2FontName='Parisienne';
        cornerLogo2FontWeight=400;
        themeWallpaper=gradient;
        backgroundColp=#421f44;
        evalOpt='custom';
        outCoordX=-4.5%;
        outCoordY=4.8%;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=inset 0px -1px 0px 34px rgba(202,20,199,0.28);
    }
    else if myBoard=="easter"{
        enableLightTheme=0;
        enableBoardFrame=1;
        enableInnerBorder=1;
        enablePanelTexture=0;
        enableBoardShadow=0;
        enableBoardShadowInset=0;
        enableFrameShadow=1;
        enableFrameShadowInset=1;
        enableCenterLogo=0;
        enableCornerLogo=1;
        enableCustomPanelFontColor=0;
        enableCustomCoord=0;
        enableOutsideCoords=0;
        svgBoardBlend=normal;
        svgLightSqOpacity=0.9;
        svgLightSqColor=#fbd5a7;
        svgDarkSqColor=#bb478a;
        svgDarkSqOpacity=0.7;
        boardBGOpt=txEasterEggPattern;
        boardBGColor=rgba(141,133,123,0.69);
        bgSize=cover;
        bgPosX=0%;
        bgPosY=0%;
        frameRadiusInOut=0;
        frameRadius=16px;
        frameOpt=txDarkEasterPattern;
        frameColor=rgba(105,31,0,0);
        frameSize=cover;
        framePosX=0%;
        framePosY=0%;
        innerBorderColor=#ec9c6c;
        innerBorderOpt=innerBorderColor;
        panelBGOpt=colorOnly;
        if setHighlight=='op1'{
            hlColor=#f0972b;
            highlightOpacity=0.6;
        }
        panelFontColor=rgba(255,255,255,0.6);
        setFontColorSrc=rgba(255,255,255,0.722);
        panelColor=rgba(116,57,106,0.522);
        outCoordCol=rgba(255,255,255,0.722);
        lCoordCol=svgDarkSqColor;
        dCoordCol=svgLightSqColor;
        cornerLogoOpt=cornerLogoTextOnly;
        cornerLogoBlend=multiply;
        cornerLogoCol=#c363cc;
        cornerLogoSize=17%;
        cornerLogoOpacity=0.12;
        cornerLogoPosX=118%;
        cornerLogoPosY=102%;
        cornerLogoFontSize=16px;
        cornerLogoFontCol=rgba(105,0,128,0.42);
        cornerLogoFontName='Parisienne';
        cornerLogoFontFamily=sans-serif;
        cornerLogoFontWeight=400;
        cornerLogoText=BabiChess;
        cornerLogo2Text='WNM';
        cornerLogo2Blend=multiply;
        cornerLogo2Size=16%;
        cornerLogo2PosX=111%;
        cornerLogo2PosY=96%;
        cornerLogo2FontSize=8px;
        cornerLogo2Col=rgba(136, 0, 185, .212);
        cornerLogo2FontName='Segoe UI';
        cornerLogo2FontWeight=600;
        themeWallpaper='';
        dEvalCol=svgDarkSqColor;
        lEvalCol=svgLightSqColor;
        outCoordX=-4.5%;
        outCoordY=4.8%;
        backgroundColp=#5a3162;
    }

    /*End themes*/

    /*GLOBAL COLOR - Need to be placed after themes*/
    if (enableGlobalColor==1 && myBoard=="custom") || global==1{    
        innerBorderOpt=saturate(lighten(svgDarkSqColor, 20%), -10%);       
        frameColor=saturate(darken(svgDarkSqColor, 10%), -2%);
        centerLogoOpacity=0.24;
        centerLogoBlend=darken;
        cornerLogoBlend=multiply;
        centerLogoCol=saturate(lighten(svgDarkSqColor, -12%), 10%);
        cornerLogoCol=cornerLogo2Col=saturate(lighten(svgDarkSqColor, 70%), 10%);
        backgroundColp=saturate(shade(svgDarkSqColor,40%), -80%);
        
    }    
    if frameSize=="contain"{
        frameRepeat=repeat;
    }else{
        frameRepeat=no-repeat;
    }    
    if bgSize=="contain"{
        bgRepeat=repeat;
    }else{
        bgRepeat=no-repeat;
    }
    if !enableBoardShadowInset{
        boardShadowInset=0;
    }
    if !enableFrameShadow {
        frameShadow=0;
    }
    if !enableFrameShadowInset{
        frameShadowInset=0;
    }
}
@-moz-document domain("chess.com"), domain("chesskid.com"), domain("chessable.com") {

    /*Board*/
   /*prevent user to get the board completely transparent with no visual references. It can be removed if you are an experienced user*/
    if svgLightSqOpacity<"0.2" && svgDarkSqOpacity<"0.2" && boardBGOpt=="transparent"{
        svgLightSqOpacity="0.2";
        svgDarkSqOpacity="0.2";
    }
    solidBoardBGColor=transparentify(boardBGColor, #fff, 1);
    svgDarkSqColor=hsla(svgDarkSqColor);
    svgLightSqColor=hsla(svgLightSqColor);
    centerLogoCol=hsla(centerLogoCol);
    cornerLogoCol=hsla(cornerLogoCol);
    cornerLogo2Col=hsla(cornerLogo2Col);
    innerBorderOpt=hsla(innerBorderOpt);
    outCoordColorOpt=hsla(outCoordColorOpt);
    /*SVG IMAGES HERE 🔐 - need to be here because '#' symbol need to be replaced first for '%23' in the variables*/
    /*main svg board*/
    svgBoard="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='1200' height='1200' shape-rendering='crispEdges' version='1.1' viewBox='0 0 1200 1200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m150 9.25e-6v150h150v-150zm150 150v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm150 150v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm0 150v150h150v-150zm0 150h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150z' fill='" + svgDarkSqColor + "' fill-opacity='" + svgDarkSqOpacity + "' style='mix-blend-mode:multiply'/%3e%3cpath d='m1200 150h-150v150h150zm-150 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm-150 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150z' fill='" + svgLightSqColor + "' fill-opacity='" + svgLightSqOpacity + "' style='mix-blend-mode:multiply'/%3e%3c/svg%3e";
    cornerLogoTextOnly="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='400' height='120' version='1.1' viewBox='0 0 105.83 31.75' xmlns='http://www.w3.org/2000/svg'%3e%3ctext x='23.73254' y='21.361437' fill='" + cornerLogoCol + "' font-family='sans-serif' font-size='"+cornerLogoFontSize+"' stroke-width='.26459' style='line-height:1.25' xml:space='preserve'%3e%3ctspan x='23.73254' y='21.361437' fill='" + cornerLogoCol + "' font-family='"+cornerLogoFontName+"' font-size='"+cornerLogoFontSize+"'  font-weight='"+cornerLogoFontWeight+"' stroke-width='.26459'%3e"+cornerLogoText+"%3c/tspan%3e%3c/text%3e%3c/svg%3e";
    cornerLogo2TextOnly="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='400' height='120' version='1.1' viewBox='0 0 105.83 31.75' xmlns='http://www.w3.org/2000/svg'%3e%3ctext x='23.73254' y='21.361437' fill='" + cornerLogo2Col + "' font-family='sans-serif' font-size='"+cornerLogo2FontSize+"' stroke-width='.26459' style='line-height:1.25' xml:space='preserve'%3e%3ctspan x='23.73254' y='21.361437' fill='" + cornerLogo2Col + "' font-family='"+cornerLogo2FontName+"' font-size='"+cornerLogo2FontSize+"'  font-weight='"+cornerLogo2FontWeight+"' stroke-width='.26459'%3e"+cornerLogo2Text+"%3c/tspan%3e%3c/text%3e%3c/svg%3e";
    
    if enableCenterLogo{
        centerLogo=centerLogoOpt;
    }else{
        centerLogo=null;
    }
    if enableCornerLogo{
        cornerLogo=cornerLogoOpt;
    }else{
        cornerLogo=null;
    }
    if enableCornerLogo2==0{
        cornerLogo2TextOnly='';
    }
    board3=boardBGOpt;
    miniBoard3=board3;
    if boardBGOpt!="colorOnly" && boardBGOpt!="" && boardBGOpt!=null{
       //boardBGColor=#0000;
    }
    if frameOpt==boardBGOpt && enableBoardFrame && svgBoardBlend=="normal"{
        board3=null;
        miniBoard3=frameOpt;
        framePosX=bgPosX;
        framePosY=bgPosY;
    }
    /*Board selector*/
    if myBoard!="disabled"{
        
		/*set Chessable board squares to transparent*/
        html,html.dark-mode{            
            --theme-background-chessboard-square-white: #f0d9b500;
            --theme-background-chessboard-square-black: #b5886300;
        }
        .fade-in-overlay/*chesskids*/
        ,
        #boarddefault_boardarea/*chesskids*/
        ,
        #divChessBoard_boardarea/*chesskids*/
        ,
        #vsComputerDiv_boardarea/*chesskids*/
        ,
        div[id^="board-"][class*="chess-board__board"]/*chesskids*/
        #board-single-sibling,
        [class="board-b72b1"] > div,
        div#board.board:not([style*="background-image: url"]),
        .board-layout-chessboard .board:not([style*="--theme"]),
        div[class^="board v-board disabled rounded"],
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        wc-chess-board,
        div[id*="chess_com_emailboard_"] {
            if bgSize=="cover"{
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat !important;
            }else{
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat !important;
            }
            background-size: auto cornerLogoSize, auto cornerLogo2Size, auto centerLogoSize, cover, bgSize!important;
            background-blend-mode: cornerLogoBlend, cornerLogo2Blend, centerLogoBlend, svgBoardBlend, normal !important;
            background-position:cornerLogoPosX cornerLogoPosY, cornerLogo2PosX cornerLogo2PosY, centerLogoPosX centerLogoPosY, 0 0, bgPosX bgPosY!important;
            background-color: boardBGColor!important; 
            background-image: url(cornerLogo), url(cornerLogo2TextOnly), url(centerLogo), url(svgBoard), url(board3)!important; 
        }

        /*========== Coordinates ==========*/

        /*coords light*/
        .notation-dark,
        .coords-light,
        .coordinate-light,
        div.number.coords-light,
        div.letter.coords-light,
        text.coordinate-light {
            mix-blend-mode: coordsBlend !important;
            if enableCustomCoord {
                color: lCoordCol!important;
                fill: @color;
            }else {
                color: transparentify(svgDarkSqColor, #000, 1) !important;
                fill: @color;
                if svgDarkSqOpacity>='0.7'{
                    opacity:svgDarkSqOpacity;
                }
            }
        }

        /*coords dark*/
        .notation-light,
        .coords-dark,
        .coordinate-dark,
        div.number.coords-dark,
        div.letter.coords-dark,
        text.coordinate-dark {
            mix-blend-mode: coordsBlend !important;
            if enableCustomCoord {
                color: dCoordCol !important;
                fill: @color;
            }else {
                color: transparentify(svgLightSqColor, #000, 1) !important;
                fill: @color;
                if svgLightSqOpacity>='0.7'{
                    opacity:svgLightSqOpacity;
                }
            }
        }/*======End coords ======*/

        /*====== Evaluation Bar ======*/
        /*evaluation bar 🔹Chesskid🔹*/
        div [class="score-bar"] {
            width: 2rem!important;
        }
        /*end evaluation bar 🔹Chesskid🔹*/
		
        if evalOpt!="disabled" {
            .evaluation-bar-white,
            .score-bar__fill[data-v-b0ff6725] {
                if evalOpt == "auto" {
                    background-color: svgLightSqColor !important;
                }else if evalOpt == "custom" {
                    background-color: lEvalCol !important;
                }
            }
            .evaluation-bar-black {
                if evalOpt == "auto" {
                    background-color: saturate(svgDarkSqColor, 10%) !important;
                }else if evalOpt == "custom" {
                    background-color: dEvalCol !important;
                }
            }
            /*evaluation bar width for chesskid*/
            div [class="score-bar"] {
                width: 3rem;
                left: 1.4rem;
            }
            .score-bar__text[data-v-b0ff6725] {
            font-size: 9px!important;
            }
            .evaluation-bar-bar {
                opacity: evalBarOpacity!important;
                box-shadow: 1px 1px 8px 2px #0000002e;
                z-index:1;
            }
            /*====== End Evaluation Bar ======*/
        }
    }/*end board*/
        
    /*Highlight*/

    /*Highlight Chessable*/
    [style*="rgba(76\, 167\, 79\, 0.3)"]{
        background:transparentify(hlColor,#a6a6a6, 0.35) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-b:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-w.black-3c85d:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-b.black-3c85d:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-w:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-w.white-1e1d7:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-b.white-1e1d7:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    /*End highlight Chessable*/

    /*hlImgOpt can be useful to set a background image as highlight, normaly a gif.*/
    if setHighlight!="op0" {
        #divChessBoard_boardarea > div:nth-child(20):not({notThisColors}),
        #divChessBoard_boardarea > div:nth-child(21):not({notThisColors}),
        .move-square,
        .highlight:not({notThisColors}):not([class="stream highlight"]) {
            background: hlColor url(hlImgOpt) 0 0 / 100% no-repeat !important;
            opacity: highlightOpacity!important;
        }
    }/*====== End highlight ======*/
            
    /*====== change arrows colors ======*/
    if enableArrowSettings {
        .arrow {
            opacity: arrowOpacity !important;
        }
        /*red*/
        [class*="arrow"][style*="248\, 85\, 63"],[class*="arrow"][style*="#f8553fcc"]{
            fill: arrowRed!important;
        }
        /*orange*/
        [class*="arrow"][style*="255\, 170\, 0"],[class*="arrow"][style*="#fa0c"]{
            fill: arrowOrange!important;
        }
        /*green*/
        [class*="arrow"][style*="159\, 207\, 63"],[class*="arrow"][style*="#9fcf3fcc"]{
            fill: arrowGreen!important;
        }
        /*blue*/
        [class*="arrow"][style*="72\, 193\, 249"],[class*="arrow"][style*="#48c1f9cc"]{
            fill: arrowBlue!important;
        }
    }/*====== End arrows colors ======*/

    /*change highlight made by the user*/
    [class*="highlight"][style*="82\, 176\, 220"],[class*="highlight"][style*="#52b0dc"]{
        background-color:hlSqBlue!important;
    }
    [class*="highlight"][style*="172\, 206\, 89"],[class*="highlight"][style*="#acce59"]{
        background-color: hlSqGreen!important;
    }
    [class*="highlight"][style*="255\, 170\, 0"],[class*="highlight"][style*="#fa0"]{
        background-color: hlSqOrange!important;
    }
    [class*="highlight"][style*="235\, 97\, 80"],[class*="highlight"][style*="#eb6150"]{
        background-color: hlSqRed!important;
    }
    /*chessable fix*/
    .setPromotion img {
        width: 80px!important;
        height: auto!important;
        display:inline-block;
    }
    div[class^="spare-pieces"]>div{
        display:inline-block!important;
    }
    #promoteQueen{
        content: url("/img/chesspieces/wikipedia/wQ.png")!important;
    }
    #promoteKnight{
        content: url("/img/chesspieces/wikipedia/wN.png")!important;   
    }
    #promoteBishop{
        content: url("/img/chesspieces/wikipedia/wB.png")!important;
    }
    #promoteRook{
        content: url("/img/chesspieces/wikipedia/wR.png")!important;
    }
    /*End chessable fix*/
    /*------end section------*/

}
@-moz-document url-prefix("https://www.chess.com/game"), url-prefix("https://www.chess.com/play"), url-prefix("https://www.chess.com/analysis"), url-prefix("https://www.chess.com/classroom"), url-prefix("https://www.chess.com/practice"), url-prefix("https://www.chess.com/daily"), url-prefix("https://www.chess.com/puzzles/"), url-prefix("https://www.chess.com/endgames"), url-prefix("https://www.chess.com/explorer"), url-prefix("https://www.chess.com/pt/events/"), url-prefix("https://www.chess.com/es/events/"), url-prefix("https://www.chess.com/events/") {

    /*======== Wallpaper =======*/
    if enableWallpaper=="1" {
            .theme-bg,
            body:after {
                content: '';
                background: url(useWallpaper), linear-gradient(to top right, backgroundColp 50%, lighten(backgroundColp, 20%))!important;
                if setWallpaper=="cover" || setWallpaper=="contain" || setWallpaper==percentSize{
                    background-size: setWallpaper !important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                }
                if setWallpaper=="cover"{
                    background-repeat:no-repeat!important;
                }else{
                    background-repeat:repeat!important;
                }
                background-position: center center;                    
                position: fixed;
                height: 100vh;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1000;
            }
    }/*=== End wallpaper ===*/
}

@-moz-document domain("chess.com") {
    /*Border*/
    
    innBorderSize=0.4rem;
    if innBorderSize > 0 {
        inn=innBorderSize/2;
    }else{inn=0}
	
    @media (min-width: 960px){
		if myBoard!="disabled" && enableBoardFrame{
            /*board*/
            div#board.board:not([style*="background-image: url"]),
            .board-layout-chessboard .board:not([style*="--theme"]),
            .fade-in-overlay,
            #boarddefault_boardarea,
            #divChessBoard_boardarea,
            #vsComputerDiv_boardarea,
            div[id^="board-"][class*="chess-board__board"],
            div[class^="board v-board disabled rounded"],
            div[class^="daily-puzzle-board"],
            div[class^="board chessboard-component"],
            div[class^="board v-board chessboard-component"],
            div[class^="board rounded"],
            div[class^="board rounded fippled"],
            div[class^="board fippled rounded"],
            div[class^="board v-board rounded"],
            div[class^="board v-board fippled rounded"],
            div[class^="board disabled rounded"],
            div[id$="_ChessBoard_boardarea"],
            div[id^="chess_com_openingboard_1"],
            div[id^="board_training"],
            div[id^="divBoard_boardarea"],
            div[id^="chess_com_tactics_board"],
            div[id^="chessboard_"],
            div[id^="chess_com_chessmentorboard_"],
            div[id*="chess_com_chessmentor_board_1_boardarea"],
            div[id^="chess_com_emailboard_"],
            div[id^="board-blank"],
            chess-board[class^="board"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board),
            chess-board[class^="board flipped"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board),
            chess-board[id^="board-blank"],
            chess-board[id^="board-vs-personalities"],
            div[id*="chess_com_emailboard_"] {
                transform-style: preserve-3d;
                width:'calc(var(--boardWidth) * %s)!important;' % ajustBoardSize;
                height:'calc(var(--boardHeight) * %s)!important;' % (ajustBoardSize*0.999);
                if ajustBoardSize=="0.9"{
                multiplierL=0.54;
                multiplierT=0.5; 
                }else{
                multiplierL=0.53;
                multiplierT=0.5; 
                }              
                boardRatioL='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplierL));
                boardRatioT='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplierT));
                margin-left:'calc(var(--boardWidth) * %s + %s)!important;' % ((boardRatioL) (inn));
                margin-top:'calc(var(--boardHeight) * %s + %s)!important;' % ((boardRatioT) (inn));
                if frameRadiusInOut{
                    border-radius:0!important;                    
                }else{
                    border-radius:'calc(%s * 0.40)!important;' % frameRadius;
                }
                box-shadow: boardShadow;
                box-shadow: boardShadowInset;                    
                if enableBoardShadow && enableBoardShadowInset {
                    box-shadow: boardShadow, boardShadowInset !important;
                }
                if enableInnerBorder {
                    box-shadow: 0 0 0 innBorderSize innerBorderOpt!important;
                }
            }
            /*board*/
            div#board.board:not([style*="background-image: url"]):before,
            .board-layout-chessboard .board:not([style*="--theme"]):before,
            .fade-in-overlay:before,
            #boarddefault_boardarea:before,
            #divChessBoard_boardarea:before,
            #vsComputerDiv_boardarea:before,
            div[id^="board-"][class*="chess-board__board"]:before,            
            div[class^="board v-board disabled rounded"]:before,
            div[class^="daily-puzzle-board"]:before,
            div[class^="board chessboard-component"]:before,
            div[class^="board v-board chessboard-component"]:before,
            div[class^="board rounded"]:before,
            div[class^="board rounded fippled"]:before,
            div[class^="board fippled rounded"]:before,
            div[class^="board v-board rounded"]:before,
            div[class^="board v-board fippled rounded"]:before,
            div[class^="board disabled rounded"]:before,
            div[id$="_ChessBoard_boardarea"]:before,
            div[id^="chess_com_openingboard_1"]:before,
            div[id^="board_training"]:before,
            div[id^="divBoard_boardarea"]:before,
            div[id^="chess_com_tactics_board"]:before,
            div[id^="chessboard_"]:before,
            div[id^="chess_com_chessmentorboard_"]:before,
            div[id*="chess_com_chessmentor_board_1_boardarea"]:before,
            div[id^="chess_com_emailboard_"]:before,
            div[id^="board-blank"]:before,
            chess-board[class^="board"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board):before,
            chess-board[class^="board flipped"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board):before,
            chess-board[id^="board-blank"]:before,
            chess-board[id^="board-vs-personalities"]:before,
            div[id*="chess_com_emailboard_"]:before {
				background-position: framePosX framePosY !important;
                background-color: frameColor !important;
                background-size: frameSize!important;
                -webkit-background-size: @background-size;
                -moz-background-size: @background-size;
                -o-background-size: @background-size;
                if frameSize=="cover" {
                    background-repeat: no-repeat!important;
                }else{
                    background-repeat: repeat!important;
                }
                background-image: url(frameOpt) !important;
                transform: translateZ(-1px);
                content: ""!important;
                display:block;
                grid-column: board;                
                width:var(--boardWidth)!important;
                height: var(--boardHeight)!important;
                padding-bottom: 0;
                if ajustBoardSize=="0.9"{
                    multiplier=-0.54;
                }else{
                    multiplier=-0.526;
                }
                boardRatio='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplier));
                margin-left:'calc(var(--boardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
                margin-top:@margin-left;
                border-radius: frameRadius!important;
                box-shadow: frameShadow;
                box-shadow: frameShadowInset;
                if enableFrameShadow && enableFrameShadowInset {
                    box-shadow: frameShadow, frameShadowInset !important;
                }
            }
			/*bizarre solution, don't ask me why*/
            div#board.board:not([style*="background-image: url"]) > div{
                display: none!important;
            }
            div#board.board:not([style*="background-image: url"]){
                --theme-board-style-image: url(cornerLogo) cornerLogoPosX cornerLogoPosY / auto cornerLogoSize no-repeat,
                url(cornerLogo2TextOnly) cornerLogo2PosX cornerLogo2PosY / auto cornerLogo2Size no-repeat,
                url(centerLogo) centerLogoPosX centerLogoPosY / auto centerLogoSize no-repeat,
                url(svgBoard) 0 0 / 100% no-repeat,
                url(board3) bgPosX bgPosY / bgSize repeat;

                background: var(--theme-piece-set-br) 0 0 / 12.5% no-repeat,
              var(--theme-piece-set-bn) 14.29% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bb) 28.57% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bq) 42.86% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bk) 57.14% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bb) 71.43% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bn) 85.71% 0 / 12.5% no-repeat,
              var(--theme-piece-set-br) 100% 0 / 12.5% no-repeat,

              var(--theme-piece-set-bp) 0 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 14.29% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 28.57% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 42.86% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 57.14% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 71.43% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 85.71% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 100% 14.29% / 12.5% no-repeat,

              var(--theme-piece-set-wr) 0 100% / 12.5% no-repeat,
              var(--theme-piece-set-wn) 14.29% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wb) 28.57% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wq) 42.86% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wk) 57.14% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wb) 71.43% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wn) 85.71% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wr) 100% 100% / 12.5% no-repeat,

              var(--theme-piece-set-wp) 0 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 14.29% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 28.57% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 42.86% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 57.14% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 71.43% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 85.71% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 100% 85.71% / 12.5% no-repeat,

              var(--theme-board-style-image) !important;
                background-color: boardBGColor!important;
                background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, cornerLogoBlend, cornerLogo2Blend, centerLogoBlend, svgBoardBlend, normal !important;
            }

            /*outside coords settings*/
            if ajustBoardSize<0.92 && enableOutsideCoords{
                .coordinate-grey,
                .coordinate-dark:not(.game-board-medium .coordinate-dark):not(#board-single-sibling .coordinate-dark):not(.game-details-board .coordinate-dark):not(.event-header-new-games .coordinate-dark):not(.round-games-list-item-games .coordinate-dark):not(.diagram-board-component .coordinate-dark):not(.openings-view-chessboard .coordinate-dark),
                .coordinate-light:not(.game-board-medium .coordinate-light):not(#board-single-sibling .coordinate-light):not(.game-details-board .coordinate-light):not(.event-header-new-games .coordinate-light):not(.round-games-list-item-games .coordinate-light):not(.diagram-board-component .coordinate-light):not(.openings-view-chessboard .coordinate-light) {
                    text-transform: outCoordFontCase !important;
                    fill:outCoordColorOpt!important;
                    font-size:clamp(.1rem,outCoordFontSize,.3rem)!important;
                    font-weight: outCoordFontWeight!important;   
                    font-family:outCoordFontName,-apple-system,BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,Emoji,sans-serif!important;
                }
                .outside:not(.game-details-board .outside):not(.event-header-new-games .outside):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                    transform: translate(-5.5%,4.5%)!important;
                }
                body.outside-coords:not(.game-details-board body.outside-coords):not(.with-pieces,.real-3d):not(.event-header-new-games .outside-coords):not(.round-games-list-item-games .outside-coords):not(.openings-view-chessboard .outside-coords) {
                    --coordinatesGutter: 1rem!important;
                }

                if enableOutsideCoords {
                    .coordinates:not(.game-board-medium .coordinates):not(#board-single-sibling .coordinates):not(.game-details-board .coordinates):not(.event-header-new-games .coordinates):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                        transform: translate(outCoordX,outCoordY)!important;
                    }
                    .coords-dark:not(#board-single-sibling .coords-dark):not(.game-details-board .coords-dark):not(.event-header-new-games .coords-dark):not(.round-games-list-item-games .coords-dark):not(.diagram-board-component .coords-dark):not(.openings-view-chessboard .coords-dark),
                    .coordinate-dark:not(.game-board-medium .coordinate-dark):not(#board-single-sibling .coordinate-dark):not(.game-details-board .coordinate-dark):not(.event-header-new-games .coordinate-dark):not(.round-games-list-item-games .coordinate-dark):not(.diagram-board-component .coordinate-dark):not(.openings-view-chessboard .coordinate-dark),
                    div.number.coords-dark:not(.game-details-board div.number.coords-dark):not(.event-header-new-games div.number.coords-dark):not(.round-games-list-item-games div.number.coords-dark):not(.diagram-board-component div.number.coords-dark):not(.openings-view-chessboard div.number.coords-dark),
                    div.letter.coords-dark:not(.game-details-board div.letter.coords-dark):not(.event-header-new-games div.letter.coords-dark):not(.round-games-list-item-games div.letter.coords-dark):not(.diagram-board-component div.letter.coords-dark):not(.openings-view-chessboard div.letter.coords-dark),
                    text.coordinate-dark:not(.game-board-medium text.coordinate-dark):not(#board-single-sibling text.coordinate-dark):not(.game-details-board text.coordinate-dark):not(.event-header-new-games text.coordinate-dark):not(.round-games-list-item-games text.coordinate-dark):not(.diagram-board-component text.coordinate-dark):not(.openings-view-chessboard text.coordinate-dark),
                    .coords-light:not(#board-single-sibling .coords-light):not(.game-details-board .coords-light):not(.event-header-new-games .coords-light):not(.round-games-list-item-games .coords-light):not(.diagram-board-component .coords-light):not(.openings-view-chessboard .coords-light),
                    .coordinate-light:not(.game-board-medium .coordinate-light):not(#board-single-sibling .coordinate-light):not(.game-details-board .coordinate-light):not(.event-header-new-games .coordinate-light):not(.round-games-list-item-games .coordinate-light):not(.diagram-board-component .coordinate-light):not(.openings-view-chessboard .coordinate-light),
                    div.number.coords-light:not(.game-details-board div.number.coords-light):not(.event-header-new-games div.number.coords-light):not(.round-games-list-item-games div.number.coords-light):not(.diagram-board-component div.number.coords-light):not(.openings-view-chessboard div.number.coords-light),
                    div.letter.coords-light:not(.game-details-board div.letter.coords-light):not(.event-header-new-games div.letter.coords-light):not(.round-games-list-item-games div.letter.coords-light):not(.diagram-board-component div.letter.coords-light):not(.openings-view-chessboard div.letter.coords-light),
                    text.coordinate-light:not(.game-board-medium text.coordinate-light):not(#board-single-sibling text.coordinate-light):not(.game-details-board text.coordinate-light):not(.event-header-new-games text.coordinate-light):not(.round-games-list-item-games text.coordinate-light):not(.diagram-board-component text.coordinate-light):not(.openings-view-chessboard text.coordinate-light), {
                        color: outCoordColorOpt !important;
                        fill: @color;
                        opacity: 1!important;
                    }
                }
            }
        }
    }/*end board border*/
    
}
@-moz-document url-prefix("https://www.chess.com/events"), url-prefix("https://www.chess.com/pt/events/"), url-prefix("https://www.chess.com/es/events/"){
    /*Events*/
    /*In Events page variable mainBoardWidth is used instead of boardWidth/boardHeight*/
    @media (min-width: 960px){
        
        /*Main border rules*/
        innBorderSize=0.4rem;
        if innBorderSize > 0 {
            inn=innBorderSize/2;
        }else{inn=0}

        if boardBGOpt==frameOpt && enableBoardFrame {
            board3=null;
            framePosX=bgPosX;
            framePosY=bgPosY;        
        }

		if myBoard!="disabled" && enableBoardFrame{
			/*board*/
			.main-tab-game-component chess-board {
				transform-style: preserve-3d;
				width:'calc(var(--mainBoardWidth) * %s)!important;' % ajustBoardSize;
				height: @width;
				boardRatio='calc((1 - %s) * 0.5)' % ajustBoardSize;
				margin-left:'calc(var(--mainBoardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
				margin-top:@margin-left;
				if frameRadiusInOut{
					border-radius:'calc(%s * 0.40)!important;' % frameRadius;
				}else{
					border-radius:0!important;
				}
				box-shadow: boardShadow;
				box-shadow: boardShadowInset;                    
				if enableBoardShadow && enableBoardShadowInset {
					box-shadow: boardShadow, boardShadowInset !important;
				}
				if enableInnerBorder {
					box-shadow: 0 0 0 innBorderSize innerBorderOpt!important;
				}
			}
			/*board*/
			.main-tab-game-component chess-board:before {
				if myBoard!="disabled"{                    
				background:frameColor url(frameOpt) framePosX framePosY!important; 
				}                
				transform: translateZ(-1px);
				content: ""!important;
				display:block;
				grid-column: board;                
				width:var(--mainBoardWidth)!important;
				height: @width;
				padding-bottom: 0;
				boardRatio='calc((1 - %s) * -0.526)' % ajustBoardSize;
				margin-left:'calc(var(--mainBoardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
				margin-top:@margin-left;
				background-size: frameSize!important;
				-webkit-background-size: @background-size;
				-moz-background-size: @background-size;
				-o-background-size: @background-size;
				background-repeat: frameRepeat!important;
				border-radius: frameRadius!important;
				box-shadow: frameShadow;
				box-shadow: frameShadowInset;                
				if enableFrameShadow && enableFrameShadowInset {
					box-shadow: frameShadow, frameShadowInset !important;
				}
			}
		}/*end board border*/
    

        if enable lightTheme{
            .dark-mode .game-item-component,
            .dark-mode .ui_v5-select-component:not(.ui_v5-select-light),
            .ui_v5-select-component.ui_v5-select-dark,
            .dropdown-component,
            .sidebar-tab-games-label,
            .dark-mode .player-tagline-component:not(.light-mode) .player-tagline-name,
            .player-tagline-component.dark-mode .player-tagline-name
            .player-info-vertical-rating,
            .dark-mode .player-info-vertical-name{
                color:panelFontColor!important;
            }
        }
    }
    
}/*End Events*/

@-moz-document domain("chess.com") {
    /*Panel Colors*/
    if enablePanelColor || enablePanelBlur || enablePanelTexture {

        if enablePanelColor {
            .dark-mode {
            --bgColor: panelColor;
            --globalBackground: @--bgColor;
            }
            .layout-main,
            .index-intro{
                background-color: #00000033!important;
            }
            .chat-options-item:hover,
            .chat-options-confirm p,
            .chat-options-confirm,
            .dark-mode .chat-options-menu{                
                background-color:#282828;
                color:#ddd;
            }
            .ui_v5-button-component.ui_v5-button-basic-light {
                background-color: #444;
                box-shadow: 0 var(--borderHeight) 0 0 #939290;
                color: #a4a19f;
            }
            .ui_v5-button-component.ui_v5-button-basic-light:hover {
                background-color: #444;
                box-shadow: 0 var(--borderHeight) 0 0 #939290;
                color: #d0d0d0!important;
            }
            /*this selector couldn't be used with blur*/
            .board-layout-sidebar,
            .dark-mode .ui_v5-select-component:not(.ui_v5-select-light), .ui_v5-select-component.ui_v5-select-dark,
            .promo-component,
            .nav-panel-shade,
            .event-list-item-games,
            .event-list-page-tabs,
            .event-list-tab-events-filters,
            .dark-mode .event-header-component,
            .nav-component {
                background-color: panelColor !important;                    
            }
        }
        /*dark background color for panels*/
        if enablePanelBlur{
            #sb,
            .nav-panel-component,
            .board-layout-sidebar,
            /*.sidebar-controller-component,*/
            .nav-panel-shade,
            #sb .nav-popover.dark,
            .event-header-component,
            .event-list-item-games,
            .event-list-page-tabs,
            .event-list-tab-events-filters,
            .floating-action-button-component,
            .floating-action-button-tab.floating-action-button-selected,
            .floating-action-button-tab:hover,
            .footer-block-container,
            .kid-layout__content,
            .level-header,
            .library-index-container-component,
            .list-component .list-container,
            .main-header-component,
            .pending-game-grid-recommendedGame,
            .pending-game-list-container,
            .promo-component,
            .send-message-component,
            .tv-actions-wrapper,
            .tv-sidebar-tabset-wrapper,
            .tv-tabs-tab,
            .ui_modal-body.ui_modal-rounded-lg,
            .ui_modal-body.ui_modal-rounded-sm,
            .v5-section:not(.board-layout-sidebar .v5-section),
            .v5-section-shadow,
            .v5-section-shadow-hover,
            .dark-mode .ui_v5-select-component:not(.ui_v5-select-light), .ui_v5-select-component.ui_v5-select-dark,
            .v5-tabs-list-dark,
            .logo-wrapper,
            .layout-main {
                    backdrop-filter: blur(18px)!important;
                }
        }
        /*End round corners*/
        
        /*some ajusts to show background color or textures*/
        .public-chat-widget-oneColumnLayout,
        .tv-tabs-tab.tv-tabs-active,
        .dark-mode .sidebar-component .sidebar-content {
            background: #0000!important;
        }    
        .ui_v5-button-component.ui_v5-button-x-small,
        .tournaments-list-join-button,
        .tournaments-filter-dropdown-toggle,
        .tournaments-list-details:hover,
        .ui_v5-input-group-space-left {
                background-color: #aaaeb336 !important;
        }
        .post-view-content {
            padding:1rem !important;
        }
        .ck-layout__nav-section,
        .navigation-bar {
            margin-top:2.2rem !important;
        }
        .navigation-bar {
            margin-top:1rem !important;
        }
        .promo-component {
            max-width:105.2rem !important;
        }
        .notification-list-item-content a{
            color:var(--globalColorThemeFullToMid)!important;
        }/*
        #board-layout-player-bottom > div > div.player-tagline > div > a.user-username-component.user-username-white.user-username-link.user-tagline-username,
        #board-layout-player-top > div > div.player-tagline > div > a.user-username-component.user-username-white.user-username-link.user-tagline-username,
        .users-online{
            color: rgb(255, 255, 255)!important;
            text-shadow: rgb(0, 0, 0) 1px 1px 1px;
        }
        .dark-mode .user-tagline-rating,
        .user-tagline-rating.user-tagline-white,
        .new-captured-pieces-score,
        #board-layout-player-top > div > div.player-tagline > div > span,
        #board-layout-player-bottom > div > div.player-tagline > div > span {
            color: #cddc39 !important;
            text-shadow: rgb(0, 0, 0) 1px 1px 1px;
        }*/
        .user-username-component{
            padding-right:0.1rem;
        }
        .captured-pieces-score{
            color: #fff !important;
            text-shadow: rgb(0, 0, 0) 1px 1px 1px;            
        }
        .connection-component{
            background-color:#5d5d591c;
            padding:0.1rem;
            border-radius:3px;
        }
        /*End ajusts to show background color or textures*/
        
        /*Diagram move list highlight*/
        .move-node.selected.svelte-45rxgq .move-text.svelte-45rxgq:before {
            background:#a7b5328c;
        }
        
        /*Shows full board in the menu options*/
        @media (min-width: 1200px){
            .settings-board-tab-preview {
                max-height:unset!important;
                overflow:visible!important
            }
        }
    }/*======End Panels ======*/

    /*round corners*/
    if enableRoundCorners {
        panelRadius=frameRadius;
        if frameRadius>10{
            panelRadius=10px;
        }
        .board-layout-sidebar,
        .content-sidebar__sidebar.-override[data-v-9fd1de93],
        .full-page-modal-modal,
        .kid-layout-left-sidebar,
        .layout-navigation-kids,
        .layout-sidebar,
        .library-index-container-component,
        .navigation-bar,
        .pending-game-grid-recommendedGame,
        .pending-game-list-container,
        .promo-component,
        .sidebar-component,
        .sidebar-controller-component,
        .v5-section {
            border-radius: panelRadius !important;
        }
        .selection-menu-footer,
        .daily-game-footer-component,
        .archive-tab-full-archive-link {            
            border-radius: 0 0 panelRadius panelRadius!important;
        }
        .sidebar-header-component {          
            border-radius: panelRadius panelRadius 0 0!important;
        }
        .collection-view-index-pagination,,
        .v5-space-top,
        .board-layout-player {
            border-radius: 4px !important;
        }
    }/*End round corners*/
}
@-moz-document url-prefix("https://www.chess.com/game"), url-prefix("https://www.chess.com/play"), url-prefix("https://www.chess.com/puzzles"), url-prefix("https://www.chess.com/analysis"), url-prefix("https://www.chess.com/classroom"), url-prefix("https://www.chess.com/practice"), url-prefix("https://www.chess.com/daily"), url-prefix("https://www.chess.com/endgames"), url-prefix("https://www.chess.com/pt/events/") {
    /*Panel textures*/
    @media (min-width: 1200px){
        if enablePanelTexture {
            if enableCustomPanelFontColor{
                if enableLightTheme{
                    /*Panel font color with texture applied*/
                    body{
                        --nodeColor: setFontColorSrc!important;
                        --globalColorThemeMid:@--nodeColor;
                        --globalColorThemeFull:@--nodeColor;
                        --globalColorThemeHigh:@--nodeColor;
                        --globalColorThemeLow:@--nodeColor;
                        --globalColorThemeMid:@--nodeColor;
                        --globalColorThemeFullToMid:@--nodeColor;
                        --tabLableColor:@--nodeColor;
                        --paginationColor:@--nodeColor;
                        --globalColorNeutral200:#ffffff78!important;
                        --globalSecondaryBackground: #e2e2e266!important;
                    }
                    .user-connection-signal,
                    .ui_v5-switch-button,
                    .vertical-move-list body.dark-mode .time-white:after,
                    body.dark-mode .vertical-move-list .time-white:after {
                    border-color: setFontColorSrc!important;
                    background-color:@border-color;
                    }
                    .quick-analysis-tally-component{
                        background:rgba(255, 255, 255, .31);              
                        border-radius: 5px !important;
                        padding-bottom:5px!important;
                    }
                    .open-challenges-scatter-plot-chart, .open-challenges-scatter-plot-ratings{             
                        border-radius: 5px !important;
                        margin-right:5px!important;
                        margin-top:5px!important;
                    }
                    .sidebar-view-header,
                    .daily-game-footer-component,
                    .archive-tab-full-archive-link,
                    .open-challenges-scatter-plot-component{ 
                        background:rgba(255, 255, 255, .31);              
                        border-radius: 5px !important;
                    }
                    .open-challenges-scatter-plot-x-label{
                        padding-bottom:5px!important;

                    }
                    .open-challenges-scatter-plot-y-label{
                        padding-left:10px!important;
                    }
                    #sb .nav-link-main-design.hover {
                        background-color: unset;
                    }/*Analysis tabs*/
                    .menu-item-component,
                    .game-controls-view-component,
                    .details-form-component,
                    .game-controls-controller-component,
                    .ui_v5-button-component.ui_v5-button-basic
                    .nav-link-main-design:hover,
                    .nav-link-main-link:hover {
                        background-color:#ffffff30;
                    }/*Analysis tabs*/
                    .selection-menu-footer,
                    .openings-view-games a,
                    .review-view-selection,
                    .sidebar-tabs-tab:not(.sidebar-tabs-active),
                    .sidebar-tabs-component,
                    .analysis-options-component,
                    .analysis-view-lines,
                    .tabs-tab:not(.tabs-active),
                    .connect-tabs-tab.connect-tabs-active,
                    .dark-mode .daily-game-info-game-result.daily-game-info-black,
                    .open-challenges-list-header,
                    .underlined-tabs-tab:hover{
                        background-color: #ffffff78;
                    }
                    
                    .collection-view-index-pagination,
                    .underlined-tabs-border{
                        background-color: var(--globalBackground)!important;
                    }
                    .navigation-footer-platform-icon,
                    .pagination-slim-dark,
                    .ui_pagination-item-component,
                    .page-size-dropdown-component .page-size-dropdown-label,
                    .navigation-footer-page-component,
                    .navigation-footer-page-component:after{                  
                        color: #ffffffe6!important
                    }
                    .connect-tab-friends-link .connect-tab-friends-action,
                    .connect-tab-friends-link.connect-tab-friends,
                    .connect-tab-friends-link {                    
                        color: #fffffff0
                    }
                    .selected-bot-component {
                        background: radial-gradient(90rem 28rem at top center,#4a4f4130 40%,transparent 0);
                    }
                    .vertical-move-list .black.selected body.dark-mode,
                    .vertical-move-list .white.selected body.dark-mode,
                    body.dark-mode .vertical-move-list .black.selected,
                    body.dark-mode .vertical-move-list .white.selected{

                        background-color: hsla(0, 0%, 100%, .48);
                        border-color: hsla(0, 0%, 100%, .36);
                    }
                    .eco-opening-panel .eco-opening-explorer:hover,
                    .eco-opening-panel .eco-opening-opening:hover{                
                        color: #f0972b!important;
                    }
                    .dark-mode .emoticons-popup-component:not(.emoticons-popup-light), .emoticons-popup-component.emoticons-popup-dark {
                        --buttonColor: setFontColorSrc;
                        --buttonColorHover: #f0972b;
                    }
                    .details-table-component{
                        text-shadow: rgba(0, 0, 0, .91) 1px 1px 1px;
                    }
                    .analysis-view-scrollable,
                    .ui_v5-button-component.ui_v5-button-basic:not([disabled]):hover {
                        background-color: hsla(0, 0%, 100%, .4);
                    }
                    .select-theme-checkbox{
                        border-color: setFontColorSrc!important;
                    }.section-tabs-tab.section-tabs-active::after {
                        background-color: setFontColorSrc!important;
                    }.dark-mode .form-input-input:not(.light-mode), .form-input-input.dark-mode{
                        background-color:#0003!important;
                    }
                    .dark-mode .ui_v5-select-component:not(.ui_v5-select-light), .ui_v5-select-component.ui_v5-select-dark {
                        --bgColor: hsla(0, 7%, 21%, .1);
                        --textColor: setFontColorSrc!important;
                        --arrowColor: @--textColor;
                    }
                    
                    .dark-mode .sidebar-tabs-container-component{
                        background-color: #e6e6e6ad!important;
                    }
                    .v5-section, .v5-section-shadow, .v5-section-shadow-hover{
                        
                    }                    
                    .dropdown-menu-dropdown{
                        background-color: #ededed!important;
                    }
                    .arena-score-component,
                    .grudge-score-component {
                        background-color: hsla(0, 0%, 100%, .72);
                    }
                }else{
                    /*rules for dark theme textures if necessary*/
                    .dark-mode .sidebar-tabs-container-component{
                        background-color:#00000036!important;
                    }
                    .dark-mode .floating-action-button-tab>.floating-action-button-icon,
                    .floating-action-button-tab.floating-action-button-selected,
                    .floating-action-button-tab:hover,
                    .image-uploader-label,
                    .modal-game-over-rating-rating,
                    .modal-game-over-user-points{
                        color:#fff!important;
                    }
                    .modal-game-over-users-score,
                    .battle-two-board-controls-action,
                    .battle-two-board-controls-close, .battle-two-board-controls-label,
                    .modal-game-over-user-username,
                    .battle-over-rating-details-component .battle-over-rating-details-label{
                        color:#d5d5d5!important;
                    }
                }/*end else*/
                .arena-score-component .arena-score-place,
                .arena-score-component,
                .dropdown-menu-button,
                .dark-mode .live-game-rate-sport-bad-sport-icon, .dark-mode .live-game-rate-sport-good-sport-icon,
                #sb,   
                .dark-mode .sidebar-tabs-container-component,
                .dark-mode .floating-action-button-tab>.floating-action-button-icon,
                .floating-action-button-tab.floating-action-button-selected,
                .floating-action-button-tab:hover,
                .dark-mode .tournaments-filter-dropdown-toggle,
                .dark-mode .tournaments-list-component,
                .dark-mode .tournaments-list-row .tournaments-list-details .tournaments-list-label,
                .chat-options-menu,
                .grudge-score-component,
                ::placeholder,
                ::-webkit-input-placeholder,
                .form-input-icon,
                input::placeholder,
                .analysis-saved-game-link-link
                .dark-mode .user-rating:not(.light-mode),
                .navigation-footer-platform-icon, .pagination-slim-dark, .ui_pagination-item-component, .page-size-dropdown-component .page-size-dropdown-label, .navigation-footer-page-component, .navigation-footer-page-component:after,
                .dark-mode .user-tagline-chat-component .user-tagline-chat-member,
                .dark-mode .user-tagline-chat-component .user-tagline-chat-member :hover,
                .sidebar-view-component input,
                .sidebar-view-component textarea,
                .sidebar-back-button-back,
                .dark-mode .settings-field-row .settings-field-label,
                .variation body.dark-mode:after,
                .variation body.dark-mode:before,
                body.dark-mode .variation:after,
                body.dark-mode .variation:before,
                .dark-mode .details-section-header,
                .dark-mode .summary-header,
                .game-controls-secondary-button-button,
                .move-number.svelte-45rxgq,
                .analysis-view-lines,
                .engine-line-more,
                .engine-line-icon,
                .analysis-options-component,
                .analysis-options-component label,
                .sidebar-view-grayscale-icon,
                .sidebar-view-grayscale,
                .sidebar-tabs-tab .sidebar-tabs-icon,
                .sidebar-tabs-tab .sidebar-tabs-label,
                .events-list-time,
                .username,
                .battle-observable-game-list-item-rank,
                .sidebar-header-component h1,
                .puzzle-leaderboard-filter-icon,
                .leaderboard-item-score,
                .puzzle-leaderboard-filter-component,
                .battle-observable-game-list-item-rating,
                .battle-observable-game-list-item-season-points,
                .battle-friends-select-btn,
                .action-buttons-icon,
                .section-tabs-tab.section-tabs-active,
                .section-tabs-tab:not(.section-tabs-active),
                .battle-sidebar-start-stat .battle-sidebar-start-number,
                .battle-sidebar-start-stat .battle-sidebar-start-middleText,
                .message-video-explanation-board-text,
                .message-video-explanation-message-action,
                .back-link-icon,
                .game-mode-top-section-title,
                .calendar-legend.dark-mode,
                .dark-mode .calendar-legend:not(.light-mode),
                .calendar-day.dark-mode,
                .dark-mode .calendar-day:not(.light-mode),
                .calendar-day-of-week.dark-mode,
                .dark-mode .calendar-day-of-week:not(.light-mode),
                .calendar-header .calendar-arrow.dark-mode,
                .dark-mode .calendar-header .calendar-arrow:not(.light-mode),
                .calendar-header.dark-mode,
                .dark-mode .calendar-header:not(.light-mode),
                .game-mode-top-section-name,
                .game-mode-top-section-hide-calendar-button,
                .coach-avatar-label,
                .message-color-to-move-component,
                .game-mode-top-section-date,
                .game-mode-top-section-arrow-button .game-mode-top-section-arrow-icon,
                .puzzle-theme-controls-icon,
                .play-action-tray-btn,
                .puzzle-theme-controls-row,
                .puzzle-theme-controls-caret,
                .puzzle-theme-controls-disable,
                .puzzle-theme-controls-row:not(:last-of-type),
                .end-puzzle-stats-row,
                .learning-themes-display-content,
                .learning-themes-display-icon,
                .select-themes-header-icon,
                .v5-section,
                .v5-section-shadow,
                .v5-section-shadow-hover,
                .small-controls-btn,
                .add-to-archive-container,
                .chat-bubble-component--with-font-updates,
                .mode-selection-button-description,
                .mode-selection-button-mode,
                .selected-bot-heading,
                .selected-bot-name,
                .bot-description-description,
                .selected-bot-rating,
                .sidebar-controller-component,
                .live-game-buttons-button,
                .live-game-start-component,
                .dropdown-menu-toggle .dropdown-menu-icon,
                .time-selector-section-label,
                .time-selector-button-button,
                .toggle-custom-game-icon,
                .toggle-custom-game-label,
                .time-selector-button-button:hover,
                .competition-announcements-component,
                .competition-announcements-icon,
                .competition-announcements-button,
                .connect-tab-clubs-link,
                .connect-tab-friends-link .connect-tab-friends-action.connect-tab-friends-hover,
                .connect-tab-friends-link .connect-tab-friends-action:hover,
                .connect-tab-friends-link.connect-tab-friends-hover,
                .connect-tab-friends-link:hover,
                .user-username-blue-with-dark-mode,
                .user-selector-default-avatar .user-selector-icon,
                .daily-game-info-component.tab-content-component,
                .icons-v3 .daily-game-info-icon,
                .rating-range-select-select select,
                .rating-range-select-icon,
                .live-stats-component .live-stats-icon,
                .live-stats-component .live-stats-text,
                .live-stats-component strong,
                #sb .nav-popover.dark .btn-link,
                .connect-tab-friends-link,
                .notification-item-action.notification-item-close,
                .dark-mode .notification-item-content,
                .playing-now-rating,
                .connect-tab-chat-inactiveToggler,
                .ui_v5-input-group-icon,
                .connect-tabs-tab,
                .notification-controls-settings,
                .dark-mode .notification-controls-clear:hover,
                .dark-mode .notification-controls-clear,
                .dark-mode .nav-section-header-component,
                .nav-section-header-clickable:hover,
                .nav-section-header-clickable,
                .nav-result-item,
                .nav-result-item:hover,
                .nav-link-main-design,
                .nav-link-main-link,
                .nav-link-main-design:hover,
                .nav-link-main-link:hover,
                #sb .nav-menu-area:last-of-type .icon-font-chess,
                .players-list-component .players-list-row .players-list-status,
                .dark-mode .daily-game-info-game-result.daily-game-info-black,
                .dropdown-menu-toggle,
                .top-players-row-status,
                .archive-tab-full-archive-link,
                .archive-tab-time,
                .daily-games-tab-icons .daily-games-tab-icon,
                .daily-games-dropdown-count,
                .daily-games-dropdown-label,
                .open-challenges-list-header .open-challenges-list-chevron,
                .open-challenges-list-header .open-challenges-list-text,
                .open-challenges-list-challenge .open-challenges-list-button,
                .open-challenges-list-challenge .open-challenges-list-text,
                .open-challenges-list-challenge .open-challenges-list-tagline .user-tagline-username,
                .open-challenges-scatter-plot-x-tick:before,
                .open-challenges-scatter-plot-y-tick:before,
                .open-challenges-settings-button:not(.open-challenges-settings-active),
                .user-selector-chevron,
                .open-challenges-scatter-plot-x-label,
                .open-challenges-scatter-plot-y-label,
                .daily-game-info-button,
                .selector-button-label,
                .underlined-tabs-label,
                .selector-button-chevron,
                .custom-game-field-component label,
                .user-selector-input,
                .board-layout input,
                .board-layout textarea,
                .selector-button-icon,
                .eco-opening-panel,
                .move-list-buttons-button,
                .daily-game-footer-button,
                .add-to-library-button-button,
                .ui_v5-button-component.ui_v5-button-basic,
                .vertical-move-list .black body.dark-mode,
                .vertical-move-list .white body.dark-mode,
                body.dark-mode .vertical-move-list .black,
                body.dark-mode .vertical-move-list .white,
                .vertical-move-list body.dark-mode .move,
                body.dark-mode .vertical-move-list .move,
                .quick-switch-component > label,
                .evaluation-component,
                .underlined-tabs-tab.underlined-tabs-active .underlined-tabs-label,
                .underlined-tabs-tab:hover:not(.underlined-tabs-active) .underlined-tabs-label,
                .tabs-icon,
                .tabs-label,
                .tabs-close {
                    color: setFontColorSrc!important;
                }
            }/*end panel font color with texture applied*/
            /*Transparent panels*/
            .sidebar-component,
            .dark-mode .tournaments-list-body:before,
            .tournaments-list-header,
            .sidebar-view-component,
            .sidebar-controller-component,
            .connect-tabs-tab-content{
                background-color:transparent!important;
            }
            ajust clock size
            .clock-component:not(.clock-theatre) {
                font-size: 2.3rem;
                height: 3.4rem;
                padding-right: 1rem;
                margin-top:0.3rem;
                margin-right:0.3rem;
            }
            #board-layout-player-top{
                margin-top:0.3rem;            
            }
            .clock-icon-icon{
                margin-top:-0.3rem!important;
            }
            .clock-component {
                margin-bottom:0.2rem!important;
            }
            .player-component{
                border-radius:0.4rem!important;
            }
            /*Panels to be texturized*/
            .dropdown-menu-dropdown,
            .dark-mode .floating-action-button-component,
            .dark-mode .floating-action-button-tab:hover,
            .full-page-modal-modal,
            .chat-options-menu,
            .chat-options-confirm,
            .dark-mode .list-component .list-container,
            .modal-content-component,
            .ui_modal-body,
            #sb .nav-popover.dark,
            .nav-panel-shade, 
            .nav-component{
                background:frameColor url(panelBGOpt) !important; 
                if panelBGOpt==boardBGOpt {
                    background-size: bgSize !important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                    background-repeat: bgRepeat;
                    
                }else if panelBGOpt==frameBGOpt {
                    background-size: frameSize !important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                    background-repeat: frameRepeat;
                }
                if enableBoardFrame{
                    box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, .1),0px 3px 8px 2px rgba(0, 0, 0, .3);
                }
            }/*end panel to be texturized*/
            /*Panels to be texturized*/
            .board-layout-sidebar {
                background: frameColor url(panelBGOpt) !important;
                if panelBGOpt==boardBGOpt{
                    background-size: bgSize !important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                    
                }else if panelBGOpt==frameBGOpt{
                    background-size: frameSize !important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                }else{
                    background-size: 100%!important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                }
                if enableBoardFrame{
                    box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, .1),0px 3px 8px 2px rgba(0, 0, 0, .3);
                }
            }/*end panel to be texturized*/
        }
        /*Evaluation bar need to be texturized according to board background*/
        if enableEvalBar{
            .evaluation-bar-black{
                if svgDarkSqOpacity>='0.5'{
                    opacity:svgDarkSqOpacity !important;
                }             
            }
        }
        .evaluation-bar-draw{
            background:url(frameOpt) !important;                   
            background-size: frameSize!important;
            -webkit-background-size: @background-size;
            -moz-background-size: @background-size;
            -o-background-size: @background-size;
            if enableBoardFrame{
                box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, .1),0px 3px 8px 2px rgba(0, 0, 0, .3);
            }
        }
    }/*End panel textures*/
        
}
