/* ==UserStyle==
@name           Continental-2022: chessboard
@namespace      USO Archive
@author         agiota_do_artenio
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@description    `Chess Board for the XV American Continental Chess Championship 2022`
@version        1.0.8
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Azul": "op1",
            "Azul (texturizado)": "op1Tex",
            "Azul (tex. mapa)": "op1TexMp",
            "Desativado": "op0",
        }

@var    checkbox    enableHL   "Habilitar Destaque Personalizado" 1
@var    checkbox    setEvaluationBar "Barra de avaliação personalizada" 1
@var    checkbox    enableBoardSettings "Avançado: Config. do tabuleiro" 0
@var    range    hueRotationBoard  "Tonalidade do tabuleiro (melhor com pçs preto e branco)" [0, 0, 355, 5, "deg"]
==/UserStyle== */
@-moz-document domain("chess.com") {
    if myBoard!="op0" {
        #board-single-sibling,
        div#board.board:not([style*="background-image: url"]),
        .board-layout-chessboard .board:not([style*="--theme"]),
        div[class^="board v-board disabled rounded"],
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        div[id*="chess_com_emailboard_"] {
            if enableBoardSettings {
                filter: hue-rotate(hueRotationBoard);
            }
            if myBoard=="op1" {
                background: url(https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpY5JE7s.jpg) 0% 0% / 100% 100% no-repeat!important;
            }
            if myBoard=="op1Tex" {
                background: url(https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpntivUM.jpg) 0% 0% / 100% 100% no-repeat!important;
            }
            if myBoard=="op1TexMp" {
                background: url(https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/php1e7Hql.jpeg) 0% 0% / 100% 100% no-repeat!important;
            }
        }
        /*Coordinates*/
        if myBoard=="op1" || myBoard=="op1Ani" {
            /*Small board for game preview*/
            div [style*="40.png"][class="game-preview-component"], div [style*="40.jpg"][class="game-preview-component"] {
                background: url(https://github.com/FSA1/Styles/raw/main/continental/2022/mini/continental_cb4b.png) 0% 0% / 100% 100% no-repeat !important
            }
            text.coordinate-light,
            div.number.coords-light,
            div.letter.coords-light {
                color: #376B97 !important;
                fill:@color;
            }
            text.coordinate-dark,
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #DDE2E6 !important;
                fill:@color;
            }
        }
        if myBoard=="op1Tex" || myBoard=="op1TexAni" {
            /*Small board for game preview*/
            div [style*="40.png"][class="game-preview-component"], div [style*="40.jpg"][class="game-preview-component"] {
                background: url(https://github.com/FSA1/Styles/raw/main/continental/2022/mini/continental_cb_tex2.png) 0% 0% / 100% 100% no-repeat !important
            }
            text.coordinate-light,
            div.number.coords-light,
            div.letter.coords-light {
                color: #41657C !important;
                fill:@color;
            }
            text.coordinate-dark,
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #C4D6DA !important;
                fill:@color;
            }
        }
        if myBoard=="op1TexMp" {
            /*Small board for game preview*/
            div [style*="40.png"][class="game-preview-component"], div [style*="40.jpg"][class="game-preview-component"] {
                background: url(https://github.com/FSA1/Styles/raw/main/continental/2022/mini/continental_cb_tex2.png) 0% 0% / 100% 100% no-repeat !important
            }
            text.coordinate-light,
            div.number.coords-light,
            div.letter.coords-light {
                color: #426780 !important;
                fill:@color;
            }
            text.coordinate-dark,
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #CFDDDE !important;
                fill:@color;
            }
        }
        /*Highlight+evaluation bar*/
        if enableHL {
            if myBoard=="op1" || myBoard=="op1Ani" || myBoard=="op1Tex" || myBoard=="op1TexAni" || myBoard=="op1TexMp" {
                .move-square,
                .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                    background-color: #2bd5ff!important;
                }
                .selection-square {
                    background-color: #02c4c4 !important;
                }
            }
        }
        /*Evaluation bar*/
        if setEvaluationBar {
            if myBoard=="op1" || myBoard=="op1Ani" {
                .evaluation-bar-white {
                    background-color: #DDE2E6       !important;
                }
                .evaluation-bar-black {
                    background-color: #376B97 !important;
                }
            }
            if myBoard=="op1Tex" || myBoard=="op1TexAni" {
                .evaluation-bar-white {
                    background-color: #C4D6DA       !important;
                }
                .evaluation-bar-black {
                    background-color: #41657C !important;
                }
            }
            if myBoard=="op1TexMp" {
                .evaluation-bar-white {
                    background-color: #CFDDDE       !important;
                }
                .evaluation-bar-black {
                    background-color: #426780 !important;
                }
            }
        }

            if enableBoardSettings {
                .evaluation-bar-white,
                .evaluation-bar-black {
                    filter: hue-rotate(hueRotationBoard);
                }
            }
        }
    /*End of the code*/
}