/* ==UserStyle==
@name           FPX: chessboard and pieces
@namespace      ChessSkins
@author         agiota_do_artenio
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@supportURL		https://www.chess.com/pt-BR/blog/Agiota_do_Artenio/
@description    `Chess pieces for chess.com (pt_BR)`
@version        1.0.5
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Azul": "op1",
            "Azul 2": "op1B",
            "Cinza": "op2",
            "Verde": "op3",
            "Verde 2": "op3B",
            "Rosa": "op4",
            "Roxo": "op5",
            "Marrom": "op6",
            "Madeira": "w01",
            "Madeira escura": "w02",
            "Madeira cinza*": "w03",
            "Desativado": "op0",
        }
@var	select	myPieces	"Peças"{
	"Neo (Branco/Preto)": "neo",
	"Neo (Bege/Vermelho)": "neoBeigeRed",
	"Neo (Suas Cores)*": "neoCustom",
	"Desativado": "disabled",
}
@var	color	bColor	"Peças pretas"	#4b7bfd
@var	color	wColor	"Peças brancas"	#FFA726
@var	select	myKnight	"Cavalo"{
	"FPX": "fpx",
	"Padrão*": "disabled",
}

@var    checkbox    altBoards   "Estampa alternativa" 0

@var    select      setHighLight    "Escolher de destaque"{
            "Predefinido*": "op1",
            "Escolher cores": "op2",
            "Desativado": "op0",
}

@var    color    userMoveCol  "cor do movim."   #ffea00ab
@var    color    userSelCol  "cor da sel."   #ffb833eb

@var    checkbox    setEvaluationBar "Barra de avaliação personalizada" 1
@var    checkbox    setArrows   "Modificar Setas" 0
@var    range    hueRotationArrow  "Tonalidade das setas" [15, 0, 355, 5, "deg"]
@var    range    arrowOpacity  "Opacidade das setas" [0.9, 0.3, 1, 0.1, ""]
@var    range    saturateArrow  "Saturação (setas)" [130, 0, 300, 5, "%"]
@var    range    brightnessArrow    "Brilho (setas)" [130, 5, 300, 5, "%"]
@var    checkbox    setServer   "Servidor: GitHub <--> GitLab" 0
==/UserStyle== */
@-moz-document domain("chess.com") {

    /*The beautify function may cause an error by joining the following variables into a single line.
    Just revert the changes to make it work again.*/
    
    /*primary server (GitLab)*/    
    gitHub='https://github.com/FSA1/Styles/raw/main/'
    
    /*alternative server (GitLab)*/
    gitLab='https://gitlab.com/FSA11/Styles/-/raw/main/'
    
    /*chess.com default path to pieces*/
    chesscom='https://images.chesscomfiles.com/chess-themes/pieces/'
    
    /*selector with exceptions to avoid override analysis highlights*/
    notThisColors='[style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]'

    /*there is no error below*/
    if setServer {
        server = gitLab
    }else{
        server = gitHub
    }
    if n2Left{
        setKnight='-flip'
    }else{
        setKnight=''
    }
    if altBoards {
        myPath= server + 'fpx/boardsV2/light/'
    }else{
        myPath= server + 'fpx/boards/light/'
    }
    if myBoard=="op1" || myBoard=="op1B" || myBoard=="op2" {
        hlcol=#fff436
        selcol=#02c4c4
    }
    if myBoard=="op1" {
        boardlink = myPath + "blue.png"
        miniBoard = boardlink
        darksq=#547091
        lightsq=#CFD8DD
    }
    if myBoard=="op1B" {
        boardlink = myPath + "blue2.png"
        miniBoard = boardlink
        darksq=#50808F
        lightsq=#d2dfe2
    }
    if myBoard=="op2" {
        boardlink = myPath + "gray.png"
        miniBoard = boardlink
        darksq=#727E91
        lightsq=#DEE0E4
    }
    if myBoard=="op3" || myBoard=="op3B" {
        hlcol=#fbeb3b
        selcol=#02c4c4
    }
    if myBoard=="op3" {
        boardlink = myPath + "green.png"
        miniBoard = boardlink
        darksq=#609973
        lightsq=#D3E3D8
    }
    if myBoard=="op3B" {
        boardlink = myPath + "green2.png"
        miniBoard = boardlink
        darksq=#749569
        lightsq=#D7E0D4
    }
    if myBoard=="op4" {
        boardlink = myPath + "rose.png"
        miniBoard = boardlink
        darkSqTex = ''
        lightSqTex = ''
        darksq=#B97A85
        lightsq=#F0E5E8
        hlcol=#fbeb3b
        selcol=#f8af49
    }
    if myBoard=="op5" {
        boardlink = myPath + "purple.png"
        miniBoard = boardlink
        darkSqTex = ''
        lightSqTex = ''
        darksq=#6C648F
        lightsq=#DAD9E2
        hlcol=#74a4ff
        selcol=#f8af49
    }
    if myBoard=="op6" {
        boardlink = myPath + "brown.png"
        miniBoard = boardlink
        darkSqTex = ''
        lightSqTex = ''
        darksq=#9F775F
        lightsq=#DCD2CD
        hlcol=#fbeb3b
        selcol=#f8af49
    }
    if myBoard=="w01" || myBoard=="w02"  {
        hlcol=#ffcf4d
        selcol=#da6f00
    }
    if myBoard=="w01" {
        boardlink = server + "fpx/boardsV2/wood.jpg"
        miniBoard = boardlink
        darkSqTex = server + "fpx/mini/wevalB.png"
        lightSqTex = server + "fpx/mini/wevalW.png"
        darksq=#B07148
        lightsq=#E9C8A5
    }
    if myBoard=="w02" {
        boardlink = server + "fpx/boardsV2/wood2.jpg"
        miniBoard = boardlink
        darkSqTex = server + "fpx/mini/w2evalB.png"
        lightSqTex = server + "fpx/mini/w2evalW.png"
        darksq=#8c695c
        lightsq=#D7C3AA
    }
    if myBoard=="w03" {
        boardlink = server + "fpx/boardsV2/wood3.jpg"
        miniBoard = boardlink
        darkSqTex = server + "fpx/mini/w3evalB.png"
        lightSqTex = server + "fpx/mini/w3evalW.png"
        darksq=#9d9a98
        lightsq=#d0cecd
        hlcol=#ddcd3f
        selcol=#a07822
    }
    /*Boards*/
    if myBoard!="op0" {
        .fade-in-overlay/*chesskids*/
        ,
        #boarddefault_boardarea/*chesskids*/
        ,
        #divChessBoard_boardarea/*chesskids*/
        ,
        #vsComputerDiv_boardarea/*chesskids*/
        ,
        div[id^="board-"][class*="chess-board__board"]/*chesskids*/
        #board-single-sibling,
        [class="board-b72b1"] > div,
        div#board.board:not([style*="background-image: url"]),
        .board-layout-chessboard .board:not([style*="--theme"]),
        div[class^="board v-board disabled rounded"],
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        div[id*="chess_com_emailboard_"] {
                background: url(boardlink) 0% 0% / 100% 100% no-repeat!important;
        }
        /*Small board for game preview*/
        .openings-view-chessboard chess-board,
        .game-preview-component.sidebar-tab-games-new-preview,
        .game-preview-component.player-card-new-preview,
        .diagram-board-component chess-board,
        .game-board-preview,
        .game-preview-legacy-component,
        .game-preview-component.open-games-item-preview,
        .game-preview-component.current-games-grid-preview,
        .game-preview-component.promo-preview,
        div [style*="40.png"][class="game-preview-component"],
        div [style*="40.jpg"][class="game-preview-component"] {
            /*clean board preview, no logo*/
            background-image: url(boardlink) !important;
            background-color: darksq!important;
            background-position: 0 0!important;
            background-size: contain!important;
            background-repeat: repeat !important;
        }
        .engine-line-preview,
        .board-popover-component,
        .board-popover-component:before {
            background-image: url(darkSqTex) !important;
            background-position: 0 0;
            background-size: contain;
            background-color: darksq;
            if bgSize=="cover" {
                background-repeat: no-repeat !important;
            }
            else {
                background-repeat: repeat !important;
            }
            border-color:darksq!important;
            border-image:url(darkSqTex) 25 stretch!important;
        }
        :root {
            --theme-board-style-image: url(boardlink);
        }
        /*Evaluation bar*/
        if setEvaluationBar {
            .evaluation-bar-black {
                background: url(darkSqTex) 0% 0% / 100% 100% no-repeat !important;
                background-color: darksq !important;
                }
            .evaluation-bar-white {
                background: url(lightSqTex) 0% 0% / 100% 100% no-repeat !important;
                background-color: lightsq !important;
                }
        }
        /*------Coordinates------*/
        div.number.coords-light,
        div.letter.coords-light,
        text.coordinate-light {
            color: darksq!important;
            fill: @color;
        }
        div.number.coords-dark,
        div.letter.coords-dark,
        text.coordinate-dark {
            color: lightsq !important;
            fill: @color;
        }
        /*Highlight*/
        if setHighLight=="op1" {
            .move-square, 
            .highlight:not({notThisColors}) {
                background-color: hlcol !important;
            }
            .selection-square
            {
                background-color: selcol !important;
            }
        }else if setHighLight=="op2" {
            .move-square, 
            .highlight:not({notThisColors}) {
                background-color: userMoveCol !important;
            }
            .selection-square
            {
                background-color: userSelCol !important;
            }
        }

        /*Change Arrows colors*/
        if setArrows {
            .arrow {
                filter: hue-rotate(hueRotationArrow) brightness(brightnessArrow) saturate(saturateArrow)!important;
                -webkit-filter: @filter;
                -moz-filter: @filter;
                -o--filter: @filter;
                opacity: arrowOpacity !important;
            }
        }
    }/*End boards section*/

	/*Pieces*/
	if myPieces == "neo" || myPieces == "neoBeigeRed" || myPieces == "neoCustom"{

        if myPieces=="neo" {
            wColor=#f8f8f8;
            bColor=#575352;
        }
        if myPieces=="neoBeigeRed" {
            wColor=#F9E29E;
            bColor=#CF3D00;
        }

        wColor=hsla(wColor);
        bColor=hsla(bColor);

        /*Pieces Neo white*/
        bP="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .cls-1%7bfill:none;%7d.cls-2%7bfill:" + bColor + ";%7d.cls-3,.cls-4%7bopacity:0.2;%7d.cls-4%7bfill:%23fff;%7d.cls-5%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3ep%3c/title%3e%3crect class='cls-1' width='180' height='180'/%3e%3cpath class='cls-2' d='M89.94,41.92a23,23,0,0,0-14.24,41L63.79,90.75l-.9.59v1.08a12.17,12.17,0,0,0,2,6.93l.39.72.57,1.05H77.13c-.49,5.61-2,19.66-20,31-8,5-12.66,14.66-12.66,26.36v2h91v-2c0-11.7-4.62-21.31-12.67-26.36-17.94-11.28-19.5-25.36-20-31H114l.57-1.05.39-.72a12.17,12.17,0,0,0,2-6.93V91.34l-.9-.59-11.91-7.86a23,23,0,0,0-14.24-41Z'/%3e%3cpath class='cls-3' d='M115.16,127.11c-10.76-7.52-11.49-22.19-12.18-25.54l10.85,0,3.87-9s-11.41-9.29-17-9.46l2.75,0s8.21-6.84,8.92-12.88C115.25,46.21,96.3,43,96.3,43c8.58,4.29,15.07,18.92,7.34,29.82C98.12,80.61,87.34,83,87.34,83h13.3c.16.14,9.38,10-.1,16.16H65.12l.45,2.5,11.45,0S90.26,115,101.23,125.37c10.53,9.93,26.51,11.31,26.51,11.31S120.63,130.94,115.16,127.11Z'/%3e%3cpath class='cls-4' d='M75,92.42C75.6,88,79.14,83,79.24,83L62.47,92.42Z'/%3e%3cpath class='cls-4' d='M92.05,44c-8,.72-20.82,10.3-22.32,30,0,0-8.08-11.62,3.06-24.45C81.56,39.5,92.05,44,92.05,44Z'/%3e%3cpath class='cls-4' d='M46.45,158.45C50.8,144.15,57,142.3,68.3,134c7.54-5.48,8.55-22,8.55-22,.18-.86-3.84,6.67-8.12,10.4-1.41,1.22-11,7.84-15.07,12.17C46.55,142.07,45.61,161.19,46.45,158.45Z'/%3e%3cpath class='cls-5' d='M89.94,43.92a21,21,0,0,1,11.79,38.29l-1.09.75L115,92.42c0,3.06-.72,4-2.15,6.7h-12.3l.1,1c.49,4.57.8,20.93,21.06,33.66,7.45,4.68,11.73,13.68,11.73,24.67h-87c0-11,4.27-20,11.73-24.67,20.3-12.76,20.58-29.1,21.06-33.66l.1-1H67c-1.42-2.65-2.15-3.64-2.15-6.7L79.24,83l-1.09-.74a21,21,0,0,1,11.79-38.3m0-4A25,25,0,0,0,72.42,82.66l-9.73,6.42-1.8,1.19v2.15a14.13,14.13,0,0,0,2.24,7.89l.39.71,1.13,2.1H74.88c-2.49,17-14.27,24.41-18.83,27.27-8.65,5.43-13.6,15.66-13.6,28.06v4h95v-4c0-12.4-5-22.63-13.6-28.06-15.11-9.49-18-21-18.86-27.27h10.26l1.13-2.1.39-.71A14.13,14.13,0,0,0,119,92.42V90.27l-1.8-1.19-9.73-6.42A25,25,0,0,0,89.94,39.92Z'/%3e%3c/svg%3e";

        bR="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .clsR-1%7bfill:" + bColor + ";%7d.clsR-2,.clsR-3%7bfill:%23fff;%7d.clsR-2,.clsR-4%7bopacity:0.2;%7d.clsR-3%7bopacity:0.3;%7d.clsR-5%7bfill:%231a1a1a;%7d.clsR-6%7bfill:none;%7d%3c/style%3e%3c/defs%3e%3ctitle%3er%3c/title%3e%3cpath class='clsR-1' d='M90,30.87a92.56,92.56,0,0,0-10.56.85l-1.45.2-.25,1.44L74.87,50.28H70L64.84,35.53l-.47-1.34H63a31.07,31.07,0,0,0-14.88,3.72l-1.15.62.1,1.31L48.68,60v.1c1,7.21,4.68,11.7,11.93,14.38-1,8.58-5.74,48.89-6.95,58.44-14.51,3.42-14.49,12.94-14.46,23.92v3.62H140.78v-3.62c0-11,.06-20.5-14.46-23.92-1.2-9.55-5.94-49.86-6.95-58.44,7.26-2.68,11-7.17,11.94-14.38V60L133,39.84l.11-1.31-1.15-.62A31.08,31.08,0,0,0,117,34.19h-1.41l-.47,1.34L110,50.28h-4.85l-2.87-16.92L102,31.92l-1.45-.2A92.56,92.56,0,0,0,90,30.87Z'/%3e%3cpath class='clsR-2' d='M90,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.93-10.18-24.49-11.3-24.49-11.3H66.53s-23.36.81-24.66,11.3h.59S46.93,138.41,90,138.41Z'/%3e%3cpath class='clsR-3' d='M60,34.43c-10.75,7.36-6.7,34.9-6.7,34.9-6.85-2.21-6.7-31.73-6.7-31.73S63.08,32.34,60,34.43Z'/%3e%3cpath class='clsR-3' d='M93.18,32.26c-12,2.19-16.62,19.64-16.62,19.64.8-13,3.52-20.54,3.52-20.54S96.59,31.63,93.18,32.26Z'/%3e%3cpath class='clsR-3' d='M125.15,35.88c-7.77,4.11-13.75,16-13.75,16-.44-4.24,5.47-19,5.47-19S128.05,34.35,125.15,35.88Z'/%3e%3cpath class='clsR-4' d='M123.87,72.17c10.62.24,8.73-32.78,8.73-32.78l-6.36-4c-1.76,10.55-4,26.9-9.16,31.43-4.71,4.15-7.59,5.12-8.31,5.3-1.37-.17-2.83-.33-4.43-.47-14.5-1.32-35.6,2.82-35.6,2.82s21.37-1.3,32.3,12.42,12,43.37,12,43.37c7.16,1.33,12.49,2.8,12.49,2.8l-6.73-57.46S122.46,72.14,123.87,72.17Z'/%3e%3cpath class='clsR-5' d='M140.65,140.76c-2.2-4.67-6.21-7.71-12.51-9.45-1.35-10.88-5.36-45-6.6-55.54,7.06-3,10.73-7.87,11.75-15.41v-.21L135,40l.21-2.61-2.3-1.24a33.05,33.05,0,0,0-15.84-4h-3.19l-.71,3.12-2.93,13H105l-1.74-15-.35-3-3-.49A72.25,72.25,0,0,0,90,28.87a72.06,72.06,0,0,0-9.94.88l-3,.49-.35,3L75,48.28h-5.2l-2.93-13-.71-3.12H63a33,33,0,0,0-15.83,4l-2.3,1.24L45,40l1.66,20.15v.21c1,7.54,4.68,12.39,11.75,15.41-1.24,10.54-5.26,44.66-6.6,55.54-6.31,1.74-10.32,4.78-12.51,9.45s-2.15,9.91-2.14,16.07v5.62H142.78v-5.62C142.8,150.68,142.81,145.36,140.65,140.76Zm-90-80.94L49,39.67A28.93,28.93,0,0,1,63,36.19L66.6,52.28h12L80.71,33.7A67.28,67.28,0,0,1,90,32.87a67.28,67.28,0,0,1,9.29.83l2.15,18.58h12L117,36.19A29,29,0,0,1,131,39.67l-1.66,20.15c-.77,5.74-3.29,10-10.52,12.73A234.34,234.34,0,0,0,90,70a234.67,234.67,0,0,0-28.8,2.54C54,69.84,51.45,65.56,50.67,59.82Zm11.74,16.6A231,231,0,0,1,90,74a230.47,230.47,0,0,1,27.59,2.41c1.21,10.31,4.93,41.88,6.41,54-.69-.12-1.4-.23-2.14-.32A254,254,0,0,0,90,128.41a254,254,0,0,0-31.86,1.69c-.75.09-1.45.2-2.14.32C57.48,118.3,61.2,86.73,62.41,76.42Zm76.37,82H41.22c0-11.85-.67-20.31,12.69-23.53l.34-.09,1-.21c1-.22,2.16-.4,3.37-.56A252.6,252.6,0,0,1,90,132.41a252.6,252.6,0,0,1,31.36,1.65c1.18.15,2.28.34,3.31.54l1.1.24.23,0C139.45,138.1,138.78,146.58,138.78,158.45Z'/%3e%3crect class='clsR-6' width='180' height='180'/%3e%3c/svg%3e";

        bN="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .clsN-1%7bfill:none;%7d.clsN-2%7bfill:" + bColor + ";%7d.clsN-3,.clsN-5%7bfill:%23fff;%7d.clsN-3,.clsN-4%7bopacity:0.2;%7d.clsN-6%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3en%3c/title%3e%3crect class='clsN-1' width='180' height='180'/%3e%3cpath class='clsN-2' d='M73.07,20.25h-.83c-2.72,0-5.43,2.48-6.16,5.64l-1.45,6.88c-1.32,3.14-3.54,5.36-7.13,8.32a19.11,19.11,0,0,0-6.06,8.69l-.17.42c-.9,2.29-1.56,4.3-2.16,6.07A43.59,43.59,0,0,1,43,69.12L31.37,85.5c-3.62,4.51-3.22,10.76.92,14.27s14.4,6.3,17.9,6.3a3.37,3.37,0,0,0,2.42-.78,24.78,24.78,0,0,0,3.7-4.85c2.31-3.6,4-6.2,9.93-6.23,8.73,0,16.28-7.95,19.91-11.76l0,0,0,0,2.18-2.52c1.46,2.33,3.14,6.13,2,10.11a16.46,16.46,0,0,1-2.3,4.79,40.35,40.35,0,0,1-8,8l-.19.16c-7.52,6.08-20,16.15-22.08,30.28-13.33,3.64-13.3,12.93-13.27,23.62v3.61H146.1v-3.6c0-10.69.06-20-13.28-23.63.41-1.59,1-3.64,1.64-5.9,2.63-9.24,6.24-21.9,6.24-30.2,0-19.56-6.19-36-17.89-47.47A59,59,0,0,0,86.05,33.21L73.66,20.84l-.59-.59Z'/%3e%3cpath class='clsN-3' d='M95.71,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.93-10.18-24.49-11.3-24.49-11.3H72.24s-23.36.81-24.66,11.3h.59S52.64,138.41,95.71,138.41Z'/%3e%3cg class='clsN-4'%3e%3cpath class='clsN-5' d='M69.64,40.21c8.06-5,2.6-18,2.6-18a5,5,0,0,0-5,4l-1.46,6.92c-1.41,3.38-3.71,5.7-7.46,8.8a18,18,0,0,0-5.76,8.26l-.16.42c-.89,2.26-1.52,4.17-2.14,6a44.74,44.74,0,0,1-6.22,13.1L32.42,86.14c-.15.15-.3.31-.44.47a6,6,0,0,0-1,7.74S50,70.9,52.49,67.61C57,61.63,54.16,49.84,69.64,40.21Z'/%3e%3c/g%3e%3cpath class='clsN-6' d='M70.78,49.77c-5.23,2.14-6.64,11.09-6.64,11.09,5.08-4.42,7.53.65,12.59-3.36C81,54.16,75.9,47.67,70.78,49.77Z'/%3e%3cpath class='clsN-4' d='M94.87,66.07c-1.82,3.49-6.33,10.57-6.33,10.57s-.47,1.43-1.05,3.46c0,0,2.08-.23,2.47,6.39.1,1.72.93,7.76,2,5.18C95,84.23,97.14,75.23,97.1,72.18S96.68,62.58,94.87,66.07Z'/%3e%3cpath class='clsN-4' d='M85.17,35.15S126,40.22,126,79.26c0,26.14-17.38,33.44-22,51,0,0,19.33.15,27.88,4.19,0,0,9.18-24.84,9.18-39.56C141.05,79.83,129.61,34,85.17,35.15Z'/%3e%3cpath class='clsN-4' d='M70.12,92.2c-9.11-4.47-11.41-9.79-14.91.72-3.4,10.18-8.55,11.93-5.09,13s7.74-10.45,10.77-10.64S73.53,93.87,70.12,92.2Z'/%3e%3cpath class='clsN-6' d='M72.24,22.25l12.93,12.9c25.26,1.71,53.53,20.1,53.53,62,0,11.12-7,31.49-8.29,37.57,14.39,3.05,13.69,11.63,13.69,23.76H46.54c0-12-.68-20.47,13.08-23.63C61,120.66,74,110.31,81.34,104.33a41.62,41.62,0,0,0,8.41-8.44,18.34,18.34,0,0,0,2.57-5.37c1.82-6.37-2.3-12.09-3.78-13.88l-3.83,4.43C80.85,85.12,74,92.18,66.23,92.21c-10.05.05-10.29,7.09-15,11.65a1.69,1.69,0,0,1-1,.21c-3.27,0-12.92-2.68-16.61-5.82-3.22-2.74-3.64-7.82-.62-11.54l11.7-16.46c5.23-7.6,5.46-11.65,8.48-19.32a17.36,17.36,0,0,1,5.64-8.3c3.81-3.15,6.28-5.61,7.77-9.27l1.48-7c.5-2.16,2.39-4.09,4.21-4.09m1.66-4H72.24c-3.68,0-7.16,3.09-8.11,7.19v.08l-1.39,6.64c-1.18,2.68-3.14,4.62-6.49,7.39a20.82,20.82,0,0,0-6.66,9.51l-.16.41c-.92,2.34-1.6,4.37-2.19,6.17A41.6,41.6,0,0,1,41.38,68L29.77,84.3C25.52,89.65,26,97.09,31,101.3c4.6,3.91,15.36,6.77,19.2,6.77A5.36,5.36,0,0,0,54,106.73a27.63,27.63,0,0,0,4-5.21c2.18-3.41,3.38-5.28,8.25-5.31,9.58,0,17.53-8.37,21.35-12.38l.07-.07.06-.07L88,83.4a9.35,9.35,0,0,1,.49,6,14.14,14.14,0,0,1-2,4.21,38.38,38.38,0,0,1-7.63,7.59l-.19.16c-7.53,6.1-19.83,16.06-22.58,30.27-5.78,1.84-9.58,5-11.57,9.54s-2,9.68-1.94,15.66v5.6H148.1v-5.6c0-6.07,0-11.32-2-15.88-2-4.32-5.44-7.28-10.8-9.1.33-1.2.71-2.56,1.13-4,2.66-9.36,6.31-22.17,6.31-30.75C142.7,55,115,33.84,87,31.28L75.07,19.42,73.9,18.25Z'/%3e%3cpath class='clsN-6' d='M95.71,132.41a252.5,252.5,0,0,1,31.36,1.65,43.67,43.67,0,0,1,5.17,1l.66-4a46.29,46.29,0,0,0-5.32-1,254.17,254.17,0,0,0-31.87-1.69h0a254,254,0,0,0-31.86,1.69,47,47,0,0,0-5.58,1l.82,3.91a42.8,42.8,0,0,1,5.26-1A252.6,252.6,0,0,1,95.71,132.41Z'/%3e%3c/svg%3e";

        bB="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .cls-1%7bfill:none;%7d.cls-2%7bfill:" + bColor + ";%7d.cls-3,.cls-4%7bopacity:0.2;%7d.cls-4%7bfill:%23fff;%7d.cls-5%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eb%3c/title%3e%3crect class='cls-1' width='180' height='180'/%3e%3cpath class='cls-2' d='M87.82,16.94a12.94,12.94,0,0,0-9.5,21.73A107,107,0,0,0,63.84,52.91C53,65.83,47.3,79.41,47.3,92.18c0,20.8,9.43,33.35,16.42,39.19-2.32.21-4.52.44-6.63.71-19.24,2.45-19.21,12.78-19.18,24.74v3.63H139.48v-3.63c0-12,.06-22.29-19.17-24.74-2.11-.27-4.31-.5-6.63-.71,7-5.84,16.42-18.39,16.42-39.19,0-20.46-13.49-35.94-22.13-44.54l-1.82-1.82L104.84,48c-1.5,2.53-8.82,14.46-9.13,44.61H82c.48-45,18-62,18.18-62.16l.65-.65-.07-.91a13,13,0,0,0-12.9-12Z'/%3e%3cpath class='cls-3' d='M115.68,57.6c22.72,55.13-27.07,71.83-27.07,71.83l25.07,1.94c-2.44,1.85,16-5.24,16-41.36A43.76,43.76,0,0,0,115.68,57.6Z'/%3e%3cpath class='cls-4' d='M81.45,38.77c-2.67-1.22-28.61,20.58-32.9,42.92-4,20.81,3.2,26.56,2.77,26.39,0-.13,2.78-45.8,32.83-68.11C84.15,40,83,39.47,81.45,38.77Z'/%3e%3cpath class='cls-4' d='M89.65,18.84c-4.34.39-11.78,6.67-12.4,15.35,0,0-6-5.57.06-12.49C82.05,16.24,89.65,18.84,89.65,18.84Z'/%3e%3cpath class='cls-4' d='M88.7,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.93-10.18-24.5-11.3-24.5-11.3H65.23s-23.36.81-24.66,11.3h.59S45.63,138.41,88.7,138.41Z'/%3e%3cpath class='cls-3' d='M86.73,57c1.84-5.06,14.08-29,14.08-29l-5.54-9.19-2.87.06c9.19,11.26-18,37-18,56.43,0,5.69,1.39,17.22,5.53,19.31C80,94.65,82.91,67.54,86.73,57Z'/%3e%3cpath class='cls-5' d='M87.82,18.94A10.94,10.94,0,0,1,98.73,29.07S80,46.81,80,94.65H97.7c0-29.93,7-42.36,8.86-45.59,9.46,9.42,21.54,24,21.54,43.12,0,26.23-15.31,38.41-20.33,40.76,4.33.27,8.43.63,12.29,1.12,18.25,2.33,17.42,11.29,17.42,24.39H39.92c0-13.1-.83-22.06,17.42-24.39,3.85-.49,8-.85,12.29-1.12-5-2.35-20.33-14.53-20.33-40.76,0-30.08,32.15-53.41,32.15-53.41a10.94,10.94,0,0,1,6.37-19.83m0-4A14.93,14.93,0,0,0,75.54,38.37,109.36,109.36,0,0,0,62.31,51.63c-11.13,13.28-17,27.3-17,40.55,0,18.39,7.2,30.63,13.88,37.63l-2.35.29c-21,2.67-20.95,14.35-20.92,26.73v5.62H141.48v-5.62c0-12.38.07-24.06-20.92-26.73-.77-.1-1.55-.2-2.34-.28,6.68-7,13.88-19.25,13.88-37.64,0-15.71-7.43-30.74-22.72-46l-3.65-3.63L103.12,47c-5.76,9.76-9,24.78-9.38,43.63H84c.5-21.46,5-36,8.75-44.55,4.32-9.79,8.7-14.09,8.74-14.13l1.35-1.3-.12-1.88a15,15,0,0,0-14.9-13.85Z'/%3e%3cpath class='cls-5' d='M88.7,132.41c9,0,17.15.28,24.57.93l1.91-3.84c-7.68-.73-16.4-1.09-26.48-1.09h0c-10.19,0-19,.36-26.73,1.11l1.18,3.91C70.83,132.72,79.34,132.41,88.7,132.41Z'/%3e%3c/svg%3e";

        bQ="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .cls-1%7bfill:none;%7d.cls-2%7bfill:" + bColor + ";%7d.cls-3,.cls-4%7bopacity:0.2;%7d.cls-4%7bfill:%23fff;%7d.cls-5%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eq%3c/title%3e%3crect class='cls-1' width='180' height='180'/%3e%3cpath class='cls-2' d='M111.12,20.62A14.63,14.63,0,0,0,96.51,35.23a13.92,13.92,0,0,0,5.41,10.93L90.54,79,79.15,46.16a13.92,13.92,0,0,0,5.41-10.93A14.63,14.63,0,0,0,70,20.62,14.46,14.46,0,0,0,55.34,35.23a13.67,13.67,0,0,0,9.22,13.16L62.73,87.11,47,70.32a13.77,13.77,0,0,0,2.25-6.95A14.22,14.22,0,0,0,35.45,49.43,13.9,13.9,0,0,0,21.51,63.37c0,6.6,5.45,12.86,11.57,13.69l23.06,55.46c-16.44,3.06-16.42,12.95-16.39,24.31v3.62H141.32v-3.61c0-11.37.06-21.26-16.39-24.32L148,77.06c6.13-.83,11.58-7.09,11.58-13.69a14,14,0,0,0-13.95-13.94,14.22,14.22,0,0,0-13.78,13.94,13.64,13.64,0,0,0,2.26,6.95L118.35,87.11l-1.83-38.73a13.88,13.88,0,0,0,9.21-13.15,14.45,14.45,0,0,0-14.61-14.61Z'/%3e%3cpath class='cls-3' d='M40.24,52.34c5.31,6.79-3.85,12.82,1.26,18.34L64.72,92.17l-17.4-23s2.2-5.64.81-9.8C45,50,40.24,52.34,40.24,52.34Z'/%3e%3cpath class='cls-4' d='M38.42,51.33c-4.81.45-12.22,5.85-13.92,16.84-.13.79-5.49-5,1.6-13.2C31.69,48.47,38.42,51.33,38.42,51.33Z'/%3e%3cpath class='cls-4' d='M148.84,51.33c-4.8.45-12.22,5.85-13.92,16.84-.12.79-5.48-5,1.61-13.2C142.11,48.47,148.84,51.33,148.84,51.33Z'/%3e%3cpath class='cls-4' d='M72.54,22.75c-5.14.53-13.22,6.79-14,19.44,0,0-5.29-7.36,1.72-15.68C65.78,20,72.54,22.75,72.54,22.75Z'/%3e%3cpath class='cls-4' d='M113.44,22.75c-5.14.53-13.22,6.79-14,19.44,0,0-5.28-7.36,1.72-15.68C106.69,20,113.44,22.75,113.44,22.75Z'/%3e%3cpath class='cls-4' d='M91.12,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.93-10.18-24.5-11.3-24.5-11.3H67.65s-23.36.81-24.66,11.3h.59S48.05,138.41,91.12,138.41Z'/%3e%3cpath class='cls-3' d='M116.2,112.83c-15.74,17-31.38,16.5-31.38,16.5l39.74,3.1,23.31-55.11s5.42-.62,9.46-7.34c6-9.94-5.53-17.09-5.53-17.09,3.61,4.19,3.08,11.15,0,14s-7.86,3.31-9.69,7.48C142.15,74.36,131.22,96.58,116.2,112.83Z'/%3e%3cpath class='cls-3' d='M116.83,23.36c7.64,10.53-6.88,14-6,23.56l5.75,45,0-43s10.08-6.11,9.18-13.42C124.37,24,116.83,23.36,116.83,23.36Z'/%3e%3cpath class='cls-3' d='M72.69,45.45,90.54,85.1,79.16,46.49s4.35-6.34,4.35-11.81c0-10.06-8.45-12-8.45-12C83.19,33.57,69.51,35.91,72.69,45.45Z'/%3e%3cpath class='cls-5' d='M145.63,47.43c-8.41,0-15.79,7.45-15.79,15.94A14.77,14.77,0,0,0,131.62,70l-11.5,12.26-1.54-32.58a16,16,0,0,0,9.15-14.48,16.43,16.43,0,0,0-16.61-16.61A16.63,16.63,0,0,0,94.51,35.23,16,16,0,0,0,99.58,46.8l-9,26.09L81.49,46.8a16,16,0,0,0,5.07-11.57A16.63,16.63,0,0,0,70,18.62,16.44,16.44,0,0,0,53.34,35.23,15.75,15.75,0,0,0,62.5,49.74L61,82.29,49.45,70a14.71,14.71,0,0,0,1.78-6.66c0-8.49-7.37-15.94-15.78-15.94A16,16,0,0,0,19.51,63.37,16.34,16.34,0,0,0,31.65,78.84l21.72,52.23c-15.68,3.87-15.65,14.54-15.62,25.77v5.61H143.32v-5.61c0-11.24.06-21.9-15.62-25.77l21.72-52.23a16.34,16.34,0,0,0,12.15-15.47A16,16,0,0,0,145.63,47.43Zm-6.31,111H41.76c0-13-.82-22,17.2-24.35l.58-.09a257.11,257.11,0,0,1,31.58-1.6,243.81,243.81,0,0,1,31,1.69C140.13,136.46,139.32,145.4,139.32,158.45Zm7.3-83.29-22.89,55-.75-.1a254,254,0,0,0-31.86-1.69A259,259,0,0,0,59,130c-.57.07-1.12.15-1.66.24L34.46,75.16c-5.48,0-10.95-5.65-10.95-11.79A11.89,11.89,0,0,1,35.45,51.43,12.2,12.2,0,0,1,47.23,63.37c0,3.72-2.82,7.14-2.82,7.14L64.5,91.92l2.14-45.07a11.61,11.61,0,0,1-9.3-11.62A12.41,12.41,0,0,1,70,22.62a12.6,12.6,0,0,1,12.6,12.61,11.85,11.85,0,0,1-5.8,10.12L90.54,85.1l13.78-39.75a11.86,11.86,0,0,1-5.81-10.12,12.61,12.61,0,0,1,12.61-12.61,12.4,12.4,0,0,1,12.61,12.61,11.72,11.72,0,0,1-9.29,11.62l2.14,45.07,20.08-21.41s-2.82-3.4-2.82-7.14a12.2,12.2,0,0,1,11.79-11.94,11.89,11.89,0,0,1,11.94,11.94C157.57,69.51,152.1,75.16,146.62,75.16Z'/%3e%3c/svg%3e";

        bK="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .cls-1%7bfill:none;%7d.cls-2%7bfill:" + bColor + ";%7d.cls-3,.cls-4%7bfill:%23fff;%7d.cls-3%7bopacity:0.3;%7d.cls-4,.cls-5%7bopacity:0.2;%7d.cls-6%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3ek%3c/title%3e%3crect class='cls-1' width='180' height='180'/%3e%3cpath class='cls-2' d='M149.17,61.56a31.76,31.76,0,0,0-23-9.27c-11.63,0-19.33,3.41-23.56,6.06L99.67,45.52h11.68v-18h-12v-12h-18v12h-12v18H81L78.1,58.35c-4.22-2.65-11.93-6.06-23.55-6.06a31.75,31.75,0,0,0-23,9.27c-5.87,6-9.1,14.48-9.1,23.86,0,13.61,8.68,22.27,17.08,30.65,5.17,5.15,10.49,10.46,14,17-14,3.54-13.92,13-13.9,23.79v3.6H141.13v-3.6c0-10.82.05-20.25-13.89-23.79,3.45-6.53,8.78-11.84,13.94-17,8.4-8.38,17.09-17,17.09-30.65C158.27,76,155,67.57,149.17,61.56ZM128.51,89c-.92,6.43-10.42,12.08-16.78,20.2-3.2-.21-5.17-.38-7.87-.49V83.74s8-5.71,14.43-5.71C118.29,78,130,78.44,128.51,89ZM62.49,78c6.44,0,14.43,5.71,14.43,5.71v24.92c-2.71.11-4.67.28-7.87.49C62.68,101,53.19,95.38,52.27,89,50.77,78.44,62.49,78,62.49,78Z'/%3e%3cpolygon class='cls-3' points='111.35 31.52 95.39 31.52 98.39 28.29 111.35 28.29 111.35 31.52'/%3e%3cpolygon class='cls-3' points='95.35 19.52 85.35 19.52 85.35 31.52 73.35 31.52 73.35 41.52 69.35 45.52 69.35 27.52 81.35 27.52 81.35 15.53 99.35 15.53 95.35 19.52'/%3e%3cpath class='cls-4' d='M90.35,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.94-10.18-24.5-11.3-24.5-11.3H66.88s-23.36.81-24.66,11.3h.59S47.28,138.41,90.35,138.41Z'/%3e%3cpath class='cls-4' d='M64.07,54.82S42.88,47.58,29.8,63.54c-18.12,22.1,2.35,43.09,2.35,43.09C18.85,82.28,33.32,53.46,64.07,54.82Z'/%3e%3cpath class='cls-5' d='M144.56,101.34l-29.69,29.78,12.37,1.94a96.69,96.69,0,0,1,15.24-18.69c9.87-9.5,15.77-15.91,15.77-31.56,0-11.49-5.79-16.61-10.95-20.77C147.3,62,159.81,86.09,144.56,101.34Z'/%3e%3cpath class='cls-6' d='M62.41,79.79a19.36,19.36,0,0,1,11.94,4.63v22.44l-4.95.28C66.81,104.05,64.29,101.4,62,99c-4.8-5-8.27-8.69-8.27-12,0-5.33,4.47-7.23,8.65-7.23m0-4c-7,0-12.65,4.06-12.65,11.23s8.81,13,17.84,24.22c0,0,8.3-.47,10.75-.57V82.61a23.74,23.74,0,0,0-15.94-6.82Z'/%3e%3cpath class='cls-6' d='M90.35,132.41a252.6,252.6,0,0,1,31.36,1.65,43.48,43.48,0,0,1,5.16,1l.67-4a46.89,46.89,0,0,0-5.33-1,254,254,0,0,0-31.86-1.69h0a254.29,254.29,0,0,0-31.87,1.69,47.37,47.37,0,0,0-5.58,1l.83,3.91a42.45,42.45,0,0,1,5.26-1A252.6,252.6,0,0,1,90.35,132.41Z'/%3e%3cpath class='cls-6' d='M97.35,17.52v12h12v14h-12l3.75,16.63a56,56,0,0,1,25.05-5.86c17.4,0,30.12,12.73,30.12,31.13,0,21.75-23.46,29.87-31.94,49.05,15.53,2.84,14.8,11.54,14.8,24H41.57c0-12.44-.74-21.14,14.8-24-8.49-19.18-31.94-27.3-31.94-49,0-18.4,12.72-31.13,30.12-31.13a58.23,58.23,0,0,1,25,5.58l3.75-16.35h-12v-14h12v-12h14m4-4h-22v12h-12v22h11L76.77,54.3a64.5,64.5,0,0,0-22.22-4c-19.77,0-34.12,14.78-34.12,35.13,0,14.44,9,23.4,17.67,32.06,4.47,4.46,9.06,9,12.36,14.37-5.23,1.78-8.67,4.62-10.67,8.74-2.26,4.63-2.24,10-2.23,16.26v5.6H143.13v-5.6c0-10.57.06-20.62-12.89-25,3.29-5.33,7.89-9.91,12.36-14.37,8.68-8.66,17.67-17.62,17.67-32.06,0-20.35-14.35-35.13-34.12-35.13a62.21,62.21,0,0,0-22.23,4.2l-1.57-7h11v-22h-12v-12Z'/%3e%3cpath class='cls-6' d='M118.28,79.79c4.19,0,8.65,1.9,8.65,7.23,0,3.32-3.46,7-8.26,12-2.27,2.37-4.79,5-7.38,8.11l-4.94-.28V84.42a19.31,19.31,0,0,1,11.93-4.63m0-4a23.72,23.72,0,0,0-15.93,6.82v28.06c2.45.1,10.74.57,10.74.57,9-11.2,17.84-16.92,17.84-24.22s-5.62-11.23-12.65-11.23Z'/%3e%3c/svg%3e";

        wP="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .cls-1%7bfill:none;%7d.cls-2%7bfill:" + wColor + ";%7d.cls-3,.cls-4%7bopacity:0.2;%7d.cls-4%7bfill:%23fff;%7d.cls-5%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3ep%3c/title%3e%3crect class='cls-1' width='180' height='180'/%3e%3cpath class='cls-2' d='M89.94,41.92a23,23,0,0,0-14.24,41L63.79,90.75l-.9.59v1.08a12.17,12.17,0,0,0,2,6.93l.39.72.57,1.05H77.13c-.49,5.61-2,19.66-20,31-8,5-12.66,14.66-12.66,26.36v2h91v-2c0-11.7-4.62-21.31-12.67-26.36-17.94-11.28-19.5-25.36-20-31H114l.57-1.05.39-.72a12.17,12.17,0,0,0,2-6.93V91.34l-.9-.59-11.91-7.86a23,23,0,0,0-14.24-41Z'/%3e%3cpath class='cls-3' d='M115.16,127.11c-10.76-7.52-11.49-22.19-12.18-25.54l10.85,0,3.87-9s-11.41-9.29-17-9.46l2.75,0s8.21-6.84,8.92-12.88C115.25,46.21,96.3,43,96.3,43c8.58,4.29,15.07,18.92,7.34,29.82C98.12,80.61,87.34,83,87.34,83h13.3c.16.14,9.38,10-.1,16.16H65.12l.45,2.5,11.45,0S90.26,115,101.23,125.37c10.53,9.93,26.51,11.31,26.51,11.31S120.63,130.94,115.16,127.11Z'/%3e%3cpath class='cls-4' d='M75,92.42C75.6,88,79.14,83,79.24,83L62.47,92.42Z'/%3e%3cpath class='cls-4' d='M92.05,44c-8,.72-20.82,10.3-22.32,30,0,0-8.08-11.62,3.06-24.45C81.56,39.5,92.05,44,92.05,44Z'/%3e%3cpath class='cls-4' d='M46.45,158.45C50.8,144.15,57,142.3,68.3,134c7.54-5.48,8.55-22,8.55-22,.18-.86-3.84,6.67-8.12,10.4-1.41,1.22-11,7.84-15.07,12.17C46.55,142.07,45.61,161.19,46.45,158.45Z'/%3e%3cpath class='cls-5' d='M89.94,43.92a21,21,0,0,1,11.79,38.29l-1.09.75L115,92.42c0,3.06-.72,4-2.15,6.7h-12.3l.1,1c.49,4.57.8,20.93,21.06,33.66,7.45,4.68,11.73,13.68,11.73,24.67h-87c0-11,4.27-20,11.73-24.67,20.3-12.76,20.58-29.1,21.06-33.66l.1-1H67c-1.42-2.65-2.15-3.64-2.15-6.7L79.24,83l-1.09-.74a21,21,0,0,1,11.79-38.3m0-4A25,25,0,0,0,72.42,82.66l-9.73,6.42-1.8,1.19v2.15a14.13,14.13,0,0,0,2.24,7.89l.39.71,1.13,2.1H74.88c-2.49,17-14.27,24.41-18.83,27.27-8.65,5.43-13.6,15.66-13.6,28.06v4h95v-4c0-12.4-5-22.63-13.6-28.06-15.11-9.49-18-21-18.86-27.27h10.26l1.13-2.1.39-.71A14.13,14.13,0,0,0,119,92.42V90.27l-1.8-1.19-9.73-6.42A25,25,0,0,0,89.94,39.92Z'/%3e%3c/svg%3e";

        wR="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .clsR-1%7bfill:" + wColor + ";%7d.clsR-2,.clsR-3%7bfill:%23fff;%7d.clsR-2,.clsR-4%7bopacity:0.2;%7d.clsR-3%7bopacity:0.3;%7d.clsR-5%7bfill:%231a1a1a;%7d.clsR-6%7bfill:none;%7d%3c/style%3e%3c/defs%3e%3ctitle%3er%3c/title%3e%3cpath class='clsR-1' d='M90,30.87a92.56,92.56,0,0,0-10.56.85l-1.45.2-.25,1.44L74.87,50.28H70L64.84,35.53l-.47-1.34H63a31.07,31.07,0,0,0-14.88,3.72l-1.15.62.1,1.31L48.68,60v.1c1,7.21,4.68,11.7,11.93,14.38-1,8.58-5.74,48.89-6.95,58.44-14.51,3.42-14.49,12.94-14.46,23.92v3.62H140.78v-3.62c0-11,.06-20.5-14.46-23.92-1.2-9.55-5.94-49.86-6.95-58.44,7.26-2.68,11-7.17,11.94-14.38V60L133,39.84l.11-1.31-1.15-.62A31.08,31.08,0,0,0,117,34.19h-1.41l-.47,1.34L110,50.28h-4.85l-2.87-16.92L102,31.92l-1.45-.2A92.56,92.56,0,0,0,90,30.87Z'/%3e%3cpath class='clsR-2' d='M90,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.93-10.18-24.49-11.3-24.49-11.3H66.53s-23.36.81-24.66,11.3h.59S46.93,138.41,90,138.41Z'/%3e%3cpath class='clsR-3' d='M60,34.43c-10.75,7.36-6.7,34.9-6.7,34.9-6.85-2.21-6.7-31.73-6.7-31.73S63.08,32.34,60,34.43Z'/%3e%3cpath class='clsR-3' d='M93.18,32.26c-12,2.19-16.62,19.64-16.62,19.64.8-13,3.52-20.54,3.52-20.54S96.59,31.63,93.18,32.26Z'/%3e%3cpath class='clsR-3' d='M125.15,35.88c-7.77,4.11-13.75,16-13.75,16-.44-4.24,5.47-19,5.47-19S128.05,34.35,125.15,35.88Z'/%3e%3cpath class='clsR-4' d='M123.87,72.17c10.62.24,8.73-32.78,8.73-32.78l-6.36-4c-1.76,10.55-4,26.9-9.16,31.43-4.71,4.15-7.59,5.12-8.31,5.3-1.37-.17-2.83-.33-4.43-.47-14.5-1.32-35.6,2.82-35.6,2.82s21.37-1.3,32.3,12.42,12,43.37,12,43.37c7.16,1.33,12.49,2.8,12.49,2.8l-6.73-57.46S122.46,72.14,123.87,72.17Z'/%3e%3cpath class='clsR-5' d='M140.65,140.76c-2.2-4.67-6.21-7.71-12.51-9.45-1.35-10.88-5.36-45-6.6-55.54,7.06-3,10.73-7.87,11.75-15.41v-.21L135,40l.21-2.61-2.3-1.24a33.05,33.05,0,0,0-15.84-4h-3.19l-.71,3.12-2.93,13H105l-1.74-15-.35-3-3-.49A72.25,72.25,0,0,0,90,28.87a72.06,72.06,0,0,0-9.94.88l-3,.49-.35,3L75,48.28h-5.2l-2.93-13-.71-3.12H63a33,33,0,0,0-15.83,4l-2.3,1.24L45,40l1.66,20.15v.21c1,7.54,4.68,12.39,11.75,15.41-1.24,10.54-5.26,44.66-6.6,55.54-6.31,1.74-10.32,4.78-12.51,9.45s-2.15,9.91-2.14,16.07v5.62H142.78v-5.62C142.8,150.68,142.81,145.36,140.65,140.76Zm-90-80.94L49,39.67A28.93,28.93,0,0,1,63,36.19L66.6,52.28h12L80.71,33.7A67.28,67.28,0,0,1,90,32.87a67.28,67.28,0,0,1,9.29.83l2.15,18.58h12L117,36.19A29,29,0,0,1,131,39.67l-1.66,20.15c-.77,5.74-3.29,10-10.52,12.73A234.34,234.34,0,0,0,90,70a234.67,234.67,0,0,0-28.8,2.54C54,69.84,51.45,65.56,50.67,59.82Zm11.74,16.6A231,231,0,0,1,90,74a230.47,230.47,0,0,1,27.59,2.41c1.21,10.31,4.93,41.88,6.41,54-.69-.12-1.4-.23-2.14-.32A254,254,0,0,0,90,128.41a254,254,0,0,0-31.86,1.69c-.75.09-1.45.2-2.14.32C57.48,118.3,61.2,86.73,62.41,76.42Zm76.37,82H41.22c0-11.85-.67-20.31,12.69-23.53l.34-.09,1-.21c1-.22,2.16-.4,3.37-.56A252.6,252.6,0,0,1,90,132.41a252.6,252.6,0,0,1,31.36,1.65c1.18.15,2.28.34,3.31.54l1.1.24.23,0C139.45,138.1,138.78,146.58,138.78,158.45Z'/%3e%3crect class='clsR-6' width='180' height='180'/%3e%3c/svg%3e";

        wN="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .clsN-1%7bfill:none;%7d.clsN-2%7bfill:" + wColor + ";%7d.clsN-3,.clsN-5%7bfill:%23fff;%7d.clsN-3,.clsN-4%7bopacity:0.2;%7d.clsN-6%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3en%3c/title%3e%3crect class='clsN-1' width='180' height='180'/%3e%3cpath class='clsN-2' d='M73.07,20.25h-.83c-2.72,0-5.43,2.48-6.16,5.64l-1.45,6.88c-1.32,3.14-3.54,5.36-7.13,8.32a19.11,19.11,0,0,0-6.06,8.69l-.17.42c-.9,2.29-1.56,4.3-2.16,6.07A43.59,43.59,0,0,1,43,69.12L31.37,85.5c-3.62,4.51-3.22,10.76.92,14.27s14.4,6.3,17.9,6.3a3.37,3.37,0,0,0,2.42-.78,24.78,24.78,0,0,0,3.7-4.85c2.31-3.6,4-6.2,9.93-6.23,8.73,0,16.28-7.95,19.91-11.76l0,0,0,0,2.18-2.52c1.46,2.33,3.14,6.13,2,10.11a16.46,16.46,0,0,1-2.3,4.79,40.35,40.35,0,0,1-8,8l-.19.16c-7.52,6.08-20,16.15-22.08,30.28-13.33,3.64-13.3,12.93-13.27,23.62v3.61H146.1v-3.6c0-10.69.06-20-13.28-23.63.41-1.59,1-3.64,1.64-5.9,2.63-9.24,6.24-21.9,6.24-30.2,0-19.56-6.19-36-17.89-47.47A59,59,0,0,0,86.05,33.21L73.66,20.84l-.59-.59Z'/%3e%3cpath class='clsN-3' d='M95.71,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.93-10.18-24.49-11.3-24.49-11.3H72.24s-23.36.81-24.66,11.3h.59S52.64,138.41,95.71,138.41Z'/%3e%3cg class='clsN-4'%3e%3cpath class='clsN-5' d='M69.64,40.21c8.06-5,2.6-18,2.6-18a5,5,0,0,0-5,4l-1.46,6.92c-1.41,3.38-3.71,5.7-7.46,8.8a18,18,0,0,0-5.76,8.26l-.16.42c-.89,2.26-1.52,4.17-2.14,6a44.74,44.74,0,0,1-6.22,13.1L32.42,86.14c-.15.15-.3.31-.44.47a6,6,0,0,0-1,7.74S50,70.9,52.49,67.61C57,61.63,54.16,49.84,69.64,40.21Z'/%3e%3c/g%3e%3cpath class='clsN-6' d='M70.78,49.77c-5.23,2.14-6.64,11.09-6.64,11.09,5.08-4.42,7.53.65,12.59-3.36C81,54.16,75.9,47.67,70.78,49.77Z'/%3e%3cpath class='clsN-4' d='M94.87,66.07c-1.82,3.49-6.33,10.57-6.33,10.57s-.47,1.43-1.05,3.46c0,0,2.08-.23,2.47,6.39.1,1.72.93,7.76,2,5.18C95,84.23,97.14,75.23,97.1,72.18S96.68,62.58,94.87,66.07Z'/%3e%3cpath class='clsN-4' d='M85.17,35.15S126,40.22,126,79.26c0,26.14-17.38,33.44-22,51,0,0,19.33.15,27.88,4.19,0,0,9.18-24.84,9.18-39.56C141.05,79.83,129.61,34,85.17,35.15Z'/%3e%3cpath class='clsN-4' d='M70.12,92.2c-9.11-4.47-11.41-9.79-14.91.72-3.4,10.18-8.55,11.93-5.09,13s7.74-10.45,10.77-10.64S73.53,93.87,70.12,92.2Z'/%3e%3cpath class='clsN-6' d='M72.24,22.25l12.93,12.9c25.26,1.71,53.53,20.1,53.53,62,0,11.12-7,31.49-8.29,37.57,14.39,3.05,13.69,11.63,13.69,23.76H46.54c0-12-.68-20.47,13.08-23.63C61,120.66,74,110.31,81.34,104.33a41.62,41.62,0,0,0,8.41-8.44,18.34,18.34,0,0,0,2.57-5.37c1.82-6.37-2.3-12.09-3.78-13.88l-3.83,4.43C80.85,85.12,74,92.18,66.23,92.21c-10.05.05-10.29,7.09-15,11.65a1.69,1.69,0,0,1-1,.21c-3.27,0-12.92-2.68-16.61-5.82-3.22-2.74-3.64-7.82-.62-11.54l11.7-16.46c5.23-7.6,5.46-11.65,8.48-19.32a17.36,17.36,0,0,1,5.64-8.3c3.81-3.15,6.28-5.61,7.77-9.27l1.48-7c.5-2.16,2.39-4.09,4.21-4.09m1.66-4H72.24c-3.68,0-7.16,3.09-8.11,7.19v.08l-1.39,6.64c-1.18,2.68-3.14,4.62-6.49,7.39a20.82,20.82,0,0,0-6.66,9.51l-.16.41c-.92,2.34-1.6,4.37-2.19,6.17A41.6,41.6,0,0,1,41.38,68L29.77,84.3C25.52,89.65,26,97.09,31,101.3c4.6,3.91,15.36,6.77,19.2,6.77A5.36,5.36,0,0,0,54,106.73a27.63,27.63,0,0,0,4-5.21c2.18-3.41,3.38-5.28,8.25-5.31,9.58,0,17.53-8.37,21.35-12.38l.07-.07.06-.07L88,83.4a9.35,9.35,0,0,1,.49,6,14.14,14.14,0,0,1-2,4.21,38.38,38.38,0,0,1-7.63,7.59l-.19.16c-7.53,6.1-19.83,16.06-22.58,30.27-5.78,1.84-9.58,5-11.57,9.54s-2,9.68-1.94,15.66v5.6H148.1v-5.6c0-6.07,0-11.32-2-15.88-2-4.32-5.44-7.28-10.8-9.1.33-1.2.71-2.56,1.13-4,2.66-9.36,6.31-22.17,6.31-30.75C142.7,55,115,33.84,87,31.28L75.07,19.42,73.9,18.25Z'/%3e%3cpath class='clsN-6' d='M95.71,132.41a252.5,252.5,0,0,1,31.36,1.65,43.67,43.67,0,0,1,5.17,1l.66-4a46.29,46.29,0,0,0-5.32-1,254.17,254.17,0,0,0-31.87-1.69h0a254,254,0,0,0-31.86,1.69,47,47,0,0,0-5.58,1l.82,3.91a42.8,42.8,0,0,1,5.26-1A252.6,252.6,0,0,1,95.71,132.41Z'/%3e%3c/svg%3e";

        wB="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .cls-1%7bfill:none;%7d.cls-2%7bfill:" + wColor + ";%7d.cls-3,.cls-4%7bopacity:0.2;%7d.cls-4%7bfill:%23fff;%7d.cls-5%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eb%3c/title%3e%3crect class='cls-1' width='180' height='180'/%3e%3cpath class='cls-2' d='M87.82,16.94a12.94,12.94,0,0,0-9.5,21.73A107,107,0,0,0,63.84,52.91C53,65.83,47.3,79.41,47.3,92.18c0,20.8,9.43,33.35,16.42,39.19-2.32.21-4.52.44-6.63.71-19.24,2.45-19.21,12.78-19.18,24.74v3.63H139.48v-3.63c0-12,.06-22.29-19.17-24.74-2.11-.27-4.31-.5-6.63-.71,7-5.84,16.42-18.39,16.42-39.19,0-20.46-13.49-35.94-22.13-44.54l-1.82-1.82L104.84,48c-1.5,2.53-8.82,14.46-9.13,44.61H82c.48-45,18-62,18.18-62.16l.65-.65-.07-.91a13,13,0,0,0-12.9-12Z'/%3e%3cpath class='cls-3' d='M115.68,57.6c22.72,55.13-27.07,71.83-27.07,71.83l25.07,1.94c-2.44,1.85,16-5.24,16-41.36A43.76,43.76,0,0,0,115.68,57.6Z'/%3e%3cpath class='cls-4' d='M81.45,38.77c-2.67-1.22-28.61,20.58-32.9,42.92-4,20.81,3.2,26.56,2.77,26.39,0-.13,2.78-45.8,32.83-68.11C84.15,40,83,39.47,81.45,38.77Z'/%3e%3cpath class='cls-4' d='M89.65,18.84c-4.34.39-11.78,6.67-12.4,15.35,0,0-6-5.57.06-12.49C82.05,16.24,89.65,18.84,89.65,18.84Z'/%3e%3cpath class='cls-4' d='M88.7,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.93-10.18-24.5-11.3-24.5-11.3H65.23s-23.36.81-24.66,11.3h.59S45.63,138.41,88.7,138.41Z'/%3e%3cpath class='cls-3' d='M86.73,57c1.84-5.06,14.08-29,14.08-29l-5.54-9.19-2.87.06c9.19,11.26-18,37-18,56.43,0,5.69,1.39,17.22,5.53,19.31C80,94.65,82.91,67.54,86.73,57Z'/%3e%3cpath class='cls-5' d='M87.82,18.94A10.94,10.94,0,0,1,98.73,29.07S80,46.81,80,94.65H97.7c0-29.93,7-42.36,8.86-45.59,9.46,9.42,21.54,24,21.54,43.12,0,26.23-15.31,38.41-20.33,40.76,4.33.27,8.43.63,12.29,1.12,18.25,2.33,17.42,11.29,17.42,24.39H39.92c0-13.1-.83-22.06,17.42-24.39,3.85-.49,8-.85,12.29-1.12-5-2.35-20.33-14.53-20.33-40.76,0-30.08,32.15-53.41,32.15-53.41a10.94,10.94,0,0,1,6.37-19.83m0-4A14.93,14.93,0,0,0,75.54,38.37,109.36,109.36,0,0,0,62.31,51.63c-11.13,13.28-17,27.3-17,40.55,0,18.39,7.2,30.63,13.88,37.63l-2.35.29c-21,2.67-20.95,14.35-20.92,26.73v5.62H141.48v-5.62c0-12.38.07-24.06-20.92-26.73-.77-.1-1.55-.2-2.34-.28,6.68-7,13.88-19.25,13.88-37.64,0-15.71-7.43-30.74-22.72-46l-3.65-3.63L103.12,47c-5.76,9.76-9,24.78-9.38,43.63H84c.5-21.46,5-36,8.75-44.55,4.32-9.79,8.7-14.09,8.74-14.13l1.35-1.3-.12-1.88a15,15,0,0,0-14.9-13.85Z'/%3e%3cpath class='cls-5' d='M88.7,132.41c9,0,17.15.28,24.57.93l1.91-3.84c-7.68-.73-16.4-1.09-26.48-1.09h0c-10.19,0-19,.36-26.73,1.11l1.18,3.91C70.83,132.72,79.34,132.41,88.7,132.41Z'/%3e%3c/svg%3e";

        wQ="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .cls-1%7bfill:none;%7d.cls-2%7bfill:" + wColor + ";%7d.cls-3,.cls-4%7bopacity:0.2;%7d.cls-4%7bfill:%23fff;%7d.cls-5%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eq%3c/title%3e%3crect class='cls-1' width='180' height='180'/%3e%3cpath class='cls-2' d='M111.12,20.62A14.63,14.63,0,0,0,96.51,35.23a13.92,13.92,0,0,0,5.41,10.93L90.54,79,79.15,46.16a13.92,13.92,0,0,0,5.41-10.93A14.63,14.63,0,0,0,70,20.62,14.46,14.46,0,0,0,55.34,35.23a13.67,13.67,0,0,0,9.22,13.16L62.73,87.11,47,70.32a13.77,13.77,0,0,0,2.25-6.95A14.22,14.22,0,0,0,35.45,49.43,13.9,13.9,0,0,0,21.51,63.37c0,6.6,5.45,12.86,11.57,13.69l23.06,55.46c-16.44,3.06-16.42,12.95-16.39,24.31v3.62H141.32v-3.61c0-11.37.06-21.26-16.39-24.32L148,77.06c6.13-.83,11.58-7.09,11.58-13.69a14,14,0,0,0-13.95-13.94,14.22,14.22,0,0,0-13.78,13.94,13.64,13.64,0,0,0,2.26,6.95L118.35,87.11l-1.83-38.73a13.88,13.88,0,0,0,9.21-13.15,14.45,14.45,0,0,0-14.61-14.61Z'/%3e%3cpath class='cls-3' d='M40.24,52.34c5.31,6.79-3.85,12.82,1.26,18.34L64.72,92.17l-17.4-23s2.2-5.64.81-9.8C45,50,40.24,52.34,40.24,52.34Z'/%3e%3cpath class='cls-4' d='M38.42,51.33c-4.81.45-12.22,5.85-13.92,16.84-.13.79-5.49-5,1.6-13.2C31.69,48.47,38.42,51.33,38.42,51.33Z'/%3e%3cpath class='cls-4' d='M148.84,51.33c-4.8.45-12.22,5.85-13.92,16.84-.12.79-5.48-5,1.61-13.2C142.11,48.47,148.84,51.33,148.84,51.33Z'/%3e%3cpath class='cls-4' d='M72.54,22.75c-5.14.53-13.22,6.79-14,19.44,0,0-5.29-7.36,1.72-15.68C65.78,20,72.54,22.75,72.54,22.75Z'/%3e%3cpath class='cls-4' d='M113.44,22.75c-5.14.53-13.22,6.79-14,19.44,0,0-5.28-7.36,1.72-15.68C106.69,20,113.44,22.75,113.44,22.75Z'/%3e%3cpath class='cls-4' d='M91.12,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.93-10.18-24.5-11.3-24.5-11.3H67.65s-23.36.81-24.66,11.3h.59S48.05,138.41,91.12,138.41Z'/%3e%3cpath class='cls-3' d='M116.2,112.83c-15.74,17-31.38,16.5-31.38,16.5l39.74,3.1,23.31-55.11s5.42-.62,9.46-7.34c6-9.94-5.53-17.09-5.53-17.09,3.61,4.19,3.08,11.15,0,14s-7.86,3.31-9.69,7.48C142.15,74.36,131.22,96.58,116.2,112.83Z'/%3e%3cpath class='cls-3' d='M116.83,23.36c7.64,10.53-6.88,14-6,23.56l5.75,45,0-43s10.08-6.11,9.18-13.42C124.37,24,116.83,23.36,116.83,23.36Z'/%3e%3cpath class='cls-3' d='M72.69,45.45,90.54,85.1,79.16,46.49s4.35-6.34,4.35-11.81c0-10.06-8.45-12-8.45-12C83.19,33.57,69.51,35.91,72.69,45.45Z'/%3e%3cpath class='cls-5' d='M145.63,47.43c-8.41,0-15.79,7.45-15.79,15.94A14.77,14.77,0,0,0,131.62,70l-11.5,12.26-1.54-32.58a16,16,0,0,0,9.15-14.48,16.43,16.43,0,0,0-16.61-16.61A16.63,16.63,0,0,0,94.51,35.23,16,16,0,0,0,99.58,46.8l-9,26.09L81.49,46.8a16,16,0,0,0,5.07-11.57A16.63,16.63,0,0,0,70,18.62,16.44,16.44,0,0,0,53.34,35.23,15.75,15.75,0,0,0,62.5,49.74L61,82.29,49.45,70a14.71,14.71,0,0,0,1.78-6.66c0-8.49-7.37-15.94-15.78-15.94A16,16,0,0,0,19.51,63.37,16.34,16.34,0,0,0,31.65,78.84l21.72,52.23c-15.68,3.87-15.65,14.54-15.62,25.77v5.61H143.32v-5.61c0-11.24.06-21.9-15.62-25.77l21.72-52.23a16.34,16.34,0,0,0,12.15-15.47A16,16,0,0,0,145.63,47.43Zm-6.31,111H41.76c0-13-.82-22,17.2-24.35l.58-.09a257.11,257.11,0,0,1,31.58-1.6,243.81,243.81,0,0,1,31,1.69C140.13,136.46,139.32,145.4,139.32,158.45Zm7.3-83.29-22.89,55-.75-.1a254,254,0,0,0-31.86-1.69A259,259,0,0,0,59,130c-.57.07-1.12.15-1.66.24L34.46,75.16c-5.48,0-10.95-5.65-10.95-11.79A11.89,11.89,0,0,1,35.45,51.43,12.2,12.2,0,0,1,47.23,63.37c0,3.72-2.82,7.14-2.82,7.14L64.5,91.92l2.14-45.07a11.61,11.61,0,0,1-9.3-11.62A12.41,12.41,0,0,1,70,22.62a12.6,12.6,0,0,1,12.6,12.61,11.85,11.85,0,0,1-5.8,10.12L90.54,85.1l13.78-39.75a11.86,11.86,0,0,1-5.81-10.12,12.61,12.61,0,0,1,12.61-12.61,12.4,12.4,0,0,1,12.61,12.61,11.72,11.72,0,0,1-9.29,11.62l2.14,45.07,20.08-21.41s-2.82-3.4-2.82-7.14a12.2,12.2,0,0,1,11.79-11.94,11.89,11.89,0,0,1,11.94,11.94C157.57,69.51,152.1,75.16,146.62,75.16Z'/%3e%3c/svg%3e";

        wK="data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 180 180' style='enable-background:new 0 0 180 180;' xml:space='preserve'%3e%3cdefs%3e%3cstyle%3e .cls-1%7bfill:none;%7d.cls-2%7bfill:" + wColor + ";%7d.cls-3,.cls-4%7bfill:%23fff;%7d.cls-3%7bopacity:0.3;%7d.cls-4,.cls-5%7bopacity:0.2;%7d.cls-6%7bfill:%231a1a1a;%7d%3c/style%3e%3c/defs%3e%3ctitle%3ek%3c/title%3e%3crect class='cls-1' width='180' height='180'/%3e%3cpath class='cls-2' d='M149.17,61.56a31.76,31.76,0,0,0-23-9.27c-11.63,0-19.33,3.41-23.56,6.06L99.67,45.52h11.68v-18h-12v-12h-18v12h-12v18H81L78.1,58.35c-4.22-2.65-11.93-6.06-23.55-6.06a31.75,31.75,0,0,0-23,9.27c-5.87,6-9.1,14.48-9.1,23.86,0,13.61,8.68,22.27,17.08,30.65,5.17,5.15,10.49,10.46,14,17-14,3.54-13.92,13-13.9,23.79v3.6H141.13v-3.6c0-10.82.05-20.25-13.89-23.79,3.45-6.53,8.78-11.84,13.94-17,8.4-8.38,17.09-17,17.09-30.65C158.27,76,155,67.57,149.17,61.56ZM128.51,89c-.92,6.43-10.42,12.08-16.78,20.2-3.2-.21-5.17-.38-7.87-.49V83.74s8-5.71,14.43-5.71C118.29,78,130,78.44,128.51,89ZM62.49,78c6.44,0,14.43,5.71,14.43,5.71v24.92c-2.71.11-4.67.28-7.87.49C62.68,101,53.19,95.38,52.27,89,50.77,78.44,62.49,78,62.49,78Z'/%3e%3cpolygon class='cls-3' points='111.35 31.52 95.39 31.52 98.39 28.29 111.35 28.29 111.35 31.52'/%3e%3cpolygon class='cls-3' points='95.35 19.52 85.35 19.52 85.35 31.52 73.35 31.52 73.35 41.52 69.35 45.52 69.35 27.52 81.35 27.52 81.35 15.53 99.35 15.53 95.35 19.52'/%3e%3cpath class='cls-4' d='M90.35,138.41c43.07,0,47.54,4.75,47.54,4.75h.59c-1.94-10.18-24.5-11.3-24.5-11.3H66.88s-23.36.81-24.66,11.3h.59S47.28,138.41,90.35,138.41Z'/%3e%3cpath class='cls-4' d='M64.07,54.82S42.88,47.58,29.8,63.54c-18.12,22.1,2.35,43.09,2.35,43.09C18.85,82.28,33.32,53.46,64.07,54.82Z'/%3e%3cpath class='cls-5' d='M144.56,101.34l-29.69,29.78,12.37,1.94a96.69,96.69,0,0,1,15.24-18.69c9.87-9.5,15.77-15.91,15.77-31.56,0-11.49-5.79-16.61-10.95-20.77C147.3,62,159.81,86.09,144.56,101.34Z'/%3e%3cpath class='cls-6' d='M62.41,79.79a19.36,19.36,0,0,1,11.94,4.63v22.44l-4.95.28C66.81,104.05,64.29,101.4,62,99c-4.8-5-8.27-8.69-8.27-12,0-5.33,4.47-7.23,8.65-7.23m0-4c-7,0-12.65,4.06-12.65,11.23s8.81,13,17.84,24.22c0,0,8.3-.47,10.75-.57V82.61a23.74,23.74,0,0,0-15.94-6.82Z'/%3e%3cpath class='cls-6' d='M90.35,132.41a252.6,252.6,0,0,1,31.36,1.65,43.48,43.48,0,0,1,5.16,1l.67-4a46.89,46.89,0,0,0-5.33-1,254,254,0,0,0-31.86-1.69h0a254.29,254.29,0,0,0-31.87,1.69,47.37,47.37,0,0,0-5.58,1l.83,3.91a42.45,42.45,0,0,1,5.26-1A252.6,252.6,0,0,1,90.35,132.41Z'/%3e%3cpath class='cls-6' d='M97.35,17.52v12h12v14h-12l3.75,16.63a56,56,0,0,1,25.05-5.86c17.4,0,30.12,12.73,30.12,31.13,0,21.75-23.46,29.87-31.94,49.05,15.53,2.84,14.8,11.54,14.8,24H41.57c0-12.44-.74-21.14,14.8-24-8.49-19.18-31.94-27.3-31.94-49,0-18.4,12.72-31.13,30.12-31.13a58.23,58.23,0,0,1,25,5.58l3.75-16.35h-12v-14h12v-12h14m4-4h-22v12h-12v22h11L76.77,54.3a64.5,64.5,0,0,0-22.22-4c-19.77,0-34.12,14.78-34.12,35.13,0,14.44,9,23.4,17.67,32.06,4.47,4.46,9.06,9,12.36,14.37-5.23,1.78-8.67,4.62-10.67,8.74-2.26,4.63-2.24,10-2.23,16.26v5.6H143.13v-5.6c0-10.57.06-20.62-12.89-25,3.29-5.33,7.89-9.91,12.36-14.37,8.68-8.66,17.67-17.62,17.67-32.06,0-20.35-14.35-35.13-34.12-35.13a62.21,62.21,0,0,0-22.23,4.2l-1.57-7h11v-22h-12v-12Z'/%3e%3cpath class='cls-6' d='M118.28,79.79c4.19,0,8.65,1.9,8.65,7.23,0,3.32-3.46,7-8.26,12-2.27,2.37-4.79,5-7.38,8.11l-4.94-.28V84.42a19.31,19.31,0,0,1,11.93-4.63m0-4a23.72,23.72,0,0,0-15.93,6.82v28.06c2.45.1,10.74.57,10.74.57,9-11.2,17.84-16.92,17.84-24.22s-5.62-11.23-12.65-11.23Z'/%3e%3c/svg%3e";

        /*FPX's Knight*/
        if myKnight=="fpx"{
            wN="data:image/svg+xml;charset=UTF-8,%3csvg enable-background='new 0 0 180 180' version='1.1' viewBox='0 0 180 180' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m82.587 16.064c7.793 0 15.235 0.93708 21.93 2.7715 5.013 1.3738 11.884 3.8039 17.371 6.1367 1.5284 0.6499 2.516 1.1111 3.3164 1.7852s1.2912 1.5049 1.8086 2.5938c0.71782 1.5108 0.97107 3.2608 0.98437 6.0352l4e-3 0.68945 0.71094 0.05078h2e-3c1.8629 0.13394 3.2804 0.26065 4.3418 0.39258 1.0619 0.13199 1.7337 0.24027 2.3047 0.46875 0.7881 0.3154 1.4933 0.92008 2.1699 1.8594 0.6766 0.9394 1.4027 2.2496 2.4277 4.252 5.0573 9.879 7.406 18.704 7.9414 29.838 0.10764 2.2381 0.13686 3.7104-0.65235 5.168-0.7892 1.4576-2.1681 2.6511-4.6699 4.8457-0.97469 0.85502-1.4545 1.3054-1.7715 1.625 0.1728 0.19704 0.19297 0.22138 0.45508 0.51562 0.54209 0.6086 1.2594 1.4087 2.0195 2.2539 0.7743 0.8609 1.5276 1.7466 2.1289 2.4902s0.99968 1.2175 1.2695 1.75c0.46181 0.9113 0.82831 1.902 0.53711 3.6953s-1.0694 4.6598-2.627 10.471c-1.8955 7.0717-3.4139 12.683-4.5156 16.695-1.1016 4.0123-1.7574 6.342-2.0312 7.1348-0.42761 1.2377-0.87594 2.2213-1.8184 3.4766-0.62711 0.8352-1.6336 1.9726-2.877 3.3359 1.3033 1.3092 2.3503 2.8181 3.1543 4.5547 2 4.56 2 9.8109 2 15.881v5.5996h-105.52v-5.5996c-0.06-5.9798-0.0506-11.12 1.9394-15.66 1.7886-4.0811 5.1292-6.9866 9.9668-8.8809 1.4432-0.39968 2.955-0.83909 4.3828-1.2441 0.0316-1.0211 0.13144-2.078 0.32617-3.1816l0.01-0.0547 0.0156-0.0527c0.6806-2.4188 2.8379-5.9088 6.0371-10.295 2.7375-3.7535 6.5151-8.2305 10.48-12.734-0.7734 0.59346-1.5382 1.1082-2.5078 1.4434-0.6029 0.20836-1.1571 0.35662-1.9629 0.41992-0.8 0.0634-1.8845 0.0683-3.8086 0.0684-2e-3 5e-5 -4e-3 -5e-5 -6e-3 0-1.4745 0.0358-2.9114-0.0778-4.3359-0.27343-1.1033-0.1515-1.7476-0.8573-2.418-1.6367-0.67034-0.7795-1.2548-1.7048-1.5957-2.6387l-0.11328-0.31055-1.0488-8e-3h-2e-3c-1.6145-0.0132-2.3954-0.15438-4.1953-0.76172-3.9439-1.3309-6.0083-2.8969-8.1484-6.1973-1.4586-2.2495-2.1033-4.1789-2.1113-6.4434-7e-3 -1.8906 0.41373-3.5112 1.4199-4.6719 0.27848-0.32129 0.61905-0.6017 1.1152-1.0176 0.4962-0.41586 1.0988-0.90005 1.7031-1.3613 1.0973-0.8375 3.2232-2.7254 4.5801-4.0781 2.1994-2.1924 2.4549-2.4935 3.0215-3.6816 1.0787-2.262 1.2982-3.6981 1.4824-9.8672 0.168-5.6254 0.38582-7.5278 1.2344-10.793 2.354-9.057 7.5513-16.147 15.846-21.666 1.839-1.2238 4.9051-2.5172 6.584-3.1367 0.19228-0.07097 0.33954-0.20185 0.42774-0.4082l1.1836-3.1523c1.3428-4.057 2.4534-5.9211 3.748-7.0293 0.6644-0.56873 1.4449-0.99873 2.4277-1.207 0.9496-0.20126 2.1234-0.24114 3.7949-0.24414 0.05847-1e-4 0.07299-0.0078 0.13281-0.0078zm2.4922 66.596c-0.37457 0.0087-0.67144 0.12916-1.0391 0.35938-0.4902 0.307-1.0524 0.85276-1.7129 1.5293-2.255 2.31-9.0516 10.925-12.238 15.566-0.39616 0.57694-0.58843 0.72091-0.91797 1.1816 3.557-3.831 10.035-10.453 14.051-14.271 1.2032-1.1439 2.0843-1.8959 2.541-2.4102s0.48162-0.58049 0.43164-0.96094c-0.06774-0.51569-0.19139-0.71492-0.26172-0.79102-0.07033-0.07611-0.14694-0.12947-0.44727-0.17383-0.14742-0.0218-0.2814-0.0322-0.40625-0.0293z' fill='%231a1a1a' style='font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:%23000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal'/%3e%3cpath d='m81.857 20.006c-2.7117-0.0355-3.0369 0.22582-3.5879 1.166-0.5759 0.9826-2.6411 5.5284-2.5684 6.0332 0.1134 0.789 0.18314 0.94562 1.7773 0.85352 4.327-0.21354 7.4657-0.08618 10.926 0.125 0.9905-0.49525 1.9265-0.79365 3.1719-0.81055 1.2453-0.01687 2.5527 0.27066 3.791 0.99023 0.6459 0.3753 1.2641 0.8492 1.8633 1.416 6.411 1.666 12.36 4.7239 16.717 8.6719 2.4576 2.2271 3.5304 3.5694 7.3105 9.1445 1.038 1.5309 3.166 5.8745 4.0488 8.2656 2.187 5.924 3.3654 12.126 3.584 18.873 0.3246 10.02-1.6676 27.12-4.1348 35.492-2.3098 7.838-3.8591 12.325-6.8535 19.922 1.0338 0.17573 2.0217 0.3581 2.9141 0.55078 2.6066 0.5628 4.6278 1.1803 6.1641 1.7539 1.5364 0.57358 2.5884 1.1042 3.2559 1.4902 0.0187 0.0108 0.0229 0.0148 0.041 0.0254 0.24637-0.26498 0.51689-0.55572 0.6543-0.69922 0.9875-1.0313 1.6464-1.7864 2.1348-2.4883l-6.543-1.793 0.80664-2.9414 7.0254 1.9238c0.1809-0.5753 0.63766-2.1879 1.2148-4.2617l-7.0684-1.9355 0.80469-2.9434 7.0781 1.9394c0.3524-1.2803 0.74895-2.74 1.1426-4.1816l-6.9824-1.9141-0.0918-0.0254 0.80665-2.9414 0.0918 0.0234 6.9805 1.9121c0.41403-1.5236 0.74682-2.7519 1.1582-4.2754l-7.0605-1.9336 0.80664-2.9434 7.0449 1.9297c0.38399-1.4288 0.78619-2.9144 1.125-4.1855l-6.9336-1.9004 0.80664-2.9434 6.9062 1.8926c0.56497-2.147 1.1228-4.2753 1.2207-4.7383 0.0789-0.37336 9e-3 -0.75923-0.21094-1.1562-0.1815-0.3275-1.953-2.4118-3.9355-4.6328-3.0079-3.3697-3.5951-4.1206-3.5469-4.5332 0.0441-0.3776 0.93478-1.2663 3.7715-3.7656 2.0427-1.7998 3.8913-3.5116 4.1074-3.8027 0.36021-0.4853 0.38901-0.74118 0.34961-3.0801-0.0189-1.1241-0.0733-2.2526-0.15821-3.3848l-7.6894 2.1074-0.80664-2.9434 8.1836-2.2422c-0.18134-1.4345-0.4161-2.8708-0.69922-4.3047l-8.6309 2.3652-0.80664-2.9414 8.7754-2.4062c-0.35257-1.4275-0.7586-2.8469-1.209-4.2598l-8.7363 2.3926-0.80664-2.9434 8.5566-2.3438c-0.5034-1.3626-1.063-2.7077-1.6562-4.043l-7.9551 2.1797-0.80664-2.9414 7.4551-2.043c-1.6894-3.3846-2.7028-5.0898-3.0957-5.209-0.5585-0.16939-3.3997-0.45675-5.7383-0.58203-2.6649-0.14276-3.5637-0.3431-3.8379-0.85547-0.11601-0.2168-0.23675-1.8348-0.28125-3.7559-0.1174-5.0599-0.37715-5.4769-4.4688-7.1973-1.813-0.7624-3.7513-1.5151-5.7324-2.2344l-1.0176 3.9746-2.9551-0.75781 1.084-4.2305c-1.3901-0.47172-2.7715-0.91054-4.1367-1.3281l-1.1484 4.4844-2.9551-0.75781 1.1738-4.584c-1.4996-0.41951-2.9519-0.80353-4.2891-1.1113l-1.1777 4.5977-2.9551-0.75781 1.1367-4.4375c-1.2231-0.20696-2.6307-0.38833-4.3359-0.53906l-0.97656 3.8086-2.9551-0.75586 0.83984-3.2812c-1.1295-0.06911-2.345-0.13222-3.668-0.1875-1.5308-0.06397-2.6996-0.10731-3.6035-0.11914zm-1.1367 11.475v2e-3c-3.9966 0.0325-8.5005 0.48453-11.186 1.6152-1.2273 0.541-3.323 1.5469-5.2695 2.9375-5.3481 4.3416-6.9107 6.0002-9.5195 11.201-2.5379 5.06-3.6249 9.8905-3.6309 16.146-6e-3 6.0177-0.48756 8.9713-1.9473 11.938-1.3478 2.7385-3.4134 4.9196-8.5781 9.0547-2.1645 1.733-2.4835 2.0594-2.7168 2.7949-0.32985 1.0401-0.0547 2.9279 0.61914 4.2559 0.55 1.0839 1.89 2.9127 2.7422 3.7402 1.2146 1.1795 5.462 2.834 7.2734 2.834 0.7118 0 0.71914-0.0074 3.1484-3.4062 3.1827-4.4531 3.9652-5.8629 4.8984-8.8203 0.8967-2.8415 1.2736-3.6506 1.9512-4.1836 0.6446-0.50701 1.3559-0.495 2.1426 0.03516 1.8074 1.218 1.4786 3.3964-1.457 9.6543-0.9383 2.0002-3.803 6.7808-5.1133 8.5332-0.39976 0.53468-0.72656 1.1132-0.72656 1.2852 0 0.5321 0.75482 1.5642 1.2305 1.6836 0.2486 0.0624 1.9841 0.0795 3.8574 0.0371 4.9927-0.113 5.2503-0.26206 8.4414-4.9102 2.9471-4.2921 5.5263-7.6474 10.623-13.814 2.2202-2.6866 2.9929-3.4154 4.3398-4.0879 1.9609-0.97909 4.9429-1.1066 6.4219-0.27539 1.0769 0.6052 1.3843 1.3862 1.3906 3.5234 0.0088 2.9917-0.29757 3.4019-8.0137 10.732-5.715 5.43-13.854 14.325-19.119 20.904-3.9946 4.9909-7.8878 10.71-8.7656 12.873-0.15859 0.8294-0.22929 1.5716-0.24609 2.2598 2.3364-0.3974 5.5138-0.72142 9.2637-0.97071 4.795-0.31872 10.473-0.51851 16.346-0.60351 5.873-0.085 11.937-0.0552 17.504 0.084 5.5674 0.13915 10.635 0.38854 14.514 0.74219 0.9294 0.0848 1.814 0.1802 2.666 0.28125 4.4787-11.49 7.9589-21.453 8.9473-27.395 2.1757-13.08 2.7953-24.318 1.957-32.064-0.7964-7.359-3.1912-14.475-6.1289-19.367-2.1489-3.699-5.1765-7.7292-8.1602-10.229-2.9838-2.4378-6.3178-4.6924-10.348-6.1406 0.5973 1.0417 1.1786 2.2093 1.7461 3.5469 0.4748 1.1186 0.0406 1.7031-1.0781 2.1777-1.1186 0.4748-2.4102-0.04732-2.8848-1.166-1.7536-4.1336-3.4967-6.0552-4.6992-6.7539-1.2024-0.6988-1.9628-0.56162-3.0312-0.027405-2.1368 1.0684-4.2441 4.3613-4.2441 4.3613-0.603 1.0551-1.9471 1.4215-3.002 0.81836-1.0551-0.603-1.4215-1.9471-0.81836-3.002 0 0 1.2542-1.3584 2.4004-2.7383-1.133-0.07285-2.4082-0.10849-3.7402-0.09766zm-1.582 12.121c0.37974 0.0039 0.77148 0.02803 1.1777 0.0918 0.49634 0.1077 1.0069 0.14137 0.66797 2.2637-0.2953 1.9808-1.1748 4.6573-1.9023 5.793-2.0709 3.1287-4.9134 3.7858-8.7422 4.1641-3.3696 0.1061-4.9033 0.69216-3.8066-3.1523 2.0376-5.6085 6.3041-8.8411 11.498-9.1309 0.35981-0.0167 0.72765-0.0332 1.1074-0.0293zm-31.635 41.889h2e-3c1.5992 0.0011 2.5843 1.3032 2.1309 2.8164-0.4499 1.5017-2.4303 2.0229-3.5254 0.92773-0.94608-0.9462-0.94552-2.2479 2e-3 -3.1953 0.4448-0.44482 0.70792-0.54858 1.3906-0.54883zm39.029 46.648c-1.1926-7e-3 -2.3928-6e-3 -3.5996 6e-3 -9.924 0.1197-21.984 0.73093-32.914 2.7031-1.72 0.395-3.2134 0.87422-4.5117 1.4316-0.6491 0.27873-1.2499 0.57677-1.8047 0.89453-0.8322 0.4771-1.5625 0.99739-2.2031 1.5606-0.21355 0.18768-0.41722 0.38109-0.61133 0.57812-0.38823 0.39403-0.73866 0.8056-1.0547 1.2363-0.31568 0.43031-0.59667 0.87964-0.84766 1.3457v2e-3c-0.12518 0.23282-0.24502 0.46936-0.35547 0.71094-1.2191 2.6634-1.567 5.8547-1.6621 9.5039v2e-3c-0.0518 1.9895-0.0293 4.116-0.0293 6.3652h97.561c0-1.5162 0.0138-2.9934 0.01-4.4219-4e-3 -1.4285-0.0273-2.8083-0.0996-4.1289-0.0724-1.3206-0.1941-2.583-0.39844-3.7754-0.8505-4.9635-3.1295-8.7228-9.1211-10.561-1.206-0.36982-2.5537-0.66538-4.0801-0.87305-9.885-1.6534-21.973-2.3764-34.277-2.5801z' fill='" + wColor + "'/%3e%3cpath d='m110.75 40.779c1.4402 1.2208 2.7553 2.7235 4.0606 4.3867 1.3985 1.7819 2.6931 3.7132 3.7676 5.5625 0.56573 0.94209 1.1226 1.9582 1.6406 3.0512 8.1807 14.964 6.8675 49.689-6.416 75.777-0.85205-0.10105-1.7366-0.1965-2.666-0.28125-1.0469-0.0955-2.7112-0.12102-3.918-0.20117-2.5035-0.16475-5.1688-0.32215-7.8672-0.40234-1.0067-0.0339-1.682-0.11252-2.7285-0.13868-1.3952-0.0349-2.9399-4.3e-4 -4.3867-0.0215-0.64748-8e-3 -1.17-0.0348-1.8359-0.041 3.24-9.605 21.796-19.537 28.131-39.014 7.8807-24.23-1.4444-40.824-7.7812-48.678zm-17.391 6.9746c0.34418 0.02267 0.74805 0.62305 0.74805 0.62305s1.9447 2.7139 1.8633 7.3477c-0.0814 4.6337-1.9554 6.9529-5.3672 9.0742-1.952 1.0772-3.0263 1.3036-5.4648 2.0723-2.938 0.7831-4.6717 0.05533-2.3281-1.2637 2.2202-1.2495 3.8686-2.1616 6.3281-4.3398 4.642-4.1113 3.6036-10.927 3.7676-12.678 0.06149-0.6566 0.24662-0.84954 0.45312-0.83594zm10.295 10.953c0.63324-0.01639 0.80273 0.7168 0.80273 0.7168s1.5599 4.4853 1.9785 9.8691c1.591 26.621-17.155 38.411-32.373 44.361-2.938 0.7831-4.032 0.81347-2.3262-1.2656 13.602-16.58 22.17-22.455 21.562-27.996-0.0367-1.2464-0.11885-1.4793-3.0312-0.17584-0.2506 0.11308-0.38856 0.15794-0.64648 0.24805 0.03382-0.35497 0.03449-0.7448 0.03321-1.1797-0.0032-1.0686-0.08071-1.7979-0.29297-2.3359-0.21226-0.53806-0.55921-0.91803-1.0977-1.2206-0.123-0.06913-0.2014-0.11204-0.34375-0.16796 2.61-1.0715 4.4522-1.8177 7.4902-3.9043 6.4308-4.385 8.3399-6.9379 7.791-16.113-0.0791-0.63316 0.24624-0.83054 0.45313-0.83594z' opacity='.2' stop-color='%23000000' style='font-variation-settings:normal'/%3e%3cpath d='m133.13 142.88c-0.0247-0.0653-0.031-0.14428-0.0566-0.20898-0.42687-1.0792-0.9789-2.0718-1.6914-2.9668-0.71251-0.89505-1.5848-1.6924-2.6543-2.3809s-2.3361-1.2672-3.834-1.7266c-1.206-0.36982-2.5537-0.66538-4.0801-0.87305-2.3665-0.32196-4.7445-0.61698-7.1328-0.88867v2e-3c-0.97391-0.11086-1.951-0.21682-2.9297-0.31836-4.4877-0.46523-9.0274-0.83057-13.652-1.0684-4.6249-0.23779-9.3351-0.348-14.162-0.30079-4.4564 0.0436-9.0117 0.22078-13.691 0.55079-4.6797 0.33-9.4839 0.81281-14.436 1.4707-1.5806 0.21-3.1754 0.43531-4.7871 0.68164-1.72 0.395-3.2134 0.87418-4.5117 1.4316-0.64914 0.27873-1.2499 0.57677-1.8047 0.89453-0.83218 0.47706-1.5625 0.99748-2.2031 1.5606-0.21355 0.18769-0.41722 0.38109-0.61133 0.57812-0.38822 0.39406-0.73867 0.80557-1.0547 1.2363-0.31568 0.43031-0.59667 0.87964-0.84766 1.3457v2e-3c-0.12518 0.23282-0.24502 0.46936-0.35547 0.71094-0.0766 0.16741-0.0883 0.3792-0.1582 0.55078h0.0977s4.471-4.75 47.541-4.75c38.96 0 45.963 3.725 47.016 4.4668z' fill='%23fff' opacity='.2' stop-color='%23000000' style='font-variation-settings:normal'/%3e%3c/svg%3e ";
            bN="data:image/svg+xml;charset=UTF-8,%3csvg enable-background='new 0 0 180 180' version='1.1' viewBox='0 0 180 180' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m98.334 16.064c-7.793 0-15.235 0.93708-21.93 2.7715-5.013 1.3738-11.884 3.8039-17.371 6.1367-1.5284 0.6499-2.516 1.1111-3.3164 1.7852s-1.2912 1.5049-1.8086 2.5938c-0.71782 1.5108-0.97107 3.2608-0.98437 6.0352l-4e-3 0.68945-0.71094 0.05078h-2e-3c-1.8629 0.13394-3.2804 0.26065-4.3418 0.39258-1.0619 0.13199-1.7337 0.24027-2.3047 0.46875-0.7881 0.3154-1.4933 0.92008-2.1699 1.8594-0.6766 0.9394-1.4027 2.2496-2.4277 4.252-5.0573 9.879-7.406 18.704-7.9414 29.838-0.10764 2.2381-0.13686 3.7104 0.65235 5.168 0.7892 1.4576 2.1681 2.6511 4.6699 4.8457 0.97469 0.85502 1.4545 1.3054 1.7715 1.625-0.1728 0.19704-0.19297 0.22138-0.45508 0.51562-0.54209 0.6086-1.2594 1.4087-2.0195 2.2539-0.7743 0.8609-1.5276 1.7466-2.1289 2.4902s-0.99968 1.2175-1.2695 1.75c-0.46181 0.9113-0.82831 1.902-0.53711 3.6953s1.0694 4.6598 2.627 10.471c1.8955 7.0717 3.4139 12.683 4.5156 16.695 1.1016 4.0123 1.7574 6.342 2.0312 7.1348 0.42761 1.2377 0.87594 2.2213 1.8184 3.4766 0.62711 0.8352 1.6336 1.9726 2.877 3.3359-1.3033 1.3092-2.3503 2.8181-3.1543 4.5547-2 4.56-2 9.8109-2 15.881v5.5996h105.52v-5.5996c0.06-5.9798 0.0506-11.12-1.9394-15.66-1.7886-4.0811-5.1292-6.9866-9.9668-8.8809-1.4432-0.39968-2.955-0.83909-4.3828-1.2441-0.0316-1.0211-0.13144-2.078-0.32617-3.1816l-0.01-0.0547-0.0156-0.0527c-0.6806-2.4188-2.8379-5.9088-6.0371-10.295-2.7375-3.7535-6.5151-8.2305-10.48-12.734 0.7734 0.59346 1.5382 1.1082 2.5078 1.4434 0.6029 0.20836 1.1571 0.35662 1.9629 0.41992 0.8 0.0634 1.8845 0.0683 3.8086 0.0684 2e-3 5e-5 4e-3 -5e-5 6e-3 0 1.4745 0.0358 2.9114-0.0778 4.3359-0.27343 1.1033-0.1515 1.7476-0.8573 2.418-1.6367 0.67034-0.7795 1.2548-1.7048 1.5957-2.6387l0.11328-0.31055 1.0488-8e-3h2e-3c1.6145-0.0132 2.3954-0.15438 4.1953-0.76172 3.9439-1.3309 6.0083-2.8969 8.1484-6.1973 1.4586-2.2495 2.1033-4.1789 2.1113-6.4434 7e-3 -1.8906-0.41373-3.5112-1.4199-4.6719-0.27848-0.32129-0.61905-0.6017-1.1152-1.0176-0.4962-0.41586-1.0988-0.90005-1.7031-1.3613-1.0973-0.8375-3.2232-2.7254-4.5801-4.0781-2.1994-2.1924-2.4549-2.4935-3.0215-3.6816-1.0787-2.262-1.2982-3.6981-1.4824-9.8672-0.168-5.6254-0.38582-7.5278-1.2344-10.793-2.354-9.057-7.5513-16.147-15.846-21.666-1.839-1.2238-4.9051-2.5172-6.584-3.1367-0.19228-0.07097-0.33954-0.20185-0.42774-0.4082l-1.1836-3.1523c-1.3428-4.057-2.4534-5.9211-3.748-7.0293-0.6644-0.56873-1.4449-0.99873-2.4277-1.207-0.9496-0.20126-2.1234-0.24114-3.7949-0.24414-0.05847-1e-4 -0.07299-0.0078-0.13281-0.0078zm-2.4922 66.596c0.37457 0.0087 0.67144 0.12916 1.0391 0.35938 0.4902 0.307 1.0524 0.85276 1.7129 1.5293 2.255 2.31 9.0516 10.925 12.238 15.566 0.39616 0.57694 0.58843 0.72091 0.91797 1.1816-3.557-3.831-10.035-10.453-14.051-14.271-1.2032-1.1439-2.0843-1.8959-2.541-2.4102s-0.48162-0.58049-0.43164-0.96094c0.06774-0.51569 0.19139-0.71492 0.26172-0.79102 0.07033-0.07611 0.14694-0.12947 0.44727-0.17383 0.14742-0.0218 0.2814-0.0322 0.40625-0.0293z' fill='%231a1a1a' style='font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:%23000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal'/%3e%3cpath d='m99.064 20.006c2.7117-0.0355 3.0369 0.22582 3.5879 1.166 0.5759 0.9826 2.6411 5.5284 2.5684 6.0332-0.1134 0.789-0.18315 0.94562-1.7774 0.85352-4.327-0.21354-7.4657-0.08618-10.926 0.125-0.9905-0.49525-1.9265-0.79365-3.1719-0.81055-1.2453-0.01687-2.5527 0.27066-3.791 0.99023-0.6459 0.3753-1.2641 0.8492-1.8633 1.416-6.411 1.666-12.36 4.7239-16.717 8.6719-2.4576 2.2271-3.5304 3.5694-7.3105 9.1445-1.038 1.5309-3.166 5.8745-4.0488 8.2656-2.187 5.924-3.3654 12.126-3.584 18.873-0.3246 10.02 1.6676 27.12 4.1348 35.492 2.3098 7.838 3.8591 12.325 6.8535 19.922-1.0338 0.17573-2.0217 0.3581-2.9141 0.55078-2.6066 0.5628-4.6278 1.1803-6.1641 1.7539-1.5364 0.57358-2.5884 1.1042-3.2559 1.4902-0.0187 0.0108-0.0229 0.0148-0.041 0.0254-0.24637-0.26498-0.51689-0.55572-0.6543-0.69922-0.9875-1.0313-1.6464-1.7864-2.1348-2.4883l6.543-1.793-0.80664-2.9414-7.0254 1.9238c-0.1809-0.5753-0.63766-2.1879-1.2148-4.2617l7.0684-1.9355-0.80469-2.9434-7.0781 1.9394c-0.3524-1.2803-0.74895-2.74-1.1426-4.1816l6.9824-1.9141 0.0918-0.0254-0.80665-2.9414-0.0918 0.0234-6.9805 1.9121c-0.41403-1.5236-0.74682-2.7519-1.1582-4.2754l7.0605-1.9336-0.80664-2.9434-7.0449 1.9297c-0.38399-1.4288-0.78619-2.9144-1.125-4.1855l6.9336-1.9004-0.80664-2.9434-6.9062 1.8926c-0.56497-2.147-1.1228-4.2753-1.2207-4.7383-0.0789-0.37336-9e-3 -0.75923 0.21094-1.1562 0.1815-0.3275 1.953-2.4118 3.9355-4.6328 3.0079-3.3697 3.5951-4.1206 3.5469-4.5332-0.0441-0.3776-0.93478-1.2663-3.7715-3.7656-2.0427-1.7998-3.8913-3.5116-4.1074-3.8027-0.36021-0.4853-0.38901-0.74118-0.34961-3.0801 0.0189-1.1241 0.0733-2.2526 0.15821-3.3848l7.6894 2.1074 0.80664-2.9434-8.1836-2.2422c0.18134-1.4345 0.4161-2.8708 0.69922-4.3047l8.6309 2.3652 0.80664-2.9414-8.7754-2.4062c0.35257-1.4275 0.7586-2.8469 1.209-4.2598l8.7363 2.3926 0.80664-2.9434-8.5566-2.3438c0.5034-1.3626 1.063-2.7077 1.6562-4.043l7.9551 2.1797 0.80664-2.9414-7.4551-2.043c1.6894-3.3846 2.7028-5.0898 3.0957-5.209 0.5585-0.16939 3.3997-0.45675 5.7383-0.58203 2.6649-0.14276 3.5637-0.3431 3.8379-0.85547 0.11601-0.2168 0.23675-1.8348 0.28125-3.7559 0.1174-5.0599 0.37715-5.4769 4.4688-7.1973 1.813-0.7624 3.7513-1.5151 5.7324-2.2344l1.0176 3.9746 2.9551-0.75781-1.084-4.2305c1.3901-0.47172 2.7715-0.91054 4.1367-1.3281l1.1484 4.4844 2.9551-0.75781-1.1738-4.584c1.4996-0.41951 2.9519-0.80353 4.2891-1.1113l1.1777 4.5977 2.9551-0.75781-1.1367-4.4375c1.2231-0.20696 2.6307-0.38833 4.3359-0.53906l0.97656 3.8086 2.9551-0.75586-0.83984-3.2812c1.1295-0.06911 2.345-0.13222 3.668-0.1875 1.5308-0.06397 2.6996-0.10731 3.6035-0.11914zm1.1367 11.475v2e-3c3.9966 0.0325 8.5006 0.48453 11.186 1.6152 1.2273 0.541 3.323 1.5469 5.2695 2.9375 5.3481 4.3416 6.9107 6.0002 9.5195 11.201 2.5379 5.06 3.6249 9.8905 3.6309 16.146 6e-3 6.0177 0.48757 8.9713 1.9473 11.938 1.3478 2.7385 3.4134 4.9196 8.5781 9.0547 2.1645 1.733 2.4835 2.0594 2.7168 2.7949 0.32985 1.0401 0.0547 2.9279-0.61914 4.2559-0.55 1.0839-1.89 2.9127-2.7422 3.7402-1.2146 1.1795-5.462 2.834-7.2734 2.834-0.7118 0-0.71914-0.0074-3.1484-3.4062-3.1827-4.4531-3.9652-5.8629-4.8984-8.8203-0.8967-2.8415-1.2736-3.6506-1.9512-4.1836-0.6446-0.50701-1.3559-0.495-2.1426 0.03516-1.8074 1.218-1.4786 3.3964 1.457 9.6543 0.9383 2.0002 3.803 6.7808 5.1133 8.5332 0.39976 0.53468 0.72657 1.1132 0.72657 1.2852 0 0.5321-0.75482 1.5642-1.2305 1.6836-0.2486 0.0624-1.9841 0.0795-3.8574 0.0371-4.9927-0.113-5.2503-0.26206-8.4414-4.9102-2.9471-4.2921-5.5264-7.6474-10.623-13.814-2.2202-2.6866-2.9929-3.4154-4.3398-4.0879-1.9609-0.97909-4.9429-1.1066-6.4219-0.27539-1.0769 0.6052-1.3843 1.3862-1.3906 3.5234-0.0088 2.9917 0.29757 3.4019 8.0137 10.732 5.715 5.43 13.854 14.325 19.119 20.904 3.9946 4.9909 7.8878 10.71 8.7656 12.873 0.15858 0.8294 0.22929 1.5716 0.24609 2.2598-2.3364-0.3974-5.5138-0.72142-9.2637-0.97071-4.795-0.31872-10.473-0.51851-16.346-0.60351-5.873-0.085-11.937-0.0552-17.504 0.084-5.5674 0.13915-10.635 0.38854-14.514 0.74219-0.9294 0.0848-1.814 0.1802-2.666 0.28125-4.4787-11.49-7.9589-21.453-8.9473-27.395-2.1757-13.08-2.7953-24.318-1.957-32.064 0.7964-7.359 3.1912-14.475 6.1289-19.367 2.1489-3.699 5.1765-7.7292 8.1602-10.229 2.9838-2.4378 6.3178-4.6924 10.348-6.1406-0.5973 1.0417-1.1786 2.2093-1.7461 3.5469-0.4748 1.1186-0.0406 1.7031 1.0781 2.1777 1.1186 0.4748 2.4102-0.04732 2.8848-1.166 1.7536-4.1336 3.4967-6.0552 4.6992-6.7539 1.2024-0.6988 1.9628-0.56162 3.0312-0.02741 2.1368 1.0684 4.2441 4.3613 4.2441 4.3613 0.603 1.0551 1.9471 1.4215 3.002 0.81836 1.0551-0.603 1.4215-1.9471 0.81836-3.002 0 0-1.2542-1.3584-2.4004-2.7383 1.133-0.07285 2.4082-0.10849 3.7402-0.09766zm1.582 12.121c-0.37974 0.0039-0.77149 0.02803-1.1777 0.0918-0.49634 0.1077-1.0069 0.14137-0.66797 2.2637 0.2953 1.9808 1.1748 4.6573 1.9023 5.793 2.0709 3.1287 4.9134 3.7858 8.7422 4.1641 3.3696 0.1061 4.9033 0.69216 3.8066-3.1523-2.0376-5.6085-6.3041-8.8411-11.498-9.1309-0.35981-0.0167-0.72765-0.0332-1.1074-0.0293zm31.635 41.889h-2e-3c-1.5992 0.0011-2.5843 1.3032-2.1309 2.8164 0.4499 1.5017 2.4303 2.0229 3.5254 0.92773 0.94608-0.9462 0.94552-2.2479-2e-3 -3.1953-0.4448-0.44482-0.70791-0.54858-1.3906-0.54883zm-39.029 46.648c1.1926-7e-3 2.3928-6e-3 3.5996 6e-3 9.924 0.1197 21.984 0.73093 32.914 2.7031 1.72 0.395 3.2134 0.87422 4.5117 1.4316 0.6491 0.27873 1.2499 0.57677 1.8047 0.89453 0.8322 0.4771 1.5625 0.99739 2.2031 1.5606 0.21355 0.18768 0.41722 0.38109 0.61133 0.57812 0.38823 0.39403 0.73865 0.8056 1.0547 1.2363 0.31568 0.43031 0.59667 0.87964 0.84766 1.3457v2e-3c0.12518 0.23282 0.24502 0.46936 0.35547 0.71094 1.2191 2.6634 1.567 5.8547 1.6621 9.5039v2e-3c0.0518 1.9895 0.0293 4.116 0.0293 6.3652h-97.561c0-1.5162-0.0138-2.9934-0.01-4.4219 4e-3 -1.4285 0.0273-2.8083 0.0996-4.1289 0.0724-1.3206 0.1941-2.583 0.39844-3.7754 0.8505-4.9635 3.1295-8.7228 9.1211-10.561 1.206-0.36982 2.5537-0.66538 4.0801-0.87305 9.885-1.6534 21.973-2.3764 34.277-2.5801z' fill='" + bColor + "'/%3e%3cpath d='m70.171 40.779c-1.4402 1.2208-2.7553 2.7235-4.0606 4.3867-1.3985 1.7819-2.6931 3.7132-3.7676 5.5625-0.56573 0.94209-1.1226 1.9582-1.6406 3.0512-8.1807 14.964-6.8675 49.689 6.416 75.777 0.85205-0.10105 1.7366-0.1965 2.666-0.28125 1.0469-0.0955 2.7112-0.12102 3.918-0.20117 2.5035-0.16475 5.1688-0.32215 7.8672-0.40234 1.0067-0.0339 1.682-0.11252 2.7285-0.13868 1.3952-0.0349 2.9399-4.3e-4 4.3867-0.0215 0.64748-8e-3 1.17-0.0348 1.8359-0.041-3.24-9.605-21.796-19.537-28.131-39.014-7.8807-24.23 1.4444-40.824 7.7812-48.678zm17.391 6.9746c-0.34418 0.02267-0.74805 0.62305-0.74805 0.62305s-1.9447 2.7139-1.8633 7.3477c0.0814 4.6337 1.9554 6.9529 5.3672 9.0742 1.952 1.0772 3.0263 1.3036 5.4648 2.0723 2.938 0.7831 4.6717 0.05533 2.3281-1.2637-2.2202-1.2495-3.8686-2.1616-6.3281-4.3398-4.642-4.1113-3.6036-10.927-3.7676-12.678-0.06149-0.6566-0.24662-0.84954-0.45312-0.83594zm-10.295 10.953c-0.63324-0.01639-0.80273 0.7168-0.80273 0.7168s-1.5599 4.4853-1.9785 9.8691c-1.591 26.621 17.155 38.411 32.373 44.361 2.938 0.7831 4.032 0.81347 2.3262-1.2656-13.602-16.58-22.17-22.455-21.562-27.996 0.0367-1.2464 0.11885-1.4793 3.0312-0.17584 0.2506 0.11308 0.38856 0.15794 0.64648 0.24805-0.03382-0.35497-0.03449-0.7448-0.03321-1.1797 0.0032-1.0686 0.08071-1.7979 0.29297-2.3359 0.21226-0.53806 0.55921-0.91803 1.0977-1.2206 0.123-0.06913 0.2014-0.11204 0.34375-0.16796-2.61-1.0715-4.4522-1.8177-7.4902-3.9043-6.4308-4.385-8.3399-6.9379-7.791-16.113 0.0791-0.63316-0.24624-0.83054-0.45313-0.83594z' opacity='.2' stop-color='%23000000' style='font-variation-settings:normal'/%3e%3cpath d='m47.791 142.88c0.0247-0.0653 0.031-0.14428 0.0566-0.20898 0.42687-1.0792 0.9789-2.0718 1.6914-2.9668 0.71251-0.89505 1.5848-1.6924 2.6543-2.3809s2.3361-1.2672 3.834-1.7266c1.206-0.36982 2.5537-0.66538 4.0801-0.87305 2.3665-0.32196 4.7445-0.61698 7.1328-0.88867v2e-3c0.97391-0.11086 1.951-0.21682 2.9297-0.31836 4.4877-0.46523 9.0274-0.83057 13.652-1.0684 4.6249-0.23779 9.3351-0.348 14.162-0.30079 4.4564 0.0436 9.0117 0.22078 13.691 0.55079 4.6797 0.33 9.4839 0.81281 14.436 1.4707 1.5806 0.21 3.1754 0.43531 4.7871 0.68164 1.72 0.395 3.2134 0.87418 4.5117 1.4316 0.64914 0.27873 1.2499 0.57677 1.8047 0.89453 0.83218 0.47706 1.5625 0.99748 2.2031 1.5606 0.21355 0.18769 0.41722 0.38109 0.61133 0.57812 0.38822 0.39406 0.73867 0.80557 1.0547 1.2363 0.31568 0.43031 0.59667 0.87964 0.84766 1.3457v2e-3c0.12518 0.23282 0.24502 0.46936 0.35547 0.71094 0.0766 0.16741 0.0883 0.3792 0.1582 0.55078h-0.0977s-4.471-4.75-47.541-4.75c-38.96 0-45.963 3.725-47.016 4.4668z' fill='%23fff' opacity='.2' stop-color='%23000000' style='font-variation-settings:normal'/%3e%3c/svg%3e ";
        }
        
        /*selectors*/
		.piece.wk:not(.pseudo3d .piece.wk),
		.promotion-piece.wk:not(.pseudo3d .promotion-piece.wk),
		[data-hand-piece="wk"],
		div [style*="wk.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(wK)!important;
		}
		.piece.wq:not(.pseudo3d .piece.wq),
		.promotion-piece.wq:not(.pseudo3d .promotion-piece.wq),
		[data-hand-piece="wq"],
		div [style*="wq.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(wQ)!important;
		}
		.piece.wb:not(.pseudo3d .piece.wb),
		.promotion-piece.wb:not(.pseudo3d .promotion-piece.wb),
		[data-hand-piece="wb"],
		div [style*="wb.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(wB)!important;
		}
		.piece.wn:not(.pseudo3d .piece.wn),
		.promotion-piece.wn:not(.pseudo3d .promotion-piece.wn),
		[data-hand-piece="wn"],
		div [style*="wn.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(wN)!important;
		}
		.piece.wr:not(.pseudo3d .piece.wr),
		.promotion-piece.wr:not(.pseudo3d .promotion-piece.wr),
		[data-hand-piece="wr"],
		div [style*="wr.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(wR)!important;
		}
		.piece.wp:not(.pseudo3d .piece.wp),
		.promotion-piece.wp:not(.pseudo3d .promotion-piece.wp),
		[data-hand-piece="wp"],
		div [style*="wp.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(wP)!important;
		}
		.piece.bk:not(.pseudo3d .piece.bk),
		.promotion-piece.bk:not(.pseudo3d .promotion-piece.bk),
		[data-hand-piece="bk"],
		div [style*="bk.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(bK)!important;
		}
		.piece.bq:not(.pseudo3d .piece.bq),
		.promotion-piece.bq:not(.pseudo3d .promotion-piece.bq),
		[data-hand-piece="bq"],
		div [style*="bq.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(bQ)!important;
		}
		.piece.bb:not(.pseudo3d .piece.bb),
		.promotion-piece.bb:not(.pseudo3d .promotion-piece.bb),
		[data-hand-piece="bb"],
		div [style*="bb.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(bB)!important;
		}
		.piece.bn:not(.pseudo3d .piece.bn),
		.promotion-piece.bn:not(.pseudo3d .promotion-piece.bn),
		[data-hand-piece="bn"],
		div [style*="bn.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(bN)!important;
		}
		.piece.br:not(.pseudo3d .piece.br),
		.promotion-piece.br:not(.pseudo3d .promotion-piece.br),
		[data-hand-piece="br"],
		div [style*="br.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(bR)!important;
		}
		.piece.bp:not(.pseudo3d .piece.bp),
		.promotion-piece.bp:not(.pseudo3d .promotion-piece.bp),
		[data-hand-piece="bp"],
		div [style*="bp.png"]:not([class="game-preview-themed-component"]):not(div#board.board > div) {
			background-image: url(bP)!important;
		}
		/*pieces for mini-boards*/
		[data-piece="bK"],
		img[src*="/bk.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(bK)!important;
		}
        img[src*="/bQ.png"],
		[data-piece="bQ"],
		img[src*="/bq.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(bQ)!important;
		}
        img[src*="/bB.png"],
		[data-piece="bB"],
		img[src*="/bb.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(bB)!important;
		}
        img[src*="/bN.png"],
		[data-piece="bN"],
		img[src*="/bn.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(bN)!important;
		}
        img[src*="/bR.png"],
		[data-piece="bR"],
		img[src*="/br.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(bR)!important;
		}
		[data-piece="bP"],
		img[src*="/bp.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(bP)!important;
		}
		[data-piece="wK"],
		img[src*="/wk.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(wK)!important;
		}
        img[src*="/wQ.png"],
		[data-piece="wQ"],
		img[src*="/wq.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(wQ)!important;
		}
        img[src*="/wB.png"],
		[data-piece="wB"],
		img[src*="/wb.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(wB)!important;
		}		
        img[src*="/wN.png"],
		[data-piece="wN"],
		img[src*="/wn.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(wN)!important;
		}
        img[src*="/wR.png"],
		[data-piece="wR"],
		img[src*="/wr.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(wR)!important;
		}
        [id^="wP"],
        [class^="square"]>[data-piece="wP"],
        [data-piece="wP"]>[data-piece="wP"],
		img[src*="/wp.png"]:not([class="settings-themes-preview-board-piece"]) {
			content: url(wP)!important;
		}
		/*2023-07-05 new rules for game preview*/
		:root{
			--theme-piece-set-perspective:1;
			--theme-piece-set-wp: url(wP);
			--theme-piece-set-wn: url(wN);
			--theme-piece-set-wr: url(wR);
			--theme-piece-set-wb: url(wB);
			--theme-piece-set-wq: url(wQ);
			--theme-piece-set-wk: url(wK);
			--theme-piece-set-bp: url(bP);
			--theme-piece-set-bn: url(bN);
			--theme-piece-set-bb: url(bB);
			--theme-piece-set-br: url(bR);
			--theme-piece-set-bq: url(bQ);
			--theme-piece-set-bk: url(bK);
		}
	}/*End pieces section*/        
/*End of the code*/
}