/* ==UserStyle==
@name           🟨INTL Multi Club Arena (pt-BR): chessboard
@author         ChessSkins
@namespace      ChessSkins
@homepageURL    https://www.chess.com/blog/ChessSkins
@description    `Tabuleiro de xadrez para o chess.com.`
@version        1.0.2
@license        NO-REDISTRIBUTION
@preprocessor   stylus

@var    color    svgDarkSqColor  "Cor do tema"   #6298b9

@var    range    frameRadius  "🔵Canto arredondado" [1, 0, 34, 1, "px"]
@var    checkbox    frameRadiusInOut  "↪🔹Conjunto <--> Externo" 1

@var    range    ajustBoardSize  "Tam. do tabuleiro" [0.92, 0.82, 0.92, 0.01, ""]

@var    select      setHighlight    "🟡Destaque de movimento" {
            "Personalizado*": "op1",
            "Padrão": "disabled",
        }
@var    color    hlColor  "↪Cor do destaque"   #ffff00
@var    range    highlightOpacity  "↪Opacidade Destaque" [0.4, 0.3, 1, 0.1, ""]

@var    color    hlSqRed  "🔴Click Direito"   #eb6150
@var    color    hlSqOrange  "🟠CTRL+Click"   #fa0
@var    color    hlSqGreen  "🟢SHIFT+Click"   #acce59
@var    color    hlSqBlue  "🔵ALT+Click"   #52b0dc

@var    checkbox    enableArrowSettings   "🟩↘️Setas modificadas" 0
@var    range    arrowOpacity  "Opacidade das setas" [0.9, 0.7, 1, 0.1, ""]
@var    color    arrowOrange  "🟠Click Direito"   #ff8000
@var    color    arrowRed  "🔴CTRL+Click"   #fa4d35
@var    color    arrowGreen  "🟢SHIFT+Click"   #abe439
@var    color    arrowBlue  "🔵ALT+Click"   #28b8fa
 
@var    checkbox    enableBoardFrame  "👉🟩🔳Borda externa" 1
@var    checkbox    enableInnerBorder  "🟩◽Borda interna" 0
@var    checkbox    enableCenterLogo   "🟩Logo central" 1
@var    checkbox    enableCornerLogo   "🟩Logo secundário" 1
@var    checkbox    enableWallpaper   "🟩Plano de fundo" 1
@var    checkbox    enableThinEvalBar  "🟩Barrinha fina" 1
@var    checkbox    enableOutsideCoords "🔠Coord. Externas" 1

@var    select   outCoordFontName   "↪🆎Nome da fonte"{
        "Times New Roman": "Times New Roman",
        "Montserrat": "Montserrat",
        "Mukta": "Mukta",
        "Helvetica": "Helvetica",
        "Segoe UI*": "Segoe UI",
        "Tahoma": "Tahoma",
        "Verdana": "Verdana",
        "serif": "serif",
        "sans-serif": "sans-serif",
    }
@var    range    outCoordFontSize  "↪Tam. da fonte" [0.24, 0.1, 0.3, 0.01, "rem"]
@var select   outCoordFontWeight   "↪Tipo"    ["400*", "600", "700", "800"]

@var    select      outCoordFontCase    "↪Maiúsculas ou minúsculas"{
            "Maiúsculas": "uppercase",
            "Minúsculas*": "lowercase",
        }

@var    select      useWallpaper    "🖼️Plano de fundo" {
            "Imagem do tema*": "themeWallpaper",
            "Degradê (automático)": "gradient",
            "Degradê (usuário)": "gradientUsr",
            "Cor Sólida": "backgroundColp",
            
        }

@var    color    backgroundColp  "Cor de fundo personalizada"   #302D2B
@var    range    globalColSaturation  "↪Saturação do fundo automático" [-30, -100, 200, 10, "%"]

@var    select      evalOpt    "Barra de Avaliação" {
            "Cor automática*": "auto",
            "Padrão": "disabled",
        }

==/UserStyle== */
@-moz-document domain("chess.com") {

    /*Default Settings*/
    enableGlobalColor=1
    svgLightSqColor=#E7E2DA;
    svgBoardBlend=normal;
    svgDarkSqOpacity=1;
    svgLightSqOpacity=1;
    boardBGOpt=colorOnly;
    frameOpt=colorOnly;
    hlImgOpt=disabled;
    bgSize=cover;/*cover,contain,bPercentSize*/
    boardBGColor=svgDarkSqColor;
    bPercentSize=100%;
    frameSize=bgSize;/*cover,contain,fPercentSize,bgSize*/
    bgPosX=0;
    bgPosY=0;
    fPercentSize=100%;
    framePosX=50%;
    framePosY=50%;
    outCoordColorOpt=svgLightSqColor;
    outCoordCol=#ffffffc4;
    coordsBlend=normal; 
    innerBorderColor=#c8b597;
    enableBoardShadowInset=0;
    enableBoardShadow=0;
    enableFrameShadowInset=0;
    frameShadowInsetBlur=2px;
    frameShadowInsetSpread=1px;
    frameShadowInsetColor=rgba(0, 0, 0, .4);
    enableFrameShadow=1;
    frameShadowBlur=8px;
    frameShadowSpread=4px;
    frameShadowColor=rgba(0, 0, 0, .5); 
    frameColor=#ad9161;
    innerBorderOpt=svgLightSqColor;
    enableCustomCoord=0;
    lCoordCol=#8d8d8d;
    dCoordCol=#acacac;
    centerLogoOpt=logoArena;
    centerLogoBlend=normal;
    centerLogoCol=#e5e1d66b;
    centerLogoSize=43%;
    centerLogoOpacity=0.12;
    centerLogoPosX=50%;
    centerLogoPosY=57%;
    cornerLogoOpt=logoTXT;
    cornerLogoBlend=multiply;
    cornerLogoSize=14%;
    cornerLogoOpacity=0.12;
    cornerLogoPosX=96.5%;
    cornerLogoPosY=54%;
    cornerLogoCol=#b9a98296;
    cornerLogo2Size=16px;
    cornerLogo2PosX=129%;
    cornerLogo2PosY=59%;
    cornerLogo2Blend=multiply;
    enableCornerLogo2=0;
    enableLightTheme=0;
    dEvalCol=#403D39;
    lEvalCol=#E0E0E0;    
    evalBarOpacity=0.95;
    setWallpaper=cover;
    //ajustBoardSize=ajustBoardSize * 1.002;

    /*Textures*/    

    /*selector with exceptions to avoid override analysis highlights*/
    notThisColors='[style*="179\, 52\, 48"]):not([style*="244\, 42\, 50"]):not([style*="#f42a32"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="92\, 139\, 176"]):not([style*="150\, 188\, 75"]):not([style*="150\, 188\, 75"]):not([style*="150\, 175\, 139"]):not([style*="168\, 136\, 101"]):not([style*="240\, 193\, 92"]):not([style*="229\, 143\, 42"]):not([style*="202\, 52\, 49"]):not([style*="219\, 172\, 22"]):not([style*="172\, 206\, 89"]):not([style*="235\, 97\, 80"]):not([style*="82\, 176\, 220"]):not([style*="255\, 170\, 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]';

    if enableBoardShadow{
        boardShadow= 0px 0px 8px 4px rgba(0, 0, 0, .4);
    }
    if enableBoardShadowInset{
        boardShadowInset= inset 0px 1px 2px 1px rgba(0, 0, 0, .4);
    }
    if enableFrameShadow{
        frameShadow= 0px 0px frameShadowBlur frameShadowSpread frameShadowColor;
    }
    if enableFrameShadowInset{
        frameShadowInset= inset 0px -1px frameShadowInsetBlur frameShadowInsetSpread frameShadowInsetColor;
    }
    
}/*Themes below*/
@-moz-document domain("chess.com") {
    /*Themes*/
    myBoard="custom";
    themeWallpaper=gridWall;
    cornerLogoOpt=logoTXT;
    /*End themes*/

    /*GLOBAL COLOR - Need to be placed after themes*/
    if (enableGlobalColor==1 && myBoard=="custom") || global==1{ 
        outCoordColorOpt=svgLightSqColor=saturate(lighten(svgDarkSqColor, 78%), -40%);
        if enableInnerBorder=="1"{
            innerBorderOpt=boardBGColor=saturate(lighten(svgDarkSqColor, 20%), -10%);
        }
        frameColor=svgDarkSqColor;
        centerLogoBlend=normal;
        cornerLogoBlend=multiply;        
        cornerLogoCol=transparentify(saturate(lighten(svgDarkSqColor, 50%), -40%), #fff,0.3);
        globalColor=saturate(shade(svgDarkSqColor,60%), globalColSaturation);
    }
    
    if frameSize=="contain"{
        frameRepeat=repeat;
    }else{
        frameRepeat=no-repeat;
    }    
    if bgSize=="contain"{
        bgRepeat=repeat;
    }else{
        bgRepeat=no-repeat;
    }
    if !enableBoardShadowInset{
        boardShadowInset=0;
    }
    if !enableFrameShadow {
        frameShadow=0;
    }
    if !enableFrameShadowInset{
        frameShadowInset=0;
    }
}
@-moz-document domain("chess.com") {

    /*Board*/
   /*prevent user to get the board completely transparent with no visual references. It can be removed if you are an experienced user*/
    if svgLightSqOpacity<"0.2" && svgDarkSqOpacity<"0.2" && boardBGOpt=="transparent"{
        svgLightSqOpacity="0.2";
        svgDarkSqOpacity="0.2";
    }    
    solidBoardBGColor=transparentify(boardBGColor, #fff, 1);
    svgDarkSqColor=hsla(svgDarkSqColor);
    svgLightSqColor=hsla(svgLightSqColor);
    centerLogoCol=hsla(centerLogoCol);
    cornerLogoCol=hsla(cornerLogoCol);
    innerBorderOpt=hsla(innerBorderOpt);
    outCoordColorOpt=hsla(outCoordColorOpt);
    /*Wallpaper square colors*/
    wallLSqCol=transparentify(saturate(svgLightSqColor, -30%), #fff,0.1);
    wallDSqCol=transparentify(saturate(svgDarkSqColor, -30%), #fff,0.2);
    /*Center Logo*/
    shapeMaster=transparentify(saturate(lighten(svgDarkSqColor, 45%), -10%), #fff,0.5);
    shading=transparentify(saturate(lighten(svgDarkSqColor, 43%), -10%), #fff,0.43);
    backGrid=transparentify(saturate(lighten(svgDarkSqColor, 1%), -40%), #fff,0.05);
    gridWall="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='1920' height='1080' shape-rendering='crispEdges' version='1.1' viewBox='0 0 1920 1080' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cg transform='matrix(1.1349 .65522 -.65522 1.1349 737.06 -1853.5)'%3e%3cpath id='darkSqr' d='m219.99 1506.2 80.013 138.59-4.1e-4 -144.78-69.277-4e-4 -10.735 6.1979zm80.012-6.1975 150-3e-4 -5e-5 -126.6-150 86.603 2.6e-4 39.997zm150-3e-4 3.5e-4 150 150-4e-4 -3.4e-4 -150-150 4e-4zm150-4e-4 150-3e-4 -3.5e-4 -150-150 4e-4 3.5e-4 150zm-3.5e-4 -150 5e-4 -63.202-109.47 63.202 109.47-1e-4zm150-4e-4 150 1e-3 9.4e-4 -150-149.66-6e-4 -0.33947 0.196-7.1e-4 149.8zm150-150 150-3e-4 -3e-4 -150-39.855 3e-4 -110.15 63.593 7.7e-4 86.407zm150-150 150-4e-4v-109.61l-150 86.603 3e-4 23.01zm150-4e-4 3e-4 150 150 1e-3 -4e-4 -150-150-1e-3zm150 1e-3 150-4e-4 -3e-4 -150-150 3.5e-4 3e-4 150zm-3e-4 -150-2e-4 -46.215-80.047 46.215 80.047 3.7e-4zm150-3.5e-4 61.804 2.6e-4 -61.805-107.05 4e-4 107.05zm3e-4 150 4e-4 150 150-3e-4 -2e-4 -147.24-1.5941-2.7609-148.41 8e-4zm150 150-9e-4 150 150-3e-4 1e-4 -37.433-64.991-112.57-85.008 3e-4zm150 150 3e-4 150 79.013 4e-4 21.901-12.645-79.302-137.36-21.612 5e-4zm3e-4 150-150 4e-4 9e-4 132.22 150-86.602 2e-4 -45.618zm-150 4e-4 -3e-4 -150-150 4e-4 3e-4 150 150-3e-4zm-150 3e-4 -150 4e-4 -4e-4 150 150 9e-4 -3e-4 -150zm3e-4 150 4e-4 68.822 119.2-68.822-119.2 2e-4zm-150-9e-4 -150 3e-4 3e-4 150 150-3e-4 -3e-4 -150zm3e-4 150 5e-4 5.426 9.3979-5.4259-9.3984-1e-4zm-150 3e-4 -150 4e-4 -9e-4 150 49.59-4e-4 100.41-57.972 1e-3 -92.029zm-150 150-150 4e-4 8.3e-4 115.23 150-86.602 3e-4 -28.631zm-150 4e-4 9.5e-4 -150-150-9e-4 -9.5e-4 150 150 9e-4zm-150-9e-4 -150 3e-4 3.5e-4 150 150-3e-4 -3.5e-4 -150zm3.5e-4 150-2.7e-4 51.836 89.783-51.836-89.783-2e-4zm-150 3e-4 -37.18 1e-4 37.18 64.398 1.7e-4 -64.398zm-3.5e-4 -150 9.4e-4 -150-150 4e-4 -9e-4 104.59 26.217 45.41 123.78 1e-4zm-150-150-3.5e-4 -150-146.99-1e-4 86.603 150 60.386-1e-4zm150-4e-4 150-3e-4 -3.5e-4 -150-150 3e-4 3.5e-4 150zm150-150 150 9e-4 -3.5e-4 -150-150-9e-4 3.5e-4 150zm150-150 150-3e-4 -3e-4 -150-150 4e-4 3.5e-4 150zm150-150 150-3e-4 9e-4 -150-150 4e-4 -9e-4 150zm150-3e-4 3e-4 150 150 1e-3 -4e-4 -150-150-9e-4zm150 9e-4 150-3e-4 9e-4 -150-150 4e-4 -1e-3 150zm-150 150-150 4e-4 4e-4 150 150-4e-4 -4e-4 -150zm-150 150-150 3e-4 3.5e-4 150 150-3e-4 -3e-4 -150z' fill='"+wallDSqCol+"' style='mix-blend-mode:normal'/%3e%3cpath id='lightSqr' d='m230.72 1500 69.277 4e-4 -2.6e-4 -39.997zm69.277 4e-4 4.1e-4 144.78 3.0114 5.2159 146.99 1e-4 -3.5e-4 -150zm150-3e-4 150-4e-4 -3.5e-4 -150-109.47 1e-4 -40.531 23.4zm150-150 150-4e-4 7.1e-4 -149.8-150 86.603zm150-4e-4 3.5e-4 150 150 9e-4 -3.5e-4 -150zm150 1e-3 150-4e-4 9e-4 -150-150 3e-4zm9.4e-4 -150-7.7e-4 -86.407-149.66 86.406zm150-3e-4 150-4e-4 -3e-4 -150-150 4e-4zm-3e-4 -150-3e-4 -23.01-39.854 23.01zm150-4e-4 150 1e-3 -3e-4 -150-80.047-3.7e-4 -69.953 40.388zm150-150 150-3.5e-4 -4e-4 -107.05-11.158-19.326-138.84 80.16zm150-3.5e-4 3e-4 150 148.41-8e-4 -86.602-150zm3e-4 150-150 4e-4 4e-4 150 150-4e-4zm4e-4 150-9e-4 150 150-4e-4 9e-4 -150zm150-3e-4 85.008-3e-4 -85.008-147.24zm-9e-4 150 3e-4 150 150-4e-4 -3e-4 -150zm150-3e-4 21.612-5e-4 -21.612-37.433zm3e-4 150-2e-4 45.618 79.013-45.618zm-150 4e-4 -150 3e-4 3e-4 150 119.2-2e-4 30.796-17.78zm-150 150-150-9e-4 3e-4 150 9.3984 1e-4 140.6-81.177zm-150 150-150 3e-4 -1e-3 92.029 150-86.603zm-150 3e-4 -3e-4 -150-150 4e-4 3e-4 150zm-150 4e-4 -150 3e-4 -9.5e-4 150 150-4e-4zm-9e-4 150-3e-4 28.631 49.59-28.631zm-150 4e-4 -150-9e-4 3.5e-4 150 89.783 2e-4 60.218-34.767zm-150 150-150 3e-4 -1.7e-4 64.398 32.06 55.53 117.94-68.092zm-150 3e-4 -3.5e-4 -150-123.78-1e-4 86.603 150zm-3.5e-4 -150 150-3e-4 9.5e-4 -150-150 3e-4zm9.4e-4 -150-3.5e-4 -150-150 4e-4 3.5e-4 150zm-150 4e-4 -60.386 1e-4 60.385 104.59zm150-150 150-3e-4 -3.5e-4 -150-150 3e-4zm150-3e-4 3.5e-4 150 150 9e-4 -3.5e-4 -150zm150 9e-4 150-3e-4 -4e-4 -150-150 3e-4zm150-150 150-4e-4 -3e-4 -150-150 3e-4zm150-150 150 9e-4 1e-3 -150-150-1e-3zm150 9e-4 4e-4 150 150-4e-4 -3e-4 -150zm4e-4 150-150-1e-3 4e-4 150 150-3e-4z' fill='"+wallLSqCol+"' style='mix-blend-mode:normal'/%3e%3c/g%3e%3c/svg%3e ";
    /*Corner Logo*/
    txt1=txt2=lighten(shapeMaster, 20);
    
    /*SVG IMAGES HERE 🔐 - need to be here because '#' symbol need to be replaced first for '%23' in the variables*/
    /*main svg board*/
    svgBoard="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='1200' height='1200' shape-rendering='crispEdges' version='1.1' viewBox='0 0 1200 1200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m150 9.25e-6v150h150v-150zm150 150v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm150 150v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm0 150v150h150v-150zm0 150h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150z' fill='" + svgDarkSqColor + "' fill-opacity='" + svgDarkSqOpacity + "' style='mix-blend-mode:multiply'/%3e%3cpath d='m1200 150h-150v150h150zm-150 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm-150 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150z' fill='" + svgLightSqColor + "' fill-opacity='" + svgLightSqOpacity + "' style='mix-blend-mode:multiply'/%3e%3c/svg%3e";
    logoArena="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3c!-- Created with Inkscape (http://www.inkscape.org/) --%3e%3csvg width='440' height='600' version='1.1' viewBox='0 0 440 600' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cpath id='bGrid' transform='rotate(45)' d='m405.6-106.48 27.762 28.199 2.0702 3.6336c8.1806 14.354 8.3847 34.105 0.59386 57.53-0.14486 0.43559-0.2103 0.72764-0.34388 1.1477h47.271v-90.51h-77.354zm77.354 90.51v38.631l4.273-0.48061c6.2996-0.70813 21.951-0.38126 26.706 0.55657 4.542 0.89583 10.724 2.8959 15.098 4.8835l3.0715 1.3949 13.233 0.085627 13.233 0.088388 5.5823 1.1463c3.4074 0.70011 6.433 1.5384 9.3125 2.468v-48.774h-90.51zm-276.71 113.18v73.014h90.51v-45.741c-5.3927 1.8342-12.937 4.09-17.345 4.9843-16.799 3.4083-31.68 2.0464-43.121-3.9457l-3.1557-1.6531-26.888-26.659zm90.51 73.014v90.51h45.456c-0.56921-2.0158-1.0761-4.1263-1.5316-6.3681l-1.3935-6.857-0.16297-13.43c-0.0897-7.3853-0.41336-13.68-0.72091-13.987-0.30756-0.30755-1.6423-3.762-2.9638-7.676-3.6639-10.853-4.4849-20.053-3.1433-35.217l0.61872-6.9744h-36.159zm-41.29-90.182c0.51507-0.10623 1.0287-0.19808 1.544-0.31488-0.51508 0.11681-1.0292 0.20703-1.544 0.31488zm156.31-140.4v0.002763l0.00414 0.004143-0.00138-0.004143-0.00276-0.002763zm0.06905 0.071816c0.01527 0.18379 0.01668 0.36848 0.03038 0.55243l0.41985 2.6296c0.91941 5.7523-0.65439 16.991-3.6212 25.851-0.75587 2.2575-1.6237 4.5327-2.526 6.81-0.08058 0.21811-0.18315 0.43388-0.26516 0.65186 0.08192-0.2168 0.18913-0.43074 0.26931-0.64772 0.90221-2.2772 1.7686-4.551 2.5246-6.8087 2.967-8.8599 4.5419-20.1 3.6225-25.852l-0.41984-2.6296c-0.01371-0.18395-0.01512-0.36864-0.03039-0.55243l-0.00414-0.004143zm-161.95 162.06 0.00414 0.00414 1.3866 0.03867c1.9685 0.23533 3.9778 0.32214 6.009 0.32179-2.0326-0.00137-4.0437-0.09034-6.0132-0.32593l-1.3866-0.03867zm173.56-173.39 1.9887 3.3919c5.0622 8.628 5.8998 23.569 2.1724 38.74-0.02267 0.092283-0.08314 0.2654-0.10772 0.36184 0.02124-0.083753 0.09224-0.27782 0.11187-0.3577 3.7274-15.171 2.8914-30.113-2.171-38.742l-1.9943-3.3947zm-183.14 186.37 0.00414 0.00414 3.4347 1.3742c5.9664 2.3863 10.19 3.3057 16.393 3.577-6.2052-0.2711-10.429-1.1945-16.397-3.5811l-3.4347-1.3742zm18.994-12.688c1.3559-0.04886 2.717-0.12321 4.0949-0.26655-1.3772 0.14132-2.7396 0.21914-4.0949 0.26655zm6.7368-0.60491c1.1542-0.16676 2.313-0.36037 3.4789-0.58695-1.1654 0.2245-2.3252 0.42206-3.4789 0.58695zm6.5946-1.2388c0.94582-0.22332 1.8965-0.4842 2.8478-0.74301-0.95078 0.25704-1.9024 0.52144-2.8478 0.74301zm6.5614-1.7912c0.15715-0.049717 0.31507-0.11237 0.47232-0.16297-0.15719 0.050327-0.31523 0.11352-0.47232 0.16297zm123.45-114.47c-0.00939 0.0207-0.0196 0.04145-0.029 0.062148h0.00276c0.00939-0.020663 0.01686-0.041485 0.02624-0.062148zm-134.42 135.58c0.03607-0.00304 0.073-0.00656 0.1091-0.00967-0.03626 0.00313-0.07287 0.00661-0.1091 0.00967zm28.32-28.19c0.06765-0.033277 0.13539-0.061899 0.20302-0.095294v-0.002762c-0.06758 0.033372-0.13542 0.064803-0.20302 0.098056zm-19.839 26.938c0.05278-0.01093 0.10735-0.02208 0.16021-0.03314-0.05314 0.01112-0.10715 0.02215-0.16021 0.03314zm9.2048-2.4127c3.2722-1.0194 6.7249-2.2443 10.431-3.6999l0.40603-0.16021v-0.00276l-0.41018 0.16159c-3.7037 1.4546-7.1569 2.6822-10.427 3.7013zm138.99-136.73c-0.55956 1.6306-1.1087 3.2577-1.6987 4.8835h0.00552c0.67772-1.8675 1.039-2.9263 1.6932-4.8835zm-54.235 191.08 6.6443 9.9451c0.73797 0.93096 1.4337 1.8034 2.1379 2.5881-0.70269-0.78971-1.397-1.6566-2.1365-2.5895l-6.6429-9.9437h-0.00276zm-8.4508 24.062c-0.1788 0.17982-0.20109 0.77497-0.10911 1.62-0.09137-0.84316-0.06975-1.4411 0.10911-1.62zm0.57176-0.57176c0.01575 0.01574 0.03121 0.02846 0.04696 0.04419-0.01549-0.01548-0.03009-0.03009-0.04558-0.04557l-0.00138 0.00138zm146.53-140.98c-0.05949 0.13838-0.04197 0.35554 0.02348 0.62286-0.06581-0.26846-0.08378-0.48442-0.02348-0.62286zm0.52342-0.24721c0.39297-0.016075 0.96296 0.13672 1.6338 0.37151-0.65939-0.22964-1.2464-0.38783-1.6338-0.37151zm-0.43918 1.0496c0.2049 0.65532 0.71556 1.6311 1.7236 3.1405-1.0087-1.5104-1.5187-2.4852-1.7236-3.1405zm-128.52 130.58c0.26167 0.23259 0.50756 0.51753 0.78169 0.72092-0.27389-0.20567-0.52035-0.48585-0.78169-0.72092zm1.3051 1.0565c0.64975 0.4213 1.3413 0.76944 2.1089 1.004-0.76662-0.23718-1.4614-0.57855-2.1089-1.004zm131.84-131.39c1.1537 0.39497 2.2689 0.90134 3.3477 1.4833-1.078-0.58269-2.1927-1.0879-3.3477-1.4833zm-144.8 145.88c1.1476 0.8979 2.3442 1.7269 3.6294 2.45-1.2855-0.72333-2.4816-1.5518-3.6294-2.45zm-4.1515 6.4634c0.80516 1.3141 1.6454 2.5184 2.508 3.6571-0.86184-1.1411-1.7024-2.3422-2.508-3.6571zm19.943-19.777c0.68854 0.14528 1.4134 0.2436 2.2332 0.22512v-0.06906c-0.79684 0.01398-1.5626-0.0124-2.2332-0.15606zm112.8-112.68c0.24186 1.2661 0.36841 2.588 0.4226 3.9443-0.04319-1.3607-0.18064-2.6777-0.4226-3.9443zm15.547-12.586c0.22028 0.52409 0.43737 1.0673 0.65186 1.6407-0.22486-0.59605-0.42105-1.0981-0.65186-1.6407zm5.1514-5.0934c0.65658 0.40326 1.3146 0.80347 1.9363 1.2678-0.62134-0.46594-1.2793-0.86329-1.9363-1.2678zm-149.91 155.05c0.54702 0.662 1.1029 1.3027 1.6739 1.9004-0.57022-0.60013-1.1273-1.2362-1.6739-1.9004zm153.24-152.61c0.45756 0.39222 0.92103 0.77518 1.3548 1.1974-0.43321-0.42393-0.89754-0.80363-1.3548-1.1974zm-144.9 145.51c1.5434 0.50359 3.1396 0.87499 4.7605 1.1863-1.6245-0.30198-3.2178-0.68291-4.7605-1.1863zm138.7-136.06c0.57394 2.1667 1.0782 4.4008 1.3756 6.6567-0.29981-2.275-0.78916-4.4726-1.3756-6.6567zm-144.03 146.39c0.47399 0.4412 0.96229 0.85011 1.4529 1.2512-0.48984-0.40335-0.97959-0.8079-1.4529-1.2512zm153.13-152.98c0.29523 0.33433 0.59609 0.66249 0.87698 1.0096-0.28034-0.34864-0.58217-0.67374-0.87698-1.0096zm-142.37 143.95c1.5739 0.27489 3.1823 0.46188 4.8282 0.55795-1.6458-0.09605-3.2506-0.29197-4.8282-0.55795zm-7.647 11.597c0.20893 0.1463 0.43169 0.26349 0.64358 0.40328-0.21155-0.14067-0.435-0.25608-0.64358-0.40328zm152.46-152.4c0.17006 0.25001 0.34132 0.49835 0.50409 0.75268-0.16234-0.25547-0.33443-0.50156-0.50409-0.75268zm1.9901 3.3408c0.0743 0.14384 0.14762 0.28761 0.21959 0.43228-0.07173-0.14517-0.14554-0.28793-0.21959-0.43228zm-148.6 152.17c0.02794 0.01074 0.0535 0.02663 0.08148 0.03729-0.02798-0.01075-0.05354-0.02646-0.08148-0.03729zm150.11-148.78c0.02376 0.063485 0.04577 0.12703 0.06906 0.19059-0.02323-0.063706-0.04537-0.12695-0.06906-0.19059zm-147.09 149.74c0.15806 0.0417 0.31565 0.08496 0.47509 0.1243-0.15938-0.03955-0.3171-0.08236-0.47509-0.1243zm179.11-178.98c1.698 0.37932 3.435 0.84662 5.179 1.3949-1.7469-0.54071-3.4838-1.017-5.179-1.3949zm-209.6 214.83c0.38348 1.3256 0.82882 2.6079 1.2927 3.8808-0.46416-1.2713-0.89796-2.5644-1.2927-3.8808zm215.08-213.34c1.7581 0.56128 3.5183 1.1867 5.2384 1.8713-1.7238-0.68599-3.4703-1.3155-5.2384-1.8713zm-195.47 199.98c-0.23276 0.23437-0.28244 0.97172-0.19611 1.997-0.08616-1.0257-0.03725-1.7637 0.19611-1.997zm181.26-181.26c0.22332-0.21722 0.9908-0.21244 2.0813-0.048338-1.0908-0.16426-1.8571-0.16845-2.0813 0.048338zm-179.34 181.42c0.8821 0.46304 1.9742 1.3177 3.1792 2.5135-1.2057-1.1965-2.2972-2.0505-3.1792-2.5135zm183.22-173.77c0.81238 1.5102 1.591 3.098 2.3257 4.7288-0.73959-1.6412-1.4912-3.2256-2.3257-4.7288zm-177.81 178.05c0.29725 0.20248 0.62051 0.39538 0.94327 0.59248-0.3232-0.19588-0.64561-0.39117-0.94327-0.59248zm2.8353 1.6393c0.42614 0.21715 0.83493 0.43531 1.2899 0.64357-0.45466-0.20692-0.86361-0.42795-1.2899-0.64357zm185.91-183.19c1.0936 0.601 2.114 1.3294 3.1295 2.0661-1.0058-0.75216-2.0358-1.465-3.1295-2.0661zm-181.86 184.97c0.10981 0.04132 0.20397 0.089 0.31488 0.12982v-0.00276c-0.10995-0.04048-0.20596-0.08611-0.31488-0.12706z' fill='" + backGrid + "' fill-opacity='1' stroke-width='2.899'/%3e%3cpath id='shMaster' d='m210.32 10-0.44219 7.6842c-0.24352 4.2265-0.44463 18.622-0.44616 31.989l-3e-3 24.306h-0.66827c-0.36779 0-5.7991 0.46107-12.068 1.0248-26.993 2.4271-47.907 7.1957-71.85 16.384l-1.0766 0.4133v-31.42h23.648l0.46409 1.8703c0.25522 1.0283 1.1069 2.5577 1.8922 3.399l1.4281 1.5297h29.677v-4.2575l-2.7746-5.2066-2.7736-5.2066 5.5294-10.144 9e-3 -2.1183 0.01-2.1173-28.039-0.64732-0.6543-1.1692c-0.3598-0.64293-1.5775-2.2213-2.7068-3.5076l-2.0535-2.3384h-29.565l-0.44118 7.6485c-0.24239 4.2067-0.44266 18.836-0.44417 32.508l-3e-3 24.859-2.3414 1.1164c-3.7111 1.7697-13.257 8.2568-17.714 12.037-1.8698 1.586-3.7694 3.4321-5.6028 5.4106-0.0071 8e-3 -0.01377 0.0162-0.02091 0.0239-1.8262 1.9722-3.587 4.075-5.1867 6.1856-3.2116 4.2374-5.7761 8.5021-6.9265 11.782l-0.73895 2.1083-21.666 0.44517c-24.347 0.50049-25.571 0.62039-30.628 3.0126l-3.6231 1.715-4.0852 4.4576-4.0852 4.4586-1.3803 3.6888-1.3802 3.6888 0.05975 313.71 0.89931 2.5186c0.49455 1.3851 1.8982 4.0756 3.1192 5.9786l2.2198 3.4598 3.9647 3.0504c2.1805 1.6778 9.5596 6.0525 16.397 9.7218 6.8378 3.6694 17.786 9.7309 24.33 13.47 6.5435 3.7386 13.886 7.882 16.317 9.2083 10.025 5.4692 38.862 21.305 44.871 24.64 3.5523 1.972 8.294 4.5862 10.538 5.8093 2.2436 1.2229 7.445 4.1157 11.558 6.4293 4.1132 2.3138 8.396 4.6565 9.5178 5.2056 1.1218 0.54916 6.4762 3.4727 11.898 6.4961 5.4218 3.0237 15.059 8.397 21.416 11.942 14.228 7.9335 19.599 10.674 23.115 11.791 1.4957 0.47558 4.9477 0.88524 7.6704 0.91022l4.9506 0.0459 4.2276-1.4222c2.3252-0.78188 4.5339-1.6523 4.9078-1.935 0.37393-0.28269 3.7389-2.1362 7.4782-4.119 3.7392-1.9829 9.0936-4.8819 11.898-6.4416 25.322-14.081 32.219-17.904 40.792-22.608 19.514-10.708 44.361-24.414 72.406-39.939 15.705-8.6943 31.001-17.116 33.993-18.715 2.9914-1.5986 8.2221-4.5299 11.624-6.514l6.1856-3.6082 3.5344-3.868c1.9442-2.1272 4.2085-5.1265 5.0323-6.6664l1.4978-2.8005 0.20117-156.03 0.20017-156.03-1.6452-7.9993-2.7198-4.0732-2.7198-4.0722-4.0324-2.9688c-2.2176-1.6326-5.6089-3.449-7.5358-4.0364l-3.5036-1.0676-45.726-0.80269-1.4381-3.4667c-6.9918-16.86-26.669-32.519-53.626-42.673l-3.5693-1.3445v-26.209l8.0569-0.40533c4.4312-0.22281 9.7789-0.22728 11.884-0.0099l3.8273 0.39537c1.2683 3.1404 2.2447 5.0083 4.0583 6.6109h29.962v-1.6104c0-0.8859-1.3993-4.082-3.1102-7.1019l-3.1112-5.4906 3.1112-6.0229c1.7109-3.3126 3.1102-6.5017 3.1102-7.0866v-1.0636l-2.5495-0.42126c-1.4022-0.23178-7.8188-0.4251-14.259-0.42923l-11.711-8e-3 -1.0128-1.9579c-0.55707-1.0772-1.9652-2.7602-3.1291-3.7396l-2.1153-1.7807h-28.953l-0.42126 2.5495c-0.23178 1.4022-0.42516 13.486-0.42924 26.854l-7e-3 24.306h-0.71407c-0.39295 0-4.9837-1.0753-10.201-2.3891-16.833-4.2391-34.662-6.6088-56.563-7.518l-11.387-0.47307v-34.491h23.051l1.1662 2.5495c0.64115 1.4022 1.6209 3.0842 2.177 3.7386l1.0108 1.1901h29.746l0.44019-1.1443 0.43919-1.1453-3.1958-6.0908-3.1948-6.0908 2.4728-4.8321c1.3599-2.6576 2.7434-5.1225 3.0743-5.4773 0.33094-0.35523 0.60153-1.3359 0.60153-2.179v-1.5327l-2.2089-0.33761c-1.2152-0.18544-7.7168-0.48095-14.448-0.65731l-12.238-0.32068-0.67918-1.1841c-0.37406-0.6513-1.4958-2.1286-2.4928-3.2825l-1.8135-2.0983-14.907-0.20515zm5.5671 75.379 10.878 0.42724c34.34 1.3508 58.96 6.3304 82.604 16.705 21.342 9.3648 34.681 21.077 39.515 34.694l1.5686 4.4188-0.1952 53.585-0.19519 53.585-0.99191 3.8103c-2.5215 9.681-12.494 20.838-25.858 28.93-4.4767 2.7108-16.952 8.73-20.302 9.7957l-2.0396 0.64931-0.19818 1.6472c-0.10886 0.90594 1.0547 7.7658 2.5864 15.244 1.5316 7.4782 4.6104 22.623 6.8408 33.653l4.0553 20.056 3.3174 3.0594c1.8248 1.6827 6.2065 5.718 9.737 8.9681l6.4186 5.9097 3.0952 4.6289c3.7034 5.538 4.872 7.7989 7.0958 13.73l1.686 4.4965 19.476 19.036 3.153 4.9177c3.508 5.4702 6.6124 12.344 8.2757 18.325l1.1005 3.9528 0.29777 20.396 0.29778 20.396-0.89533 1.6811c-1.3048 2.4483-3.4994 3.7747-35.249 21.308-15.87 8.7642-38.949 21.524-51.291 28.356-54.539 30.197-62.05 34.288-65.104 35.458-4.2426 1.6248-8.2145 1.5357-12.4-0.27784-3.061-1.3264-19.61-10.283-32.974-17.845-2.8044-1.587-10.299-5.7267-16.656-9.2001-6.3569-3.4734-15.229-8.369-19.716-10.878-4.4871-2.5092-10.3-5.7272-12.918-7.1503-2.6175-1.4235-14.243-7.8402-25.835-14.26-11.592-6.4196-23.83-13.142-27.195-14.938-8.2068-4.3796-12.538-7.0463-14.787-9.1007l-1.8693-1.708v-39.914l1.0796-5.2402c1.357-6.5874 4.1558-13.219 8.2053-19.439l3.149-4.8381 9.9589-9.8574 9.9589-9.8584 2.2238-5.9276c4.2558-11.345 12.123-21.023 24.142-29.7 3.1843-2.2987 5.9485-4.707 6.1428-5.3519 1.014-3.365 13.381-66.996 13.199-67.908l-0.21411-1.0736-8.8386-3.8541c-14.442-6.2973-23.651-12.333-30.922-20.269-4.1962-4.5795-6.5313-8.2181-9.0635-14.126l-1.457-3.4-0.41628-107.93 1.1035-3.7944c2.4266-8.3471 7.7122-16.047 15.201-22.143 21.58-17.566 56.369-28.493 98.982-31.091zm1.1025 27.693c-24.39 0.27008-49.182 4.2274-70.789 12.366-7.1355 2.6878-23.961 10.972-26.766 13.178l-1.7886 1.4072c-4.3018 3.3838 1.0432 11.596 7.5669 8.06l6.5848-3.5693c59.872-32.455 133.82-22.112 175-0.15138l7.5052 4.0015c6.05 2.818 11.009-3.7476 7.3008-8.3945l-6.6287-3.9149c-7.3696-4.3519-20.475-10.205-29.609-13.225-20.001-6.6109-43.99-10.028-68.378-9.758zm145.61 32.872 42.966 0.48899 2.0396 0.86444c1.1218 0.47566 3.3502 2.1449 4.9516 3.7087l2.911 2.8433 1.9958 6.7184v303.41l-0.99787 3.3522c-1.1857 3.9818-3.6589 6.8566-8.6163 10.017-2.0036 1.2772-6.8857 4.0502-10.849 6.1626l-7.2064 3.8412-0.39339-19.552-0.39437-19.552-1.7159-6.6568c-1.8492-7.1738-4.8618-13.676-9.8334-21.218l-3.1371-4.7584-9.2955-9.4194-9.2965-9.4184-1.1851-3.159c-1.6872-4.498-4.645-10.284-7.2232-14.129-2.6992-4.0255-13.535-15.322-18.49-19.276l-3.6151-2.8841-1.1134-4.851c-1.523-6.6328-10.656-51.296-10.656-52.112 0-0.36084 3.1356-2.2263 6.9683-4.146 22.073-11.055 35.895-25.165 40.26-41.099l1.1055-4.0344 0.4103-52.571zm-326.21 0.0996h40.407l0.45811 106.4 1.0616 3.399c3.8528 12.327 13.413 23.813 27.702 33.282 4.8784 3.2329 16.476 9.5015 20.305 10.976 0.0998 0.0384-0.13506 1.5689-0.52086 3.401-0.3858 1.8321-2.6938 13.58-5.1291 26.106-2.4351 12.527-4.5684 23.428-4.7415 24.226l-0.31471 1.451-5.9556 4.9874c-11.671 9.7738-17.596 16.86-22.68 27.125-1.8332 3.7021-3.3323 7.0871-3.3323 7.522 0 0.43494-4.2214 5.1153-9.3801 10.401l-9.3801 9.6106-3.8631 5.8338c-5.0909 7.6872-8.1222 14.486-9.9711 22.364l-1.5108 6.4426-0.45413 18.493-0.45413 18.494-8.3277-4.5393c-4.5802-2.4967-9.7585-5.6109-11.506-6.9193l-3.1789-2.3792-1.4102-2.7198-1.4112-2.7198v-309.34l1.8155-3.4388 1.8145-3.4388 2.6631-1.8464c1.4648-1.0151 3.7057-2.1443 4.9795-2.5097zm182.71 1.0506c2.5154-8e-3 5.0275 0.0495 7.5282 0.1703-2.5005-0.12084-5.0126-0.17801-7.5282-0.1703zm0 0c-2.5154 8e-3 -5.0347 0.0806-7.5501 0.2181 2.5152-0.13747 5.0345-0.2104 7.5501-0.2181zm-7.5501 0.2181c-2.5152 0.13747-5.026 0.34001-7.5261 0.60852 2.5-0.26849 5.0108-0.47102 7.5261-0.60852zm-7.5261 0.60852c-2.5 0.26847-4.9886 0.60214-7.4583 1.0029 2.4696-0.40072 4.9583-0.73441 7.4583-1.0029zm-7.4583 1.0029c-2.4696 0.40072-4.9205 0.86805-7.3446 1.4022 2.4243-0.53417 4.8751-1.0015 7.3446-1.4022zm-7.3446 1.4022c-2.4243 0.53417-4.8216 1.1356-7.1855 1.8046 2.3638-0.66889 4.7611-1.2704 7.1855-1.8046zm-7.1855 1.8046c-2.3638 0.66889-4.694 1.405-6.9821 2.2099 2.2882-0.80483 4.6185-1.541 6.9821-2.2099zm-6.9821 2.2099c-2.2882 0.80482-4.5346 1.6782-6.7322 2.6202 2.1976-0.94204 4.444-1.8154 6.7322-2.6202zm-6.7322 2.6202c-2.1976 0.94204-4.3465 1.9531-6.4385 3.0335 2.0919-1.0804 4.2408-2.0915 6.4385-3.0335zm58.307-9.6963c2.5005 0.12083 4.9898 0.30558 7.4603 0.5537-2.4705-0.24813-4.9598-0.43288-7.4603-0.5537zm7.4603 0.5537c2.4705 0.24814 4.9223 0.55997 7.3477 0.93414-2.4254-0.37421-4.8772-0.68602-7.3477-0.93414zm7.3477 0.93414c2.4254 0.3742 4.8241 0.81059 7.1896 1.3096-2.3653-0.49903-4.7639-0.93541-7.1896-1.3096zm7.1896 1.3096c2.3653 0.49904 4.6971 1.0604 6.9872 1.6831-2.2901-0.62264-4.6219-1.184-6.9872-1.6831zm6.9872 1.6831c2.2901 0.62264 4.5394 1.3066 6.7394 2.0515-2.1998-0.74501-4.4491-1.4289-6.7394-2.0515zm6.7394 2.0515c2.1998 0.74502 4.35 1.5509 6.4446 2.417-2.0945-0.86611-4.2446-1.6721-6.4446-2.417zm6.4446 2.417c2.0945 0.86612 4.1328 1.7926 6.1071 2.7786-1.974-0.98605-4.0124-1.9124-6.1071-2.7786zm6.1071 2.7786c3.8115 1.9038 9.3072 4.8393 9.6621 5.1877-0.35523-0.34836-5.8506-3.2839-9.6621-5.1877zm-170.17 14.331v75.353l0.95209 1.0088c21.158 26.907 75.073 35.502 111.4 35.733 0.17728 1e-3 0.36399-4e-3 0.54177-3e-3 1.648 0.0157 3.2871-0.0153 4.9307-0.0299 0.93975-0.011 1.8685-0.0167 2.8194-0.0369 2.217-0.043 4.424-0.1131 6.6277-0.21112 0.48269-0.0211 0.97029-0.0511 1.455-0.0747 2.2532-0.11278 4.5034-0.22817 6.7373-0.39836 21.817-1.5832 44.983-5.8649 64.278-14.749 2.2484-0.97233 4.4699-1.9667 6.6006-3.0285 8.3629-4.1672 17.424-11.001 20.841-15.718l1.5616-2.1561c0.12038-0.13975 0.25032-0.27154 0.36948-0.4123v-0.0976l3e-3 -4e-3v-75.022l-3e-3 1e-3v3.8412c-3.8449 2.9999-8.214 5.7231-12.92 8.2359l-0.0239 21.669-0.0279 23.984c-4.1926 3.371-8.7315 6.3722-13.54 9.0268v-48.454c-5.7262 2.2519-11.767 4.247-18.041 5.9725l-0.16133 25.202-0.18424 25.454c-4.4268 1.5682-8.9732 2.8923-13.567 4.0662v-51.388c-5.8312 1.2158-11.745 2.2432-17.677 3.0664v51.949c-4.5597 0.71554-9.0987 1.2658-13.598 1.691l1e-3 -25.582v-26.513c-5.9923 0.54258-11.912 0.90068-17.676 1.0656v52.066c-3.178 0.0709-6.3131 0.10356-9.3404 0.0598-1.382-0.02-2.8316-0.0703-4.2575-0.10955v-51.979c-5.9194-0.13986-12.065-0.48231-18.356-1.0656l1e-3 26.475v25.532c-4.468-0.39716-9.0252-0.94005-13.598-1.5914v-52.01c-5.8975-0.84113-11.816-1.8943-17.676-3.144v51.903c-4.6102-1.0659-9.1364-2.3341-13.561-3.7715l-0.18523-25.883-0.0956-25.629c-5.9857-1.6705-11.782-3.6035-17.336-5.7624l-0.25794 25.052-0.17029 24.814c-4.6547-2.4277-8.9972-5.1847-12.932-8.3007l-0.17328-25.361-0.15038-22.354c-4.9145-2.5533-9.5152-5.3254-13.607-8.3884v-3.9975zm48.643 150.38c-1.5267 7.8203-4.0374 20.58-7.1712 36.331l-6.799 34.17c-0.57445 4.9682-1.0104 8.7025 3.1042 12.13 3.1161 3.4658 7.3053 6.4966 12.24 9.1415 1.1894 0.63753 2.4998 1.2054 3.7774 1.7956 1.7137 0.79157 3.4758 1.5551 5.3341 2.2617 3e-3 1e-3 5e-3 2e-3 8e-3 3e-3 1.2011 0.45657 2.425 0.88947 3.6809 1.3106 3e-3 1e-3 5e-3 2e-3 8e-3 3e-3 1.883 0.6313 3.8304 1.2158 5.8241 1.7677 1.3533 0.3746 2.6926 0.7494 4.0911 1.0875 2.0643 0.49906 4.2005 0.93169 6.3508 1.3514 5e-3 1e-3 9e-3 2e-3 0.014 3e-3 1.4368 0.28031 2.8387 0.5846 4.3082 0.82961 2.2782 0.37981 4.6248 0.67082 6.9683 0.966 3e-3 2.9e-4 5e-3 4.9e-4 7e-3 1e-3 2.3011 0.28974 4.6033 0.54748 6.9515 0.75588 4e-3 3.3e-4 7e-3 4.9e-4 0.011 1e-3 2.6617 0.2361 5.3285 0.46258 8.0289 0.59454 3e-3 1.5e-4 6e-3 -1.4e-4 9e-3 0 2.2694 0.11081 4.545 0.12282 6.8271 0.16035 8.9839 0.14771 17.952-0.26549 26.611-1.2449 2e-3 -1.6e-4 3e-3 -1e-3 4e-3 -1e-3 2.6286-0.2974 5.2081-0.63432 7.7571-1.0347 0.8034-0.12622 1.5843-0.27388 2.3782-0.41032 4e-3 -5.1e-4 7e-3 -2e-3 0.01-2e-3 2.7586-0.4742 5.4687-0.97931 8.0936-1.5765 0.18789-0.0427 0.36262-0.0951 0.54973-0.13844 0.0215-5e-3 0.0413-0.0109 0.0627-0.0159 4.1504-0.96702 8.0789-2.1083 11.789-3.3811 0.73711-0.25324 1.4683-0.50842 2.185-0.77383 1.3482-0.49841 2.6237-1.0371 3.8979-1.5765 0.0436-0.0185 0.0899-0.0353 0.13345-0.0538 2.0694-0.88024 4.0688-1.7977 5.9046-2.7955 0.0961-0.0522 0.2073-0.0968 0.30275-0.14939-0.2858-1.372-4.466-21.323-11.429-47.086-7.211-26.681-12.98-35.694-49.396-34.973-29.889 0.59184-61.56-6.7067-72.426-9.452zm-34.628 69.81c-1.0196 0-4.9975 6.5043-6.333 10.355-3.2508 13.495 0.0783 23.482 9.968 32.533 6.6731 6.7062 11.658 10.245 20.962 14.882 53.687 25.487 150.25 17.454 178.69-20.628 5.7522-7.7189 7.8759-20.042 3.4119-29.153-1.5953-3.1872-2.6325-7.3614-4.0991 2e-3 -0.91664 5.5457-8.0187 19.262-15.749 23.779-12.599 9.6392-36.68 17.873-61.377 20.984-13.212 1.6647-33.625 1.8098-47.712-0.0319-40.043-5.2351-64.813-17.088-74.16-35.488-2.7686-5.562-2.7959-11.139-2.7975-17.234zm181.19 10.589c-0.72452 1.0667-1.5592 2.0956-2.4908 3.0883 0.92078-0.99742 1.7665-2.022 2.4908-3.0883zm-2.5336 3.1301c-2.8003 2.9719-6.4793 5.6201-10.773 7.984 4.2938-2.3641 8.0039-4.9965 10.773-7.984zm-205.95 28.433c-1.3273 0-6.2799 7.8117-7.4491 11.75-3.2352 10.894-0.34096 21.953 7.0438 30.52 59.006 74.93 231.32 58.276 262.66-8.7081 3.3392-7.1355 3.4395-13.927 1.6313-20.147-1.3345-4.5905-6.3018-13.415-7.5521-13.415h-0.9013l-0.48201 2.8901c-1.3473 8.086-5.7262 18.313-10.698 24.985-16.716 22.432-56.125 36.447-100.84 39.836l-10.538 0.7987-11.898-0.4123c-42.522-1.4719-79.85-11.744-101.52-31.804-9.6519-8.936-17.721-22.934-17.751-30.791-0.0129-3.3954-0.66955-5.5023-1.7139-5.5023z' fill='" + shapeMaster + "' opacity='1' stroke-width='.5099'/%3e%3cpath id='shad' d='m91.307 114.04c-0.91685 0.98941-1.8158 2.0126-2.6875 3.0527 0.87196-1.0402 1.7726-2.0633 2.6895-3.0527zm130.15 22.008c-30.089-0.22059-55.564 8.3147-67.439 15.611l-4.748 2.918c-2.9544 4.2631 1.7982 10.134 6.5723 8.5391l6.0508-3.125c33.471-17.287 81.436-16.778 113.02-1.002 3.8115 1.9038 9.3072 4.839 9.6621 5.1875 6.6358 3.0736 10.384-4.0483 6.4453-7.8379l-2.5488-2.1367c-3.5324-2.9604-16.211-9.0392-23.965-11.488-14.741-4.6565-29.372-6.5661-43.049-6.666zm-62.748 163.15c-0.63529-0.15206-1.9585 7.0856-3.9512 17.492-0.15645 0.81706-1.088 5.5053-1.3828 7.0156 10.864 2.7454 42.538 10.045 72.426 9.4531 36.416-0.7211 42.184 8.2916 49.395 34.973 6.9632 25.763 11.144 45.714 11.43 47.086 5.7466-3.164 10.4-6.8342 13.307-11.113 1.1739-1.925 1.6007-3.2268 1.2774-5.5996 2e-3 -1.9293-1.0866-8.6578-2.4199-14.955-1.3333-6.2973-4.2147-20.322-6.4004-31.166-7.2656-36.046-9.5361-46.883-10.471-49.971l-0.92578-3.0586-2.2969 0.0469c-37.788 9.3913-80.396 9.2731-119.98-0.20313zm-3.9629 116.28c1.1894 0.63753 2.4997 1.2048 3.7773 1.7949-1.2765-0.58949-2.5889-1.158-3.7773-1.7949zm126.56 2.3574c-5.5961 2.4717-12.017 4.5106-18.961 6.125 6.9582-1.613 13.367-3.6518 18.961-6.125zm-117.45 1.6992c1.2062 0.45864 2.4339 0.89354 3.6953 1.3164-1.2591-0.42175-2.4912-0.85897-3.6953-1.3164zm9.5195 3.084c1.3533 0.37461 2.6932 0.74978 4.0918 1.0879-1.3959-0.33688-2.7409-0.71455-4.0918-1.0879zm88.428 1.4805c-2.6229 0.59868-5.3529 1.1042-8.1094 1.5801 2.7641-0.475 5.4798-0.98166 8.1094-1.5801zm-77.984 0.95899c1.4414 0.28134 2.8478 0.58625 4.3223 0.83203-1.4722-0.24463-2.883-0.55189-4.3223-0.83203zm67.496 1.0312c-2.5421 0.40131-5.1398 0.73645-7.7617 1.0352 2.63-0.29749 5.2117-0.63453 7.7617-1.0352zm-56.207 0.76758c2.3069 0.29056 4.6146 0.549 6.9688 0.75781-2.3529-0.20713-4.6629-0.46888-6.9688-0.75781zm14.998 1.3516c2.277 0.11128 4.5598 0.12265 6.8496 0.16015-2.2864-0.0357-4.5754-0.0507-6.8496-0.16015z' fill='" + shading + "' fill-opacity='1' stroke-width='.5099'/%3e%3c/svg%3e ";
    logoTXT="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3c!-- Created with Inkscape (http://www.inkscape.org/) --%3e%3csvg width='170' height='74' version='1.1' viewBox='0 0 170 74' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m106.78 27.862c-3.268 0-5.9544 0.98468-8.0566 2.9531-2.1022 1.9684-3.1523 4.4629-3.1523 7.4824 0 3.0196 1.0501 5.512 3.1523 7.4805 2.1022 1.9684 4.7886 2.9531 8.0566 2.9531 1.9684 0 3.7254-0.43925 5.2734-1.3184v-5.4473c-1.5098 1.1084-3.1708 1.6641-4.9863 1.6641-1.7009 0-3.088-0.48823-4.1582-1.4629-1.0702-0.97468-1.6055-2.2638-1.6055-3.8691s0.53525-2.8964 1.6055-3.8711 2.4573-1.4609 4.1582-1.4609c1.8156 0 3.4765 0.55367 4.9863 1.6621v-5.4473c-1.5862-0.87911-3.3432-1.3184-5.2734-1.3184zm-102.88 0.40039v20.068h5.2461v-11.754l6.4512 8.5137 6.3926-8.7715 0.0566 12.012h5.2168l-0.0273-20.068h-5.2461l-6.3359 8.916-6.5078-8.916zm26.234 0v11.152c0 2.9622 0.77426 5.2564 2.3223 6.8809 1.548 1.6244 3.7074 2.4356 6.4785 2.4356s4.9305-0.8111 6.4785-2.4356c1.548-1.6244 2.3223-3.9186 2.3223-6.8809v-11.152h-5.6191v10.98c0 2.924-1.0419 4.3867-3.125 4.3867-2.1213 0-3.1816-1.4627-3.1816-4.3867v-10.98zm20.041 0v20.068h13.33v-4.7012h-7.6543v-15.367zm13.047 0v4.7305h5.2734v15.338h5.6777v-15.338h5.2441v-4.7305zm17.318 0v20.068h5.6758v-20.068zm33.893 0v20.068h13.33v-4.7012h-7.6543v-15.367zm14.768 0v11.152c0 2.9622 0.77426 5.2564 2.3223 6.8809 1.548 1.6244 3.7074 2.4356 6.4785 2.4356s4.9305-0.8111 6.4785-2.4356c1.548-1.6244 2.3223-3.9186 2.3223-6.8809v-11.152h-5.6191v10.98c0 2.924-1.0419 4.3867-3.125 4.3867-2.1213 0-3.1816-1.4627-3.1816-4.3867v-10.98zm20.443 0v20.068h8.6856c2.5227 0 4.443-0.50664 5.7617-1.5195 1.3378-1.0129 2.0059-2.3796 2.0059-4.0996 0-2.1787-0.95412-3.7272-2.8652-4.6445 1.5862-0.95556 2.3789-2.3877 2.3789-4.2988 0-1.6627-0.64143-2.9926-1.9219-3.9863-1.2804-1.0129-3.1436-1.5195-5.5898-1.5195zm5.6172 4.6445h2.0352c1.7964 0 2.6953 0.57404 2.6953 1.7207 0 1.1276-0.89887 1.6914-2.6953 1.6914h-2.0352zm0 7.2812h2.4375c1.8538 0 2.7812 0.57403 2.7812 1.7207 0 1.1849-0.92747 1.7774-2.7812 1.7774h-2.4375zm-115.02 10.984-8.7148 20.066h5.791l1.6055-4.0703h8.1406l1.6055 4.0703h5.9062l-8.7441-20.066zm14.939 0v20.066h5.6758v-6.4785h1.0879l4.4434 6.4785h6.5078l-5.0156-7.2812c2.5036-1.0511 3.7539-3.0287 3.7539-5.9336 0-2.2551-0.74567-3.9568-2.2363-5.1035-1.4716-1.1658-3.535-1.748-6.1914-1.748zm18.178 0v20.066h13.76v-4.5293h-8.1426v-3.5547h7.1953v-3.9844h-7.1953v-3.2676h7.9707v-4.7305zm15.799 0v20.066h5.5606v-10.664l8.7715 10.664h4.6738v-20.066h-5.5625v10.664l-8.7715-10.664zm28.326 0-8.7148 20.066h5.7891l1.6055-4.0703h8.1426l1.6055 4.0703h5.9043l-8.7422-20.066zm-56.627 4.6152h2.0059c1.0702 0 1.8547 0.16339 2.3516 0.48828 0.516 0.32489 0.77343 0.90716 0.77343 1.748 0 0.82178-0.25743 1.3958-0.77343 1.7207-0.49689 0.32489-1.2813 0.48633-2.3516 0.48633h-2.0059zm-17.863 0.97461 2.4375 6.2207h-4.875zm77.242 0 2.4356 6.2207h-4.873z' fill='" + txt2 + "' stroke-width='3.7795' style='mix-blend-mode:normal'/%3e%3cpath d='m23.797 14.182v-11.387h3.2208v11.387zm4.5144 0v-11.387h2.6515l4.9776 6.0512v-6.0512h3.1557v11.387h-2.6515l-4.9776-6.0512v6.0512zm13.982 0v-8.7027h-2.9931v-2.684h9.1907v2.684h-2.9768v8.7027zm9.3619-2.5701h4.6197v2.5701h-7.808v-11.387h7.7104v2.684h-4.5221v1.8544h4.0829v2.2611h-4.0829zm5.344 2.5701v-11.387h4.5547q2.2611 0 3.5136 0.99227 1.2688 0.976 1.2688 2.8955 0 2.4725-2.1309 3.3672l2.8467 4.1317h-3.6925l-2.5213-3.6763h-0.61814v3.6763zm3.2208-6.2464h1.1387q0.91094 0 1.3339-0.27653 0.4392-0.27653 0.4392-0.976 0-0.71573-0.4392-0.99227-0.42293-0.27653-1.3339-0.27653h-1.1387zm6.8894 6.2464v-11.387h2.6515l4.9776 6.0512v-6.0512h3.1557v11.387h-2.6515l-4.9776-6.0512v6.0512zm10.696 0 4.9451-11.387h3.172l4.9613 11.387h-3.3509l-0.91094-2.3099h-4.6197l-0.91094 2.3099zm5.124-4.6848h2.7653l-1.3827-3.5299zm9.7848 4.6848v-8.7027h-2.9931v-2.684h9.1907v2.684h-2.9768v8.7027zm6.4014 0v-11.387h3.2208v11.387zm14.258-1.4477q-1.7243 1.6755-4.327 1.6755-2.6027 0-4.3269-1.6755-1.708-1.6917-1.708-4.2456 0-2.5539 1.708-4.2293 1.7243-1.6917 4.3269-1.6917 2.6027 0 4.327 1.6917 1.7243 1.6755 1.7243 4.2293 0 2.5539-1.7243 4.2456zm-4.327-1.1549q1.22 0 2.0333-0.84587 0.81334-0.86214 0.81334-2.2448 0-1.3827-0.81334-2.2285-0.81333-0.86214-2.0333-0.86214-1.2037 0-2.0171 0.86214-0.81333 0.84587-0.81333 2.2285 0 1.3827 0.81333 2.2448 0.81334 0.84587 2.0171 0.84587zm6.7104 2.6027v-11.387h2.6515l4.9776 6.0512v-6.0512h3.1557v11.387h-2.6515l-4.9776-6.0512v6.0512zm10.696 0 4.9451-11.387h3.172l4.9614 11.387h-3.3509l-0.91094-2.3099h-4.6197l-0.91094 2.3099zm5.124-4.6848h2.7653l-1.3827-3.5299zm7.6376 4.6848v-11.387h3.2208v8.719h4.3432v2.6677z' fill='" + txt1 + "' stroke-width='3.7795' aria-label='INTERNATIONAL'/%3e%3c/svg%3e ";

    if enableCenterLogo{
        centerLogo=centerLogoOpt;
    }else{
        centerLogo=null;
    }
    if enableCornerLogo{
        cornerLogo=cornerLogoOpt;
    }else{
        cornerLogo=null;
    }
    if enableCornerLogo2==0{
        cornerLogo2TextOnly='';
    }
    board3=boardBGOpt;
    miniBoard3=board3;
    if boardBGOpt!="colorOnly" && boardBGOpt!="" && boardBGOpt!=null{
       boardBGColor=#0000;
    }
    if frameOpt==boardBGOpt && enableBoardFrame && svgBoardBlend=="normal"{
        board3=null;
        miniBoard3=frameOpt;
        framePosX=bgPosX;
        framePosY=bgPosY;
    }
    /*Board selector*/
    if myBoard!="disabled"{
        #board-single-sibling,
        div#board.board:not([style*="background-image: url"]),
        .board-layout-chessboard .board:not([style*="--theme"]),
        div[class^="board v-board disabled rounded"],
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        wc-chess-board,
        div[id*="chess_com_emailboard_"] {
            if bgSize=="cover"{
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat !important;
            }else{
                background-repeat: no-repeat, no-repeat, no-repeat, repeat !important;
            }
            background-size: auto cornerLogoSize, auto centerLogoSize, 100%, bgSize!important;
            background-blend-mode: cornerLogoBlend, centerLogoBlend, svgBoardBlend, normal !important;
            background-position:cornerLogoPosX cornerLogoPosY, centerLogoPosX centerLogoPosY, 0 0, bgPosX bgPosY!important;
            background-color: boardBGColor; 
            background-image: url(cornerLogo), url(centerLogo), url(svgBoard), url(board3)!important; 
        } 
        /*Small board for game preview*/
        .engine-line-preview,
        .board-popover-component, .board-popover-component:before{
            background-image: url(frameOpt) !important;
            background-position:framePosX framePosY;
            background-size:frameSize;           
            background-color: solidBoardBGColor;
            if bgSize=="cover"{
                background-repeat: no-repeat !important;
            }else{
                background-repeat: repeat !important;
            }
            border-color:solidBoardBGColor!important;
            border-image:url(frameOpt) 25 stretch!important;
        }
        body{
            --theme-board-style-highlight-color:hlColor;
            --theme-board-style-image: url(svgBoard) !important;
        }
        /*========== Coordinates ==========*/

        /*coords light*/
        .coords-light,
        .coordinate-light,
        div.number.coords-light,
        div.letter.coords-light,
        text.coordinate-light {
            mix-blend-mode: coordsBlend !important;
            if enableCustomCoord {
                color: lCoordCol!important;
                fill: @color;
            }else {
                color: transparentify(svgDarkSqColor, #000, 1) !important;
                fill: @color;
                if svgDarkSqOpacity>='0.7'{
                    opacity:svgDarkSqOpacity;
                }
            }
        }

        /*coords dark*/
        .coords-dark,
        .coordinate-dark,
        div.number.coords-dark,
        div.letter.coords-dark,
        text.coordinate-dark {
            mix-blend-mode: coordsBlend !important;
            if enableCustomCoord {
                color: dCoordCol !important;
                fill: @color;
            }else {
                color: transparentify(svgLightSqColor, #000, 1) !important;
                fill: @color;
                if svgLightSqOpacity>='0.7'{
                    opacity:svgLightSqOpacity;
                }
            }
        }/*======End coords ======*/

        /*====== Evaluation Bar ======*/

        if evalOpt!="disabled" {
            .evaluation-bar-white,
            .score-bar__fill[data-v-b0ff6725] {
                if evalOpt == "auto" {
                    background-color: svgLightSqColor !important;
                }else if evalOpt == "custom" {
                    background-color: lEvalCol !important;
                }
            }
            .evaluation-bar-black {
                if evalOpt == "auto" {
                    background-color: saturate(svgDarkSqColor, 10%) !important;
                }else if evalOpt == "custom" {
                    background-color: dEvalCol !important;
                }
            }
            .score-bar__text[data-v-b0ff6725] {
            font-size: 9px!important;
            }
            .evaluation-bar-bar {
                opacity: evalBarOpacity!important;
                box-shadow: 1px 1px 8px 2px #0000002e;
                z-index:1;
            }
        }

        /*evaluation bar width for chesscom*/
        if enableThinEvalBar{
            body.with-evaluation {
                --evalWidth: 2rem;
                --evalAndGutter: 3rem;
                --gutterLeftOfBoard: var(--gutterSmall);
            }
        }/*====== End Evaluation Bar ======*/
    }/*end board*/
        
    /*Highlight*/

    /*hlImgOpt can be useful to set a background image as highlight, normaly a gif.*/
    if setHighlight!="disabled" {
        #divChessBoard_boardarea > div:nth-child(20):not({notThisColors}),
        #divChessBoard_boardarea > div:nth-child(21):not({notThisColors}),
        .move-square,
        .highlight:not({notThisColors}):not([class="stream highlight"]) {
            background: hlColor url(hlImgOpt) 0 0 / 100% no-repeat !important;
            opacity: highlightOpacity!important;
        }
    }/*====== End highlight ======*/

    /*====== change arrows colors ======*/
    if enableArrowSettings {
        .arrow {
            opacity: arrowOpacity !important;
        }
        /*red*/
        [class*="arrow"][style*="248\, 85\, 63"],[class*="arrow"][style*="#f8553fcc"]{
            fill: arrowRed!important;
        }
        /*orange*/
        [class*="arrow"][style*="255\, 170\, 0"],[class*="arrow"][style*="#fa0c"]{
            fill: arrowOrange!important;
        }
        /*green*/
        [class*="arrow"][style*="159\, 207\, 63"],[class*="arrow"][style*="#9fcf3fcc"]{
            fill: arrowGreen!important;
        }
        /*blue*/
        [class*="arrow"][style*="72\, 193\, 249"],[class*="arrow"][style*="#48c1f9cc"]{
            fill: arrowBlue!important;
        }
    }/*====== End arrows colors ======*/

    /*change highlight made by the user*/
    [class*="highlight"][style*="82\, 176\, 220"],[class*="highlight"][style*="#52b0dc"]{
        background-color:hlSqBlue!important;
    }
    [class*="highlight"][style*="172\, 206\, 89"],[class*="highlight"][style*="#acce59"]{
        background-color: hlSqGreen!important;
    }
    [class*="highlight"][style*="255\, 170\, 0"],[class*="highlight"][style*="#fa0"]{
        background-color: hlSqOrange!important;
    }
    [class*="highlight"][style*="235\, 97\, 80"],[class*="highlight"][style*="#eb6150"]{
        background-color: hlSqRed!important;
    }
    /*------end section------*/

}
@-moz-document domain("chess.com") {

    /*======== Wallpaper =======*/
    if enableWallpaper=="1" {
        .theme-bg,
        body.theme-background {
            if setWallpaper=="cover" || setWallpaper=="contain" || setWallpaper==percentSize{
                background-size: setWallpaper !important;
                -webkit-background-size: @background-size;
                -moz-background-size: @background-size;
                -o-background-size: @background-size;
            }
            if setWallpaper=="cover"{
                background-repeat:no-repeat!important;
            }else{
                background-repeat:repeat!important;
            }
        }
        :root{
            --theme-background-color: backgroundColp;
            --theme-background-image: url(useWallpaper),linear-gradient(to top right, globalColor 50%, lighten(globalColor, 20%));
            if useWallpaper=="gradientUsr"{
                --theme-background-image: linear-gradient(to top right, backgroundColp 50%, lighten(backgroundColp, 20%));
            }
            if useWallpaper==backgroundColp{
                --theme-background-image: '';
            }
        }
    }/*=== End wallpaper ===*/
}

@-moz-document domain("chess.com") {
    /*Border*/
    
    innBorderSize=0.4rem;
    if innBorderSize > 0 {
        inn=innBorderSize/2;
    }else{inn=0}
	
    @media (min-width: 960px){
		if myBoard!="disabled" && enableBoardFrame{
            /*board*/
            div#board.board:not([style*="background-image: url"]),
            .board-layout-chessboard .board:not([style*="--theme"]),
            .fade-in-overlay,
            #boarddefault_boardarea,
            #divChessBoard_boardarea,
            #vsComputerDiv_boardarea,
            div[id^="board-"][class*="chess-board__board"],
            div[class^="board v-board disabled rounded"],
            div[class^="daily-puzzle-board"],
            div[class^="board chessboard-component"],
            div[class^="board v-board chessboard-component"],
            div[class^="board rounded"],
            div[class^="board rounded fippled"],
            div[class^="board fippled rounded"],
            div[class^="board v-board rounded"],
            div[class^="board v-board fippled rounded"],
            div[class^="board disabled rounded"],
            div[id$="_ChessBoard_boardarea"],
            div[id^="chess_com_openingboard_1"],
            div[id^="board_training"],
            div[id^="divBoard_boardarea"],
            div[id^="chess_com_tactics_board"],
            div[id^="chessboard_"],
            div[id^="chess_com_chessmentorboard_"],
            div[id*="chess_com_chessmentor_board_1_boardarea"],
            div[id^="chess_com_emailboard_"],
            div[id^="board-blank"],
            chess-board[class^="board"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board),
            chess-board[class^="board flipped"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board),
            chess-board[id^="board-blank"],
            chess-board[id^="board-vs-personalities"],
            div[id*="chess_com_emailboard_"] {
                transform-style: preserve-3d;
                width:'calc(var(--boardWidth) * %s)!important;' % ajustBoardSize;
                height:'calc(var(--boardHeight) * %s)!important;' % ajustBoardSize;
                if ajustBoardSize=="0.9"{
                multiplierL=0.54;
                multiplierT=0.5; 
                }else{
                multiplierL=0.53;
                multiplierT=0.5; 
                }              
                boardRatioL='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplierL));
                boardRatioT='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplierT));
                margin-left:'calc(var(--boardWidth) * %s + %s)!important;' % ((boardRatioL) (inn));
                margin-top:'calc(var(--boardHeight) * %s + %s)!important;' % ((boardRatioT) (inn));
                if frameRadiusInOut{
                    border-radius:0!important;                    
                }else{
                    border-radius:'calc(%s * 0.40)!important;' % frameRadius;
                }
                box-shadow: boardShadow;
                box-shadow: boardShadowInset;                    
                if enableBoardShadow && enableBoardShadowInset {
                    box-shadow: boardShadow, boardShadowInset !important;
                }
                if enableInnerBorder {
                    box-shadow: 0 0 0 innBorderSize innerBorderOpt!important;
                }
            }
            /*board*/
            div#board.board:not([style*="background-image: url"]):before,
            .board-layout-chessboard .board:not([style*="--theme"]):before,
            .fade-in-overlay:before,
            #boarddefault_boardarea:before,
            #divChessBoard_boardarea:before,
            #vsComputerDiv_boardarea:before,
            div[id^="board-"][class*="chess-board__board"]:before,            
            div[class^="board v-board disabled rounded"]:before,
            div[class^="daily-puzzle-board"]:before,
            div[class^="board chessboard-component"]:before,
            div[class^="board v-board chessboard-component"]:before,
            div[class^="board rounded"]:before,
            div[class^="board rounded fippled"]:before,
            div[class^="board fippled rounded"]:before,
            div[class^="board v-board rounded"]:before,
            div[class^="board v-board fippled rounded"]:before,
            div[class^="board disabled rounded"]:before,
            div[id$="_ChessBoard_boardarea"]:before,
            div[id^="chess_com_openingboard_1"]:before,
            div[id^="board_training"]:before,
            div[id^="divBoard_boardarea"]:before,
            div[id^="chess_com_tactics_board"]:before,
            div[id^="chessboard_"]:before,
            div[id^="chess_com_chessmentorboard_"]:before,
            div[id*="chess_com_chessmentor_board_1_boardarea"]:before,
            div[id^="chess_com_emailboard_"]:before,
            div[id^="board-blank"]:before,
            chess-board[class^="board"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board):before,
            chess-board[class^="board flipped"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board):before,
            chess-board[id^="board-blank"]:before,
            chess-board[id^="board-vs-personalities"]:before,
            div[id*="chess_com_emailboard_"]:before {
				background-position: framePosX framePosY !important;
                background-color: frameColor !important;
                background-size: frameSize!important;
                -webkit-background-size: @background-size;
                -moz-background-size: @background-size;
                -o-background-size: @background-size;
                if frameSize=="cover" {
                    background-repeat: no-repeat!important;
                }else{
                    background-repeat: repeat!important;
                }
                background-image: url(frameOpt) !important;
                transform: translateZ(-1px);
                content: ""!important;
                display:block;
                grid-column: board;                
                width:var(--boardWidth)!important;
                height: var(--boardHeight)!important;
                padding-bottom: 0;
                if ajustBoardSize=="0.9"{
                    multiplier=-0.54;
                }else{
                    multiplier=-0.526;
                }
                boardRatio='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplier));
                margin-left:'calc(var(--boardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
                margin-top:@margin-left;
                border-radius: frameRadius!important;
                box-shadow: frameShadow;
                box-shadow: frameShadowInset;
                if enableFrameShadow && enableFrameShadowInset {
                    box-shadow: frameShadow, frameShadowInset !important;
                }
            }
			/*bizarre solution, don't ask me why*/
            div#board.board:not([style*="background-image: url"]) > div{
                display: none!important;
            }
            div#board.board:not([style*="background-image: url"]){
                --theme-board-style-image: url(cornerLogo) cornerLogoPosX cornerLogoPosY / auto cornerLogoSize no-repeat,
              url(centerLogo) centerLogoPosX centerLogoPosY / auto centerLogoSize no-repeat,
              url(svgBoard) 0 0 / 100% no-repeat,
              url(board3) bgPosX bgPosY / bgSize repeat;

                background: var(--theme-piece-set-br) 0 0 / 12.5% no-repeat,
              var(--theme-piece-set-bn) 14.29% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bb) 28.57% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bq) 42.86% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bk) 57.14% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bb) 71.43% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bn) 85.71% 0 / 12.5% no-repeat,
              var(--theme-piece-set-br) 100% 0 / 12.5% no-repeat,

              var(--theme-piece-set-bp) 0 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 14.29% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 28.57% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 42.86% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 57.14% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 71.43% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 85.71% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 100% 14.29% / 12.5% no-repeat,

              var(--theme-piece-set-wr) 0 100% / 12.5% no-repeat,
              var(--theme-piece-set-wn) 14.29% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wb) 28.57% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wq) 42.86% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wk) 57.14% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wb) 71.43% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wn) 85.71% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wr) 100% 100% / 12.5% no-repeat,

              var(--theme-piece-set-wp) 0 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 14.29% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 28.57% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 42.86% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 57.14% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 71.43% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 85.71% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 100% 85.71% / 12.5% no-repeat,

              var(--theme-board-style-image) !important;
                background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, cornerLogoBlend, centerLogoBlend, svgBoardBlend, normal !important;
            }
            /*outside coords settings*/
            if enableOutsideCoords{
                .coordinate-grey,
                .coordinate-dark:not(.events-dashboard-board .coordinate-dark):not(.game-board-medium .coordinate-dark):not(#board-single-sibling .coordinate-dark):not(.game-details-board .coordinate-dark):not(.event-header-new-games .coordinate-dark):not(.round-games-list-item-games .coordinate-dark):not(.diagram-board-component .coordinate-dark):not(.openings-view-chessboard .coordinate-dark),
                .coordinate-light:not(.events-dashboard-board .coordinate-light):not(.game-board-medium .coordinate-light):not(#board-single-sibling .coordinate-light):not(.game-details-board .coordinate-light):not(.event-header-new-games .coordinate-light):not(.round-games-list-item-games .coordinate-light):not(.diagram-board-component .coordinate-light):not(.openings-view-chessboard .coordinate-light) {
                    text-transform: outCoordFontCase !important;
                    fill:outCoordColorOpt!important;
                    font-size:clamp(.1rem,outCoordFontSize,.3rem)!important;
                    font-weight: outCoordFontWeight!important;   
                    font-family:outCoordFontName,-apple-system,BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,Emoji,sans-serif!important;
                }
                .outside:not(.game-details-board .outside):not(.event-header-new-games .outside):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                    transform: translate(-5.5%,4.5%)!important;
                }
                body.outside-coords:not(.game-details-board body.outside-coords):not(.with-pieces,.real-3d):not(.event-header-new-games .outside-coords):not(.round-games-list-item-games .outside-coords):not(.openings-view-chessboard .outside-coords) {
                    --coordinatesGutter: 1rem!important;
                }

                .coordinates:not(.events-dashboard-board .coordinates):not(.game-board-medium .coordinates):not(#board-single-sibling .coordinates):not(.game-details-board .coordinates):not(.event-header-new-games .coordinates):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                    transform: translate(-4.5%,4.8%)!important;
                }
                if ajustBoardSize>=0.92{
                    .coordinates:not(.events-dashboard-board .coordinates):not(.game-board-medium .coordinates):not(#board-single-sibling .coordinates):not(.game-details-board .coordinates):not(.event-header-new-games .coordinates):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                        transform: translate(-3.8%,4.2%)!important;
                    }
                    if enableInnerBorder==0{
                        
                        .coordinates:not(.events-dashboard-board .coordinates):not(.game-board-medium .coordinates):not(#board-single-sibling .coordinates):not(.game-details-board .coordinates):not(.event-header-new-games .coordinates):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                            transform: translate(-3.8%,3.8%)!important;
                        }
                    }
                }
                
                .coords-dark:not(#board-single-sibling .coords-dark):not(.game-details-board .coords-dark):not(.event-header-new-games .coords-dark):not(.round-games-list-item-games .coords-dark):not(.diagram-board-component .coords-dark):not(.openings-view-chessboard .coords-dark),
                div.number.coords-dark:not(.game-details-board div.number.coords-dark):not(.event-header-new-games div.number.coords-dark):not(.round-games-list-item-games div.number.coords-dark):not(.diagram-board-component div.number.coords-dark):not(.openings-view-chessboard div.number.coords-dark),
                div.letter.coords-dark:not(.game-details-board div.letter.coords-dark):not(.event-header-new-games div.letter.coords-dark):not(.round-games-list-item-games div.letter.coords-dark):not(.diagram-board-component div.letter.coords-dark):not(.openings-view-chessboard div.letter.coords-dark),
                text.coordinate-dark:not(.events-dashboard-board text.coordinate-dark):not(.game-board-medium text.coordinate-dark):not(#board-single-sibling text.coordinate-dark):not(.game-details-board text.coordinate-dark):not(.event-header-new-games text.coordinate-dark):not(.round-games-list-item-games text.coordinate-dark):not(.diagram-board-component text.coordinate-dark):not(.openings-view-chessboard text.coordinate-dark),
                .coords-light:not(#board-single-sibling .coords-light):not(.game-details-board .coords-light):not(.event-header-new-games .coords-light):not(.round-games-list-item-games .coords-light):not(.diagram-board-component .coords-light):not(.openings-view-chessboard .coords-light),
                div.number.coords-light:not(.game-details-board div.number.coords-light):not(.event-header-new-games div.number.coords-light):not(.round-games-list-item-games div.number.coords-light):not(.diagram-board-component div.number.coords-light):not(.openings-view-chessboard div.number.coords-light),
                div.letter.coords-light:not(.game-details-board div.letter.coords-light):not(.event-header-new-games div.letter.coords-light):not(.round-games-list-item-games div.letter.coords-light):not(.diagram-board-component div.letter.coords-light):not(.openings-view-chessboard div.letter.coords-light),
                text.coordinate-light:not(.events-dashboard-board text.coordinate-light):not(.game-board-medium text.coordinate-light):not(#board-single-sibling text.coordinate-light):not(.game-details-board text.coordinate-light):not(.event-header-new-games text.coordinate-light):not(.round-games-list-item-games text.coordinate-light):not(.diagram-board-component text.coordinate-light):not(.openings-view-chessboard text.coordinate-light), {
                    color: outCoordColorOpt !important;
                    fill: @color;
                    opacity: 1!important;
                }
            }
        }
    }/*end board border*/
    
}
@-moz-document url-prefix("https://www.chess.com/events/"), url-prefix("https://www.chess.com/pt/events/"), url-prefix("https://www.chess.com/es/events/") {
    /*Events*/
    /*In Events page variable mainBoardWidth is used instead of boardWidth/boardHeight*/
    @media (min-width: 960px){
        
        /*Main border rules*/
        innBorderSize=0.4rem;
        if innBorderSize > 0 {
            inn=innBorderSize/2;
        }else{inn=0}

        if boardBGOpt==frameOpt && enableBoardFrame {
            board3=null;
            framePosX=bgPosX;
            framePosY=bgPosY;        
        }

		if myBoard!="disabled" && enableBoardFrame{
			/*board*/
			.main-tab-game-component chess-board {
				transform-style: preserve-3d;
				width:'calc(var(--mainBoardWidth) * %s)!important;' % ajustBoardSize;
				height: @width;
				boardRatio='calc((1 - %s) * 0.5)' % ajustBoardSize;
				margin-left:'calc(var(--mainBoardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
				margin-top:@margin-left;
				if frameRadiusInOut{
					border-radius:'calc(%s * 0.40)!important;' % frameRadius;
				}else{
					border-radius:0!important;
				}
				box-shadow: boardShadow;
				box-shadow: boardShadowInset;                    
				if enableBoardShadow && enableBoardShadowInset {
					box-shadow: boardShadow, boardShadowInset !important;
				}
				if enableInnerBorder {
					box-shadow: 0 0 0 innBorderSize innerBorderOpt!important;
				}
			}
			/*board*/
			.main-tab-game-component chess-board:before {
				if myBoard!="disabled"{                    
				background:frameColor url(frameOpt) framePosX framePosY!important; 
				}                
				transform: translateZ(-1px);
				content: ""!important;
				display:block;
				grid-column: board;                
				width:var(--mainBoardWidth)!important;
				height: @width;
				padding-bottom: 0;
				boardRatio='calc((1 - %s) * -0.526)' % ajustBoardSize;
				margin-left:'calc(var(--mainBoardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
				margin-top:@margin-left;
				background-size: frameSize!important;
				-webkit-background-size: @background-size;
				-moz-background-size: @background-size;
				-o-background-size: @background-size;
				background-repeat: frameRepeat!important;
				border-radius: frameRadius!important;
				box-shadow: frameShadow;
				box-shadow: frameShadowInset;                
				if enableFrameShadow && enableFrameShadowInset {
					box-shadow: frameShadow, frameShadowInset !important;
				}
			}
		}/*end board border*/
    }
    
}/*End Events*/