/* ==UserStyle==
@name           Desafio dos Streamers 2: chessboard
@namespace      USO Archive
@author         ChessSkins
@homepageURL    https://www.chess.com/blog/ChessSkins
@description    `Tabuleiro para o Desafio dos Streamers 2`
@version        1.0.7
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Azul": "op1",
            "Azul2": "op2",
            "Azul3*": "op1b",
            "Roxo": "op3",
            "Marrom": "op4",
            "Verde": "op5",
            "Verde2": "op6",
        }
@var    color    hlColor  "Cor do destaque"   #ffff33
==/UserStyle== */
@-moz-document domain("chess.com"), domain("chesskid.com") {

    baseURL="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/";

    if myBoard=="op1" {
        setBoard=baseURL+"phpIsWnk7.png";
        lightColor=#E2E5EA;
        darkColor=#5D7CB4;
    }
    if myBoard=="op1b" {
        setBoard=baseURL+"phpSw1wMl.png";
        lightColor=#E3E8EC;
        darkColor=#5097CB;
    }
    if myBoard=="op2" {
        setBoard=baseURL+"php7z1M4G.png";
        lightColor=#E8EAEE;
        darkColor=#7891BB;
    }
    if myBoard=="op3" {
        setBoard=baseURL+"phplZinXR.png";
        lightColor=#EAE7EE;
        darkColor=#886DB1;
    }
    if myBoard=="op4" {
        setBoard=baseURL+"phpkRqURM.png";
        lightColor=#EAE6E3;
        darkColor=#AF8368;
    }
    if myBoard=="op5" {
        setBoard=baseURL+"phpWjI0Th.png";
        lightColor=#E5E9E2;
        darkColor=#83AF68;
    }
    if myBoard=="op6" {
        setBoard=baseURL+"phpYoJMmk.png";
        lightColor=#E6EEEA;
        darkColor=#69B084;
    }

    .fade-in-overlay/*chesskids*/
    ,
    #boarddefault_boardarea/*chesskids*/
    ,
    #divChessBoard_boardarea/*chesskids*/
    ,
    #vsComputerDiv_boardarea/*chesskids*/
    ,
    div[id^="board-"][class*="chess-board__board"]/*chesskids*/
    [class="board-b72b1"] > div,
    #board-single-sibling,
    div#board.board:not([style*="background-image: url"]),
    .board-layout-chessboard .board:not([style*="--theme"]),
    div[class^="board v-board disabled rounded"],
    div[class^="daily-puzzle-board"],
    div[class^="board chessboard-component"],
    div[class^="board v-board chessboard-component"],
    div[class^="board rounded"],
    div[class^="board rounded fippled"],
    div[class^="board fippled rounded"],
    div[class^="board v-board rounded"],
    div[class^="board v-board fippled rounded"],
    div[class^="board disabled rounded"],
    div[id$="_ChessBoard_boardarea"],
    div[id^="chess_com_openingboard_1"],
    div[id^="board_training"],
    div[id^="divBoard_boardarea"],
    div[id^="chess_com_tactics_board"],
    div[id^="chessboard_"],
    div[id^="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentor_board_1_boardarea"],
    div[id^="chess_com_emailboard_"],
    div[id^="board-blank"],
    chess-board[class^="board"],
    chess-board[class^="board flipped"],
    chess-board[id^="board-blank"],
    chess-board[id^="board-vs-personalities"],
    wc-chess-board,
    div[id*="chess_com_emailboard_"] {
        background-image: url(setBoard) !important;
    }
    /*Coordinates*/
    .notation-dark,
    .coords-light,
    .coordinate-light,
    text.coordinate-light,
    div.number.coords-light,
    div.letter.coords-light {
        color: darkColor !important;
        fill:@color;
    }

    .notation-light,
    .coords-dark,
    .coordinate-dark,
    div.number.coords-dark,
    div.letter.coords-dark {
        color: lightColor !important;
        fill:@color;
    }
    
    .evaluation-bar-black{
        background-color:darkColor !important;        
    }
    .evaluation-bar-white{
        background-color:lightColor !important;        
    }
    .highlight {
        background-color: hlColor !important;
    }        

    :root {
        --theme-board-style-image: url(setBoard);
        --theme-board-style-coordinate-color-light: lightColor;
        --theme-board-style-coordinate-color-dark: darkColor;
        --theme-board-style-highlight-color: hlColor;
    }
    /*End of the code*/
}
