/* ==UserStyle==
@name           Chess.com La Famiglia Chess Set: Bouquet
@namespace      USO Archive
@author         agiota_do_artenio
@description    `La Famiglia chess set for chess.com by agiota_do_artenio`
@version        20200831.22.31
@license        NO-REDISTRIBUTION
@preprocessor   stylus
==/UserStyle== */
@-moz-document domain("chess.com") {

server='https://github.com/FSA1/Styles/raw/main/'

/*Chessboard*/ 
.board-layout-chessboard .board,
div[class^="daily-puzzle-board"],
div[class^="board chessboard-component"],
div[class^="board v-board chessboard-component"],
div[class^="board rounded"],
div[class^="board rounded fippled"],
div[class^="board fippled rounded"],
div[class^="board v-board rounded"],
div[class^="board v-board fippled rounded"],
div[class^="board disabled rounded"],
div[id$="_ChessBoard_boardarea"],
div[id^="chess_com_openingboard_1"],
div[id^="board_training"],
div[id^="divBoard_boardarea"],
div[id^="chess_com_tactics_board"],
div[id^="chessboard_"],
div[id*="chessboard_"],
div[id^="chess_com_chessmentorboard_"],
div[id*="chess_com_chessmentorboard_"],
div[id*="chess_com_chessmentor_board_1_boardarea"],
div[id^="chess_com_emailboard_"],
div[id^="board-blank"],
chess-board[class^="board"],
chess-board[class^="board flipped"],
chess-board[id^="board-blank"],
chess-board[id^="board-vs-personalities"],
div[id*="chess_com_emailboard_"] {background-image: url(server + "LaFamiglia/LaFamigliaCB-Bouquet.png")!important;
}
/*Pieces*/
div [style*="bp.png"] {background-image: url(server + "LaFamiglia/MafiaChar-bp.png")!important;}
div [style*="br.png"] {background-image: url(server + "LaFamiglia/MafiaChar-br.png")!important;}
div [style*="bn.png"] {background-image: url(server + "LaFamiglia/MafiaChar-bn.png")!important;}
div [style*="bb.png"] {background-image: url(server + "LaFamiglia/MafiaChar-bb.png")!important;}
div [style*="bq.png"] {background-image: url(server + "LaFamiglia/MafiaChar-bq.png")!important;}
div [style*="bk.png"] {background-image: url(server + "LaFamiglia/MafiaChar-bk.png")!important;}
div [style*="wp.png"] {background-image: url(server + "LaFamiglia/MafiaChar-wp.png")!important;}
div [style*="wr.png"] {background-image: url(server + "LaFamiglia/MafiaChar-wr.png")!important;}
div [style*="wn.png"] {background-image: url(server + "LaFamiglia/MafiaChar-wn.png")!important;}
div [style*="wb.png"] {background-image: url(server + "LaFamiglia/MafiaChar-wb.png")!important;}
div [style*="wq.png"] {background-image: url(server + "LaFamiglia/MafiaChar-wq.png")!important;}
div [style*="wk.png"] {background-image: url(server + "LaFamiglia/MafiaChar-wk.png")!important;}
 /*vs personality pieces*/   
.piece.bp, .promotion-piece.bp {background-image: url(server + "LaFamiglia/MafiaChar-bp.png")!important;}
.piece.br, .promotion-piece.br {background-image: url(server + "LaFamiglia/MafiaChar-br.png")!important;}
.piece.bn, .promotion-piece.bn {background-image: url(server + "LaFamiglia/MafiaChar-bn.png")!important;}
.piece.bb, .promotion-piece.bb {background-image: url(server + "LaFamiglia/MafiaChar-bb.png")!important;}
.piece.bq, .promotion-piece.bq {background-image: url(server + "LaFamiglia/MafiaChar-bq.png")!important;}
.piece.bk, .promotion-piece.bk {background-image: url(server + "LaFamiglia/MafiaChar-bk.png")!important;}
.piece.wp, .promotion-piece.wp {background-image: url(server + "LaFamiglia/MafiaChar-wp.png")!important;}
.piece.wr, .promotion-piece.wr {background-image: url(server + "LaFamiglia/MafiaChar-wr.png")!important;}
.piece.wn, .promotion-piece.wn {background-image: url(server + "LaFamiglia/MafiaChar-wn.png")!important;}
.piece.wb, .promotion-piece.wb {background-image: url(server + "LaFamiglia/MafiaChar-wb.png")!important;}
.piece.wq, .promotion-piece.wq {background-image: url(server + "LaFamiglia/MafiaChar-wq.png")!important;}
.piece.wk, .promotion-piece.wk {background-image: url(server + "LaFamiglia/MafiaChar-wk.png")!important;}
/*Coordinates*/
div.number.coords-light, div.letter.coords-light, div.number.coords-dark, div.letter.coords-dark {opacity: .9;}
div.number.coords-light, div.letter.coords-light {color: #756b74 !important;}
div.number.coords-dark, div.letter.coords-dark {color: #dad2d9 !important;}
text.coordinate-light, text.coordinate-dark {opacity: .9;}
text.coordinate-light {fill: #756b74 !important;}    
text.coordinate-dark {fill: #dad2d9 !important;}   
/*Highlight*/
div [style^="background-color"]{background-color: rgb(88, 64, 83)!important; opacity: 0.7!important;}
/*End of the code*/
}
