/* ==UserStyle==
@name           GazitChamps2: chessboard
@namespace      USO Archive
@author         agiota_do_artenio
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@description    `Chess board for Gazit`
@version        1.0.3
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "GazitChamps2": "op1",
            "Desativado": "op0",
        }
@var    checkbox    setHLopacity "Modificar opacidade do destaque" 0
@var    range    highlightOpacity  "Opacidade do destaque" [0.4, 0.4, 1, 0.1, ""]
@var    checkbox    setHLhueRotation "Modificar tonalidade do destaque" 0
@var    range    highlightHueRotation  "Tonalidade do destaque" [0, 0, 355, 5, "deg"]
@var    checkbox    enableBoardSettings "Avançado: Config. do tabuleiro" 0
@var    range    hueRotationBoard  "Tonalidade do tabuleiro (melhor com pçs preto e branco)" [0, 0, 355, 5, "deg"]
@var    checkbox    setEvaluationBar "Barra de avaliação personalizada" 1
==/UserStyle== */
@-moz-document domain("chess.com") {
    /*Chessboard.board,*/
    .board-layout-chessboard .board,
    div[class^="daily-puzzle-board"],
    div[class^="board chessboard-component"],
    div[class^="board v-board chessboard-component"],
    div[class^="board rounded"],
    div[class^="board rounded fippled"],
    div[class^="board fippled rounded"],
    div[class^="board v-board rounded"],
    div[class^="board v-board fippled rounded"],
    div[class^="board disabled rounded"],
    div[id$="_ChessBoard_boardarea"],
    div[id^="chess_com_openingboard_1"],
    div[id^="board_training"],
    div[id^="divBoard_boardarea"],
    div[id^="chess_com_tactics_board"],
    div[id^="chessboard_"],
    div[id*="chessboard_"],
    div[id^="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentor_board_1_boardarea"],
    div[id^="chess_com_emailboard_"],
    div[id^="board-blank"],
    chess-board[class^="board"],
    chess-board[class^="board flipped"],
    chess-board[id^="board-blank"],
    chess-board[id^="board-vs-personalities"],
    div[id*="chess_com_emailboard_"] {
        if enableBoardSettings {
            filter: hue-rotate(hueRotationBoard);
        }
        if myBoard=="op1" {
            background-image: url(https://github.com/FSA1/Styles/raw/main/Gazit/Gazit2ChessBoard2.png)!important;
        }
    }
    /*Coordinates*/
    div.number.coords-light,
    div.letter.coords-light {
        color: #708cd9 !important;
    }
    div.number.coords-dark,
    div.letter.coords-dark {
        color: #dfe7fd !important;
    }
    text.coordinate-light {
        fill: #708cd9 !important;
    }
    text.coordinate-dark {
        fill: #dfe7fd !important;
    }
    /*Highlight*/
    if setHLopacity {
        .move-square,
        .highlight {
            opacity: highlightOpacity!important;
        }
    }
    if setHLhueRotation {
        .move-square,
        .highlight {
            filter: hue-rotate(highlightHueRotation) !important;
        }
    }
    /*Evaluation bar*/
    if setEvaluationBar {
        .evaluation-bar-white {
            background-color: #D2DDF9 !important;
        }
        .evaluation-bar-black {
            background-color: #6784D3 !important;
        }

        if enableBoardSettings {
            .evaluation-bar-white,
            .evaluation-bar-black {
                filter: hue-rotate(hueRotationBoard);
            }
        }
    }
    /*End of the code*/
}
