/* ==UserStyle==
@name           Fier's Chessboard
@namespace      ChessSkins
@author         agiota_do_artenio
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@description    `Chess Board for the Picanha  Blitz Championship 2022`
@version        1.0.3
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Wood": "op1",
            "Desativado": "op0",
        }

@var    checkbox    enableHL   "Habilitar Destaque Personalizado" 1
@var    checkbox    setEvaluationBar "Barra de avaliação personalizada" 1
@var    checkbox    enableBoardSettings "Avançado: Config. do tabuleiro" 0
@var    range    hueRotationBoard  "Tonalidade do tabuleiro (melhor com pçs preto e branco)" [0, 0, 355, 5, "deg"]
==/UserStyle== */
@-moz-document domain("chess.com"),
domain("lichess.org") {
    if myBoard!="op0" {
        /*Chessboard.board,*/
        cg-board,
        .board-brown .cg-wrap,
		.board-layout-chessboard .board,
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id*="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        div[id*="chess_com_emailboard_"] {
            if enableBoardSettings {
                filter: hue-rotate(hueRotationBoard);
            }
            if myBoard=="op1" {
                background: url(https://github.com/FSA1/Styles/raw/main/Fier/fier_wood_cb2.jpg) 0% 0% / 100% 100% no-repeat!important;
            }
        }
        /*Coordinates*/
        if myBoard=="op1" {
            /*Small board for game preview*/
            div [style*="40.png"][class="game-preview-component"], div [style*="40.jpg"][class="game-preview-component"] {
                background: url(https://github.com/FSA1/Styles/raw/main/Fier/mini/fier_wood_cb2_mini.jpg) 0% 0% / 100% 100% no-repeat !important
            }
            .orientation-white .files coord:nth-child(2n),
            .orientation-white .ranks coord:nth-child(2n + 1),
            .orientation-black .files coord:nth-child(2n + 1),
            .orientation-black .ranks coord:nth-child(2n),
            text.coordinate-light,
            div.number.coords-light,
            div.letter.coords-light {
                color: #644e37 !important;
                fill: @color;
            }
            .orientation-white .files coord:nth-child(2n + 1),
            .orientation-white .ranks coord:nth-child(2n),
            .orientation-black .files coord:nth-child(2n),
            .orientation-black .ranks coord:nth-child(2n + 1),
            text.coordinate-dark,
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #D5C5A1 !important;
                fill: @color;
            }
        }
        /*Highlight+evaluation bar*/
        if enableHL {
            if myBoard=="op1" {
                .move-square,
                square.last-move,
                .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                    background-color: #ba982f!important;
                }
                square.selected,
                .selection-square {
                    background-color: #979f4e !important;
                }
            }
        }
        /*Evaluation bar*/
        if setEvaluationBar {
            if myBoard=="op1" || myBoard=="op1Ani" {
                .evaluation-bar-white {
                    background: url('https://github.com/FSA1/Styles/raw/main/Fier/mini/bar_wood_w2.jpg');
                    background-color: #D5C5A1 !important;
                }
                .evaluation-bar-black {
                    background: url('https://github.com/FSA1/Styles/raw/main/Fier/mini/bar_wood_b.jpg');
                    background-color: #644e37 !important;
                }
            }
        }

        if enableBoardSettings {
            .evaluation-bar-white,
            .evaluation-bar-black {
                filter: hue-rotate(hueRotationBoard);
            }
        }
    }
    /*End of the code*/
}