/* ==UserStyle==
@name           Chess.com Chess Set Milharal
@author         agiota_do_artenio
@namespace      USO Archive
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@description    `Molina invadindo o milharal! Conjunto de peças e tabuleiros.`
@version        1.0.1
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Verde vibrante": "op1",
            "Verde suave": "op2",
            "Marrom claro": "op3",
            "Marrom escuro*": "op4",
            "Seu tabuleiro": "op5",	
            "Seu tabuleiro 2": "op6",
            "Seu tabuleiro 3": "op7",
            "Desativado": "op0",
        }
@var    select      myPiecesB    "Peças pretas" {
            "Cartoon": "setCartoon",
            "Figuras 1 P&B*": "setFigures1",
            "Figuras 2 P&B": "setFigures2",
            "Figuras 2 Preto": "setFigures2Preto",
            "Figuras 2 Azul": "setFigures2Blue",
            "Figuras 2 Amarelo": "setFigures2Yellow",
            "Suas imagens": "userPieces",
            "Desativado": "op0"
        }
@var    select      myPiecesW    "Peças brancas" {
            "Cartoon": "setCartoon",
            "Figuras 1 P&B*": "setFigures1",
            "Figuras 2 P&B": "setFigures2",
            "Figuras 2 Branco": "setFigures2Branco",
            "Figuras 2 Laranja": "setFigures2Orange",
            "Figuras 2 Amarelo": "setFigures2Yellow",
            "Suas imagens": "userPieces",
            "Desativado": "op0"
        }
@var    select      myHighlight    "Opçoes de Destaque" {
            "Padrão*": "op1",
            "Personalizado": "op2"
        }
@var color    moveSqCol  "Destaque do movimento"   #ff8b33a8
@var color    selSqCol  "Destaque da seleção"   #ffea00ab
@var checkbox enableShadow "Habilitar sombras" 0
@var    range    brightnessB  "Brilho (pretas)" [100, 5, 300, 5, "%"]
@var    range    contrastB  "Contraste (pretas)" [100, 5, 300, 5, "%"]
@var    range    saturateB  "Saturação (pretas)" [100, 0, 300, 5, "%"]
@var    range    hueRotationB  "Tonalidade (pretas)" [0, 0, 355, 5, "deg"]
@var select enableBlendB "Mesclagem de cores pçs pretas" ["normal", "multiply", "screen", "overlay", "darken", "lighten", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "luminosity"]
@var    range    opacityB  "Opacidade (pretas)" [100, 50, 100, 5, "%"]
@var checkbox enableInvertB "Inverter cores (pretas)" 0
@var    range    brightnessW  "Brilho (brancas)" [100, 5, 300, 5, "%"]
@var    range    contrastW  "Contraste (brancas)" [100, 5, 300, 5, "%"]
@var    range    saturateW  "Saturação (brancas)" [100, 0, 300, 5, "%"]
@var    range    hueRotationW  "Tonalidade (brancas)" [0, 0, 355, 5, "deg"]
@var select enableBlendW "Mesclagem de cores pçs brancas" ["normal", "multiply", "screen", "overlay", "darken", "lighten", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "luminosity"]
@var    range    opacityW  "Opacidade (brancas)" [100, 50, 100, 5, "%"]
@var checkbox enableInvertW "Inverter cores (brancas)" 0
@var checkbox enableBoardSettings "Avançado: Config. do tabuleiro" 0
@var    range    brightnessBoard  "Brilho (tabuleiro)" [100, 0, 300, 5, "%"]
@var    range    contrastBoard  "Contraste (tabuleiro)" [100, 5, 300, 5, "%"]
@var    range    saturateBoard  "Saturação (tabuleiro)" [100, 0, 300, 5, "%"]
@var    range    hueRotationBoard  "Tonalidade (tabuleiro)" [0, 0, 355, 5, "deg"]
@var text     wkImage    "Seu rei branco"   "'https://static.thenounproject.com/png/2631826-200.png'"
@var checkbox enableInvertWK "Inverter cor do rei branco" 0
@var text     wqImage    "Sua rainha branca"   "'https://static.thenounproject.com/png/2631871-200.png'"
@var checkbox enableInvertWQ "Inverter cor do rainha branca" 0
@var text     wbImage    "Seu bispo branco"   "'https://static.thenounproject.com/png/2253350-200.png'"
@var checkbox enableInvertWB "inverter cor do bispo branco" 0
@var text     wnImage    "Seu Cavalo branco"   "'https://static.thenounproject.com/png/3277775-200.png'"
@var checkbox enableInvertWN "Inverter cor do cavalo branco" 0
@var text     wrImage    "Seu torre branca"   "'https://static.thenounproject.com/png/3046851-200.png'"
@var checkbox enableInvertWR "Inverter cor do torre branca" 0
@var text     wpImage    "Seu peão branco"   "'https://static.thenounproject.com/png/97864-200.png'"
@var checkbox enableInvertWP "Inverter cor do peão branco" 0
@var text     bkImage    "Rei preto"   "'https://static.thenounproject.com/png/2643357-200.png'"
@var checkbox enableInvertBK "Inverter cor do rei preto" 0
@var text     bqImage    "Rainha preta"   "'https://static.thenounproject.com/png/2643393-200.png'"
@var checkbox enableInvertBQ "Inverter cor da rainha preta" 0
@var text     bbImage    "Bispo preto"   "'https://static.thenounproject.com/png/2253385-200.png'"
@var checkbox enableInvertBB "Inverter cor do bispo preto" 0
@var text     bnImage    "Cavalo preto"   "'https://static.thenounproject.com/png/200301-200.png'"
@var checkbox enableInvertBN "Inverter cor do cavalo preto" 0
@var text     brImage    "Torre preta"   "'https://static.thenounproject.com/png/3046793-200.png'"
@var checkbox enableInvertBR "Inverter cor da torre preta" 0
@var text     bpImage    "Peão preto"   "'https://cdn0.iconfinder.com/data/icons/farming-5/500/419-512.png'"
@var checkbox enableInvertBP "Inverter cor do peão preto" 0
@var text     userBoard1    "Seu Tabuleiro 1"   "'https://github.com/FSA1/Styles/raw/main/Molina/RMcb_Wood.png'"
@var text     userBoard2    "Seu Tabuleiro 2"   "'https://github.com/FSA1/Styles/raw/main/Molina/RMcb_Blue.png'"
@var text     userBoard3    "Seu Tabuleiro 3"   "'https://i.imgur.com/sUD4GYw.png'"
==/UserStyle== */
@-moz-document domain("chess.com") {
    /*------Chessboard------*/
	#board-single-sibling,
	.board-layout-chessboard .board,
	.fade-in-overlay/*chesskids*/
	,
	#boarddefault_boardarea/*chesskids*/
	,
	#divChessBoard_boardarea/*chesskids*/
	,
	#vsComputerDiv_boardarea/*chesskids*/
	,
	div[id^="board-"][class*="chess-board__board"]/*chesskids*/
	,
	div[class^="board v-board disabled rounded"],
	div[class^="daily-puzzle-board"],
	div[class^="board chessboard-component"],
	div[class^="board v-board chessboard-component"],
	div[class^="board rounded"],
	div[class^="board rounded fippled"],
	div[class^="board fippled rounded"],
	div[class^="board v-board rounded"],
	div[class^="board v-board fippled rounded"],
	div[class^="board disabled rounded"],
	div[id$="_ChessBoard_boardarea"],
	div[id^="chess_com_openingboard_1"],
	div[id^="board_training"],
	div[id^="divBoard_boardarea"],
	div[id^="chess_com_tactics_board"],
	div[id^="chessboard_"],
	div[id*="chessboard_"],
	div[id^="chess_com_chessmentorboard_"],
	div[id*="chess_com_chessmentorboard_"],
	div[id*="chess_com_chessmentor_board_1_boardarea"],
	div[id^="chess_com_emailboard_"],
	div[id^="board-blank"],
	chess-board[class^="board"],
	chess-board[class^="board flipped"],
	chess-board[id^="board-blank"],
	chess-board[id^="board-vs-personalities"],
	div[id*="chess_com_emailboard_"] {
        if enableBoardSettings {
            filter: hue-rotate(hueRotationBoard) brightness(brightnessBoard) saturate(saturateBoard) contrast(contrastBoard);
        }
        if myBoard=="op1" {
            background: url(https://github.com/FSA1/Styles/raw/main/Molina/board.png) 0% 0% / 100% 100% no-repeat !important;
        }
        if myBoard=="op2" {
            background: url(https://github.com/FSA1/Styles/raw/main/Molina/board2.png) 0% 0% / 100% 100% no-repeat !important;
        }
        if myBoard=="op3" {
            background: url(https://github.com/FSA1/Styles/raw/main/Molina/board3.png) 0% 0% / 100% 100% no-repeat !important;
        }
        if myBoard=="op4" {
            background: url(https://github.com/FSA1/Styles/raw/main/Molina/board4.png) 0% 0% / 100% 100% no-repeat !important;
        }
        if myBoard=="op5" {
            background: url(userBoard1) 0% 0% / 100% 100% no-repeat !important;
        }
        if myBoard=="op6" {
            background: url(userBoard2) 0% 0% / 100% 100% no-repeat !important;
        }
        if myBoard=="op7" {
            background: url(userBoard3) 0% 0% / 100% 100% no-repeat !important;
        }
        /*------Coordinates------*/
        if myBoard=="op1" || myBoard=="op2" {
            div.number.coords-light,
            div.letter.coords-light {
                color: #447e1b!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #4e6c39 !important;
            }
            text.coordinate-light {
                fill: #447e1b!important;
            }
            text.coordinate-dark {
                fill: #4e6c39 !important;
            }
        }
        if myBoard=="op3" || myBoard=="op4" {
            div.number.coords-light,
            div.letter.coords-light {
                color: #7e5d1b!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #e2ba80 !important;
            }
            text.coordinate-light {
                fill: #7e5d1b!important;
            }
            text.coordinate-dark {
                fill: #e2ba80 !important;
            }
        }
        /*------Highlight------*/
        if myHighlight=="op1" {
            if myBoard=="op1" || myBoard=="op2" {
                .move-square {
                    background-color: #d0ff01bd!important;
                    opacity: 0.9!important;
                }
                .selection-square {
                    background-color: #f2ff00de !important;
                    opacity: 0.9!important;
                }
            }
            if myBoard=="op3" || myBoard=="op4" {
                .move-square {
                    background-color: #ffd500c2!important;
                    opacity: 0.9!important;
                }
                .selection-square {
                    background-color: #ffea00cc !important;
                    opacity: 0.9!important;
                }
            }
        }
        if myHighlight=="op2" {
            .move-square {
                background-color: moveSqCol!important;
                opacity: 0.9!important;
            }
            .selection-square {
                background-color: selSqCol !important;
                opacity: 0.9!important;
            }
        }
    }
    /*------white pieces 'Cartoon'------*/
    if myPiecesW=="setCartoon" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/wk.png")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/orange-q.png")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/scarecrow-wb.png")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/wn.png")!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/windmill-orange_rook.png")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milho_wp.png")!important;
        }
    }
    /*------black pieces 'Cartoon'------*/
    if myPiecesB=="setCartoon" {
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/b----bk.png")!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/b----bq.png")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/scarecrow-bb.png")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/bn.png")!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/windmilbl-dark_rook.png")!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milho2_bp.png")!important;
        }
    }
    /*------white pieces 'Figuras 1 B&P'------*/
    if myPiecesW=="setFigures1" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/wk.png")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/wq.png")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/wb.png")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/wn.png")!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/wr.png")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/expert/wp_cl.svg")!important;
        }
    }
    /*------black pieces 'Figuras 1 B&P'------*/
    if myPiecesB=="setFigures1" {
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/bk.png")!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/bq.png")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/bb-inv.png")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/bn-inv.png")!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/br-inv.png")!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/expert/bp_cl.svg")!important;
        }
    }
    /*------black pieces 'Figuras 2 B&P'------*/
    if myPiecesB=="setFigures2" {
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/bk.png")!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/bq.png")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/bb.png")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/bn.png")!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/br.png")!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/bp.png")!important;
        }
    }
    /*------white pieces 'Figuras 2 B&P'------*/
    if myPiecesW=="setFigures2" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/wk.png")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/wq.png")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/wb.png")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/wn.png")!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/wr.png")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/outlined/wp.png")!important;
        }
    }
    /*------black pieces 'Figuras 2 Preto'------*/
    if myPiecesB=="setFigures2Preto" {
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/farmer-bk.png")!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/farmer-bq.png")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/scarecrow-bb.png")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/raven-bn.png")!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/br2.png")!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/bp.png")!important;
        }
    }
    /*------white pieces 'Figuras 2 Branco'------*/
    if myPiecesW=="setFigures2Branco" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/farmer-bk-inv.png")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/farmer-bq-inv.png")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/scarecrow-bb-inv.png")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/raven-bn-inv.png")!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/br2-inv.png")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/bw/wp.png")!important;
        }
    }
    /*------black pieces 'Figuras 2 Azul'------*/
    if myPiecesB=="setFigures2Blue" {
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/darkblue/bk.png")!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/darkblue/bq.png")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/darkblue/bb.png")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/darkblue/bn.png")!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/darkblue/br.png")!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/darkblue/bp.png")!important;
        }
    }
    /*------white pieces 'Figuras 2 Laranja'------*/
    if myPiecesW=="setFigures2Orange" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/orange/wk.png")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/orange/wq.png")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/orange/wb.png")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/orange/wn.png")!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/orange/wr.png")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/orange/wp.png")!important;
        }
    }
    /*------black pieces 'Figuras 2 Amarelo' (same pieces used for white. User should customize settings to create new colors)------*/
    if myPiecesB=="setFigures2Yellow" {
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wk.png")!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wq.png")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wb.png")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wn.png")!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wr.png")!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wp.png")!important;
        }
    }
    /*------white pieces 'Figuras 2 Amarelo'------*/
    if myPiecesW=="setFigures2Yellow" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wk.png")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wq.png")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wb.png")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wn.png")!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wr.png")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Molina/milharal/farmer/yellow/wp.png")!important;
        }
    }
    /*------Black pieces 'Suas imagens'------*/
    if myPiecesB=="userPieces" {
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url(bkImage)!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url(bqImage)!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url(bbImage)!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url(bnImage)!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url(brImage)!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url(bpImage)!important;
        }
    }
    /*------White pieces 'Suas imagens'------*/
    if myPiecesW=="userPieces" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url(wkImage)!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url(wqImage)!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url(wbImage)!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url(wnImage)!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url(wrImage)!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url(wpImage)!important;
        }
    }
    /*------Drop-shadow for the pieces------*/
    if enableShadow {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"],
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"],
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"],
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"],
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"],
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"],
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"],
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"],
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"],
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"],
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"],
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            filter: drop-shadow(0 0 0.2rem #000)!important;
            -webkit-filter: drop-shadow(0 0 0.2rem #000)!important;
        }
    }
    /*------Invert colors------*/
    if myPiecesB!="setCartoon" {
        /*------Invert all black pieces color------*/
        if enableInvertB {
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"],
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"],
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"],
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"],
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"],
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                filter: invert(1)!important;
                -webkit-filter: invert(1)!important;
            }
        }
        /*------Invert all white pieces color------*/
        if myPiecesW!="setCartoon" {
            if enableInvertW {
                .piece.wk,
                .promotion-piece.wk,
                div [style*="wk.png"],
                .piece.wq,
                .promotion-piece.wq,
                div [style*="wq.png"],
                .piece.wb,
                .promotion-piece.wb,
                div [style*="wb.png"],
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"],
                .piece.wr,
                .promotion-piece.wr,
                div [style*="wr.png"],
                .piece.wp,
                .promotion-piece.wp,
                div [style*="wp.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white king color------*/
        if myPiecesW=="userPieces" {
            if enableInvertWK {
                .piece.wk,
                .promotion-piece.wk,
                div [style*="wk.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white queen color------*/
        if myPiecesW=="userPieces" {
            if enableInvertWQ {
                .piece.wq,
                .promotion-piece.wq,
                div [style*="wq.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white bishop color------*/
        if myPiecesW=="userPieces" {
            if enableInvertWB {
                .piece.wb,
                .promotion-piece.wb,
                div [style*="wb.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white knight color------*/
        if myPiecesW=="userPieces" {
            if enableInvertWN {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white rook color------*/
        if myPiecesW=="userPieces" {
            if enableInvertWR {
                .piece.wr,
                .promotion-piece.wr,
                div [style*="wr.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white pawn color------*/
        if myPiecesW=="userPieces" {
            if enableInvertWP {
                .piece.wp,
                .promotion-piece.wp,
                div [style*="wp.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom black king color------*/
        if myPiecesB=="userPieces" {
            if enableInvertBK {
                .piece.bk,
                .promotion-piece.bk,
                div [style*="bk.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white queen color------*/
        if myPiecesB=="userPieces" {
            if enableInvertBQ {
                .piece.bq,
                .promotion-piece.bq,
                div [style*="bq.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white bishop color------*/
        if myPiecesB=="userPieces" {
            if enableInvertBB {
                .piece.wb,
                .promotion-piece.wb,
                div [style*="bb.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white knight color------*/
        if myPiecesB=="userPieces" {
            if enableInvertBN {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white rook color------*/
        if myPiecesB=="userPieces" {
            if enableInvertBR {
                .piece.br,
                .promotion-piece.br,
                div [style*="br.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Invert custom white pawn color------*/
        if myPiecesB=="userPieces" {
            if enableInvertBP {
                .piece.bp,
                .promotion-piece.bp,
                div [style*="bp.png"] {
                    filter: invert(1)!important;
                    -webkit-filter: invert(1)!important;
                }
            }
        }
        /*------Blend and hue variation------*/
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"],
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"],
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"],
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"],
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"],
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            mix-blend-mode: enableBlendB;
            filter: hue-rotate(hueRotationB) brightness(brightnessB) saturate(saturateB) contrast(contrastB);
            -webkit-filter: hue-rotate(hueRotationB) brightness(brightnessB) saturate(saturateB) contrast(contrastB);
            opacity: opacityB!important;
        }
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"],
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"],
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"],
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"],
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"],
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            mix-blend-mode: enableBlendW;
            filter: hue-rotate(hueRotationW) brightness(brightnessW) saturate(saturateW) contrast(contrastW);
            -webkit-filter: hue-rotate(hueRotationW) brightness(brightnessW) saturate(saturateW) contrast(contrastW);
            opacity: opacityW!important;
        }
    }
    /*------end section------*/
}
