/* ==UserStyle==
@name           Chess.com Chess Set: Greiner
@namespace      ChessSkins
@author         agiota_do_artenio
@description    `Chess Set inspired on a picture from "KingsBishop's Blog".`
@version        2.0.4
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Board options" {
            "Greiner*": "op1",
            "Disabled": "op0",
        }
@var    select      myPieces    "Pieces options"{
            "Greiner (beige & red Alpha)*": "op1",
            "Disabled": "op0",
        }
@var color    moveSqCol  "Move square color"   #64AFD2
@var color    selSqCol  "Selection square color"   #ffab00
@var color    lCoordCol  "Light coordinates color"   #f7bc44
@var color    dCoordCol  "Dark coordinates color"   #f7bc44
@var color    lEvalCol  "Light evaluation bar"   #ABABAB
@var color    dEvalCol  "Dark evaluation bar"   #404040
==/UserStyle== */
@-moz-document domain("chess.com") {

    /*Chessboard*/
    #board-single-sibling,
    .board-layout-chessboard .board,
    div[class^="daily-puzzle-board"],
    div[class^="board chessboard-component"],
    div[class^="board v-board chessboard-component"],
    div[class^="board rounded"],
    div[class^="board rounded fippled"],
    div[class^="board fippled rounded"],
    div[class^="board v-board rounded"],
    div[class^="board v-board fippled rounded"],
    div[class^="board disabled rounded"],
    div[id$="_ChessBoard_boardarea"],
    div[id^="chess_com_openingboard_1"],
    div[id^="board_training"],
    div[id^="divBoard_boardarea"],
    div[id^="chess_com_tactics_board"],
    div[id^="chessboard_"],
    div[id*="chessboard_"],
    div[id^="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentor_board_1_boardarea"],
    div[id^="chess_com_emailboard_"],
    div[id^="board-blank"],
    chess-board[class^="board"],
    chess-board[class^="board flipped"],
    chess-board[id^="board-blank"],
    chess-board[id^="board-vs-personalities"],
    div[id*="chess_com_emailboard_"] {
        if myBoard=="op1" {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 0 8 8' shape-rendering='crispEdges' version='1.1' id='svg20' sodipodi:docname='board.svg' inkscape:version='1.0.2-2 (e86c870879, 2021-01-15)'%3E%3Cmetadata id='metadata26'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs24' /%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1920' inkscape:window-height='1017' id='namedview22' showgrid='false' inkscape:zoom='181.01934' inkscape:cx='4.4640488' inkscape:cy='3.5803033' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg20' /%3E%3Cg id='g1150' style='stroke:%23000000;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none'%3E%3Cg id='a' style='stroke:%23000000;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none'%3E%3Cg id='b' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none'%3E%3Cg id='c' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none'%3E%3Cg id='d' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none'%3E%3Crect width='1' height='1' fill='%23ABABAB' id='e' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none' /%3E%3Cuse x='1' y='1' href='%23e' xlink:href='%23e' id='use3' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none' /%3E%3Crect y='1' width='1' height='1' fill='%23404040' id='f' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none' /%3E%3Cuse x='1' y='-1' href='%23f' xlink:href='%23f' id='use6' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none' /%3E%3C/g%3E%3Cuse x='2' href='%23d' xlink:href='%23d' id='use9' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none' /%3E%3C/g%3E%3Cuse x='4' href='%23c' xlink:href='%23c' id='use12' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none' /%3E%3C/g%3E%3Cuse y='2' href='%23b' xlink:href='%23b' id='use15' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none' /%3E%3C/g%3E%3Cuse y='4' href='%23a' xlink:href='%23a' id='use18' style='stroke:%23D1D1D1;stroke-opacity:1;stroke-width:0.02;stroke-miterlimit:4;stroke-dasharray:none' /%3E%3C/g%3E%3C/svg%3E%0A")!important;

            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: lCoordCol!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: dCoordCol !important;
            }
            text.coordinate-light {
                fill: lCoordCol!important;
            }
            text.coordinate-dark {
                fill: dCoordCol !important;
            }
            /*Highlight*/
            .move-square {
                background-color: moveSqCol!important;
                opacity:0.9!important;
            }
            .selection-square {
                background-color: selSqCol !important;
                opacity:0.9!important;
            }
        }
    }
    /*Pieces*/
    if myPieces=="op1" {        
        /*Pieces*/
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 734.04938,980.80816 930.09079,787.95523 c 0,0 -189.13173,-81.58724 -79.40174,-287.85087 79.33675,-149.13229 302.99555,-114.32681 361.18885,50.20491 63.2501,178.82926 -112.8165,240.05645 -112.8165,240.05645 L 1324.943,986.78963 Z M 498.69315,1779.8054 c 0,0 -7.85253,-106.8733 50.80185,-154.2608 195.48756,-173.0158 337.28665,-385.3706 370.88726,-598.9165 l 209.23414,1.9935 c 33.3484,206.5537 182.5006,447.0041 321.0372,561.7471 101.736,59.0524 98.9842,198.3937 98.9842,198.3937 z' fill='%23C83F2A'/%3E%3Cpath d='M520 1769h1008q8-97-132-182-132-101-196.5-239.5T1120 1039H928q-15 170-79.5 308.5T652 1587q-141 85-132 182zm504 74H446v-74q-4-80 41.5-137T613 1524q117-91 171.5-217.5T863 1039H576l284-239q-86-74-86-188 0-103 73-177t177-74q103 0 176.5 74t73.5 177q0 114-86 188l284 239h-287q23 141 78 267.5t172 217.5q79 51 124.5 108t42.5 137v74zM756 974h536l-225-191q134-31 134-171 0-76-52.5-126.5T1024 435q-73 0-125 50.5T847 612q0 140 134 171z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 434.91236,1804.0809 16.10786,-211.7034 151.87416,-115.0562 50.62472,-688.03591 -147.27191,-115.05618 -6.90337,-276.13483 209.40225,-2.30112 4.60224,138.06741 197.89663,2.30113 6.90337,-140.36854 211.70339,-2.30113 13.8067,144.97079 193.2944,-4.60225 4.6023,-138.06741 h 204.8 l -6.9034,285.33932 -144.9708,105.85169 41.4202,692.63823 172.5843,124.2606 18.409,207.1012 z' fill='%23C83F2A'/%3E%3Cpath d='M1024 1501H643l5-74h752l5 74zm0-661H692l5-74h654l5 74zm0 1003H383l29-264 159-118 50-659-149-107-17-341h289v147h137V354h286v147h137V354h289l-17 341-149 107 50 659 159 118 29 264zm0-74h557l-15-149-161-119-54-735 152-109 13-230h-138v148h-285V427H955v148H670V427H532l13 230 152 109-54 735-161 119-15 149z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 352.07191,860.62022 786.98429,-568.37752 94.346,147.27191 c 0,0 335.9641,103.55056 398.0944,388.88988 62.1304,285.33931 50.6247,973.37531 50.6247,973.37531 l -1088.43141,9.2045 c 0,0 -36.81798,-289.9416 184.08989,-460.2247 220.90786,-170.2832 220.90786,-211.7034 220.90786,-211.7034 0,0 -225.51011,-71.3349 -294.54382,-16.1079 -69.03371,55.227 -117.3573,138.0674 -117.3573,138.0674 l -128.86292,-66.7326 73.63595,-85.1415 -87.4427,-96.6472 -94.34606,55.2269 z' fill='%23C83F2A'/%3E%3Cpath d='M 1151 178 L 1036 332 C 962 382 888.5 429.83333 815.5 475.5 C 742.5 521.16667 704 557 700 583 L 304 846 L 316 1143 L 438 1057 L 489 1107 L 374 1189 L 591 1310 L 647 1208 C 684.33333 1140 781.66667 1120 939 1148 C 927 1168 908.66667 1196.3333 884 1233 C 859.33333 1269.6667 821 1293.3333 769 1304 C 679 1380 618 1459.1667 586 1541.5 C 554 1623.8333 541 1724.3333 547 1843 L 1789 1843 C 1765.6667 1788.3333 1746.5 1724.8333 1731.5 1652.5 C 1716.5 1580.1667 1715 1501.3333 1727 1416 C 1755.6667 1177.3333 1739.8333 976.16667 1679.5 812.5 C 1619.1667 648.83333 1475 509.66667 1247 395 L 1151 178 z M 1134 323 L 1193 456 C 1312.3333 509.33333 1399.6667 572 1455 644 C 1510.3333 716 1555 794 1589 878 C 1615.6667 974.66667 1629.1667 1058.8333 1629.5 1130.5 C 1629.8333 1202.1667 1626.8333 1270.5 1620.5 1335.5 C 1614.1667 1400.5 1610 1466.8333 1608 1534.5 C 1606 1602.1667 1616.6667 1680.3333 1640 1769 L 621 1769 C 617 1685 633 1610.5 669 1545.5 C 705 1480.5 753.66667 1421.6667 815 1369 C 893 1347 943.66667 1312.8333 967 1266.5 C 990.0452 1220.7388 1019.9313 1177.0948 1056.6328 1135.5605 C 1070.426 1125.8467 1084.3223 1120.5628 1094.5 1120.5 C 1104.8813 1120.436 1116 1121 1128 1119 C 1180 1111.6667 1222.8333 1083.3333 1256.5 1034 C 1290.1667 984.66667 1307.6667 929.66667 1309 869 L 1290 802 C 1253.3333 961.33333 1190.6667 1047 1102 1059 C 1088 1061 1073 1062.8333 1057 1064.5 C 1041.2832 1066.1372 1023.9547 1075.0297 1005.0215 1091.1406 C 963.90215 1066.2545 917.89539 1055.8733 867 1060 C 793 1066 738 1075 702 1087 L 593.5 1160 L 555 1205 L 508 1177 L 586 1112 L 448 968 L 384 1009 L 380 884 L 746 643 C 760.66667 609 804.33333 569 877 523 C 949.66667 477 1019 433.33333 1085 392 L 1134 323 z M 960.45703 563.9375 C 953.77734 563.95801 947.625 566.3125 942 571 L 826 671 L 1038 673 C 1060.6667 673 1055.3333 651.83333 1022 609.5 C 998.04167 579.07292 977.52734 563.88509 960.45703 563.9375 z M 502 868 L 469 872 L 436 928 L 493 954 L 539 899 L 502 868 z ' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 948.18,366.344 1,-139.102 148.135,-6.95 0.254,146.408 z M 564.353,859.7 c 113.40366,-266.28751 455.981,-442.781 455.981,-442.781 0,0 391.785,176.37142 475.963,502.578 -8.846,208.7473 -183.765,331.328 -183.765,331.328 l 27.0188,221.5 -652.96255,6 46.01875,-233.5 c 0,0 -229.79094,-170.8113 -168.254,-385.125 z m -101.795,789.887 c 174.9708,5.9738 355.25488,23.0317 425.286,-141.884 l 92.354,0.725 c 0,0 0.07,190.014 -87.913,245.652 -162.79714,102.9485 -624.847,38.128 -624.847,38.128 0,0 -15.72175,-146.1088 195.12,-142.621 z m 631.296,37.493 -36.025,-184.923 101.887,5.224 c 0,0 22.612,152.792 315.124,130.958 381.2427,-17.2372 317.903,152.869 317.903,152.869 l -483.147,5 z' fill='%23C83F2A'/%3E%3Cpath d='M1024 356q66 0 64-66 1-55-64-55-66 0-64 55-3 66 64 66zm0 1204q0 114-101 198.5T700 1843H205q0-117 65-179t142-62h250q51 0 88-7t71-60q12-20 10-16h76q-7 21-3 13-45 105-109 124.5T649 1676H409q-52 0-86 40t-34 53h424q66 0 158.5-65t93.5-185H624q67-116 72-229-114-119-162-223.5T528 843q33-96 118-189.5T958 407q-17-11-46-36t-29-79q0-58 41-96t100-38q58 0 99.5 38t41.5 96q0 54-29.5 79t-45.5 36q226 153 311 246.5T1520 843q42 119-6 223.5T1352 1290q4 113 72 229h-341q0 120 93 185t159 65h424q0-13-34.5-53t-85.5-40h-240q-83 0-146.5-19.5T1144 1532q4 8-3-13h76q-2-4 10 16 33 53 70 60t89 7h250q76 0 141.5 62t65.5 179h-495q-123 0-223.5-84.5T1024 1560zm0-114h283q-28-84-29-154-120-41-254-38-135-3-254 38-2 70-29 154zm0-267q159-1 285 42 189-180 142-346-60-193-427-431-368 238-427 431-48 166 142 346 125-43 285-42zm-47-361V714h94v104h95v89h-95v165h-94V907h-95v-89z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 508.54831,1815.5865 556.87191,1458.9124 340.56629,904.34157 204.8,883.63146 l -16.10787,-126.5618 112.75506,-43.72135 78.2382,73.63596 -18.40899,98.94831 246.22023,197.89662 112.75506,-568.37751 -85.14158,-87.4427 78.2382,-108.15281 112.75506,43.72135 -23.01124,161.07865 223.20897,474.03146 243.9191,-490.13933 -66.7326,-105.85168 92.045,-92.04494 105.8517,73.63595 -64.4315,149.57303 103.5506,529.25843 260.0269,-161.07865 -16.1078,-142.66966 131.164,-46.02248 57.5281,131.16405 -207.1011,103.55056 -174.8854,529.25838 48.3236,308.3506 z' fill='%23C83F2A'/%3E%3Cpath d='m1024 1769h478q-53-130-43-280-100-39-213-67.5t-222-28.5q-110 0-223 28.5t-212 67.5q9 150-43 280zm0-450q111 0 223.5 26.5t220.5 67.5q17-105 60.5-212.5t105.5-212.5l-220 155-123-601-267 555-267-555-123 601-220-155q61 105 104.5 212.5t61.5 212.5q108-41 220.5-67.5t223.5-26.5zm0 524h-583q114-231 57.5-456.5t-202.5-449.5q-12 2-19 2-54 0-92.5-38.5t-38.5-92.5 38.5-92.5 92.5-38.5 92.5 38.5 38.5 92.5q0 20-6 38-4 14-15 33l196 139 100-486q-64-31-72-103-5-44 29-91t88-53q54-5 96 29t48 88q7 68-46 114l198 412 198-412q-54-46-46-114 6-54 48-88t96-29q54 6 87.5 53t29.5 91q-9 72-72 103l100 486 196-139q-12-19-15-33-6-18-6-38 0-54 38.5-92.5t92.5-38.5 92.5 38.5 38.5 92.5-38.5 92.5-92.5 38.5q-7 0-19-2-147 224-203 449.5t58 456.5zm-748-1097q-62 0-62 62t62 62q63 0 63-62t-63-62zm466-394q-62 0-62 62t62 62 62-62-62-62zm-152 1167 119 72-134 86q19-86 15-158zm1182-773q-63 0-63 62t63 62q62 0 62-62t-62-62zm-466-394q-62 0-62 62t62 62 62-62-62-62zm152 1167-119 72 134 86q-20-86-15-158zm-573 47 139-83 139 86-139 84z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 501.64494,1810.9843 48.3236,-354.3731 -260.02697,-269.2314 c 0,0 -166.32924,-288.13389 29.91461,-480.93486 262.32809,-257.72584 506.24719,20.71012 506.24719,20.71012 l 195.59553,-165.6809 184.0899,165.6809 c 0,0 216.3056,-232.41349 430.3101,-75.93708 214.0045,156.4764 255.4247,317.55505 117.3573,531.55952 -138.0674,214.0045 -250.8225,280.7371 -250.8225,280.7371 l 55.227,347.4697 z' fill='%23C83F2A'/%3E%3Cpath d='M977 298v-95h94v95h107v95h-107v153q-48-16-94 0V393H870v-95zm47 314q-47 0-136 121-31-36-50-55 93-140 186-140 92 0 186 140-20 19-50 55-90-121-136-121zm-447 907l-26 156 145-84zm410-206q-1-147-36.5-274.5T870 845q-45-88-131.5-153T570 627q-103 0-208 93T257 949q0 109 86.5 236T546 1408q212-88 441-95zm37 530H448l61-365q-325-280-326-535-1-159 125-274.5T575 553q78 0 158.5 47T876 719q61 74 98.5 164.5T1024 1034q12-60 49-150.5t99-164.5q61-72 142-119t159-47q140 0 266 115.5T1865 943q-2 255-326 535l61 365zm0-74h489l-50-298q-216-84-439-84t-439 84l-50 298zm447-250l26 156-145-84zm-410-206q229 7 441 95 115-96 202-223t87-236q0-136-105.5-229T1478 627q-83 0-169.5 65T1178 845q-46 66-81.5 193.5T1061 1313zm-176 233l141-84 137 86-141 84z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 734.04938,980.80816 930.09079,787.95523 c 0,0 -189.13173,-81.58724 -79.40174,-287.85087 79.33675,-149.13229 302.99555,-114.32681 361.18885,50.20491 63.2501,178.82926 -112.8165,240.05645 -112.8165,240.05645 L 1324.943,986.78963 Z M 498.69315,1779.8054 c 0,0 -7.85253,-106.8733 50.80185,-154.2608 195.48756,-173.0158 337.28665,-385.3706 370.88726,-598.9165 l 209.23414,1.9935 c 33.3484,206.5537 182.5006,447.0041 321.0372,561.7471 101.736,59.0524 98.9842,198.3937 98.9842,198.3937 z' fill='%23F0D8BF'/%3E%3Cpath d='M520 1769h1008q8-97-132-182-132-101-196.5-239.5T1120 1039H928q-15 170-79.5 308.5T652 1587q-141 85-132 182zm504 74H446v-74q-4-80 41.5-137T613 1524q117-91 171.5-217.5T863 1039H576l284-239q-86-74-86-188 0-103 73-177t177-74q103 0 176.5 74t73.5 177q0 114-86 188l284 239h-287q23 141 78 267.5t172 217.5q79 51 124.5 108t42.5 137v74zM756 974h536l-225-191q134-31 134-171 0-76-52.5-126.5T1024 435q-73 0-125 50.5T847 612q0 140 134 171z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 434.91236,1804.0809 16.10786,-211.7034 151.87416,-115.0562 50.62472,-688.03591 -147.27191,-115.05618 -6.90337,-276.13483 209.40225,-2.30112 4.60224,138.06741 197.89663,2.30113 6.90337,-140.36854 211.70339,-2.30113 13.8067,144.97079 193.2944,-4.60225 4.6023,-138.06741 h 204.8 l -6.9034,285.33932 -144.9708,105.85169 41.4202,692.63823 172.5843,124.2606 18.409,207.1012 z' fill='%23F0D8BF'/%3E%3Cpath d='M1024 1501H643l5-74h752l5 74zm0-661H692l5-74h654l5 74zm0 1003H383l29-264 159-118 50-659-149-107-17-341h289v147h137V354h286v147h137V354h289l-17 341-149 107 50 659 159 118 29 264zm0-74h557l-15-149-161-119-54-735 152-109 13-230h-138v148h-285V427H955v148H670V427H532l13 230 152 109-54 735-161 119-15 149z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 352.07191,860.62022 786.98429,-568.37752 94.346,147.27191 c 0,0 335.9641,103.55056 398.0944,388.88988 62.1304,285.33931 50.6247,973.37531 50.6247,973.37531 l -1088.43141,9.2045 c 0,0 -36.81798,-289.9416 184.08989,-460.2247 220.90786,-170.2832 220.90786,-211.7034 220.90786,-211.7034 0,0 -225.51011,-71.3349 -294.54382,-16.1079 -69.03371,55.227 -117.3573,138.0674 -117.3573,138.0674 l -128.86292,-66.7326 73.63595,-85.1415 -87.4427,-96.6472 -94.34606,55.2269 z' fill='%23F0D8BF'/%3E%3Cpath d='M 1151 178 L 1036 332 C 962 382 888.5 429.83333 815.5 475.5 C 742.5 521.16667 704 557 700 583 L 304 846 L 316 1143 L 438 1057 L 489 1107 L 374 1189 L 591 1310 L 647 1208 C 684.33333 1140 781.66667 1120 939 1148 C 927 1168 908.66667 1196.3333 884 1233 C 859.33333 1269.6667 821 1293.3333 769 1304 C 679 1380 618 1459.1667 586 1541.5 C 554 1623.8333 541 1724.3333 547 1843 L 1789 1843 C 1765.6667 1788.3333 1746.5 1724.8333 1731.5 1652.5 C 1716.5 1580.1667 1715 1501.3333 1727 1416 C 1755.6667 1177.3333 1739.8333 976.16667 1679.5 812.5 C 1619.1667 648.83333 1475 509.66667 1247 395 L 1151 178 z M 1134 323 L 1193 456 C 1312.3333 509.33333 1399.6667 572 1455 644 C 1510.3333 716 1555 794 1589 878 C 1615.6667 974.66667 1629.1667 1058.8333 1629.5 1130.5 C 1629.8333 1202.1667 1626.8333 1270.5 1620.5 1335.5 C 1614.1667 1400.5 1610 1466.8333 1608 1534.5 C 1606 1602.1667 1616.6667 1680.3333 1640 1769 L 621 1769 C 617 1685 633 1610.5 669 1545.5 C 705 1480.5 753.66667 1421.6667 815 1369 C 893 1347 943.66667 1312.8333 967 1266.5 C 990.0452 1220.7388 1019.9313 1177.0948 1056.6328 1135.5605 C 1070.426 1125.8467 1084.3223 1120.5628 1094.5 1120.5 C 1104.8813 1120.436 1116 1121 1128 1119 C 1180 1111.6667 1222.8333 1083.3333 1256.5 1034 C 1290.1667 984.66667 1307.6667 929.66667 1309 869 L 1290 802 C 1253.3333 961.33333 1190.6667 1047 1102 1059 C 1088 1061 1073 1062.8333 1057 1064.5 C 1041.2832 1066.1372 1023.9547 1075.0297 1005.0215 1091.1406 C 963.90215 1066.2545 917.89539 1055.8733 867 1060 C 793 1066 738 1075 702 1087 L 593.5 1160 L 555 1205 L 508 1177 L 586 1112 L 448 968 L 384 1009 L 380 884 L 746 643 C 760.66667 609 804.33333 569 877 523 C 949.66667 477 1019 433.33333 1085 392 L 1134 323 z M 960.45703 563.9375 C 953.77734 563.95801 947.625 566.3125 942 571 L 826 671 L 1038 673 C 1060.6667 673 1055.3333 651.83333 1022 609.5 C 998.04167 579.07292 977.52734 563.88509 960.45703 563.9375 z M 502 868 L 469 872 L 436 928 L 493 954 L 539 899 L 502 868 z ' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 948.18,366.344 1,-139.102 148.135,-6.95 0.254,146.408 z M 564.353,859.7 c 113.40366,-266.28751 455.981,-442.781 455.981,-442.781 0,0 391.785,176.37142 475.963,502.578 -8.846,208.7473 -183.765,331.328 -183.765,331.328 l 27.0188,221.5 -652.96255,6 46.01875,-233.5 c 0,0 -229.79094,-170.8113 -168.254,-385.125 z m -101.795,789.887 c 174.9708,5.9738 355.25488,23.0317 425.286,-141.884 l 92.354,0.725 c 0,0 0.07,190.014 -87.913,245.652 -162.79714,102.9485 -624.847,38.128 -624.847,38.128 0,0 -15.72175,-146.1088 195.12,-142.621 z m 631.296,37.493 -36.025,-184.923 101.887,5.224 c 0,0 22.612,152.792 315.124,130.958 381.2427,-17.2372 317.903,152.869 317.903,152.869 l -483.147,5 z' fill='%23F0D8BF'/%3E%3Cpath d='M1024 356q66 0 64-66 1-55-64-55-66 0-64 55-3 66 64 66zm0 1204q0 114-101 198.5T700 1843H205q0-117 65-179t142-62h250q51 0 88-7t71-60q12-20 10-16h76q-7 21-3 13-45 105-109 124.5T649 1676H409q-52 0-86 40t-34 53h424q66 0 158.5-65t93.5-185H624q67-116 72-229-114-119-162-223.5T528 843q33-96 118-189.5T958 407q-17-11-46-36t-29-79q0-58 41-96t100-38q58 0 99.5 38t41.5 96q0 54-29.5 79t-45.5 36q226 153 311 246.5T1520 843q42 119-6 223.5T1352 1290q4 113 72 229h-341q0 120 93 185t159 65h424q0-13-34.5-53t-85.5-40h-240q-83 0-146.5-19.5T1144 1532q4 8-3-13h76q-2-4 10 16 33 53 70 60t89 7h250q76 0 141.5 62t65.5 179h-495q-123 0-223.5-84.5T1024 1560zm0-114h283q-28-84-29-154-120-41-254-38-135-3-254 38-2 70-29 154zm0-267q159-1 285 42 189-180 142-346-60-193-427-431-368 238-427 431-48 166 142 346 125-43 285-42zm-47-361V714h94v104h95v89h-95v165h-94V907h-95v-89z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 508.54831,1815.5865 556.87191,1458.9124 340.56629,904.34157 204.8,883.63146 l -16.10787,-126.5618 112.75506,-43.72135 78.2382,73.63596 -18.40899,98.94831 246.22023,197.89662 112.75506,-568.37751 -85.14158,-87.4427 78.2382,-108.15281 112.75506,43.72135 -23.01124,161.07865 223.20897,474.03146 243.9191,-490.13933 -66.7326,-105.85168 92.045,-92.04494 105.8517,73.63595 -64.4315,149.57303 103.5506,529.25843 260.0269,-161.07865 -16.1078,-142.66966 131.164,-46.02248 57.5281,131.16405 -207.1011,103.55056 -174.8854,529.25838 48.3236,308.3506 z' fill='%23F0D8BF'/%3E%3Cpath d='m1024 1769h478q-53-130-43-280-100-39-213-67.5t-222-28.5q-110 0-223 28.5t-212 67.5q9 150-43 280zm0-450q111 0 223.5 26.5t220.5 67.5q17-105 60.5-212.5t105.5-212.5l-220 155-123-601-267 555-267-555-123 601-220-155q61 105 104.5 212.5t61.5 212.5q108-41 220.5-67.5t223.5-26.5zm0 524h-583q114-231 57.5-456.5t-202.5-449.5q-12 2-19 2-54 0-92.5-38.5t-38.5-92.5 38.5-92.5 92.5-38.5 92.5 38.5 38.5 92.5q0 20-6 38-4 14-15 33l196 139 100-486q-64-31-72-103-5-44 29-91t88-53q54-5 96 29t48 88q7 68-46 114l198 412 198-412q-54-46-46-114 6-54 48-88t96-29q54 6 87.5 53t29.5 91q-9 72-72 103l100 486 196-139q-12-19-15-33-6-18-6-38 0-54 38.5-92.5t92.5-38.5 92.5 38.5 38.5 92.5-38.5 92.5-92.5 38.5q-7 0-19-2-147 224-203 449.5t58 456.5zm-748-1097q-62 0-62 62t62 62q63 0 63-62t-63-62zm466-394q-62 0-62 62t62 62 62-62-62-62zm-152 1167 119 72-134 86q19-86 15-158zm1182-773q-63 0-63 62t63 62q62 0 62-62t-62-62zm-466-394q-62 0-62 62t62 62 62-62-62-62zm152 1167-119 72 134 86q-20-86-15-158zm-573 47 139-83 139 86-139 84z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 501.64494,1810.9843 48.3236,-354.3731 -260.02697,-269.2314 c 0,0 -166.32924,-288.13389 29.91461,-480.93486 262.32809,-257.72584 506.24719,20.71012 506.24719,20.71012 l 195.59553,-165.6809 184.0899,165.6809 c 0,0 216.3056,-232.41349 430.3101,-75.93708 214.0045,156.4764 255.4247,317.55505 117.3573,531.55952 -138.0674,214.0045 -250.8225,280.7371 -250.8225,280.7371 l 55.227,347.4697 z' fill='%23F0D8BF'/%3E%3Cpath d='M977 298v-95h94v95h107v95h-107v153q-48-16-94 0V393H870v-95zm47 314q-47 0-136 121-31-36-50-55 93-140 186-140 92 0 186 140-20 19-50 55-90-121-136-121zm-447 907l-26 156 145-84zm410-206q-1-147-36.5-274.5T870 845q-45-88-131.5-153T570 627q-103 0-208 93T257 949q0 109 86.5 236T546 1408q212-88 441-95zm37 530H448l61-365q-325-280-326-535-1-159 125-274.5T575 553q78 0 158.5 47T876 719q61 74 98.5 164.5T1024 1034q12-60 49-150.5t99-164.5q61-72 142-119t159-47q140 0 266 115.5T1865 943q-2 255-326 535l61 365zm0-74h489l-50-298q-216-84-439-84t-439 84l-50 298zm447-250l26 156-145-84zm-410-206q229 7 441 95 115-96 202-223t87-236q0-136-105.5-229T1478 627q-83 0-169.5 65T1178 845q-46 66-81.5 193.5T1061 1313zm-176 233l141-84 137 86-141 84z' fill='%23101010'/%3E%3C/svg%3E")!important;
        }
    }
    /*Evaluation Bar*/
    .evaluation-bar-white {
        background-color: lEvalCol !important;
    }
    .evaluation-bar-black {
        background-color: dEvalCol !important;
    }
    .evaluation-bar-bar {
        opacity: 0.9;
    }
    /*end*/
}
