/* ==UserStyle==
@name           Chess.com Chess Set: Greiner
@namespace      ChessSkins
@author         agiota_do_artenio
@description    `Chess Set inspired on a picture from "KingsBishop's Blog".`
@version        1.0.4
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Board options" {
            "Greiner*": "op1",
            "Disabled": "op0",
        }
@var    select      myPieces    "Pieces options"{
            "Greiner (beige & red Alpha)*": "op1",
            "Disabled": "op0",
        }
==/UserStyle== */
@-moz-document domain("chess.com") {

    /*Chessboard*/
    #board-single-sibling,
    .board-layout-chessboard .board,
    div[class^="daily-puzzle-board"],
    div[class^="board chessboard-component"],
    div[class^="board v-board chessboard-component"],
    div[class^="board rounded"],
    div[class^="board rounded fippled"],
    div[class^="board fippled rounded"],
    div[class^="board v-board rounded"],
    div[class^="board v-board fippled rounded"],
    div[class^="board disabled rounded"],
    div[id$="_ChessBoard_boardarea"],
    div[id^="chess_com_openingboard_1"],
    div[id^="board_training"],
    div[id^="divBoard_boardarea"],
    div[id^="chess_com_tactics_board"],
    div[id^="chessboard_"],
    div[id*="chessboard_"],
    div[id^="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentor_board_1_boardarea"],
    div[id^="chess_com_emailboard_"],
    div[id^="board-blank"],
    chess-board[class^="board"],
    chess-board[class^="board flipped"],
    chess-board[id^="board-blank"],
    chess-board[id^="board-vs-personalities"],
    div[id*="chess_com_emailboard_"] {
        if myBoard=="op1" {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/board-gray.svg")!important;

            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: #f7bc44!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #f7bc44 !important;
            }
            text.coordinate-light {
                fill: #f7bc44!important;
            }
            text.coordinate-dark {
                fill: #f7bc44 !important;
            }
            /*Highlight*/
            .move-square {
                background-color: #64AFD2!important;
                opacity:0.9!important;
            }
            .selection-square {
                background-color: #ffab00 !important;
                opacity:0.9!important;
            }
        }
    }
    /*Pieces*/
    if myPieces=="op1" {
        /*Pieces*/
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/bp.svg")!important;
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/br.svg")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/bn.svg")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/bb.svg")!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/bq.svg")!important;
        }
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/bk.svg")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/wp.svg")!important;
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/wr.svg")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/wn.svg")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/wb.svg")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/wq.svg")!important;
        }
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/Greiner/wk.svg")!important;
        }
    }
    /*Evaluation Bar*/
    .evaluation-bar-white {
        background-color: #ABABAB !important;
    }
    .evaluation-bar-black {
        background-color: #404040 !important;
    }
    .evaluation-bar-bar {
        opacity: 0.9;
    }
    /*end*/
}
