/* ==UserStyle==
@name           ❕EEEFM JOB PIMENTEL: chessboard
@author         ChessSkins
@namespace      ChessSkins
@homepageURL    https://www.chess.com/blog/ChessSkins
@description    `highly customizable chess set for chess.com.`
@version        1.0.6
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    checkbox    setServer   "Servidor: GitHub <--> GitLab" 0
@var    select      myBoard    "🟢🏁Tabuleiro" {
            "Azul": "blueJP",
            "Azul II": "blueJPII",
            "Personalizado": "custom",
            "Desativado": "disabled",
        }
@var    color    svgLightSqColor  "Casas claras"   #B1D2ED
@var    color    svgDarkSqColor  "Casas escuras"   #0a67ad
@var    checkbox    enableGlobalColor   "👉🟪Cor Global (modo fácil) Pretas" 0
@var    select  svgBoardBlend    "↪Mesclagem tabuleiro" ["normal*", "multiply", "screen", "darken", "lighten", "overlay", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"]
@var    range    svgDarkSqOpacity  "Opacidade escuras" [1.00, 0.01, 1.00, 0.01, ""]
@var    range    svgLightSqOpacity  "Opacidade claras" [1.00, 0.01, 1.00, 0.01, ""]

@var    range    frameRadius  "🔵Canto arredondado" [6, 0, 34, 1, "px"]
@var    checkbox    frameRadiusInOut  "↪🔹Conjunto <--> Externo" 1

@var    range    ajustBoardSize  "Tam. do tabuleiro" [0.9, 0.82, 0.92, 0.01, ""]

@var    select      setHighlight    "🟡Destaque de movimento" {
            "Personalizado*": "op1",
            "Padrão": "disabled",
        }
@var    color    hlColor  "↪Cor do destaque"   #00d0ff

@var    range    highlightOpacity  "↪Opacidade Destaque" [0.6, 0.3, 1, 0.1, ""]

@var    color    hlSqRed  "🔴Click Direito"   #eb6150
@var    color    hlSqOrange  "🟠CTRL+Click"   #fa0
@var    color    hlSqGreen  "🟢SHIFT+Click"   #acce59
@var    color    hlSqBlue  "🔵ALT+Click"   #52b0dc

@var    checkbox    enableArrowSettings   "🟩↘️Setas modificadas" 0
@var    range    arrowOpacity  "Opacidade das setas" [0.9, 0.7, 1, 0.1, ""]
@var    color    arrowOrange  "🟠Click Direito"   #ff8000
@var    color    arrowRed  "🔴CTRL+Click"   #fa4d35
@var    color    arrowGreen  "🟢SHIFT+Click"   #abe439
@var    color    arrowBlue  "🔵ALT+Click"   #28b8fa

@var    checkbox    enableBoardFrame  "👉🟩🔳Borda externa" 0
@var    checkbox    enableInnerBorder  "🟩◽Borda interna" 1
@var    checkbox    enableCenterLogo   "🟩Logo central" 1
@var    checkbox    enableCornerLogo   "🟩Logo secundário" 1
@var    checkbox    enableCornerLogo2   "🟩🆎Texto extra" 1
@var    checkbox    enableWallpaper   "🟩Plano de fundo" 1

@var    checkbox    enableCustomCoord "🟨🔠Coord. personalizadas" 0
@var    checkbox    enableOutsideCoords "🟡Coord. Externas" 1
@var    select  coordsBlend    "↪Mesclagem Coordenadas" ["normal*", "multiply", "screen", "darken", "lighten", "overlay"]
@var    select   outCoordFontName   "↪🆎Nome da fonte"{
        "Fonte 1": "userFont1",
        "Fonte 2": "userFont2",
        "Fonte 3": "userFont3",
        "Times New Roman": "Times New Roman",
        "Helvetica": "Helvetica",
        "Segoe UI*": "Segoe UI",
        "Tahoma": "Tahoma",
        "Verdana": "Verdana",
        "serif": "serif",
        "sans-serif": "sans-serif",
    }
@var    range    outCoordFontSize  "↪Tam. da fonte" [0.24, 0.1, 0.3, 0.01, "rem"]
@var select   outCoordFontWeight   "↪Tipo"    ["400*", "600", "700", "800"]

@var    select      outCoordFontCase    "↪Maiúsculas ou minúsculas"{
            "Maiúsculas*": "uppercase",
            "Minúsculas": "lowercase",
        }
@var    select      outCoordColorOpt    "↪🟢Origem da cor"{
            "Casas Claras*": "svgLightSqColor",
            "Personalizado": "outCoordCol",
        }
@var color    outCoordCol  "Coordenadas externas"   #ffffffb8
@var color    lCoordCol  "Coord. de casas claras"   #8d8d8d
@var color    dCoordCol  "Coord. de casas escuras"   #acacac  

@var    select      boardBGOpt    "🟠Fundo do tabuleiro"{
            "Somente cor*": "colorOnly",
        }
@var    color    boardBGColor  "↪🔸Cor de fundo"   #0a67ad
@var    select      bgSize    "↪🔸Tam. do fundo"{
            "Estender": "cover",
            "Conter": "contain",
            "Porcentagem*": "bPercentSize",
        }
@var    range    bPercentSize    "↪valor de porcentagem" [100, 1, 120, 1, "%"]

@var    range    bgPosX  "↪🔸Ajuste horizontal" [50, 0, 100, 5, "%"]
@var    range    bgPosY  "↪🔸Ajuste vertical" [50, 0, 100, 5, "%"]

@var    select      frameOpt    "↪🟢Borda"{
            "Igual ao fundo*": "boardBGOpt",
            "Somente cor": "colorOnly",
        }
@var    color    frameColor  "↪🟢Cor da borda"   #0460a5

@var    select      frameSize    "Tam. da borda"{
            "Estender": "cover",
            "Conter": "contain",
            "Igual ao fundo*": "bgSize",
            "Porcentagem": "fPercentSize",
        }
@var    range    fPercentSize    "↪valor de porcentagem" [100, 1, 120, 1, "%"]


@var    range    framePosX  "Ajuste horizontal" [50, 0, 100, 5, "%"]
@var    range    framePosY  "Ajuste vertical" [50, 0, 100, 5, "%"]


@var    select      innerBorderOpt    "↪🟢Borda interna"{
            "cor casas claras": "svgLightSqColor",
            "cor casas escuras": "svgDarkSqColor",
            "cor personalizada*": "innerBorderColor",
        }
@var    color    innerBorderColor   "↪🟢Cor borda interna"   #feca00

@var    checkbox    enableBoardShadowInset  "🟨Sombra interna do tabuleiro" 0
@var    checkbox    enableBoardShadow  "🟨Sombra externa do tabuleiro" 0

@var    checkbox    enableFrameShadowInset  "🟧Sombra interna da borda" 0
@var    range    frameShadowInsetBlur    "↪🔸Desfocar" [2, 0, 34, 1, "px"]
@var    range    frameShadowInsetSpread   "↪🔸Dispersar" [1, 0, 34, 1, "px"]
@var    color    frameShadowInsetColor  "↪🔸Cor da sombra"   rgba(0, 0, 0, .4)

@var    checkbox    enableFrameShadow  "🟧Sombra externa da borda" 1
@var    range    frameShadowBlur    "↪🔸Desfocar" [8, 0, 34, 1, "px"]
@var    range    frameShadowSpread   "↪🔸Dispersar" [4, 0, 34, 1, "px"]
@var    color    frameShadowColor  "↪🔸Cor da sombra"    rgba(0, 0, 0, .5)

@var    select      centerLogoOpt    "👉☯️Selecionar logo central"{
            "Logo": "logoEscola",
        }
@var    select  centerLogoBlend    "↪Mesclagem logo central" ["normal", "multiply*", "screen", "darken", "lighten", "overlay", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"]

@var color    centerLogoCol  "Cor do logo central"   #3ca4e659
@var    range    centerLogoSize  "Tam. logo central" [35, 10, 120, 1, "%"]
@var    range    centerLogoOpacity  "Opacidade do logo central" [0.4, 0.01, 1, 0.01, ""]
@var    range    centerLogoPosX  "Ajuste horizontal" [50, -20, 120, 2, "%"]
@var    range    centerLogoPosY  "Ajuste vertical" [54, -20, 120, 2, "%"]

@var    select      cornerLogoOpt    "👉☯️Selecionar logo secundário"{
            "Texto*": "cornerLogoTextOnly",
        }

@var    select  cornerLogoBlend    "↪Mesclagem logo secundário" ["normal", "multiply*", "screen", "darken", "lighten", "overlay", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"]
@var    range    cornerLogoSize  "↪Tam. logo secundário" [15, 10, 120, 1, "%"]
@var    range    cornerLogoOpacity  "↪Opacidade do logo secundário" [1, 0.01, 1, 0.01, ""]
@var    range    cornerLogoPosX  "↪Ajuste horizontal" [124, -40, 150, 1, "%"]
@var    range    cornerLogoPosY  "↪Ajuste vertical" [60, -40, 150, 1, "%"]
@var color    cornerLogoCol  "↪Cor do logo secundário"   #60b7ee5e
@var    range    cornerLogoFontSize  "↪Tam. da fonte" [10, 8, 24, 2, "px"]
@var select   cornerLogoFontWeight   "↪Tipo"    ["400", "600", "700*", "800"]
@var select   cornerLogoFontName   "↪🆎Nome da fonte"{
        "Fonte 1": "userFont1",
        "Fonte 2": "userFont2",
        "Fonte 3": "userFont3",
        "Times New Roman": "Times New Roman",
        "Montserrat": "Montserrat",
        "Arial Black": "Arial Black",
        "Arial": "Arial",
        "Courier": "Courier",
        "Georgia": "Georgia",
        "Helvetica": "Helvetica",
        "Palatino": "Palatino",
        "Segoe UI": "Segoe UI",
        "Tahoma": "Tahoma",
        "Verdana": "Verdana",
        "serif": "serif",
        "sans-serif*": "sans-serif",
    }
@var    text     cornerLogoText    "👉Texto 1"   "EEEFM"
@var    text     cornerLogo2Text    "👉Texto 2"   "JOB PIMENTEL"
@var select   cornerLogo2FontName   "↪🆎Nome da fonte"{
        "Fonte 1": "userFont1",
        "Fonte 2": "userFont2",
        "Fonte 3": "userFont3",
        "Times New Roman": "Times New Roman",
        "Montserrat": "Montserrat",
        "Arial Black": "Arial Black",
        "Arial": "Arial",
        "Courier": "Courier",
        "Georgia": "Georgia",
        "Helvetica": "Helvetica",
        "Palatino": "Palatino",
        "Segoe UI": "Segoe UI",
        "Tahoma": "Tahoma",
        "Verdana": "Verdana",
        "serif": "serif",
        "sans-serif*": "sans-serif",       
    }
@var select   cornerLogo2FontWeight   "↪Tipo txt 2"    ["400", "600", "700*", "800"]
@var    range    cornerLogo2FontSize  "↪Tam. fonte texto 2" [10, 8, 24, 2, "px"]
@var color    cornerLogo2Col  "↪Cor texto 2"   #60b7ee5e
@var    select  cornerLogo2Blend    "↪Mesclagem texto 2" ["normal", "multiply*", "screen", "darken", "lighten", "overlay", "color-dodge", "color-burn", "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"]
@var    range    cornerLogo2Size  "↪Tam.  texto 2" [14, 10, 100, 1, "%"]
@var    range    cornerLogo2PosX  "↪Ajuste horiz. texto 2" [103, -40, 150, 1, "%"]
@var    range    cornerLogo2PosY  "↪Ajuste vert. texto 2" [68, -40, 150, 1, "%"]

@var    select      useWallpaper    "🖼️Plano de fundo" {
            "Do tema (se houver)*": "themeWallpaper",
            "Degradê": "gradient",
        }
@var    checkbox    enableLightTheme   "🟩Tema escuro <-> claro" 0
@var    select      setWallpaper    "Modo do Plano de fundo" {
            "Estender*": "cover",
            "Conter": "contain",
            "Porcentagem": "percentSize",
            "Manter": "initial",
        }
@var    range    percentSize    "↪valor de porcentagem" [100, 1, 100, 1, "%"]

@var    color    backgroundColp  "Cor de fundo"   #0c2651

@var    select      evalOpt    "Barra de Avaliação" {
            "Cor automática*": "auto",
            "Personalizada": "custom",	
            "Padrão": "disabled",
        }

@var color    dEvalCol  "Avaliação Pretas"   #403D39
@var color    lEvalCol  "Avaliação Brancas"   #E0E0E0
@var    range    evalBarOpacity  "Opacidade barra de avaliação" [0.9, 0.5, 1, 0.1, ""]
@var    text     userFont1    "🆎Importar fonte 1:"   "'Bauhaus'"

@var    text     userFont2    "🆎Importar fonte 2:"   "'Comic Sans MS'"

@var    text     userFont3    "🆎Importar fonte 3:"   "'MS Gothic'"

@var    text     myTheme    "Nome do Tema"   "'myTheme'"
==/UserStyle== */
@-moz-document domain("chess.com") {
    /*primary server (GitHub)*/
    gitHub='https://github.com/FSA1/Styles/raw/main/';
    /*alternative server (GitLab)*/
    gitLab='https://gitlab.com/FSA11/Styles/-/raw/main/';
    /*there is no error below*/
    if setServer {
        server = gitLab
    }else{
        server = gitHub
    }
    /*selector with exceptions to avoid override analysis highlights*/
    notThisColors='[style*="179\, 52\, 48"]):not([style*="244\, 42\, 50"]):not([style*="#f42a32"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="92\, 139\, 176"]):not([style*="150\, 188\, 75"]):not([style*="150\, 188\, 75"]):not([style*="150\, 175\, 139"]):not([style*="168\, 136\, 101"]):not([style*="240\, 193\, 92"]):not([style*="229\, 143\, 42"]):not([style*="202\, 52\, 49"]):not([style*="219\, 172\, 22"]):not([style*="172\, 206\, 89"]):not([style*="235\, 97\, 80"]):not([style*="82\, 176\, 220"]):not([style*="255\, 170\, 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]';

    if enableBoardShadow{
        boardShadow= 0px 0px 8px 4px rgba(0, 0, 0, .4);
    }
    if enableBoardShadowInset{
        boardShadowInset= inset 0px 1px 2px 1px rgba(0, 0, 0, .4);
    }
    if enableFrameShadow{
        frameShadow= 0px 0px frameShadowBlur frameShadowSpread frameShadowColor;
    }
    if enableFrameShadowInset{
        frameShadowInset= inset 0px -1px frameShadowInsetBlur frameShadowInsetSpread frameShadowInsetColor;
    }
    
}/*Themes below*/
@-moz-document domain("chess.com") {
    /*Themes*/
    
    if myBoard=="blueJP" {
        svgBoardBlend=normal;
        svgLightSqColor=#d0dbea;
        svgLightSqOpacity=1;
        enableGlobalColor=0;
        svgDarkSqColor=#0a67ad;
        svgDarkSqOpacity=1;
        boardBGOpt=colorOnly;
        boardBGColor=#0460a5;
        bgSize=cover;
        bgPosX=50%;
        bgPosY=50%;
        frameOpt=colorOnly;
        frameColor=#0460a5;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        enableInnerBorder=1;
        innerBorderOpt=#feca00;
        innerBorderColor=#0460a5;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;        
        setHighlight=op1;
        hlColor=#66b0ff;
        highlightOpacity=0.7;
        enableArrowSettings=0;
        enableCenterLogo=1;
        enableCustomCoord=0;
        outCoordFontSize=0.24rem;
        outCoordFontName=Segoe UI;
        outCoordFontWeight=600;
        outCoordColorOpt=#ffc403;
        outCoordCol=rgba(255,255,255,0.722);
        lCoordCol=#8d8d8d;
        dCoordCol=#acacac;
        centerLogoOpt=logoEscola;
        centerLogoBlend=multiply;
        centerLogoCol=#3ca4e659;
        centerLogoSize=35%;
        centerLogoOpacity=0.4;
        centerLogoPosX=50%;
        centerLogoPosY=54%;
        cornerLogoOpt=cornerLogoTextOnly;
        cornerLogoBlend=normal;
        cornerLogoCol=#60b7ee5e;
        cornerLogoSize=18%;
        cornerLogoOpacity=1;
        cornerLogoPosX=150%;
        cornerLogoPosY=68%;
        cornerLogoFontSize=8px;
        cornerLogoFontName=Trueno;
        cornerLogoFontWeight=700;
        cornerLogoText="EEEFM";
        cornerLogo2Text="JOB PIMENTEL";
        cornerLogo2Blend=cornerLogoBlend;
        cornerLogo2Size=14%;
        cornerLogo2PosX=102%;
        cornerLogo2PosY=74%;
        cornerLogo2FontSize=10px;
        cornerLogo2Col=cornerLogoCol;
        cornerLogo2FontName=Trueno;
        cornerLogo2FontWeight=700;
        themeWallpaper=degrade;
        backgroundColp=#23517f;
        evalOpt=auto;
        dEvalCol=#403d39;
        lEvalCol=#e0e0e0;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }    
    else if myBoard=="blueJPII" {
        
        global=1;
        svgBoardBlend=normal;
        svgLightSqColor=#e9e9e3;
        svgLightSqOpacity=1;
        svgDarkSqColor=#4d7caf;
        svgDarkSqOpacity=1;
        boardBGOpt=colorOnly;
        boardBGColor=#0460a5;
        bgSize=cover;
        bgPosX=50%;
        bgPosY=50%;
        frameOpt=colorOnly;
        frameColor=#0460a5;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        enableInnerBorder=1;
        innerBorderOpt=#feca00;
        innerBorderColor=#0460a5;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;        
        setHighlight=op1;
        hlColor=#66b0ff;
        highlightOpacity=0.7;
        enableCenterLogo=1;
        enableCustomCoord=0;
        outCoordFontSize=0.24rem;
        outCoordFontName=Segoe UI;
        outCoordFontWeight=600;
        outCoordColorOpt=#ffc403;
        outCoordCol=#ffffffb8;
        lCoordCol=#8d8d8d;
        dCoordCol=#acacac;
        centerLogoOpt=logoEscola;
        centerLogoBlend=multiply;
        centerLogoCol=#3ca4e659;
        centerLogoSize=35%;
        centerLogoOpacity=0.4;
        centerLogoPosX=50%;
        centerLogoPosY=54%;
        cornerLogoOpt=cornerLogoTextOnly;
        cornerLogoBlend=normal;
        cornerLogoCol=#60b7ee5e;
        cornerLogoSize=18%;
        cornerLogoOpacity=1;
        cornerLogoPosX=150%;
        cornerLogoPosY=68%;
        cornerLogoFontSize=8px;
        cornerLogoFontName=Trueno;
        cornerLogoFontWeight=700;
        cornerLogoText="EEEFM";
        cornerLogo2Text="JOB PIMENTEL";
        cornerLogo2Blend=cornerLogoBlend;
        cornerLogo2Size=14%;
        cornerLogo2PosX=102%;
        cornerLogo2PosY=74%;
        cornerLogo2FontSize=10px;
        cornerLogo2Col=cornerLogoCol;
        cornerLogo2FontName=Trueno;
        cornerLogo2FontWeight=700;
        themeWallpaper=degrade;
        backgroundColp=#23517f;
        evalOpt=auto;
        dEvalCol=#403d39;
        lEvalCol=#e0e0e0;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }

    /*End themes*/

    /*GLOBAL COLOR - Need to be placed after themes*/
    if (enableGlobalColor==1 && myBoard=="custom") || global==1{    
        innerBorderOpt=saturate(lighten(svgDarkSqColor, 20%), -10%);
        frameColor=saturate(darken(svgDarkSqColor, 10%), -2%);
        centerLogoOpacity=0.24;
        centerLogoBlend=multiply;
        cornerLogoBlend=cornerLogo2Blend=multiply;
        centerLogoCol=transparentify(saturate(lighten(svgDarkSqColor, 80%), -5%), 0.3);
        cornerLogoCol=cornerLogo2Col=saturate(lighten(svgDarkSqColor, 70%), 10%);
        backgroundColp=saturate(shade(svgDarkSqColor,40%), -80%);
        outCoordColorOpt=svgLightSqColor
    }    
    if frameSize=="contain"{
        frameRepeat=repeat;
    }else{
        frameRepeat=no-repeat;
    }    
    if bgSize=="contain"{
        bgRepeat=repeat;
    }else{
        bgRepeat=no-repeat;
    }
    if !enableBoardShadowInset{
        boardShadowInset=0;
    }
    if !enableFrameShadow {
        frameShadow=0;
    }
    if !enableFrameShadowInset{
        frameShadowInset=0;
    }
    /*=============SHOWS THEME SETTINGS IN ABOUT SECTION ON PROFILE PAGE SO YOU CAN COPY IT USING 'ITEM INSPECTION' IN CONTEXT MENU FROM THE BROWSER=============*/
    /*In the Stylus menu find 'My Theme' textbox, write '1', 'space' and the theme name in camel case. For example: '1 myTheme'. When on the inspection page click on
    '.v5-section-content-wide' > '#collapseAbout' then on 'after' click on 'content' and choose 'copy value'. Now you can make some corrections and save your
     settings and paste them as a new theme in this code. Be sure to add a new entry to the myBoard menu*/
    getValue=''+ myTheme;
    myTheme=unquote(slice(getValue,2));
    showSettings=slice(getValue,0,1);
   
    if showSettings=="1"{
        #collapseAbout{
            visibility:hidden!important;
        }/*probably missing variables or outdated - need to be checked*/
        #collapseAbout:after{
            background-color:#fff!important;
            color:#000!important;
            font-size: 1rem;
            content:'"if myBoard==%s {svgBoardBlend=%s; svgLightSqColor=%s; svgLightSqOpacity=%s; enableGlobalColor=%s; svgDarkSqColor=%s; svgDarkSqOpacity=%s; boardBGOpt=%s; boardBGColor=%s; bgSize=%s; bgPosX=%s; bgPosY=%s; frameRadius=%s; frameRadiusInOut=%s; ajustBoardSize=%s; enableBoardFrame=%s; frameOpt=%s; frameColor=%s; frameSize=%s; framePosX=%s; framePosY=%s; enableInnerBorder=%s; innerBorderOpt=%s; innerBorderColor=%s; enableBoardShadowInset=%s; enableBoardShadow=%s; enableFrameShadowInset=%s; enableFrameShadow=%s; boardFrame1=%s; boardFrame2=%s; boardFrame3=%s; boardFrame4=%s; boardFrame5=%s; setHighlight=%s; hlColor=%s; highlightOpacity=%s; enableArrowSettings=%s; enableCenterLogo=%s; enableCornerLogo=%s; enableCornerLogo2=%s; enableWallpaper=%s; enableCustomCoord=%s; enableOutsideCoords=%s; outCoordFontSize=%s; outCoordFontName=%s; outCoordFontWeight=%s; outCoordColorOpt=%s; outCoordCol=%s; lCoordCol=%s; dCoordCol=%s; coordsBlend=%s; centerLogoOpt=%s; centerLogoBlend=%s; centerLogoCol=%s; centerLogoSize=%s; centerLogoOpacity=%s; centerLogoPosX=%s; centerLogoPosY=%s; cornerLogoOpt=%s; cornerLogoBlend=%s; cornerLogoCol=%s; cornerLogoSize=%s; cornerLogoOpacity=%s; cornerLogoPosX=%s; cornerLogoPosY=%s; cornerLogoFontSize=%s; cornerLogoFontName=%s; cornerLogoFontWeight=%s; cornerLogoText=%s; cornerLogo2Text=%s; cornerLogo2Blend=%s; cornerLogo2Size=%s; cornerLogo2PosX=%s; cornerLogo2PosY=%s; cornerLogo2FontSize=%s; cornerLogo2Col=%s; cornerLogo2FontName=%s; cornerLogo2FontWeight=%s; logoLink1=%s; logoLink2=%s; logoLink3=%s; logoLink4=%s; logoLink5=%s; themeWallpaper=%s; enableLightTheme=%s; setWallpaper=%s; percentSize=%s; userWall1=%s; userWall2=%s; userWall3=%s; userWall4=%s; userWall5=%s; backgroundColp=%s; evalOpt=%s; dEvalCol=%s; lEvalCol=%s; evalBarOpacity=%s; hueRotationArrow=%s; arrowOpacity=%s; saturateArrow=%s; brightnessArrow=%s; frameShadow=%s; frameShadowInset=%s;}"' % ((myTheme) (svgBoardBlend) (svgLightSqColor) (svgLightSqOpacity) (enableGlobalColor) (svgDarkSqColor) (svgDarkSqOpacity) (boardBGOpt) (boardBGColor) (bgSize) (bgPosX) (bgPosY) (frameRadius) (frameRadiusInOut) (ajustBoardSize) (enableBoardFrame) (frameOpt) (frameColor) (frameSize) (framePosX) (framePosY) (enableInnerBorder) (innerBorderOpt) (innerBorderColor) (enableBoardShadowInset) (enableBoardShadow) (enableFrameShadowInset) (enableFrameShadow) (boardFrame1) (boardFrame2) (boardFrame3) (boardFrame4) (boardFrame5) (setHighlight) (hlColor) (highlightOpacity) (enableArrowSettings) (enableCenterLogo) (enableCornerLogo) (enableCornerLogo2) (enableWallpaper) (enableCustomCoord) (enableOutsideCoords) (outCoordFontSize) (outCoordFontName) (outCoordFontWeight) (outCoordColorOpt) (outCoordCol) (lCoordCol) (dCoordCol) (coordsBlend) (centerLogoOpt) (centerLogoBlend) (centerLogoCol) (centerLogoSize) (centerLogoOpacity) (centerLogoPosX) (centerLogoPosY) (cornerLogoOpt) (cornerLogoBlend) (cornerLogoCol) (cornerLogoSize) (cornerLogoOpacity) (cornerLogoPosX) (cornerLogoPosY) (cornerLogoFontSize) (cornerLogoFontName) (cornerLogoFontWeight) (cornerLogoText) (cornerLogo2Text) (cornerLogo2Blend) (cornerLogo2Size) (cornerLogo2PosX) (cornerLogo2PosY) (cornerLogo2FontSize) (cornerLogo2Col) (cornerLogo2FontName) (cornerLogo2FontWeight) (logoLink1) (logoLink2) (logoLink3) (logoLink4) (logoLink5) (useWallpaper) (enableLightTheme) (setWallpaper) (percentSize) (userWall1) (userWall2) (userWall3) (userWall4) (userWall5) (backgroundColp) (evalOpt) (dEvalCol) (lEvalCol) (evalBarOpacity) (hueRotationArrow) (arrowOpacity) (saturateArrow) (brightnessArrow)(frameShadow)(frameShadowInset)) !important;
            visibility:visible!important;
        }
    }
}
@-moz-document domain("chess.com") {

    /*Board*/
   /*prevent user to get the board completely transparent with no visual references. It can be removed if you are an experienced user*/
    if svgLightSqOpacity<"0.2" && svgDarkSqOpacity<"0.2" && boardBGOpt=="transparent"{
        svgLightSqOpacity="0.2";
        svgDarkSqOpacity="0.2";
    }
    solidBoardBGColor=transparentify(boardBGColor, #fff, 1);
    svgDarkSqColor=hsla(svgDarkSqColor);
    svgLightSqColor=hsla(svgLightSqColor);
    centerLogoCol=hsla(centerLogoCol);
    cornerLogoCol=hsla(cornerLogoCol);
    cornerLogo2Col=hsla(cornerLogo2Col);
    innerBorderOpt=hsla(innerBorderOpt);
    outCoordColorOpt=hsla(outCoordColorOpt);
    /*SVG IMAGES HERE 🔐 - need to be here because '#' symbol need to be replaced first for '%23' in the variables*/
    /*main svg board*/
    svgBoard="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='1200' height='1200' shape-rendering='crispEdges' version='1.1' viewBox='0 0 1200 1200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m150 9.25e-6v150h150v-150zm150 150v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm150 150v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm0 150v150h150v-150zm0 150h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150z' fill='" + svgDarkSqColor + "' fill-opacity='" + svgDarkSqOpacity + "' style='mix-blend-mode:multiply'/%3e%3cpath d='m1200 150h-150v150h150zm-150 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm150 0v150h150v-150zm150 0h150v-150h-150zm-150 150h-150v150h150zm0 150v150h150v-150zm0 150h-150v150h150zm0 150v150h150v-150zm-150 0h-150v150h150zm-150 0v-150h-150v150zm0-150h150v-150h-150zm0-150v-150h-150v150z' fill='" + svgLightSqColor + "' fill-opacity='" + svgLightSqOpacity + "' style='mix-blend-mode:multiply'/%3e%3c/svg%3e";
    cornerLogoTextOnly="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='400' height='120' version='1.1' viewBox='0 0 105.83 31.75' xmlns='http://www.w3.org/2000/svg'%3e%3ctext x='23.73254' y='21.361437' fill='" + cornerLogoCol + "' font-family='sans-serif' font-size='"+cornerLogoFontSize+"' stroke-width='.26459' style='line-height:1.25' xml:space='preserve'%3e%3ctspan x='23.73254' y='21.361437' fill='" + cornerLogoCol + "' font-family='"+cornerLogoFontName+"' font-size='"+cornerLogoFontSize+"'  font-weight='"+cornerLogoFontWeight+"' stroke-width='.26459'%3e"+cornerLogoText+"%3c/tspan%3e%3c/text%3e%3c/svg%3e";
    cornerLogo2TextOnly="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='400' height='120' version='1.1' viewBox='0 0 105.83 31.75' xmlns='http://www.w3.org/2000/svg'%3e%3ctext x='23.73254' y='21.361437' fill='" + cornerLogo2Col + "' font-family='sans-serif' font-size='"+cornerLogo2FontSize+"' stroke-width='.26459' style='line-height:1.25' xml:space='preserve'%3e%3ctspan x='23.73254' y='21.361437' fill='" + cornerLogo2Col + "' font-family='"+cornerLogo2FontName+"' font-size='"+cornerLogo2FontSize+"'  font-weight='"+cornerLogo2FontWeight+"' stroke-width='.26459'%3e"+cornerLogo2Text+"%3c/tspan%3e%3c/text%3e%3c/svg%3e";
    logoEscola="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg version='1.1' viewBox='0 0 1536 698.67' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m1533.8 82.666c-0.5075 0-7.5691 2.9503-15.693 6.5566-52.594 23.347-125.54 44.121-217.44 61.926-9.5334 1.847-22.691 4.0315-29.24 4.8535-6.5487 0.82202-12.849 1.9845-14 2.584-1.1512 0.59946-7.4918 1.5019-14.092 2.0039-6.6 0.50203-16.801 1.7722-22.668 2.8223-5.8667 1.0501-17.265 2.5336-25.332 3.2969-53.141 4.866-116.06 7.1918-181.7-2.1211-0.3593 0.35931 0.8167 10.101 1.3183 21.699 0.8062 18.643 0.9058 25.561-0.8926 49.713-2.965 39.821-7.3947 65.42-17.068 98.666-14.408 49.517-41.059 93.968-68.551 114.33-9.1631 6.7882-26.341 16.314-29.441 16.326-0.91667 4e-3 -1.666 0.67277-1.666 1.4863 0 3.174 21.416-2.251 35.992-9.1172 29.54-13.915 52.452-42.671 74.182-93.1 3.1215-7.2441 13.06-38.374 18.297-57.312 4.0326-14.584 11.13-56.504 12.52-73.949l1.0098-12.668c37.996 4.12 81.13 5.7172 120.67 6.6445 105.1-0.0631 184.97-13.175 256.03-42.027 26.88-10.915 29.488-12.217 46.447-23.223 29.406-19.082 48.012-37.185 61.734-60.061 6.4799-10.802 10.712-19.334 9.5898-19.334zm-1532.3 3.6113c-1.7183-0.064973-1.4883 1.593-1.4883 4.8906 0 20.542 41.205 60.72 84.84 82.727 40.365 20.357 104.35 38.992 153.83 44.797 6.9666 0.81741 18.667 2.3416 26 3.3867 50.493 7.1961 160.01 7.0228 205.49-0.32421 7.4171-1.1983 14.391-1.8311 15.498-1.4062 1.5034 0.57689 2.1939 3.7539 2.7266 12.547 1.5986 26.39 5.3451 47.921 13.996 80.439 13.439 50.516 33.072 91.432 55.697 116.08 19.75 21.512 30.421 28.459 53.264 34.684 14.337 3.9068 20.666 4.6947 20.666 2.5723 0-0.73332-0.82523-1.332-1.834-1.332-3.2681 0-16.712-6.5318-25.887-12.576-31.909-21.022-60.631-67.906-76.217-124.41-5.2167-18.914-10.155-42.302-11.896-56.346-0.77304-6.2333-2.088-16.433-2.9219-22.666-1.7402-13.008-2.2554-69.462-0.72266-79.172l1.0274-6.5059-3.7754 0.98633c-22.886 5.9819-51.389 7.9843-96.439 6.7734-18.7-0.50261-40.3-1.4039-48-2.0039-38.326-2.9863-50.774-4.2469-59.334-6.0039-5.1333-1.0536-14.734-2.5151-21.334-3.248-22.806-2.5327-40.783-5.6215-90.666-15.578-62.526-12.48-143.53-36.356-179.33-52.859-7.7935-3.5923-11.459-5.3803-13.178-5.4453zm762.13 11.543c-109.03 0-197.5 88.468-197.5 197.5 0 44.164 14.519 84.95 39.035 117.85-0.38821 2.3881-0.49426 4.0214-0.20703 4.3086 0.249 0.24901 1.8011 0.51825 4.127 0.76953 36.193 45.431 91.979 74.568 154.54 74.568 109.03 0 197.5-88.468 197.5-197.5 0-13.522-1.363-26.728-3.9551-39.488 2.5841-9.6104 3.921-19.957 4.168-32.479 0-14.142-6.6676-29.275-16.342-37.094-7.9265-6.3669-17.087-10.631-26.283-13.197-36.176-45.819-92.211-75.242-155.09-75.242zm0 7.4355c57.319 0 108.69 25.342 143.53 65.436-0.79359-0.10516-1.5856-0.20175-2.3711-0.28321l-18.588 0.041c-31.577-30.999-74.844-50.129-122.57-50.129-96.623 0-175 78.377-175 175 0 32.099 8.659 62.178 23.754 88.045-1.1146 4.7677-3.2308 13.169-5.0059 19.828-0.0253 0.0949-0.0473 0.18471-0.0723 0.2793-21.27-30.696-33.74-67.958-33.74-108.15 0-105.01 85.051-190.06 190.06-190.06zm0 19.592c44.853 0 85.64 17.316 116.07 45.617l-91.074 0.20118c-115.36 0.25628-122.99 0.14334-124.9 2.334-1.1179 1.2833-2.3601 3.8327-2.7598 5.666-0.39963 1.8333-3.1649 13.533-6.1445 26s-5.4308 23.118-5.4473 23.668 15.052 1 33.486 1h34.357l-0.9375 4.0801c-9.3331 36.502-15.656 70.514-23.348 101.62-5.6608 13-14.05 19.56-18.807 21.91-2.4903 1.1541-6.6759 2.3861-25.676 2.2793 0 0-24.044 0.10742-30.381 0.10742l-1.7754 7.332c-0.65116 2.691-1.5463 6.5812-2.3926 10.23-13.223-24.228-20.742-52.021-20.742-81.576 0-94.176 76.297-170.47 170.47-170.47zm-679.98 78.938c-0.6261-0.042-0.97656 0.0879-0.97656 0.40429 0 3.7442 20.267 24.937 40.668 42.527 15.933 13.737 50.452 33.201 72.666 40.973 16.051 5.6155 34.49 9.3119 60.666 12.16 28.887 3.1433 72.779 3.5436 94.668 0.86523 8.8-1.0768 25.299-2.5743 36.666-3.3281 11.367-0.75387 24.867-1.9478 30-2.6543 5.1333-0.70651 18.334-2.487 29.334-3.9551 11-1.468 22.917-3.0842 26.482-3.5918l6.4824-0.92188-0.87305-7.7168c-0.48012-4.2439-2.0471-13.773-3.4824-21.178-1.4354-7.4045-2.6094-15.543-2.6094-18.084 0-5.2806-0.65035-5.4529-10.092-2.7012-9.2676 2.7011-38.898 5.7968-63.242 6.6094-111.46 3.0598-205.13-7.3888-311.26-37.828-2.2418-0.96096-4.0542-1.5101-5.0977-1.5801zm1361 0.58984c-1.3094-0.0266-9.5824 2.3666-19.225 5.5801-10.285 3.4277-23.972 7.342-30.416 8.6992-6.4446 1.3572-17.718 3.7362-25.051 5.2852-87.678 18.168-138.38 17.919-220.67 19.629-26.932-0.54532-59.485-1.4317-92.137-8.1465l-4.8008-0.80274c-0.985 15.234-2.8459 31.095-5.0625 43.545-0.8365 6.5631-0.734 6.8625 2.6308 7.707 4.1169 1.0333 24.44 4.0269 46.035 6.7812 8.4333 1.0756 19.233 2.5914 24 3.3672 4.7667 0.77583 19.167 2.0236 32 2.7734s26.934 1.8395 31.334 2.4219c11.653 1.5424 59.883 1.6156 70 0.10547 4.7667-0.71147 15.667-1.9201 24.225-2.6855 13.808-1.2351 35.748-5.4538 47.107-9.0566 17.106-5.4258 36.266-14.712 55.334-26.822 19.308-12.262 24.704-16.559 45.104-35.904 17.062-16.181 21.254-20.94 19.756-22.438-0.024-0.0238-0.081-0.0373-0.168-0.0391zm-652.64 24.959h45.439c49.555 0 51.375 0.23627 57.316 7.8145 1.8388 2.3454 2.5684 5.5033 1.875 9.2148-2.124 11.369-7.4316 19.735-15.768 22.885-2.3908 0.90331-20.665 1.418-50.334 1.418h-48.025c2.7592-12.01 6.2417-26.933 9.4961-41.332zm160.02 41.148c1.0598 8.1291 1.6133 16.419 1.6133 24.838 0 105.01-85.051 190.06-190.06 190.06-57.794 0-109.54-25.768-144.39-66.439 1.1524 0.0516 2.2477 0.11478 3.4551 0.15235 5.7933 0.18026 11.694 0.25308 17.504 0.25781 31.648 31.494 75.271 50.965 123.43 50.965 96.579 0 174.93-78.306 175-174.87 1.8328-2.8307 3.8245-6.1762 6.2129-10.422 2.7931-4.9824 5.196-9.7649 7.2402-14.547zm-18.121 31.453c-3.4751 91.106-78.371 163.86-170.33 163.86-45.303 0-86.463-17.661-116.99-46.469 18.351-0.18189 34.742-1.1748 41.367-2.7227 40.138-9.3784 64.105-32.419 77.932-74.918 1.2497-3.8414 2.9773-7.4414 3.8379-8 0.8606-0.55863 26.764-1.3539 57.564-1.7676 55.722-0.74842 56.054-0.76858 66.914-4.2363 12-3.8318 22.457-9.9502 33.898-19.828 2.1214-1.8315 3.9667-3.6877 5.8047-5.9141zm108.74 8.7461c-1.4727 0.0113-3.6236 5.7337-7.8906 21-3.2258 11.541-7.0167 22.925-8.4258 25.295-1.409 2.37-2.2325 4.841-1.8301 5.4922 1.2692 2.0535 7.4318 3.9335 32.789 10.004 33.701 8.0679 66.99 13.931 96 16.906 5.5 0.56407 25.599 0.87499 44.666 0.6914 32.623-0.31405 35.532-0.54801 49.334-3.959 8.0667-1.9935 17.967-4.8277 22-6.2988 11.556-4.2152 34.508-16.587 44-23.719 11.502-8.6413 38.666-37.313 38.666-40.812 0-0.49446-0.9976-0.51667-2.2168-0.0488-1.2192 0.46785-14.569 3.006-29.666 5.6406-64.808 10.368-116.72 6.9786-191.14 2.457-0.9061-0.31423-13.648-1.7902-28.314-3.2793-14.667-1.4892-33.255-4.2087-41.309-6.0449-8.0533-1.8362-15.553-3.3322-16.666-3.3242zm-557.89 0.78906c-2.4052-0.10069-11.134 1.1911-21.092 3.1641-11.38 2.2549-30.819 4.9686-43.199 6.0312-12.38 1.0627-27.01 2.6166-32.51 3.4531-13.241 2.014-143.42 2.0381-157.33 0.0293-5.5-0.79384-17.2-2.3093-26-3.3691s-19.232-2.5693-23.182-3.3535c-3.9501-0.78422-7.4276-1.4258-7.7285-1.4258-1.5784 0 17.244 20.577 26.051 28.479 24.707 22.168 45.988 33.306 78.912 41.301 7.6711 1.8627 15.747 3.5983 17.947 3.8555v-2e-3c13.427 1.5695 65.84 0.9662 82.086-0.94531 51.608-6.0724 122.56-21.616 122.58-26.854 3e-3 -0.82446-0.92402-4.1251-2.0605-7.334-1.1365-3.2088-4.485-13.934-7.4395-23.834-2.9544-9.9-5.833-18.48-6.3984-19.066-0.0707-0.0733-0.28531-0.11452-0.62891-0.12891zm24.961 76.969c-1.4632-0.0727-7.3645 1.7277-13.689 4.1992-19.564 7.645-58.577 16.039-90.072 19.379-15.926 1.689-96.4 1.1942-101.67-0.625-2.1532-0.7438-3.0002-0.5227-3 0.78515 1e-4 1.0022 3.7488 3.7682 8.332 6.1465 20.114 10.437 42.137 20.744 47.668 22.309 32.219 9.1138 41.596 11.535 48.568 12.539 11.361 1.6363 45.287 1.7218 62.949 0.1582 19.338-1.712 55.558-10.222 66.104-15.529 4.4609-2.2453 4.5046-2.1137-7.377-21.801-5.0897-8.4333-10.757-17.933-12.592-21.109-1.8353-3.1766-4.0817-6.0608-4.9922-6.4102-0.0569-0.0218-0.13487-0.0362-0.23242-0.041zm506.38 0.23633c-0.1128 5e-3 -0.1941 0.0222-0.2403 0.0508-3.4638 2.1407-28.459 47.308-26.93 48.662 0.5648 0.50015 3.7274 1.6306 7.0273 2.5117 29.849 7.9698 48.717 12.466 56 13.344 12.761 1.538 56.553 1.5733 67.334 0.0547 30.361-4.2766 66.654-16.751 89.606-30.799 4.5967-2.8134 10.573-6.041 13.279-7.1719 2.8342-1.1842 4.3955-2.5307 3.6835-3.1758-0.6798-0.61592-10.236-0.55864-21.236 0.12696-26.391 1.6449-80.385 0.46873-97.332-2.1191-31.039-4.7399-51.69-9.3211-70.34-15.607-10.183-3.4323-19.16-5.952-20.852-5.877zm-466.56 57.99c-0.9716 0-9.6747 2.3724-19.342 5.2715-9.6671 2.8991-21.628 5.9619-26.578 6.8047-4.95 0.84283-8.9892 1.9198-8.9785 2.3945 0.0597 2.5226 2.9241 4.5685 8.7773 6.2656 5.0848 1.4744 13.447 1.7756 37.689 1.3594 17.134-0.29421 31.714-1.0966 32.4-1.7832 0.77566-0.77565 0.0361-2.0423-1.9531-3.3457-1.7609-1.1538-7.0366-5.4447-11.725-9.5332-4.688-4.0885-9.3194-7.4336-10.291-7.4336zm429.35 1.0859c-5.1674 0.18836-8.8272 3.0765-15.914 9.4727-4.941 4.4594-10.031 7.531-10.936 8.1094-0.55483 0.35484-1.2594 0.72477-0.68555 1.2656 0.71665 0.67542 5.4663 1.4779 10.6 1.7383 21.97 1.1144 52.47 0.72277 59.334-0.76172 13.951-3.0174 14.029-4.9659 0.332-8.1797-5.6834-1.3335-17.21-4.7355-25.617-7.5605-8.163-2.7431-13.094-4.2305-17.113-4.084z' color='%23000000' color-rendering='auto' dominant-baseline='auto' fill='"+centerLogoCol+"' image-rendering='auto' shape-rendering='auto' solid-color='%23000000' stop-color='%23000000'/%3e%3c/svg%3e";
    
    if enableCenterLogo{
        centerLogo=centerLogoOpt;
    }else{
        centerLogo=null;
    }
    if enableCornerLogo{
        cornerLogo=cornerLogoOpt;
    }else{
        cornerLogo=null;
    }
    if enableCornerLogo2==0{
        cornerLogo2TextOnly='';
    }
    board3=boardBGOpt;
    miniBoard3=board3;
    if boardBGOpt!="colorOnly" && boardBGOpt!="" && boardBGOpt!=null{
       boardBGColor=#0000;
    }
    if frameOpt==boardBGOpt && enableBoardFrame && svgBoardBlend=="normal"{
        board3=null;
        miniBoard3=frameOpt;
        framePosX=bgPosX;
        framePosY=bgPosY;
    }
    /*Board selector*/
    if myBoard!="disabled"{
        #board-single-sibling,
        div#board.board:not([style*="background-image: url"]),
        .board-layout-chessboard .board:not([style*="--theme"]),
        div[class^="board v-board disabled rounded"],
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        div[id*="chess_com_emailboard_"] {
            if bgSize=="cover"{
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat !important;
            }else{
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat !important;
            }
            background-size: auto cornerLogoSize, auto cornerLogo2Size, auto centerLogoSize, 100%, bgSize!important;
            background-blend-mode: cornerLogoBlend, cornerLogo2Blend, centerLogoBlend, svgBoardBlend, normal !important;
            background-position:cornerLogoPosX cornerLogoPosY, cornerLogo2PosX cornerLogo2PosY, centerLogoPosX centerLogoPosY, 0 0, bgPosX bgPosY!important;
            background-color: boardBGColor; 
            background-image: url(cornerLogo), url(cornerLogo2TextOnly), url(centerLogo), url(svgBoard), url(board3)!important; 
        } 
        /*Small board for game preview*/
        .openings-view-chessboard chess-board,
        .game-preview-component.sidebar-tab-games-new-preview,
        .game-preview-component.player-card-new-preview,
        .diagram-board-component chess-board,
        .game-board-preview,
        .game-preview-legacy-component,
        .game-preview-component.open-games-item-preview,
        .game-preview-component.current-games-grid-preview,
        .game-preview-component.promo-preview,
        div [style*="40.png"][class="game-preview-component"],
        div [style*="40.jpg"][class="game-preview-component"] {
            /*clean board preview, no logo*/
            background-image: url(svgBoard), url(miniBoard3) !important;
            background-blend-mode: svgBoardBlend, normal!important;
            background-color: solidBoardBGColor!important;
            background-position:0 0, bgPosX bgPosY!important;
            background-size:100%, bgSize!important;
            if bgSize=="cover"{
                background-repeat: no-repeat, no-repeat !important;
            }else{
                background-repeat: no-repeat, repeat !important;
            }
        }
        .engine-line-preview,
        .board-popover-component, .board-popover-component:before{
            background-image: url(frameOpt) !important;
            background-position:framePosX framePosY;
            background-size:frameSize;           
            background-color: solidBoardBGColor;
            if bgSize=="cover"{
                background-repeat: no-repeat !important;
            }else{
                background-repeat: repeat !important;
            }
            border-color:solidBoardBGColor!important;
            border-image:url(frameOpt) 25 stretch!important;
        }

        /*========== Coordinates ==========*/

        /*coords light*/
        .coords-light,
        .coordinate-light,
        div.number.coords-light,
        div.letter.coords-light,
        text.coordinate-light {
            mix-blend-mode: coordsBlend !important;
            if enableCustomCoord {
                color: lCoordCol!important;
                fill: @color;
            }else {
                color: transparentify(svgDarkSqColor, #000, 1) !important;
                fill: @color;
                if svgDarkSqOpacity>='0.7'{
                    opacity:svgDarkSqOpacity;
                }
            }
        }

        /*coords dark*/
        .coords-dark,
        .coordinate-dark,
        div.number.coords-dark,
        div.letter.coords-dark,
        text.coordinate-dark {
            mix-blend-mode: coordsBlend !important;
            if enableCustomCoord {
                color: dCoordCol !important;
                fill: @color;
            }else {
                color: transparentify(svgLightSqColor, #000, 1) !important;
                fill: @color;
                if svgLightSqOpacity>='0.7'{
                    opacity:svgLightSqOpacity;
                }
            }
        }/*======End coords ======*/
            
        /*======👉2023-07-05 new rules for game preview======
        #board-popover,
        .game-preview-themed-component{
            --globalBackgroundOpaque: url(""),;
        } 
        :root{
            --theme-board-style-image: url(svgBoard) 0% 0% / cover no-repeat, url(miniBoard3);
          
            if enableCustomCoord {
                --theme-board-style-coordinate-color-light: lCoordCol;
                --theme-board-style-coordinate-color-dark: dCoordCol;
            }else {
                --theme-board-style-coordinate-color-light: transparentify(svgDarkSqColor, #000, 1) !important;
                --theme-board-style-coordinate-color-dark: transparentify(svgLightSqColor, #000, 1) !important;
            }
            --theme-board-style-highlight-color: hlColor;
        }
        /*======👉End rules for game preview======*/

        /*====== Evaluation Bar ======*/
        if evalOpt!="disabled" {
            .evaluation-bar-white,
            .score-bar__fill[data-v-b0ff6725] {
                if evalOpt == "auto" {
                    background-color: svgLightSqColor !important;
                }else if evalOpt == "custom" {
                    background-color: lEvalCol !important;
                }
            }
            .evaluation-bar-black {
                if evalOpt == "auto" {
                    background-color: saturate(svgDarkSqColor, 10%) !important;
                }else if evalOpt == "custom" {
                    background-color: dEvalCol !important;
                }
            }
            /*evaluation bar width for chesskid*/
            div [class="score-bar"] {
                width: 3rem;
                left: 1.4rem;
            }
            .score-bar__text[data-v-b0ff6725] {
            font-size: 9px!important;
            }
            .evaluation-bar-bar {
                opacity: evalBarOpacity!important;
                box-shadow: 1px 1px 8px 2px #0000002e;
                z-index:1;
            }
            /*====== End Evaluation Bar ======*/
        }
    }/*end board*/
        
    /*Highlight*/
    /*hlImgOpt not being used for this projet. It can be useful to set a background image as highlight, normaly a gif.*/
    if setHighlight=="op1" {
        #divChessBoard_boardarea > div:nth-child(20):not({notThisColors}),
        #divChessBoard_boardarea > div:nth-child(21):not({notThisColors}),
        .move-square,
        .highlight:not({notThisColors}):not([class="stream highlight"]) {
            background: hlColor url(hlImgOpt) 0 0 / 100% no-repeat !important;
        }
    }
    /*=== Highlight opacity===*/
    .move-square,
    .highlight:not({notThisColors}) {
        opacity: highlightOpacity!important;
    }/*====== End highlight ======*/
            
    /*====== change arrows colors ======*/
    if enableArrowSettings {
        .arrow {
            opacity: arrowOpacity !important;
        }
        /*red*/
        [class*="arrow"][style*="248\, 85\, 63"],[class*="arrow"][style*="#f8553fcc"]{
            fill: arrowRed!important;
        }
        /*orange*/
        [class*="arrow"][style*="255\, 170\, 0"],[class*="arrow"][style*="#fa0c"]{
            fill: arrowOrange!important;
        }
        /*green*/
        [class*="arrow"][style*="159\, 207\, 63"],[class*="arrow"][style*="#9fcf3fcc"]{
            fill: arrowGreen!important;
        }
        /*blue*/
        [class*="arrow"][style*="72\, 193\, 249"],[class*="arrow"][style*="#48c1f9cc"]{
            fill: arrowBlue!important;
        }
    }/*====== End arrows colors ======*/
    /*------end section------*/

    /*change highlight made by the user*/
    [class*="highlight"][style*="82\, 176\, 220"],[class*="highlight"][style*="#52b0dc"]{
        background-color:hlSqBlue!important;
    }
    [class*="highlight"][style*="172\, 206\, 89"],[class*="highlight"][style*="#acce59"]{
        background-color: hlSqGreen!important;
    }
    [class*="highlight"][style*="255\, 170\, 0"],[class*="highlight"][style*="#fa0"]{
        background-color: hlSqOrange!important;
    }
    [class*="highlight"][style*="235\, 97\, 80"],[class*="highlight"][style*="#eb6150"]{
        background-color: hlSqRed!important;
    }

}
@-moz-document url-prefix("https://www.chess.com/game"), url-prefix("https://www.chess.com/play/"), url-prefix("https://www.chess.com/analysis"), url-prefix("https://www.chess.com/classroom"), url-prefix("https://www.chess.com/practice"), url-prefix("https://www.chess.com/daily"), url-prefix("https://www.chess.com/puzzles/"), url-prefix("https://www.chess.com/endgames"), url-prefix("https://www.chess.com/explorer"), url-prefix("https://www.chess.com/pt/events/"), url-prefix("https://www.chess.com/es/events/"), url-prefix("https://www.chess.com/events/") {

    /*======== Wallpaper =======*/
    if enableWallpaper=="1" {
            .theme-bg,
            body:after {
                content: '';
                background: url(useWallpaper), linear-gradient(to top right, backgroundColp 50%, lighten(backgroundColp, 20%))!important;
                if setWallpaper=="cover" || setWallpaper=="contain" || setWallpaper==percentSize{
                    background-size: setWallpaper !important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                }
                if setWallpaper=="cover"{
                    background-repeat:no-repeat!important;
                }else{
                    background-repeat:repeat!important;
                }
                background-position: center center;                    
                position: fixed;
                height: 100vh;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1000;
            }
    }/*=== End wallpaper ===*/
}

@-moz-document domain("chess.com") {
    /*Border*/

    testColor="" + boardBGColor;
    resultColor=slice(testColor,0,-6);
    
    innBorderSize=0.4rem;
    if innBorderSize > 0 {
        inn=innBorderSize/2;
    }else{inn=0}
	
    @media (min-width: 960px){
        if enableBoardFrame{ 
            /*board*/
            div#board.board:not([style*="background-image: url"]),
            .board-layout-chessboard .board:not([style*="--theme"]),
            .fade-in-overlay,
            #boarddefault_boardarea,
            #divChessBoard_boardarea,
            #vsComputerDiv_boardarea,
            div[id^="board-"][class*="chess-board__board"],
            div[class^="board v-board disabled rounded"],
            div[class^="daily-puzzle-board"],
            div[class^="board chessboard-component"],
            div[class^="board v-board chessboard-component"],
            div[class^="board rounded"],
            div[class^="board rounded fippled"],
            div[class^="board fippled rounded"],
            div[class^="board v-board rounded"],
            div[class^="board v-board fippled rounded"],
            div[class^="board disabled rounded"],
            div[id$="_ChessBoard_boardarea"],
            div[id^="chess_com_openingboard_1"],
            div[id^="board_training"],
            div[id^="divBoard_boardarea"],
            div[id^="chess_com_tactics_board"],
            div[id^="chessboard_"],
            div[id^="chess_com_chessmentorboard_"],
            div[id*="chess_com_chessmentor_board_1_boardarea"],
            div[id^="chess_com_emailboard_"],
            div[id^="board-blank"],
            chess-board[class^="board"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board),
            chess-board[class^="board flipped"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board),
            chess-board[id^="board-blank"],
            chess-board[id^="board-vs-personalities"],
            div[id*="chess_com_emailboard_"] {
                transform-style: preserve-3d;
                width:'calc(var(--boardWidth) * %s)!important;' % ajustBoardSize;
                height:'calc(var(--boardHeight) * %s)!important;' % ajustBoardSize;
                if ajustBoardSize=="0.9"{
                multiplierL=0.54;
                multiplierT=0.5; 
                }else{
                multiplierL=0.53;
                multiplierT=0.5; 
                }              
                boardRatioL='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplierL));
                boardRatioT='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplierT));
                margin-left:'calc(var(--boardWidth) * %s + %s)!important;' % ((boardRatioL) (inn));
                margin-top:'calc(var(--boardHeight) * %s + %s)!important;' % ((boardRatioT) (inn));
                if frameRadiusInOut{
                    border-radius:0!important;                    
                }else{
                    border-radius:'calc(%s * 0.40)!important;' % frameRadius;
                }
                box-shadow: boardShadow;
                box-shadow: boardShadowInset;                    
                if enableBoardShadow && enableBoardShadowInset {
                    box-shadow: boardShadow, boardShadowInset !important;
                }
                if enableInnerBorder {
                    box-shadow: 0 0 0 innBorderSize innerBorderOpt!important;
                }
            }
            /*board*/
            div#board.board:not([style*="background-image: url"]):before,
            .board-layout-chessboard .board:not([style*="--theme"]):before,
            .fade-in-overlay:before,
            #boarddefault_boardarea:before,
            #divChessBoard_boardarea:before,
            #vsComputerDiv_boardarea:before,
            div[id^="board-"][class*="chess-board__board"]:before,            
            div[class^="board v-board disabled rounded"]:before,
            div[class^="daily-puzzle-board"]:before,
            div[class^="board chessboard-component"]:before,
            div[class^="board v-board chessboard-component"]:before,
            div[class^="board rounded"]:before,
            div[class^="board rounded fippled"]:before,
            div[class^="board fippled rounded"]:before,
            div[class^="board v-board rounded"]:before,
            div[class^="board v-board fippled rounded"]:before,
            div[class^="board disabled rounded"]:before,
            div[id$="_ChessBoard_boardarea"]:before,
            div[id^="chess_com_openingboard_1"]:before,
            div[id^="board_training"]:before,
            div[id^="divBoard_boardarea"]:before,
            div[id^="chess_com_tactics_board"]:before,
            div[id^="chessboard_"]:before,
            div[id^="chess_com_chessmentorboard_"]:before,
            div[id*="chess_com_chessmentor_board_1_boardarea"]:before,
            div[id^="chess_com_emailboard_"]:before,
            div[id^="board-blank"]:before,
            chess-board[class^="board"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board):before,
            chess-board[class^="board flipped"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board):before,
            chess-board[id^="board-blank"]:before,
            chess-board[id^="board-vs-personalities"]:before,
            div[id*="chess_com_emailboard_"]:before {
				background-position: framePosX framePosY !important;
                background-color: frameColor !important;
                background-size: frameSize!important;
                -webkit-background-size: @background-size;
                -moz-background-size: @background-size;
                -o-background-size: @background-size;
                if frameSize=="cover" {
                    background-repeat: no-repeat!important;
                }else{
                    background-repeat: repeat!important;
                }
                background-image: url(frameOpt) !important;
                transform: translateZ(-1px);
                content: ""!important;
                display:block;
                grid-column: board;                
                width:var(--boardWidth)!important;
                height: var(--boardHeight)!important;
                padding-bottom: 0;
                if ajustBoardSize=="0.9"{
                    multiplier=-0.54;
                }else{
                    multiplier=-0.526;
                }
                boardRatio='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplier));
                margin-left:'calc(var(--boardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
                margin-top:@margin-left;
                border-radius: frameRadius!important;
                box-shadow: frameShadow;
                box-shadow: frameShadowInset;
                if enableFrameShadow && enableFrameShadowInset {
                    box-shadow: frameShadow, frameShadowInset !important;
                }
            }
			/*bizarre solution, don't ask me why*/
            div#board.board:not([style*="background-image: url"]) > div{
                display: none!important;
            }
            div#board.board:not([style*="background-image: url"]){
                --theme-board-style-image: url(cornerLogo) cornerLogoPosX cornerLogoPosY / auto cornerLogoSize no-repeat,
              url(cornerLogo2TextOnly) cornerLogo2PosX cornerLogo2PosY / auto cornerLogo2Size no-repeat,
              url(centerLogo) centerLogoPosX centerLogoPosY / auto centerLogoSize no-repeat,
              url(svgBoard) 0 0 / 100% no-repeat,
              url(board3) bgPosX bgPosY / bgSize repeat;

                background: var(--theme-piece-set-br) 0 0 / 12.5% no-repeat,
              var(--theme-piece-set-bn) 14.29% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bb) 28.57% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bq) 42.86% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bk) 57.14% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bb) 71.43% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bn) 85.71% 0 / 12.5% no-repeat,
              var(--theme-piece-set-br) 100% 0 / 12.5% no-repeat,

              var(--theme-piece-set-bp) 0 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 14.29% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 28.57% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 42.86% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 57.14% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 71.43% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 85.71% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 100% 14.29% / 12.5% no-repeat,

              var(--theme-piece-set-wr) 0 100% / 12.5% no-repeat,
              var(--theme-piece-set-wn) 14.29% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wb) 28.57% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wq) 42.86% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wk) 57.14% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wb) 71.43% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wn) 85.71% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wr) 100% 100% / 12.5% no-repeat,

              var(--theme-piece-set-wp) 0 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 14.29% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 28.57% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 42.86% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 57.14% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 71.43% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 85.71% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 100% 85.71% / 12.5% no-repeat,

              var(--theme-board-style-image) !important;
                background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, cornerLogoBlend, cornerLogo2Blend, centerLogoBlend, svgBoardBlend, normal !important;
            }
            /*outside coords settings*/
            if ajustBoardSize<0.92 && enableOutsideCoords{
                .coordinate-grey,
                .coordinate-dark:not(#board-single-sibling .coordinate-dark):not(.game-details-board .coordinate-dark):not(.event-header-new-games .coordinate-dark):not(.round-games-list-item-games .coordinate-dark):not(.diagram-board-component .coordinate-dark):not(.openings-view-chessboard .coordinate-dark),
                .coordinate-light:not(#board-single-sibling .coordinate-light):not(.game-details-board .coordinate-light):not(.event-header-new-games .coordinate-light):not(.round-games-list-item-games .coordinate-light):not(.diagram-board-component .coordinate-light):not(.openings-view-chessboard .coordinate-light) {
                    text-transform: outCoordFontCase !important;
                    fill:outCoordColorOpt!important;
                    font-size:clamp(.1rem,outCoordFontSize,.3rem)!important;
                    font-weight: outCoordFontWeight!important;   
                    font-family:outCoordFontName,-apple-system,BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,Emoji,sans-serif!important;
                }
                .outside:not(.game-details-board .outside):not(.event-header-new-games .outside):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                    transform: translate(-5.5%,4.5%)!important;
                }
                body.outside-coords:not(.game-details-board body.outside-coords):not(.with-pieces,.real-3d):not(.event-header-new-games .outside-coords):not(.round-games-list-item-games .outside-coords):not(.openings-view-chessboard .outside-coords) {
                    --coordinatesGutter: 1rem!important;
                }

                if enableOutsideCoords {
                    .coordinates:not(#board-single-sibling .coordinates):not(.game-details-board .coordinates):not(.event-header-new-games .coordinates):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                        transform: translate(-4.5%,4.8%)!important;
                    }
                    .coords-dark:not(#board-single-sibling .coords-dark):not(.game-details-board .coords-dark):not(.event-header-new-games .coords-dark):not(.round-games-list-item-games .coords-dark):not(.diagram-board-component .coords-dark):not(.openings-view-chessboard .coords-dark),
                    .coordinate-dark:not(#board-single-sibling .coordinate-dark):not(.game-details-board .coordinate-dark):not(.event-header-new-games .coordinate-dark):not(.round-games-list-item-games .coordinate-dark):not(.diagram-board-component .coordinate-dark):not(.openings-view-chessboard .coordinate-dark),
                    div.number.coords-dark:not(.game-details-board div.number.coords-dark):not(.event-header-new-games div.number.coords-dark):not(.round-games-list-item-games div.number.coords-dark):not(.diagram-board-component div.number.coords-dark):not(.openings-view-chessboard div.number.coords-dark),
                    div.letter.coords-dark:not(.game-details-board div.letter.coords-dark):not(.event-header-new-games div.letter.coords-dark):not(.round-games-list-item-games div.letter.coords-dark):not(.diagram-board-component div.letter.coords-dark):not(.openings-view-chessboard div.letter.coords-dark),
                    text.coordinate-dark:not(#board-single-sibling text.coordinate-dark):not(.game-details-board text.coordinate-dark):not(.event-header-new-games text.coordinate-dark):not(.round-games-list-item-games text.coordinate-dark):not(.diagram-board-component text.coordinate-dark):not(.openings-view-chessboard text.coordinate-dark),
                    .coords-light:not(#board-single-sibling .coords-light):not(.game-details-board .coords-light):not(.event-header-new-games .coords-light):not(.round-games-list-item-games .coords-light):not(.diagram-board-component .coords-light):not(.openings-view-chessboard .coords-light),
                    .coordinate-light:not(#board-single-sibling .coordinate-light):not(.game-details-board .coordinate-light):not(.event-header-new-games .coordinate-light):not(.round-games-list-item-games .coordinate-light):not(.diagram-board-component .coordinate-light):not(.openings-view-chessboard .coordinate-light),
                    div.number.coords-light:not(.game-details-board div.number.coords-light):not(.event-header-new-games div.number.coords-light):not(.round-games-list-item-games div.number.coords-light):not(.diagram-board-component div.number.coords-light):not(.openings-view-chessboard div.number.coords-light),
                    div.letter.coords-light:not(.game-details-board div.letter.coords-light):not(.event-header-new-games div.letter.coords-light):not(.round-games-list-item-games div.letter.coords-light):not(.diagram-board-component div.letter.coords-light):not(.openings-view-chessboard div.letter.coords-light),
                    text.coordinate-light:not(#board-single-sibling text.coordinate-light):not(.game-details-board text.coordinate-light):not(.event-header-new-games text.coordinate-light):not(.round-games-list-item-games text.coordinate-light):not(.diagram-board-component text.coordinate-light):not(.openings-view-chessboard text.coordinate-light), {
                        color: outCoordColorOpt !important;
                        fill: @color;
                        opacity: 1!important;
                    }
                }
            }
        }
    }/*end board border*/
    
}
@-moz-document url-prefix("https://www.chess.com/events"), url-prefix("https://www.chess.com/pt/events/"), url-prefix("https://www.chess.com/es/events/"){
    /*Events*/
    /*In Events page variable mainBoardWidth is used instead of boardWidth/boardHeight*/
    @media (min-width: 960px){
        
        /*Main border rules*/
        testColor="" + boardBGColor;
        resultColor=slice(testColor,0,-6);
        innBorderSize=0.4rem;
        if innBorderSize > 0 {
            inn=innBorderSize/2;
        }else{inn=0}

        if boardBGOpt==frameOpt && enableBoardFrame {
            board3=null;
            framePosX=bgPosX;
            framePosY=bgPosY;        
        }

		if enableBoardFrame{
			/*board*/
			.main-tab-game-component chess-board {
				transform-style: preserve-3d;
				width:'calc(var(--mainBoardWidth) * %s)!important;' % ajustBoardSize;
				height: @width;
				boardRatio='calc((1 - %s) * 0.5)' % ajustBoardSize;
				margin-left:'calc(var(--mainBoardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
				margin-top:@margin-left;
				if frameRadiusInOut{
					border-radius:'calc(%s * 0.40)!important;' % frameRadius;
				}else{
					border-radius:0!important;
				}
				box-shadow: boardShadow;
				box-shadow: boardShadowInset;                    
				if enableBoardShadow && enableBoardShadowInset {
					box-shadow: boardShadow, boardShadowInset !important;
				}
				if enableInnerBorder {
					box-shadow: 0 0 0 innBorderSize innerBorderOpt!important;
				}
			}
			/*board*/
			.main-tab-game-component chess-board:before {
				if myBoard!="disabled"{                    
				background:frameColor url(frameOpt) framePosX framePosY!important; 
				}                
				transform: translateZ(-1px);
				content: ""!important;
				display:block;
				grid-column: board;                
				width:var(--mainBoardWidth)!important;
				height: @width;
				padding-bottom: 0;
				boardRatio='calc((1 - %s) * -0.526)' % ajustBoardSize;
				margin-left:'calc(var(--mainBoardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
				margin-top:@margin-left;
				background-size: frameSize!important;
				-webkit-background-size: @background-size;
				-moz-background-size: @background-size;
				-o-background-size: @background-size;
				background-repeat: frameRepeat!important;
				border-radius: frameRadius!important;
				box-shadow: frameShadow;
				box-shadow: frameShadowInset;                
				if enableFrameShadow && enableFrameShadowInset {
					box-shadow: frameShadow, frameShadowInset !important;
				}
			}
		}/*end board border*/
    

        if enable lightTheme{
            .dark-mode .game-item-component,
            .dark-mode .ui_v5-select-component:not(.ui_v5-select-light),
            .ui_v5-select-component.ui_v5-select-dark,
            .dropdown-component,
            .sidebar-tab-games-label,
            .dark-mode .player-tagline-component:not(.light-mode) .player-tagline-name,
            .player-tagline-component.dark-mode .player-tagline-name
            .player-info-vertical-rating,
            .dark-mode .player-info-vertical-name{
                color:panelFontColor!important;
            }
        }
        .player-tagline-rating {
            color: #cddc39!important;
            text-shadow: rgb(0, 0, 0) 1px 1px 1px;
        }
        .player-card-component {
            background-color: #272424cf!important;
        }
        .player-card-bio:after {
            background: linear-gradient(180deg,hsla(0,0%,100%,0),#252222 70%)!important;
        }
        .main-tab-game-sidebar {
            margin-left: 2rem!important;
        }
    }
    .board-layout-main {
        margin-right: -1rem!important;
    }
    @media (min-width: 60em){
        body.events-layout .board-layout-player {
            margin-left:-1rem;
        }
        .player-name {
            white-space: normal!important;
        }
    }
    
}/*End Events*/