/* ==UserStyle==
@name           Chess.com Chess Set: Capivaras
@namespace      ChessSkins
@author         agiota_do_artenio
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@description    `Conjunto de xadrez - Capivaras.`
@version        2.0.9
@license        NO-REDISTRIBUTION
@preprocessor   stylus

@var    select      myBoard    "Escolher Tabuleiro" {
            "Capivaras 1": "op1",
            "Capivaras 2*": "op2",
            "Capivaras 3": "op3",
            "Capivaras 4": "op4",
            "Capivaras 5": "op5",
            "Capivaras 6": "op6",
            "Capivaras 7": "op7",
            "Desativado": "op0",
        }
@var    select      myPiecesB    "Peças pretas" {
            "Combine (Mar Gelado)": "mar",
            "Combine (Alpha/Clássico)": "alp",
            "Preto (Neo)*": "op000",
            "Azul Acinzentado (Neo)": "op000b",
            "Cinza (Neo)": "op001",
            "Mostarda (Neo)": "op1",
            "Vermelho (Neo)": "op2",
            "Vermelho2 (Neo)": "op2b",
            "Verde (Neo)": "op3",
            "Azul (Neo)": "op4",
            "Rosa (Neo)": "op5",
            "Laranja (Neo)": "op6",
            "Abóbora (Neo)": "op7",
            "Roxo (Neo)": "op8",
            "Desativado": "op0"
        }
@var    select      myPiecesW    "Peças brancas" {
            "Combine (Mar Gelado)": "mar",
            "Combine (Alpha/Clássico)": "alp",
            "Branco (Neo)*": "op000",
            "Bege (Neo)": "op000b",
            "Cinza (Neo)": "op001",
            "Mostarda (Neo)": "op1",
            "Vermelho (Neo)": "op2",
            "Vermelho2 (Neo)": "op2b",
            "Verde (Neo)": "op3",
            "Azul (Neo)": "op4",
            "Rosa (Neo)": "op5",
            "Laranja (Neo)": "op6",
            "Abóbora (Neo)": "op7",
            "Roxo (Neo)": "op8",
            "Amarelo (Neo)": "op9",
            "Desativado": "op0"
        }
@var    checkbox    enableCapivaras "Capivaras como Cavalos (Neo)" 1
@var    checkbox    enableHorizInvert    "Capivaras p/ esquerda" 0
@var    select      myHighlight    "Escolher destaque" {
            "Temático*": "op1",
            "Cores": "op2",
            "Desativado": "op0",
        }
@var    checkbox    forcedHighlight "impor destaque para todo o site (sem cores dinamicas)" 0
@var    select      coloredBar    "Barra de Avaliação" {
            "Temática*": "op1",
            "Padrão": "op0",
        }
@var    checkbox    enableShadow    "Habilitar sombras" 0
@var    select  enableBlendB    "Mesclagem de cores pçs pretas" ["normal", "multiply"]
@var    select enableBlendW "Mesclagem de cores pçs brancas" ["normal", "multiply"]
@var    range    brightnessB  "Brilho (pretas)" [100, 5, 300, 5, "%"]
@var    range    contrastB  "Contraste (pretas)" [100, 5, 300, 5, "%"]
@var    range    saturateB  "Saturação (pretas)" [100, 0, 300, 5, "%"]
@var    range    sepiaB  "Sepia (pretas)" [0, 0, 100, 5, "%"]
@var    range    hueRotationB  "Tonalidade (pretas)" [0, 0, 355, 5, "deg"]
@var    range    opacityB  "Opacidade (pretas)" [100, 50, 100, 5, "%"]
@var    range    brightnessW    "Brilho (brancas)" [100, 5, 300, 5, "%"]
@var    range    contrastW  "Contraste (brancas)" [100, 5, 300, 5, "%"]
@var    range    saturateW  "Saturação (brancas)" [100, 0, 300, 5, "%"]
@var    range    sepiaW  "Sepia (brancas)" [0, 0, 100, 5, "%"]
@var    range    hueRotationW  "Tonalidade (brancas)" [0, 0, 355, 5, "deg"]
@var    range    opacityW   "Opacidade (brancas)" [100, 50, 100, 5, "%"]
@var    checkbox    enableBoardSettings "Avançado: Config. do tabuleiro" 0
@var    range    brightnessBoard  "Brilho (tabuleiro)" [100, 0, 300, 5, "%"]
@var    range    contrastBoard  "Contraste (tabuleiro)" [100, 5, 300, 5, "%"]
@var    range    saturateBoard  "Saturação (tabuleiro)" [100, 0, 300, 5, "%"]
@var    range    hueRotationBoard  "Tonalidade (tabuleiro)" [0, 0, 355, 5, "deg"]
==/UserStyle== */
@-moz-document domain("chess.com") {
    /*Chessboard*/
    #board-single-sibling,
    .board-layout-chessboard .board,
    div[class^="board v-board disabled rounded"],
    div[class^="daily-puzzle-board"],
    div[class^="board chessboard-component"],
    div[class^="board v-board chessboard-component"],
    div[class^="board rounded"],
    div[class^="board rounded fippled"],
    div[class^="board fippled rounded"],
    div[class^="board v-board rounded"],
    div[class^="board v-board fippled rounded"],
    div[class^="board disabled rounded"],
    div[id$="_ChessBoard_boardarea"],
    div[id^="chess_com_openingboard_1"],
    div[id^="board_training"],
    div[id^="divBoard_boardarea"],
    div[id^="chess_com_tactics_board"],
    div[id^="chessboard_"],
    div[id*="chessboard_"],
    div[id^="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentorboard_"],
    div[id*="chess_com_chessmentor_board_1_boardarea"],
    div[id^="chess_com_emailboard_"],
    div[id^="board-blank"],
    chess-board[class^="board"],
    chess-board[class^="board flipped"],
    chess-board[id^="board-blank"],
    chess-board[id^="board-vs-personalities"],
    div[id*="chess_com_emailboard_"] {
        if enableBoardSettings {
            filter: hue-rotate(hueRotationBoard) brightness(brightnessBoard) saturate(saturateBoard) contrast(contrastBoard);
        }
        if myBoard=="op1" {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/capivara-cb2.png")!important;

            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: #819fb1!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #e4e9ec !important;
            }
            text.coordinate-light {
                fill: #819fb1!important;
            }
            text.coordinate-dark {
                fill: #e4e9ec !important;
            }
            /*Highlight*/
            if myHighlight=="op1" || myHighlight=="op2" {
                .move-square {
                    background-color: #38abd9!important;
                }
                .selection-square {
                    background-color: #0058cc !important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background-color: #38abd9!important;
                    }
                }
            }
        }
        if myBoard=="op2" {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/capivaraV4-cb.png")!important;
            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: #759B51!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #EFF0D2 !important;
            }
            text.coordinate-light {
                fill: #759B51!important;
            }
            text.coordinate-dark {
                fill: #EFF0D2 !important;
            }
            /*Highlight*/
            if myHighlight=="op1" {
                .move-square {
                    background: url(https://github.com/FSA1/Styles/raw/main/capivara/hl/grass-hl.gif) 0% 0% / 100% 100% no-repeat !important;
                    background-color: #91ff00!important;
                    opacity: 0.5!important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background: url(https://github.com/FSA1/Styles/raw/main/capivara/hl/grass-hl.gif) 0% 0% / 100% 100% no-repeat !important;
                        background-color: #91ff00!important;
                        opacity: 0.5!important;
                    }
                }
                .selection-square {
                    background-color: #00f6bd !important;
                }
            }
            if myHighlight=="op2" {
                .move-square {
                    background-color: #91ff00!important;
                    opacity: 0.5!important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background-color: #91ff00!important;
                        opacity: 0.5!important;
                    }
                }
                .selection-square {
                    background-color: #00f6bd !important;
                }
            }
        }
        if myBoard=="op3" {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/capivara_cb_lg.png")!important;
            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: #5ea420!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #8dcb72 !important;
            }
            text.coordinate-light {
                fill: #5ea420!important;
            }
            text.coordinate-dark {
                fill: #8dcb72 !important;
            }
            /*Highlight*/
            if myHighlight=="op1" {
                .move-square {
                    background: url(https://github.com/FSA1/Styles/raw/main/capivara/hl/grass-hl.gif) 0% 0% / 100% 100% no-repeat !important;
                    background-color: #6fff00!important;
                    opacity: 0.5!important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background: url(https://github.com/FSA1/Styles/raw/main/capivara/hl/grass-hl.gif) 0% 0% / 100% 100% no-repeat !important;
                        background-color: #91ff00!important;
                        opacity: 0.5!important;
                    }
                }
                .selection-square {
                    background-color: #00f6bd !important;
                }
            }
            if myHighlight=="op2" {
                .move-square {
                    background-color: #91ff00!important;
                    opacity: 0.5!important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background-color: #91ff00!important;
                        opacity: 0.5!important;
                    }
                }
                .selection-square {
                    background-color: #00f6bd !important;
                }
            }
        }
        if myBoard=="op4" {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/capivaraV7c-cb.png")!important;
            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: #CD8939!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #FAE4AA !important;
            }
            text.coordinate-light {
                fill: #CD8939!important;
            }
            text.coordinate-dark {
                fill: #FAE4AA !important;
            }
            /*Highlight*/
            if enableHighlight {
                .move-square {
                    background-color: #fbde00!important;
                }
                .selection-square {
                    background-color: #ffc400 !important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background-color: #fbde00!important;
                    }
                }
            }
        }
        if myBoard=="op5" {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/capivaraV6_cb.png")!important;
            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: #CD8939!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #FAE4AA !important;
            }
            text.coordinate-light {
                fill: #CD8939!important;
            }
            text.coordinate-dark {
                fill: #FAE4AA !important;
            }
            /*Highlight*/
            if enableHighlight {
                .move-square {
                    background-color: #fbde00!important;
                }
                .selection-square {
                    background-color: #ffc400 !important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background-color: #fbde00!important;
                    }
                }
            }
        }
        if myBoard=="op6" {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/capivara_wood_cb.jpg")!important;
            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: #BA7541!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #F5CEA2 !important;
            }
            text.coordinate-light {
                fill: #BA7541!important;
            }
            text.coordinate-dark {
                fill: #F5CEA2 !important;
            }
            /*Highlight*/
            if enableHighlight {
                .move-square {
                    background-color: #fbde00!important;
                }
                .selection-square {
                    background-color: #ffc400 !important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background-color: #fbde00!important;
                    }
                }
            }
        }
        if myBoard=="op7" {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/capivaraV4blueSp-cb.png")!important;

            /*Coordinates*/
            div.number.coords-light,
            div.letter.coords-light {
                color: #2B799F!important;
            }
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #EEEACF !important;
            }
            text.coordinate-light {
                fill: #2B799F!important;
            }
            text.coordinate-dark {
                fill: #EEEACF !important;
            }
            /*Highlight*/
            if myHighlight=="op1" {
                .move-square {
                    filter: hue-rotate(130deg)!important;
                    background: url(https://github.com/FSA1/Styles/raw/main/capivara/hl/grass-hl.gif) 0% 0% / 100% 100% no-repeat !important;
                    background-color: #51ff00!important;
                    opacity: 0.7!important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                    filter: hue-rotate(130deg)!important;
                    background: url(https://github.com/FSA1/Styles/raw/main/capivara/hl/grass-hl.gif) 0% 0% / 100% 100% no-repeat !important;
                    background-color: #51ff00!important;
                    opacity: 0.7!important;
                    }
                }
                .selection-square {
                    background-color: #0058cc !important;
                }
            }
            if myHighlight=="op2" {
                .move-square {
                    background-color: #00b6ff!important;
                }
                .selection-square {
                    background-color: #0058cc !important;
                }
                if forcedHighlight {
                    .highlight:not([style*="179\, 52\, 48"]):not([style*="179 52 48"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="158 186 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="230 145 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="201 52 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="27 172 166"]):not([style*="92\, 139\, 176"]):not([style*="92 139 176"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 188\, 75"]):not([style*="150 188 75"]):not([style*="150\, 175\, 139"]):not([style*="150 175 139"]):not([style*="168\, 136\, 101"]):not([style*="168 136 101"]):not([style*="240\, 193\, 92"]):not([style*="240 193 92"]):not([style*="229\, 143\, 42"]):not([style*="229 143 42"]):not([style*="202\, 52\, 49"]):not([style*="202 52 49"]):not([style*="219\, 172\, 22"]):not([style*="219 172 22"]):not([style*="172\, 206\, 89"]):not([style*="172 206 89"]):not([style*="235\, 97\, 80"]):not([style*="235 97 80"]):not([style*="82\, 176\, 220"]):not([style*="82 176 220"]):not([style*="255\, 170\, 0"]):not([style*="255 170 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]) {
                        background-color: #00b6ff!important;
                    }
                }
            }
        }
    }

    /*Pieces*/
    if myPiecesB=="mar" {
        div [style*="bn.png"],
        .piece.bn,
        .promotion-piece.bn {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/mg/capivar-bn.png")!important;
            if enableHorizInvert {
                background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/mg/flip-capivar-bn.png")!important;
            }
        }
    }
    if myPiecesW=="mar" {
        div [style*="wn.png"],
        .piece.wn,
        .promotion-piece.wn {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/mg/capivar-wn.png")!important;
            if enableHorizInvert {
                background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/mg/flip-capivar-wn.png")!important;
            }
        }
    }
    if myPiecesB=="alp" {
        div [style*="bn.png"],
        .piece.bn,
        .promotion-piece.bn {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/alpha/capivara-bn.png")!important;
            if enableHorizInvert {
                background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/alpha/flip-capivara-bn.png")!important;
            }
        }
    }
    if myPiecesW=="alp" {
        div [style*="wn.png"],
        .piece.wn,
        .promotion-piece.wn {
            background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/alpha/capivara-wn.png")!important;
            if enableHorizInvert {
                background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/alpha/flip-capivara-wn.png")!important;
            }
        }
    }
    /*Pieces black*/
    if myPiecesB=="op000" {
        /*Pieces*/
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/black-k.svg")!important;
            filter: hue-rotate(hueRotationB)!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/black-q.svg")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/black-b.svg")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/black-n.svg")!important;
        }
        if enableCapivaras {
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-black-n.svg")!important;
                if enableHorizInvert {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-black-n.svg")!important;
                }
            }
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/black-r.svg")!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/black-p.svg")!important;
        }
    }
    if myPiecesB=="op000b" {
        /*Pieces*/
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/grayed-k.svg")!important;
            filter: hue-rotate(hueRotationB)!important;
        }
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/grayed-q.svg")!important;
        }
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/grayed-b.svg")!important;
        }
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/grayed-n.svg")!important;
        }
        if enableCapivaras {
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-greyed-blue-n.svg")!important;
                if enableHorizInvert {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-greyed-blue-n.svg")!important;
                }
            }
        }
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/grayed-r.svg")!important;
        }
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/grayed-p.svg")!important;
        }
    }
    if myPiecesB=="op001" {
        if myPiecesW!="op001" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-grey-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-grey-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op1" {
        if myPiecesW!="op1" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-mostarda-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-mostarda-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op2" {
        if myPiecesW!="op2" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-red-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-red-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op2b" {
        if myPiecesW!="op2b" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-red2-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-red2-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op3" {
        if myPiecesW!="op3" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-green-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-green-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op4" {
        if myPiecesW!="op4" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-blue-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-blue-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op5" {
        if myPiecesW!="op5" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-pink-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-pink-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op6" {
        if myPiecesW!="op6" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-orange-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-orange-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op7" {
        if myPiecesW!="op7" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-out-orange-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-out-orange-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-p.svg")!important;
            }
        }
    }
    if myPiecesB=="op8" {
        if myPiecesW!="op8" {
            /*Pieces*/
            .piece.bk,
            .promotion-piece.bk,
            div [style*="bk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-k.svg")!important;
            }
            .piece.bq,
            .promotion-piece.bq,
            div [style*="bq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-q.svg")!important;
            }
            .piece.bb,
            .promotion-piece.bb,
            div [style*="bb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-b.svg")!important;
            }
            .piece.bn,
            .promotion-piece.bn,
            div [style*="bn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-n.svg")!important;
            }
            if enableCapivaras {
                .piece.bn,
                .promotion-piece.bn,
                div [style*="bn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-purple-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-purple-n.svg")!important;
                    }
                }
            }
            .piece.br,
            .promotion-piece.br,
            div [style*="br.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-r.svg")!important;
            }
            .piece.bp,
            .promotion-piece.bp,
            div [style*="bp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-p.svg")!important;
            }
        }
    }
    /*Pieces white*/
    if myPiecesW=="op000" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/white-k.svg")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/white-q.svg")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/white-b.svg")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/white-n.svg")!important;
        }
        if enableCapivaras {
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-white-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-white-n.svg")!important;
                    }
            }
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/white-r.svg")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/white-p.svg")!important;
        }
    }
    if myPiecesW=="op000b" {
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/beige-k.svg")!important;
        }
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/beige-q.svg")!important;
        }
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/beige-b.svg")!important;
        }
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/beige-n.svg")!important;
        }
        if enableCapivaras {
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-beige-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-beige-n.svg")!important;
                    }
            }
        }
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/beige-r.svg")!important;
        }
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
            background-image: url("https://github.com/FSA1/Styles/raw/main/neo/beige-p.svg")!important;
        }
    }
    if myPiecesW=="op001" {
        if myPiecesB!="op001" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-grey-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-grey-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/gray-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op1" {
        if myPiecesB!="op1" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-mostarda-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-mostarda-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/mostarda-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op2" {
        if myPiecesB!="op2" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-red-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-red-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op2b" {
        if myPiecesB!="op2b" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-red2-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-red2-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/red2-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op3" {
        if myPiecesB!="op3" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-green-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-green-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/green-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op4" {
        if myPiecesB!="op4" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-blue-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-blue-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/blue-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op5" {
        if myPiecesB!="op5" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-pink-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-pink-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/pink-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op6" {
        if myPiecesB!="op6" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-orange-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-orange-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/orange-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op7" {
        if myPiecesB!="op7" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-out-orange-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-out-orange-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/outOrange-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op8" {
        if myPiecesB!="op8" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-purple-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-purple-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/roxo-p.svg")!important;
            }
        }
    }
    if myPiecesW=="op9" {
        if myPiecesB!="op9" {
            .piece.wk,
            .promotion-piece.wk,
            div [style*="wk.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/yellow-k.svg")!important;
            }
            .piece.wq,
            .promotion-piece.wq,
            div [style*="wq.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/yellow-q.svg")!important;
            }
            .piece.wb,
            .promotion-piece.wb,
            div [style*="wb.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/yellow-b.svg")!important;
            }
            .piece.wn,
            .promotion-piece.wn,
            div [style*="wn.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/yellow-n.svg")!important;
            }
            if enableCapivaras {
                .piece.wn,
                .promotion-piece.wn,
                div [style*="wn.png"] {
                    background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/cap_neo-yellow-n.svg")!important;
                    if enableHorizInvert {
                        background-image: url("https://github.com/FSA1/Styles/raw/main/capivara/neo/svg/flip-cap_neo-yellow-n.svg")!important;
                    }
                }
            }
            .piece.wr,
            .promotion-piece.wr,
            div [style*="wr.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/yellow-r.svg")!important;
            }
            .piece.wp,
            .promotion-piece.wp,
            div [style*="wp.png"] {
                background-image: url("https://github.com/FSA1/Styles/raw/main/neo/yellow-p.svg")!important;
            }
        }
    }
    /*Evaluation Bar*/
    if coloredBar=="op1" {
        if myBoard=="op1" {
            .evaluation-bar-white {
                background-color: #F0F0E8 !important;
            }
            .evaluation-bar-black {
                background-color: #708BA3 !important;
            }
            .evaluation-bar-bar {
                opacity: 0.9;
            }
        }
        if myBoard=="op2" {
            .evaluation-bar-white {
                background-color: #EFF0D2 !important;
            }
            .evaluation-bar-black {
                background-color: #759B51 !important;
            }
            .evaluation-bar-bar {
                opacity: 0.9;
            }
        }
        if myBoard=="op3" {
            .evaluation-bar-white {
                background-color: #CAE77D !important;
            }
            .evaluation-bar-black {
                background-color: #6EA245 !important;
            }
            .evaluation-bar-bar {
                opacity: 0.9;
            }
        }
        if myBoard=="op4" || myBoard=="op5" {
            .evaluation-bar-white {
                background-color: #FAE4AA !important;
            }
            .evaluation-bar-black {
                background-color: #CD8939 !important;
            }
            .evaluation-bar-bar {
                opacity: 0.9;
            }
        }
        if myBoard=="op6" {
            .evaluation-bar-white {
                background: url(https://github.com/FSA1/Styles/raw/main/capivara/wood-white-bar.png)!important;
                background-color: #F5CEA2 !important;
            }
            .evaluation-bar-black {
                background: url(https://github.com/FSA1/Styles/raw/main/capivara/wood-black-bar.png)!important;
                background-color: #BA7541 !important;
            }
            .evaluation-bar-bar {
                opacity: 0.9;
            }
        }
        if myBoard=="op7" {
            .evaluation-bar-white {
                background-color: #EEEACF !important;
            }
            .evaluation-bar-black {
                background-color: #2B799F !important;
            }
            .evaluation-bar-bar {
                opacity: 0.9;
            }
        }
        if enableBoardSettings {
            .evaluation-bar-black {
                filter: hue-rotate(hueRotationBoard)!important;
            }
            .evaluation-bar-white {
                filter: hue-rotate(hueRotationBoard)!important;
            }
        }
    }
    /*------ Drop-shadow for the pieces------*/
    if enableShadow {
        .is2d .king.white,
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"],
        .is2d .queen.white,
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"],
        .is2d .bishop.white,
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"],
        .is2d .knight.white,
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"],
        .is2d .rook.white,
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"],
        .is2d .pawn.white,
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"],
        .is2d .king.black,
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"],
        .is2d .queen.black,
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"],
        .is2d .bishop.black,
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"],
        .is2d .knight.black,
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"],
        .is2d .rook.black,
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"],
        .is2d .pawn.black,
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {
            filter: drop-shadow(0.1rem 0.2rem 0.1rem #000000ab)!important;
            -webkit-filter: drop-shadow(0.1rem 0.2rem 0.1rem #000000ab)!important;
        }
    }
    /*------Blend and hue variation------*/
    .is2d .king.black,
    .piece.bk,
    .promotion-piece.bk,
    div [style*="bk.png"],
    .is2d .queen.black,
    .piece.bq,
    .promotion-piece.bq,
    div [style*="bq.png"],
    .is2d .bishop.black,
    .piece.bb,
    .promotion-piece.bb,
    div [style*="bb.png"],
    .is2d .knight.black,
    .piece.bn,
    .promotion-piece.bn,
    div [style*="bn.png"],
    .is2d .rook.black,
    .piece.br,
    .promotion-piece.br,
    div [style*="br.png"],
    .is2d .pawn.black,
    .piece.bp,
    .promotion-piece.bp,
    div [style*="bp.png"] {
        mix-blend-mode: enableBlendB;
        filter: sepia(sepiaB) hue-rotate(hueRotationB) brightness(brightnessB) saturate(saturateB) contrast(contrastB);
        -webkit-filter: sepia(sepiaB) hue-rotate(hueRotationB) brightness(brightnessB) saturate(saturateB) contrast(contrastB);
        opacity: opacityB!important;
    }
    .is2d .king.white,
    .piece.wk,
    .promotion-piece.wk,
    div [style*="wk.png"],
    .is2d .queen.white,
    .piece.wq,
    .promotion-piece.wq,
    div [style*="wq.png"],
    .is2d .bishop.white,
    .piece.wb,
    .promotion-piece.wb,
    div [style*="wb.png"],
    .is2d .knight.white,
    .piece.wn,
    .promotion-piece.wn,
    div [style*="wn.png"],
    .is2d .rook.white,
    .piece.wr,
    .promotion-piece.wr,
    div [style*="wr.png"],
    .is2d .pawn.white,
    .piece.wp,
    .promotion-piece.wp,
    div [style*="wp.png"] {
        mix-blend-mode: enableBlendW;
        filter: sepia(sepiaW) hue-rotate(hueRotationW) brightness(brightnessW) saturate(saturateW) contrast(contrastW);
        -webkit-filter: sepia(sepiaW) hue-rotate(hueRotationW) brightness(brightnessW) saturate(saturateW) contrast(contrastW);
        opacity: opacityW!important;
    }
    /*End of the code*/
}
