/* ==UserStyle==
@name           Especial Madeira: chessboard
@author         ChessSkins
@namespace      ChessSkins
@homepageURL    https://www.chess.com/blog/ChessSkins
@description    `highly customizable chess set for chess.com.`
@version        1.0.39
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "🟢🏁Tabuleiro" {
            "Amboyna": "amboyna-birdsEyes",
            "Amboyna II": "amboyna-birdsEyes2",
            "Mógno*": "mahogany",
            "Nogueira": "walnut",
            "Nogueira Especial": "walnutSpecial",
            "Nog. arredondado": "walnutRound",
            "Madeira clara": "light-wood",
            "Madeira escura": "dark-wood",
            "CXC": "cxc",
            "CXC claro": "cxc-light",
            "CXC vermelho": "cxc-red",
            "Desativado": "disabled",
        }

@var    range    frameRadius  "🔵Canto arredondado" [6, 0, 34, 1, "px"]
@var    checkbox    frameRadiusInOut  "↪🔹Conjunto <--> Externo" 1

@var    range    ajustBoardSize  "Tam. do tabuleiro" [0.86, 0.82, 0.92, 0.01, ""]

@var    select      setHighlight    "🟡Destaque de movimento" {
            "Tema do tabuleiro": "op1",
            "Personalizado": "op2",
            "Padrão": "disabled",
        }

@var    color    hlColor  "↪Cor do destaque"   #fc0

@var    range    highlightOpacity  "↪Opacidade Destaque" [0.6, 0.3, 1, 0.1, ""]
@var    color    hlSqRed  "🔴Click Direito"   #eb6150
@var    color    hlSqOrange  "🟠CTRL+Click"   #fa0
@var    color    hlSqGreen  "🟢SHIFT+Click"   #acce59
@var    color    hlSqBlue  "🔵ALT+Click"   #52b0dc

@var    checkbox    enableArrowSettings   "🟩↘️Setas modificadas" 0
@var    range    arrowOpacity  "Opacidade das setas" [0.9, 0.7, 1, 0.1, ""]
@var    color    arrowOrange  "🟠Click Direito"   #ff8000
@var    color    arrowRed  "🔴CTRL+Click"   #fa4d35
@var    color    arrowGreen  "🟢SHIFT+Click"   #abe439
@var    color    arrowBlue  "🔵ALT+Click"   #28b8fa
@var    checkbox    enableBoardFrame  "👉🟩🔳Borda externa" 1
@var    checkbox    enableWallpaper   "🟩Plano de fundo" 1

@var    checkbox    enableOutsideCoords "🟡Coord. Externas" 1
@var    range    outCoordFontSize  "↪Tam. da fonte" [0.24, 0.1, 0.3, 0.01, "rem"]
@var select   outCoordFontWeight   "↪Tipo"    ["400*", "600", "700", "800"]

@var    select      outCoordFontCase    "↪Maiúsculas ou minúsculas"{
            "Maiúsculas": "uppercase",
            "Minúsculas*": "lowercase",
        }

@var    checkbox    enableThinEvalBar  "🟩Barrinha fina" 1
@var    select      evalOpt    "Barra de Avaliação" {
            "Cor automática*": "auto",
            "Personalizada": "custom",	
            "Padrão": "disabled",
        }

@var    range    evalBarOpacity  "Opacidade barra de avaliação" [0.9, 0.5, 1, 0.1, ""]
==/UserStyle== */
@-moz-document domain("chess.com") {
        
    /*Default Settings*/
    boardBGOpt=colorOnly;
    boardBGColor=#d0c6b6;
    svgLightSqColor=#ecd5b2fc;
    svgDarkSqColor=#775844;
    innerBorderColor=#c1a890;
    innerBorderOpt=#c1a890;
    outCoordColorOpt=#e7dfd1;
    frameOpt=colorOnly;
    hlImgOpt=disabled;
    svgBoardBlend=normal;
    centerLogoCol=#8d766640;    
    enableBoardShadowInset=0;
    enableBoardShadow=0;
    enableFrameShadowInset=0;
    frameShadowInsetBlur=2;
    frameShadowInsetSpread=1;
    frameShadowInsetColor= rgba(0, 0, 0, .4);
    enableFrameShadow=1
    frameShadowBlur=8;
    frameShadowSpread=4;
    frameShadowColor= rgba(0, 0, 0, .5);
    setWallpaper=cover;
    percentSize=100%;
    backgroundColp=#4a382e;
    ajustBoardSize=ajustBoardSize * 1.002;
    
    /*Textures*/
    chessfiles="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/";
	
    txframe-cherry-wood-dark=chessfiles+"phpveLjPm.jpg";
    txframe-dark-wood1=chessfiles+"phpJOInBR.jpg";
    txframe-mahogany-round-wood=chessfiles+"phpHyIbbd.jpg";
    txframe-walnut-round-wood=chessfiles+"phpsxxsXT.jpg";
    txframe-wood-light1=chessfiles+"phpW92nW8.jpg";
    txframe-wood=chessfiles+"php3OLoHL.jpg";
	
	txwalnut=chessfiles+"phpqVeBg4.jpg";
    txmahogany=chessfiles+"phprdj8Pk.jpg";
    cbwalnut=chessfiles+"phpRpqIWx.jpg";
    txbrown-fabric=chessfiles+"phpZUbWJL.jpg";
    txchocolate-omega=chessfiles+"phpUh2YmS.jpg";

    txbase-cxc=chessfiles+"phpuEH7bV.jpg";
    txDark-Wood-OA-145=chessfiles+"phpYWwnGT.jpg";

    txbase-light-cxc=chessfiles+"phpxG47mF.jpg";
    cblight-cxc=chessfiles+"phpiHU0UO.jpg";

    txbase-red-cxc=chessfiles+"phpKElTA9.jpg";
    cbred-cxc=chessfiles+"phpBLljFg.jpg";

    cbfaded-wood=chessfiles+"phpWZ6anP.jpg";
    cbdark-wood=chessfiles+"phpPJQr8J.jpg";

    cbAmboyna=chessfiles+"phpS2DnRH.jpg";
    txzebra-wood-frame=chessfiles+"phpYh32xL.jpg";

    txlight-wood-frame=chessfiles+"phpy5fX2Q.jpg";
    cbAmboyna2=chessfiles+"phpH8Dgqn.jpg";

    /*selector with exceptions to avoid override analysis highlights*/
    notThisColors='[style*="179\, 52\, 48"]):not([style*="244\, 42\, 50"]):not([style*="#f42a32"]):not([style*="#b33430"]):not([style*="#9eba5a"]):not([style*="158\, 186\, 90"]):not([style*="#e6912c"]):not([style*="230\, 145\, 44"]):not([style*="#c93430"]):not([style*="201\, 52\, 48"]):not([style*="#1baca6"]):not([style*="#5c8bb0"]):not([style*="#96bc4b"]):not([style*="#96af8b"]):not([style*="#a88865"]):not([style*="#f0c15c"]):not([style*="#e58f2a"]):not([style*="#ca3431"]):not([style*="#dbac16"]):not([style*="27\, 172\, 166"]):not([style*="92\, 139\, 176"]):not([style*="150\, 188\, 75"]):not([style*="150\, 188\, 75"]):not([style*="150\, 175\, 139"]):not([style*="168\, 136\, 101"]):not([style*="240\, 193\, 92"]):not([style*="229\, 143\, 42"]):not([style*="202\, 52\, 49"]):not([style*="219\, 172\, 22"]):not([style*="172\, 206\, 89"]):not([style*="235\, 97\, 80"]):not([style*="82\, 176\, 220"]):not([style*="255\, 170\, 0"]):not([style*="#52b0dc"]):not([style*="#ffaa00"]):not([style*="#acce59"]):not([style*="#eb6150"]';

    if enableBoardShadow{
        boardShadow= 0px 0px 8px 4px rgba(0, 0, 0, .4);
    }
    if enableBoardShadowInset{
        boardShadowInset= inset 0px 1px 2px 1px rgba(0, 0, 0, .4);
    }
    if enableFrameShadow{
        frameShadow= 0px 0px frameShadowBlur frameShadowSpread frameShadowColor;
    }
    if enableFrameShadowInset{
        frameShadowInset= inset 0px -1px frameShadowInsetBlur frameShadowInsetSpread frameShadowInsetColor;
    }
    
}/*Themes below*/
@-moz-document domain("chess.com") {
    /*Themes*/

    /*default wallpaper*/
    useWallpaper=txchocolate-omega;
    percentSize=50%;
    setWallpaper=percentSize;
    
    if myBoard=="walnut"{
        enableGlobalColor=0;
        enableInnerBorder=1;
        enableBoardShadow=0;
        enableBoardShadowInset=0;
        enableFrameShadow=1;
        enableFrameShadowInset=0;
        enableCustomCoord=1;
        svgLightSqColor=#fff0d1;
        svgLightSqOpacity=0.68;
        svgDarkSqColor=#e8ac78;
        svgDarkSqOpacity=0.25;
        boardBGOpt=txwalnut;
        boardBGColor=rgba(213,198,180,0.69);
        bgSize=cover;
        bgPosX=0%;
        bgPosY=0%;
        frameRadius=0px;
        frameOpt=txframe-wood;
        frameColor=#6f4326;
        frameSize=cover;
        framePosX=0%;
        framePosY=0%;
        innerBorderOpt=#c1a890;
        hlImgOpt='disabled';
        if setHighlight=='op1'{
            hlColor=#ffcb2d;
            highlightOpacity=0.4;
        }
        lCoordCol=#794f34;
        dCoordCol=#d0bca4;
        dEvalCol= lCoordCol;
        lEvalCol= dCoordCol;
        evalOpt=custom;
        coordsBlend=normal; 
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=dCoordCol;
        backgroundColp=#4b4844;
        frameShadow= 0 0 8px 4px rgba(0, 0, 0, .5);
        frameShadowInset= inset 0 -1px 8px 4px rgba(0, 0, 0, .4);
    }
    else if myBoard=="walnutRound"{ 
        enableGlobalColor=0;
        enableInnerBorder=1;
        enableBoardShadow=0;
        enableBoardShadowInset=0;
        enableFrameShadow=1;
        enableFrameShadowInset=1;
        enableCustomCoord=1;
        svgLightSqColor=#fff0d1;
        svgLightSqOpacity=0.68;
        svgDarkSqColor=#e8ac78;
        svgDarkSqOpacity=0.25;
        boardBGOpt=txwalnut;
        boardBGColor=rgba(213,198,180,0.69);
        bgSize=cover;
        bgPosX=0%;
        bgPosY=0%;
        /*🔐important: frame radius need to be locked for this board*/
        frameRadius=35px;
        /*🔐important: board size need to be locked for this board*/
        ajustBoardSize=0.86;
        frameOpt=txframe-walnut-round-wood;
        frameColor=#542A14;
        frameSize=cover;
        framePosX=0%;
        framePosY=0%;
        innerBorderOpt=#c1ad90;
        hlImgOpt='disabled';
        if setHighlight=='op1'{
            hlColor=#ffcb2d;
            highlightOpacity=0.4;
        }
        lCoordCol= #7f4b30;
        dCoordCol= #d5b79d;
        dEvalCol= lCoordCol;
        lEvalCol= dCoordCol;
        evalOpt=custom;
        coordsBlend=normal;
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=dCoordCol;
        backgroundColp=#4b4844;
        /*🚩Special shadow for this board*/
        frameShadow= 0px 0px 8px 4px #00000080;
        frameShadowInset= inset 0px -1px 6px 8px #00000075;
    }
    else if myBoard=="walnutSpecial" {
        svgBoardBlend=normal;
        svgLightSqOpacity=0.5;
        enableGlobalColor=0;
        svgLightSqColor=#eed6a4;
        svgDarkSqColor=#ca9466;
        svgDarkSqOpacity=0.32;
        boardBGOpt=cbwalnut;
        boardBGColor=#c4ac93;
        bgSize=100%;
        bgPosX=50%;
        bgPosY=50%;
        frameRadius=1px;
        frameRadiusInOut=1;
        //enableBoardFrame=1;
        frameOpt=txframe-wood-light1;
        frameColor=#865036;
        frameSize=100%;
        framePosX=50%;
        framePosY=50%;
        enableInnerBorder=1;
        innerBorderOpt=rgba(59,36,22,0.82);
        innerBorderColor=rgba(59,36,22,0.82);
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        if setHighlight=='op1'{
            hlColor=#ffa825;
            highlightOpacity=0.5;
        }
        enableCustomCoord=1;
        //enableOutsideCoords=1;
        outCoordFontSize=0.24rem;
        outCoordFontName=Segoe UI;
        outCoordFontWeight=400;
        outCoordColorOpt=rgba(238,211,176,0.969);
        outCoordCol=rgba(238,211,176,0.969);
        lCoordCol=#8b542c;
        dCoordCol=#e3c59ff0;
        coordsBlend=normal;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        evalOpt=custom;
        backgroundColp=#4a382e;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }
    else if myBoard=="mahogany" {
        enableGlobalColor=0;
        enableInnerBorder=1;
        enablePanelTexture=0;
        enableBoardShadow=0;
        enableBoardShadowInset=0;
        enableFrameShadow=1;
        enableFrameShadowInset=1;
        enableCustomCoord=1;
        svgLightSqColor=#fff0d1;
        svgLightSqOpacity=0.7;
        svgDarkSqColor=#e89a78;
        svgDarkSqOpacity=0.3;
        boardBGOpt=txmahogany;
        boardBGColor=rgba(141,133,123,0.69);
        bgSize=cover;
        bgPosX=0%;
        bgPosY=0%;
        /*🔐important: frame radius need to be locked for this board*/
        frameRadiusInOut=1;
        frameRadius=35px;
        /*🔐important: board size need to be locked for this board*/
        ajustBoardSize=0.859;
        frameOpt=txframe-mahogany-round-wood;
        frameColor=#642504;
        frameSize=cover;
        framePosX=0%;
        framePosY=0%;
        innerBorderOpt=#ccae93;
        panelBGOpt=boardBGOpt;
        /*🚩Special shadow for this board*/
        frameShadow= 0 0 8px 4px rgba(0, 0, 0, .5);
        frameShadowInset= inset 0px -1px 6px 8px #00000075;
        if setHighlight=='op1'{
            hlImgOpt=disabled;
            hlColor=#ffcb2d;
        }
        highlightOpacity=0.4;
        panelFontColor=rgba(255,255,255,0.6);
        setFontColorSrc=rgba(218,185,172,0.749);
        mainColumnColor=0;
        panelColor=rgba(94,33,17,0.561);
        mainColBlur=1;
        lCoordCol=#974A30;
        dCoordCol=#D1B395;
        coordsBlend=normal;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        evalOpt=custom;
        outCoordCol=rgba(218,185,172,0.749);
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=dCoordCol;
        evalBarOpacity=0.9;
        backgroundColp=#71665d;
        enableCenterLogo=0;
        enableCornerLogo2=0;
        enableCornerLogo=0;
    }
    else if myBoard=="cxc" {
        /*🔐important: board size need to be locked for this board*/
        ajustBoardSize=0.86;
        svgBoardBlend=normal;
        svgLightSqColor=#fff2d1;
        svgLightSqOpacity=0.7;
        enableGlobalColor=0;
        svgDarkSqColor= #b3996b;
        svgDarkSqOpacity=0.1;
        boardBGOpt=txDark-Wood-OA-145;
        boardBGColor=#c8b08d;
        bgSize=100%;
        bgPosX=50%;
        bgPosY=50%;
        frameRadius=2px;
        frameRadiusInOut=1;
        frameOpt=txbase-cxc;
        frameColor=#6E563B;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        enableInnerBorder=1;
        innerBorderOpt= #d3c3a0;
        innerBorderColor=#c9bc95;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        if setHighlight=='op1'{
            hlColor=#ffe72e;
            highlightOpacity=0.5;
        }
        enableCustomCoord=1;
        outCoordColorOpt=#eadec2;
        lCoordCol=#6E563B;
        dCoordCol=#d0c0a0;
        coordsBlend=normal;
        backgroundColp=#4a382e;
        evalOpt=custom;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }
    else if myBoard=="cxc-light" {
        /*🔐important: board size need to be locked for this board*/
        ajustBoardSize=0.861;
        svgBoardBlend=normal;
        svgLightSqColor=#E5CFB7;
        svgLightSqOpacity=0;
        enableGlobalColor=0;
        svgDarkSqColor= #7f5841;
        svgDarkSqOpacity=0;
        boardBGOpt=cblight-cxc;
        boardBGColor=#7f5841;
        bgSize=100%;
        bgPosX=50%;
        bgPosY=50%;
        frameRadius=2px;
        frameRadiusInOut=1;
        frameOpt=txbase-light-cxc;
        frameColor=svgLightSqColor;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        enableInnerBorder=1;
        innerBorderOpt= svgDarkSqColor;
        innerBorderColor=#c9bc95;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        if setHighlight=='op1'{
            hlColor=#ffc72d;
            highlightOpacity=0.5;
        }
        enableCustomCoord=1;
        outCoordColorOpt=darken(innerBorderOpt,30%);
        lCoordCol=svgDarkSqColor;
        dCoordCol=svgLightSqColor;
        coordsBlend=normal;
        backgroundColp=#4a382e;
        evalOpt=custom;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }
    else if myBoard=="cxc-red" {
        /*🔐important: board size need to be locked for this board*/
        ajustBoardSize=0.861;
        svgBoardBlend=normal;
        svgLightSqColor=#f9dcb9;
        svgLightSqOpacity=0;
        enableGlobalColor=0;
        svgDarkSqColor= #a36b52;
        svgDarkSqOpacity=0;
        boardBGOpt=cbred-cxc;
        boardBGColor=svgLightSqColor;
        bgSize=100%;
        bgPosX=50%;
        bgPosY=50%;
        frameRadius=2px;
        frameRadiusInOut=1;
        frameOpt=txbase-red-cxc;
        frameColor=svgDarkSqColor;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        enableInnerBorder=1;
        innerBorderOpt= #e8cead;
        innerBorderColor=svgDarkSqColor;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        if setHighlight=='op1'{
            hlColor=#ffc800;
            highlightOpacity=0.5;
        }
        enableCustomCoord=1;
        outCoordColorOpt=#eadec2;
        lCoordCol=svgDarkSqColor;
        dCoordCol=svgLightSqColor;
        coordsBlend=normal;
        backgroundColp=#4a382e;
        evalOpt=custom;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }
    else if myBoard=="light-wood" {
        enableGlobalColor=0;
        enableInnerBorder=1;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        enableCenterLogo=0;
        //enableOutsideCoords=1;
        enableCustomCoord=1;
        //ajustBoardSize=0.86;
        svgBoardBlend=normal;
        svgLightSqOpacity=0.01;
        svgDarkSqOpacity=0.01;
        svgLightSqColor=#d9b993;
        svgDarkSqColor=#915d41;
        lCoordCol=svgDarkSqColor;
        dCoordCol=svgLightSqColor;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        evalOpt=custom;
        coordsBlend=normal;
        boardBGOpt=cbfaded-wood;
        boardBGColor=svgLightSqColor;
        bgSize=cover;
        bgPosX=50%;
        bgPosY=50%;
        frameRadius=2px;
        frameRadiusInOut=1;
        frameOpt=txframe-cherry-wood-dark;
        frameColor=#432c0c;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        innerBorderOpt= rgba(227, 200, 167, .87);
        innerBorderColor= rgba(230,193,157,0.949);
        if setHighlight=='op1'{
            hlColor=#ffae00;
            highlightOpacity=0.4;
        }
        hlImgOpt="op0";
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=dCoordCol;
        outCoordCol=rgba(255,255,255,0.722);
        backgroundColp=#413426;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }
    else if myBoard=="dark-wood" {
        enableGlobalColor=0;
        enableInnerBorder=1;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        enableCenterLogo=0;
        enableCustomCoord=1;
        svgBoardBlend=normal;
        svgLightSqColor=#D2B390;
        svgLightSqOpacity=0.01;
        svgDarkSqColor=#634222;
        svgDarkSqOpacity=0.01;
        lCoordCol=svgDarkSqColor;
        dCoordCol=svgLightSqColor;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        evalOpt=custom;
        coordsBlend=normal;
        boardBGOpt=cbdark-wood;
        boardBGColor=#8b7253;
        bgSize=cover;
        bgPosX=50%;
        bgPosY=50%;
        frameRadius=2px;
        frameRadiusInOut=1;
        frameOpt=txframe-dark-wood1;
        frameColor=#432c0c;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        innerBorderOpt=rgba(236, 208, 166, .84);
        innerBorderColor=rgba(230,193,157,0.949);
        if setHighlight=='op1'{
            hlColor=#ffae00;
            highlightOpacity=0.4;
        }
        hlImgOpt="op0";
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=dCoordCol;
        outCoordCol=rgba(255,255,255,0.722);
        backgroundColp=#413426;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=0;
    }
    else if myBoard=="amboyna-birdsEyes" {
        svgBoardBlend=normal;
        svgLightSqColor=#f6c7a1;
        svgLightSqOpacity=0.1;
        enableGlobalColor=0;
        svgDarkSqColor=#bc5917;
        svgDarkSqOpacity=0.2;
        boardBGOpt=cbAmboyna;
        boardBGColor=#f4caa6;
        bgSize=100%;
        bgPosX=50%;
        bgPosY=50%;
        frameRadius=3px;
        frameRadiusInOut=1;
        frameOpt=txzebra-wood-frame;
        frameColor=#3c210f;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        enableInnerBorder=1;
        innerBorderOpt=#35190a;
        innerBorderColor=#35190a;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=1;
        enableFrameShadow=1;
        if setHighlight=='op1'{
            hlColor=#fc0;
            highlightOpacity=0.5;
        }
        enableCustomCoord=1;
        enableOutsideCoords=0;
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=#f6c7a1;
        outCoordCol=rgba(255,255,255,0.722);
        lCoordCol=#aa4b08;
        dCoordCol=#ffd3a1;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        evalOpt=custom;
        coordsBlend=normal;
        useWallpaper=txbrown-fabric;
        percentSize=10%;
        setWallpaper=percentSize;
        backgroundColp=#807065;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
        frameShadowInset=inset 0px -1px 0px 4px #1a120c;
    }
    else if myBoard=="amboyna-birdsEyes2" {
        svgBoardBlend=normal;
        svgLightSqColor=#f6c7a1;
        svgLightSqOpacity=0.0;
        enableGlobalColor=0;
        svgDarkSqColor=#ba6b20;
        svgDarkSqOpacity=0.0;
        boardBGOpt=cbAmboyna2;
        boardBGColor=#f4caa6;
        bgSize=100%;
        bgPosX=50%;
        bgPosY=50%;
        frameRadius=3px;
        frameRadiusInOut=1;
        frameOpt=txlight-wood-frame;
        frameColor=#3c210f;
        frameSize=cover;
        framePosX=50%;
        framePosY=50%;
        innerBorderOpt=#1d100d;
        innerBorderColor=#1d100d;
        enableBoardShadowInset=0;
        enableBoardShadow=0;
        enableFrameShadowInset=0;
        enableFrameShadow=1;
        if setHighlight=='op1'{
            hlColor=#fc0;
            highlightOpacity=0.5;
        }
        enableCustomCoord=1;
        enableOutsideCoords=0;
        outCoordFontSize=0.24rem;
        outCoordFontName='Segoe UI';
        outCoordFontWeight=400;
        outCoordColorOpt=#f6c7a1;
        outCoordCol=rgba(255,255,255,0.722);
        lCoordCol=#9e4608;
        dCoordCol=#e3c7ad;
        dEvalCol=lCoordCol;
        lEvalCol=dCoordCol;
        evalOpt=custom;
        coordsBlend=normal;
        useWallpaper=txchocolate-omega;
        percentSize=50%;
        setWallpaper=percentSize;
        backgroundColp=#807065;
        frameShadow=0px 0px 8px 4px rgba(0,0,0,0.5);
    }

    /*End themes*/

    /*GLOBAL COLOR - Need to be placed after themes*/
    if (enableGlobalColor==1 && myBoard=="custom") || global==1{    
        innerBorderOpt=saturate(lighten(svgDarkSqColor, 20%), -10%);       
        frameColor=saturate(darken(svgDarkSqColor, 10%), -2%);
        centerLogoOpacity=0.24;
        centerLogoBlend=darken;
        cornerLogoBlend=multiply;
        centerLogoCol=saturate(lighten(svgDarkSqColor, -12%), 10%);
        cornerLogoCol=cornerLogo2Col=saturate(lighten(svgDarkSqColor, 70%), 10%);
        backgroundColp=saturate(shade(svgDarkSqColor,40%), -80%);
        
    }    
    if frameSize=="contain"{
        frameRepeat=repeat;
    }else{
        frameRepeat=no-repeat;
    }    
    if bgSize=="contain"{
        bgRepeat=repeat;
    }else{
        bgRepeat=no-repeat;
    }
    if !enableBoardShadowInset{
        boardShadowInset=0;
    }
    if !enableFrameShadow {
        frameShadow=0;
    }
    if !enableFrameShadowInset{
        frameShadowInset=0;
    }
}
@-moz-document domain("chess.com"), domain("chesskid.com"), domain("chessable.com") {

    /*Board*/
    solidBoardBGColor=transparentify(boardBGColor, #fff, 1);
    svgDarkSqColor=hsla(svgDarkSqColor);
    svgLightSqColor=hsla(svgLightSqColor);
    innerBorderOpt=hsla(innerBorderOpt);
    outCoordColorOpt=hsla(outCoordColorOpt);
    /*SVG IMAGES HERE 🔐*/
    /*main svg board*/
    svgBoard="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:x='http://www.w3.org/1999/xlink' viewBox='0 0 8 8' shape-rendering='crispEdges'%3e%3cg id='a'%3e%3cg id='b'%3e%3cg id='c'%3e%3cg id='d'%3e%3crect width='1' height='1' fill='" + svgLightSqColor + "' fill-opacity='" + svgLightSqOpacity + "' style='mix-blend-mode:multiply' id='e'/%3e%3cuse x='1' y='1' href='%23e' x:href='%23e'/%3e%3crect y='1' width='1' height='1' fill='" + svgDarkSqColor + "' fill-opacity='" + svgDarkSqOpacity + "' style='mix-blend-mode:multiply' id='f'/%3e%3cuse x='1' y='-1' href='%23f' x:href='%23f'/%3e%3c/g%3e%3cuse x='2' href='%23d' x:href='%23d'/%3e%3c/g%3e%3cuse x='4' href='%23c' x:href='%23c'/%3e%3c/g%3e%3cuse y='2' href='%23b' x:href='%23b'/%3e%3c/g%3e%3cuse y='4' href='%23a' x:href='%23a'/%3e%3c/svg%3e";

    board3=boardBGOpt;
    miniBoard3=board3;
    if boardBGOpt!="colorOnly" && boardBGOpt!="" && boardBGOpt!=null{
       boardBGColor=#0000;
    }
    if frameOpt==boardBGOpt && enableBoardFrame && svgBoardBlend=="normal"{
        board3=null;
        miniBoard3=frameOpt;
        framePosX=bgPosX;
        framePosY=bgPosY;
    }
    /*Board selector*/
    if myBoard!="disabled"{
        
		/*set Chessable board squares to transparent*/
        html,html.dark-mode{            
            --theme-background-chessboard-square-white: #f0d9b500;
            --theme-background-chessboard-square-black: #b5886300;
        }
        .fade-in-overlay/*chesskids*/
        ,
        #boarddefault_boardarea/*chesskids*/
        ,
        #divChessBoard_boardarea/*chesskids*/
        ,
        #vsComputerDiv_boardarea/*chesskids*/
        ,
        div[id^="board-"][class*="chess-board__board"]/*chesskids*/
        [class="board-b72b1"] > div,
        #board-single-sibling,
        div#board.board:not([style*="background-image: url"]),
        .board-layout-chessboard .board:not([style*="--theme"]),
        div[class^="board v-board disabled rounded"],
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        wc-chess-board,
        div[id*="chess_com_emailboard_"] {
            if bgSize=="cover"{
                background-repeat: no-repeat, no-repeat !important;
            }else{
                background-repeat: no-repeat, repeat !important;
            }
            background-size: 100%, bgSize!important;
            background-blend-mode: svgBoardBlend, normal !important;
            background-position: 0 0, bgPosX bgPosY!important;
            background-color: boardBGColor; 
            background-image: url(svgBoard), url(board3)!important; 
        } 
        /*Small board for game preview*/
        .engine-line-preview,
        .board-popover-component, .board-popover-component:before{
            background-image: url(frameOpt) !important;
            background-position:framePosX framePosY;
            background-size:frameSize;           
            background-color: solidBoardBGColor;
            if bgSize=="cover"{
                background-repeat: no-repeat !important;
            }else{
                background-repeat: repeat !important;
            }
            border-color:solidBoardBGColor!important;
            border-image:url(frameOpt) 25 stretch!important;
        }

        body{
            --theme-board-style-highlight-color:hlColor;
            --theme-board-style-image: url(svgBoard) !important;            
            
            if myBoard == mahogany{
            --theme-board-style-image: url(chessfiles+"php1P0FYv.jpg") !important;                
            }
            if myBoard == walnut{
            --theme-board-style-image: url(chessfiles+"phpfby3yE.jpg") !important;                
            }
            if myBoard == walnutSpecial{
            --theme-board-style-image: url(chessfiles+"phpDnJdwP.jpg") !important;                
            }
            if myBoard == walnutRound{
            --theme-board-style-image: url(chessfiles+"phpfby3yE.jpg") !important;                
            }
            if myBoard == cxc{
            --theme-board-style-image: url(chessfiles+"phpfu1E7Y.jpg") !important;                
            }
            if myBoard == cxc-light{
            --theme-board-style-image: url(cblight-cxc) !important;                
            }
            if myBoard == cxc-red{
            --theme-board-style-image: url(cbred-cxc) !important;                
            }
            if myBoard == light-wood{
            --theme-board-style-image: url(cbfaded-wood) !important;                
            }
            if myBoard == dark-wood{
            --theme-board-style-image: url(cbdark-wood) !important;                
            }
            if myBoard == amboyna-birdsEyes{
            --theme-board-style-image: url(cbAmboyna) !important;                
            }
            if myBoard == amboyna-birdsEyes2{
            --theme-board-style-image: url(cbAmboyna2) !important;                
            }
        }
        /*========== Coordinates ==========*/

        /*coords light*/
        .notation-dark,
        .coords-light,
        .coordinate-light,
        div.number.coords-light,
        div.letter.coords-light,
        text.coordinate-light {
            mix-blend-mode: coordsBlend !important;
            if enableCustomCoord {
                color: lCoordCol!important;
                fill: @color;
            }else {
                color: transparentify(svgDarkSqColor, #000, 1) !important;
                fill: @color;
                if svgDarkSqOpacity>='0.7'{
                    opacity:svgDarkSqOpacity;
                }
            }
        }

        /*coords dark*/
        .notation-light,
        .coords-dark,
        .coordinate-dark,
        div.number.coords-dark,
        div.letter.coords-dark,
        text.coordinate-dark {
            mix-blend-mode: coordsBlend !important;
            if enableCustomCoord {
                color: dCoordCol !important;
                fill: @color;
            }else {
                color: transparentify(svgLightSqColor, #000, 1) !important;
                fill: @color;
                if svgLightSqOpacity>='0.7'{
                    opacity:svgLightSqOpacity;
                }
            }
        }/*======End coords ======*/

        /*====== Evaluation Bar ======*/
        /*evaluation bar width for chesscom*/
        if enableThinEvalBar{
            body.with-evaluation {
                --evalWidth: 2rem;
                --evalAndGutter: 3rem;
                --gutterLeftOfBoard: var(--gutterSmall);
            }
        }
        /*evaluation bar 🔹Chesskid🔹*/
        div [class="score-bar"] {
            width: 2rem!important;
        }
        /*end evaluation bar 🔹Chesskid🔹*/

        if evalOpt!="disabled" {
            .evaluation-bar-white,
            .score-bar__fill[data-v-b0ff6725] {
                if evalOpt == "auto" {
                    background-color: svgLightSqColor !important;
                }else if evalOpt == "custom" {
                    background-color: lEvalCol !important;
                }
            }
            .evaluation-bar-black {
                if evalOpt == "auto" {
                    background-color: saturate(svgDarkSqColor, 10%) !important;
                }else if evalOpt == "custom" {
                    background-color: dEvalCol !important;
                }
            }
            /*evaluation bar width for chesskid*/
            div [class="score-bar"] {
                width: 3rem;
                left: 1.4rem;
            }
            .score-bar__text[data-v-b0ff6725] {
            font-size: 9px!important;
            }
            .evaluation-bar-bar {
                opacity: evalBarOpacity!important;
                box-shadow: 1px 1px 8px 2px #0000002e;
                z-index:1;
            }
            /*====== End Evaluation Bar ======*/
        }
    }/*end board*/
        
    /*Highlight*/

    /*Highlight Chessable*/
    [style*="rgba(76\, 167\, 79\, 0.3)"]{
        background:transparentify(hlColor,#a6a6a6, 0.35) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-b:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-w.black-3c85d:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-b.black-3c85d:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-w:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-w.white-1e1d7:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    .highlight-b.white-1e1d7:not(.legal-square-dot-mt1,.legal-square-capture-mt1){
        background:transparentify(hlColor,#a2a2a2, highlightOpacity - 0.1) url(hlImgOpt) 0 0 / 100% no-repeat !important;
    }
    /*End highlight Chessable*/

    /*hlImgOpt can be useful to set a background image as highlight, normaly a gif.*/
    if setHighlight!="op0" {
        #divChessBoard_boardarea > div:nth-child(20):not({notThisColors}),
        #divChessBoard_boardarea > div:nth-child(21):not({notThisColors}),
        .move-square,
        .highlight:not({notThisColors}):not([class="stream highlight"]) {
            background: hlColor url(hlImgOpt) 0 0 / 100% no-repeat !important;
            opacity: highlightOpacity!important;
        }
    }/*====== End highlight ======*/
            
    /*====== change arrows colors ======*/
    if enableArrowSettings {
        .arrow {
            opacity: arrowOpacity !important;
        }
        /*red*/
        [class*="arrow"][style*="248\, 85\, 63"],[class*="arrow"][style*="#f8553fcc"]{
            fill: arrowRed!important;
        }
        /*orange*/
        [class*="arrow"][style*="255\, 170\, 0"],[class*="arrow"][style*="#fa0c"]{
            fill: arrowOrange!important;
        }
        /*green*/
        [class*="arrow"][style*="159\, 207\, 63"],[class*="arrow"][style*="#9fcf3fcc"]{
            fill: arrowGreen!important;
        }
        /*blue*/
        [class*="arrow"][style*="72\, 193\, 249"],[class*="arrow"][style*="#48c1f9cc"]{
            fill: arrowBlue!important;
        }
    }/*====== End arrows colors ======*/

    /*change highlight made by the user*/
    [class*="highlight"][style*="82\, 176\, 220"],[class*="highlight"][style*="#52b0dc"]{
        background-color:hlSqBlue!important;
    }
    [class*="highlight"][style*="172\, 206\, 89"],[class*="highlight"][style*="#acce59"]{
        background-color: hlSqGreen!important;
    }
    [class*="highlight"][style*="255\, 170\, 0"],[class*="highlight"][style*="#fa0"]{
        background-color: hlSqOrange!important;
    }
    [class*="highlight"][style*="235\, 97\, 80"],[class*="highlight"][style*="#eb6150"]{
        background-color: hlSqRed!important;
    }
    /*chessable fix*/
    .setPromotion img {
        width: 80px!important;
        height: auto!important;
        display:inline-block;
    }
    div[class^="spare-pieces"]>div{
        display:inline-block!important;
    }
    #promoteQueen{
        content: url("/img/chesspieces/wikipedia/wQ.png")!important;
    }
    #promoteKnight{
        content: url("/img/chesspieces/wikipedia/wN.png")!important;   
    }
    #promoteBishop{
        content: url("/img/chesspieces/wikipedia/wB.png")!important;
    }
    #promoteRook{
        content: url("/img/chesspieces/wikipedia/wR.png")!important;
    }
    /*End chessable fix*/
    /*------end section------*/

}
@-moz-document url-prefix("https://www.chess.com/game"), url-prefix("https://www.chess.com/play"), url-prefix("https://www.chess.com/analysis"), url-prefix("https://www.chess.com/classroom"), url-prefix("https://www.chess.com/practice"), url-prefix("https://www.chess.com/daily"), url-prefix("https://www.chess.com/puzzles/"), url-prefix("https://www.chess.com/endgames"), url-prefix("https://www.chess.com/explorer"), url-prefix("https://www.chess.com/pt/events/"), url-prefix("https://www.chess.com/es/events/"), url-prefix("https://www.chess.com/events/") {

    /*======== Wallpaper =======*/
    if enableWallpaper=="1" {
            .theme-bg,
            body:after {
                content: '';
                background: url(useWallpaper), linear-gradient(to top right, backgroundColp 50%, lighten(backgroundColp, 20%))!important;
                if setWallpaper=="cover" || setWallpaper=="contain" || setWallpaper==percentSize{
                    background-size: setWallpaper !important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                }
                if setWallpaper=="cover"{
                    background-repeat:no-repeat!important;
                }else{
                    background-repeat:repeat!important;
                }
                background-position: center center;                    
                position: fixed;
                height: 100vh;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1000;
            }
    }/*=== End wallpaper ===*/
}

@-moz-document domain("chess.com") {
    /*Border*/
    
    innBorderSize=0.4rem;
    if innBorderSize > 0 {
        inn=innBorderSize/2;
    }else{inn=0}
	
    @media (min-width: 960px){
		if myBoard!="disabled" && enableBoardFrame{
            /*board*/
            div#board.board:not([style*="background-image: url"]),
            .board-layout-chessboard .board:not([style*="--theme"]),
            .fade-in-overlay,
            #boarddefault_boardarea,
            #divChessBoard_boardarea,
            #vsComputerDiv_boardarea,
            div[id^="board-"][class*="chess-board__board"],
            div[class^="board v-board disabled rounded"],
            div[class^="daily-puzzle-board"],
            div[class^="board chessboard-component"],
            div[class^="board v-board chessboard-component"],
            div[class^="board rounded"],
            div[class^="board rounded fippled"],
            div[class^="board fippled rounded"],
            div[class^="board v-board rounded"],
            div[class^="board v-board fippled rounded"],
            div[class^="board disabled rounded"],
            div[id$="_ChessBoard_boardarea"],
            div[id^="chess_com_openingboard_1"],
            div[id^="board_training"],
            div[id^="divBoard_boardarea"],
            div[id^="chess_com_tactics_board"],
            div[id^="chessboard_"],
            div[id^="chess_com_chessmentorboard_"],
            div[id*="chess_com_chessmentor_board_1_boardarea"],
            div[id^="chess_com_emailboard_"],
            div[id^="board-blank"],
            chess-board[class^="board"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board),
            chess-board[class^="board flipped"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board),
            chess-board[id^="board-blank"],
            chess-board[id^="board-vs-personalities"],
            div[id*="chess_com_emailboard_"] {
                transform-style: preserve-3d;
                width:'calc(var(--boardWidth) * %s)!important;' % ajustBoardSize;
                height:'calc(var(--boardHeight) * %s)!important;' % (ajustBoardSize*0.999);
                if ajustBoardSize=="0.9"{
                multiplierL=0.54;
                multiplierT=0.5; 
                }else{
                multiplierL=0.53;
                multiplierT=0.5; 
                }              
                boardRatioL='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplierL));
                boardRatioT='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplierT));
                margin-left:'calc(var(--boardWidth) * %s + %s)!important;' % ((boardRatioL) (inn));
                margin-top:'calc(var(--boardHeight) * %s + %s)!important;' % ((boardRatioT) (inn));
                if frameRadiusInOut{
                    border-radius:0!important;                    
                }else{
                    border-radius:'calc(%s * 0.40)!important;' % frameRadius;
                }
                box-shadow: boardShadow;
                box-shadow: boardShadowInset;                    
                if enableBoardShadow && enableBoardShadowInset {
                    box-shadow: boardShadow, boardShadowInset !important;
                }
                if enableInnerBorder {
                    box-shadow: 0 0 0 innBorderSize innerBorderOpt!important;
                }
            }
            /*board*/
            div#board.board:not([style*="background-image: url"]):before,
            .board-layout-chessboard .board:not([style*="--theme"]):before,
            .fade-in-overlay:before,
            #boarddefault_boardarea:before,
            #divChessBoard_boardarea:before,
            #vsComputerDiv_boardarea:before,
            div[id^="board-"][class*="chess-board__board"]:before,            
            div[class^="board v-board disabled rounded"]:before,
            div[class^="daily-puzzle-board"]:before,
            div[class^="board chessboard-component"]:before,
            div[class^="board v-board chessboard-component"]:before,
            div[class^="board rounded"]:before,
            div[class^="board rounded fippled"]:before,
            div[class^="board fippled rounded"]:before,
            div[class^="board v-board rounded"]:before,
            div[class^="board v-board fippled rounded"]:before,
            div[class^="board disabled rounded"]:before,
            div[id$="_ChessBoard_boardarea"]:before,
            div[id^="chess_com_openingboard_1"]:before,
            div[id^="board_training"]:before,
            div[id^="divBoard_boardarea"]:before,
            div[id^="chess_com_tactics_board"]:before,
            div[id^="chessboard_"]:before,
            div[id^="chess_com_chessmentorboard_"]:before,
            div[id*="chess_com_chessmentor_board_1_boardarea"]:before,
            div[id^="chess_com_emailboard_"]:before,
            div[id^="board-blank"]:before,
            chess-board[class^="board"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board):before,
            chess-board[class^="board flipped"]:not(.game-details-board chess-board):not(.event-header-new-games chess-board):not(.round-games-list-item-component chess-board):not(.diagram-board-component  chess-board):not(.openings-view-chessboard .board):before,
            chess-board[id^="board-blank"]:before,
            chess-board[id^="board-vs-personalities"]:before,
            div[id*="chess_com_emailboard_"]:before {
				background-position: framePosX framePosY !important;
                background-color: frameColor !important;
                background-size: frameSize!important;
                -webkit-background-size: @background-size;
                -moz-background-size: @background-size;
                -o-background-size: @background-size;
                if frameSize=="cover" {
                    background-repeat: no-repeat!important;
                }else{
                    background-repeat: repeat!important;
                }
                background-image: url(frameOpt) !important;
                transform: translateZ(-1px);
                content: ""!important;
                display:block;
                grid-column: board;                
                width:var(--boardWidth)!important;
                height: var(--boardHeight)!important;
                padding-bottom: 0;
                if ajustBoardSize=="0.9"{
                    multiplier=-0.54;
                }else{
                    multiplier=-0.526;
                }
                boardRatio='calc((1 - %s) * %s)' % ((ajustBoardSize) (multiplier));
                margin-left:'calc(var(--boardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
                margin-top:@margin-left;
                border-radius: frameRadius!important;
                box-shadow: frameShadow;
                box-shadow: frameShadowInset;
                if enableFrameShadow && enableFrameShadowInset {
                    box-shadow: frameShadow, frameShadowInset !important;
                }
            }
			/*bizarre solution, don't ask me why*/
            div#board.board:not([style*="background-image: url"]) > div{
                display: none!important;
            }
            div#board.board:not([style*="background-image: url"]){
                --theme-board-style-image: url(svgBoard) 0 0 / 100% no-repeat,
              url(board3) bgPosX bgPosY / bgSize repeat;

                background: var(--theme-piece-set-br) 0 0 / 12.5% no-repeat,
              var(--theme-piece-set-bn) 14.29% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bb) 28.57% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bq) 42.86% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bk) 57.14% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bb) 71.43% 0 / 12.5% no-repeat,
              var(--theme-piece-set-bn) 85.71% 0 / 12.5% no-repeat,
              var(--theme-piece-set-br) 100% 0 / 12.5% no-repeat,

              var(--theme-piece-set-bp) 0 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 14.29% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 28.57% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 42.86% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 57.14% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 71.43% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 85.71% 14.29% / 12.5% no-repeat,
              var(--theme-piece-set-bp) 100% 14.29% / 12.5% no-repeat,

              var(--theme-piece-set-wr) 0 100% / 12.5% no-repeat,
              var(--theme-piece-set-wn) 14.29% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wb) 28.57% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wq) 42.86% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wk) 57.14% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wb) 71.43% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wn) 85.71% 100% / 12.5% no-repeat,
              var(--theme-piece-set-wr) 100% 100% / 12.5% no-repeat,

              var(--theme-piece-set-wp) 0 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 14.29% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 28.57% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 42.86% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 57.14% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 71.43% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 85.71% 85.71% / 12.5% no-repeat,
              var(--theme-piece-set-wp) 100% 85.71% / 12.5% no-repeat,

              var(--theme-board-style-image) !important;
                background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, svgBoardBlend, normal !important;
            }
            /*outside coords settings*/
            if enableOutsideCoords{
                .coordinate-grey,
                .coordinate-dark:not(.events-dashboard-board .coordinate-dark):not(.game-board-medium .coordinate-dark):not(#board-single-sibling .coordinate-dark):not(.game-details-board .coordinate-dark):not(.event-header-new-games .coordinate-dark):not(.round-games-list-item-games .coordinate-dark):not(.diagram-board-component .coordinate-dark):not(.openings-view-chessboard .coordinate-dark),
                .coordinate-light:not(.events-dashboard-board .coordinate-light):not(.game-board-medium .coordinate-light):not(#board-single-sibling .coordinate-light):not(.game-details-board .coordinate-light):not(.event-header-new-games .coordinate-light):not(.round-games-list-item-games .coordinate-light):not(.diagram-board-component .coordinate-light):not(.openings-view-chessboard .coordinate-light) {
                    text-transform: outCoordFontCase !important;
                    fill:outCoordColorOpt!important;
                    font-size:clamp(.1rem,outCoordFontSize,.3rem)!important;
                    font-weight: outCoordFontWeight!important;   
                    font-family:outCoordFontName,-apple-system,BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,Emoji,sans-serif!important;
                }
                .outside:not(.game-details-board .outside):not(.event-header-new-games .outside):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                    transform: translate(-5.5%,4.5%)!important;
                }
                body.outside-coords:not(.game-details-board body.outside-coords):not(.with-pieces,.real-3d):not(.event-header-new-games .outside-coords):not(.round-games-list-item-games .outside-coords):not(.openings-view-chessboard .outside-coords) {
                    --coordinatesGutter: 1rem!important;
                }

                .coordinates:not(.events-dashboard-board .coordinates):not(.game-board-medium .coordinates):not(#board-single-sibling .coordinates):not(.game-details-board .coordinates):not(.event-header-new-games .coordinates):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                    transform: translate(-4.5%,4.8%)!important;
                }
                if ajustBoardSize>=0.92{
                    .coordinates:not(.events-dashboard-board .coordinates):not(.game-board-medium .coordinates):not(#board-single-sibling .coordinates):not(.game-details-board .coordinates):not(.event-header-new-games .coordinates):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                        transform: translate(-3.8%,4.2%)!important;
                    }
                    if enableInnerBorder==0{
                        
                        .coordinates:not(.events-dashboard-board .coordinates):not(.game-board-medium .coordinates):not(#board-single-sibling .coordinates):not(.game-details-board .coordinates):not(.event-header-new-games .coordinates):not(.round-games-list-item-games .coordinates):not(.diagram-board-component .coordinates):not(.openings-view-chessboard .coordinates) {
                            transform: translate(-3.8%,3.8%)!important;
                        }
                    }
                }
                
                .coords-dark:not(#board-single-sibling .coords-dark):not(.game-details-board .coords-dark):not(.event-header-new-games .coords-dark):not(.round-games-list-item-games .coords-dark):not(.diagram-board-component .coords-dark):not(.openings-view-chessboard .coords-dark),
                div.number.coords-dark:not(.game-details-board div.number.coords-dark):not(.event-header-new-games div.number.coords-dark):not(.round-games-list-item-games div.number.coords-dark):not(.diagram-board-component div.number.coords-dark):not(.openings-view-chessboard div.number.coords-dark),
                div.letter.coords-dark:not(.game-details-board div.letter.coords-dark):not(.event-header-new-games div.letter.coords-dark):not(.round-games-list-item-games div.letter.coords-dark):not(.diagram-board-component div.letter.coords-dark):not(.openings-view-chessboard div.letter.coords-dark),
                text.coordinate-dark:not(.events-dashboard-board text.coordinate-dark):not(.game-board-medium text.coordinate-dark):not(#board-single-sibling text.coordinate-dark):not(.game-details-board text.coordinate-dark):not(.event-header-new-games text.coordinate-dark):not(.round-games-list-item-games text.coordinate-dark):not(.diagram-board-component text.coordinate-dark):not(.openings-view-chessboard text.coordinate-dark),
                .coords-light:not(#board-single-sibling .coords-light):not(.game-details-board .coords-light):not(.event-header-new-games .coords-light):not(.round-games-list-item-games .coords-light):not(.diagram-board-component .coords-light):not(.openings-view-chessboard .coords-light),
                div.number.coords-light:not(.game-details-board div.number.coords-light):not(.event-header-new-games div.number.coords-light):not(.round-games-list-item-games div.number.coords-light):not(.diagram-board-component div.number.coords-light):not(.openings-view-chessboard div.number.coords-light),
                div.letter.coords-light:not(.game-details-board div.letter.coords-light):not(.event-header-new-games div.letter.coords-light):not(.round-games-list-item-games div.letter.coords-light):not(.diagram-board-component div.letter.coords-light):not(.openings-view-chessboard div.letter.coords-light),
                text.coordinate-light:not(.events-dashboard-board text.coordinate-light):not(.game-board-medium text.coordinate-light):not(#board-single-sibling text.coordinate-light):not(.game-details-board text.coordinate-light):not(.event-header-new-games text.coordinate-light):not(.round-games-list-item-games text.coordinate-light):not(.diagram-board-component text.coordinate-light):not(.openings-view-chessboard text.coordinate-light), {
                    color: outCoordColorOpt !important;
                    fill: @color;
                    opacity: 1!important;
                }
            }
        }
    }/*end board border*/
    
}
@-moz-document url-prefix("https://www.chess.com/events/"), url-prefix("https://www.chess.com/events/pt"), url-prefix("https://www.chess.com/pt/events/"), url-prefix("https://www.chess.com/es/events/"), url-prefix("https://www.chess.com/events/es") {
    /*Events*/
    /*In Events page variable mainBoardWidth is used instead of boardWidth/boardHeight*/
    @media (min-width: 960px){
        
        /*Main border rules*/
        innBorderSize=0.4rem;
        if innBorderSize > 0 {
            inn=innBorderSize/2;
        }else{inn=0}

        if boardBGOpt==frameOpt && enableBoardFrame {
            board3=null;
            framePosX=bgPosX;
            framePosY=bgPosY;        
        }

		if myBoard!="disabled" && enableBoardFrame{
			/*board*/
			.main-tab-game-component chess-board {
				transform-style: preserve-3d;
				width:'calc(var(--mainBoardWidth) * %s)!important;' % ajustBoardSize;
				height: @width;
				boardRatio='calc((1 - %s) * 0.5)' % ajustBoardSize;
				margin-left:'calc(var(--mainBoardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
				margin-top:@margin-left;
				if frameRadiusInOut{
					border-radius:'calc(%s * 0.40)!important;' % frameRadius;
				}else{
					border-radius:0!important;
				}
				box-shadow: boardShadow;
				box-shadow: boardShadowInset;                    
				if enableBoardShadow && enableBoardShadowInset {
					box-shadow: boardShadow, boardShadowInset !important;
				}
				if enableInnerBorder {
					box-shadow: 0 0 0 innBorderSize innerBorderOpt!important;
				}
			}
			/*board*/
			.main-tab-game-component chess-board:before {
				if myBoard!="disabled"{                    
				background:frameColor url(frameOpt) framePosX framePosY!important; 
				}                
				transform: translateZ(-1px);
				content: ""!important;
				display:block;
				grid-column: board;                
				width:var(--mainBoardWidth)!important;
				height: @width;
				padding-bottom: 0;
				boardRatio='calc((1 - %s) * -0.526)' % ajustBoardSize;
				margin-left:'calc(var(--mainBoardWidth) * %s + %s)!important;' % ((boardRatio) (inn));
				margin-top:@margin-left;
				background-size: frameSize!important;
				-webkit-background-size: @background-size;
				-moz-background-size: @background-size;
				-o-background-size: @background-size;
				background-repeat: frameRepeat!important;
				border-radius: frameRadius!important;
				box-shadow: frameShadow;
				box-shadow: frameShadowInset;                
				if enableFrameShadow && enableFrameShadowInset {
					box-shadow: frameShadow, frameShadowInset !important;
				}
			}
		}/*end board border*/
    }
    
}/*End Events*/