/* ==UserStyle==
@name           Fix Chessable setup position page
@author         ChessSkins
@namespace      ChessSkins
@homepageURL    https://www.chess.com/blog/ChessSkins
@version        1.0.2
@description    Fix missing pieces in promotion and piece alignment
@license        CC BY-NC-SA 4.0 https://creativecommons.org/licenses/by-nc-sa/4.0/
==/UserStyle== */

@-moz-document url-prefix("https://www.chessable.com/mt1/chess-board-setup-editor/"), url-prefix("https://www.chessable.com/mt1/explore/fen") {
    /*chessable fix*/
    .setPromotion img {
        width: 80px!important;
        height: auto!important;
        display:inline-block;
    }
    div[class^="spare-pieces"]>div{
        display:inline-block!important;
        vertical-align: middle!important;
    }
    #promoteQueen{
        content: url("/img/chesspieces/wikipedia/wQ.png")!important;
    }
    #promoteKnight{
        content: url("/img/chesspieces/wikipedia/wN.png")!important;   
    }
    #promoteBishop{
        content: url("/img/chesspieces/wikipedia/wB.png")!important;
    }
    #promoteRook{
        content: url("/img/chesspieces/wikipedia/wR.png")!important;
    }
    /*End chessable fix*/
}