/* ==UserStyle==
@name           Red Bull: chessboard
@namespace      USO Archive
@author         agiota_do_artenio
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@description    `Chess board for chess.com`
@version        1.0.8
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Azul": "op1",
            "Azul Medio": "op2",
            "Azul Escuro": "op3",
            "Desativado": "op0",
        }
@var    checkbox    setHLopacity "Modificar opacidade do destaque" 0
@var    range    highlightOpacity  "Opacidade do destaque" [0.4, 0.4, 1, 0.1, ""]
@var    checkbox    setHLhueRotation "Modificar tonalidade do destaque" 0
@var    range    highlightHueRotation  "Tonalidade do destaque" [0, 0, 355, 5, "deg"]
@var    checkbox    enableBoardSettings "Avançado: Config. do tabuleiro" 0
@var    range    hueRotationBoard  "Tonalidade do tabuleiro (melhor com pçs preto e branco)" [0, 0, 355, 5, "deg"]
@var    checkbox    setEvaluationBar "Barra de avaliação personalizada" 1
==/UserStyle== */
@-moz-document domain("chess.com") {
    if myBoard!="op0" {
        #board-single-sibling,
        div#board.board:not([style*="background-image: url"]):not([class="board board-webgl-3d"]),
        .board-layout-chessboard .board:not([style*="--theme"]):not([class="board board-webgl-3d"]),
        div[class^="board v-board disabled rounded"],
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"]:not([class="board board-webgl-3d"]),
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        div[id*="chess_com_emailboard_"] {
            if enableBoardSettings {
                filter: hue-rotate(hueRotationBoard);
            }
            if myBoard=="op1" {
                background: url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpNTX67p.png") 0% 0% / 100% 100% no-repeat!important;
            }
            if myBoard=="op2" {
                background: url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/phpyEoNCz.png") 0% 0% / 100% 100% no-repeat!important;
            }
            if myBoard=="op3" {
                background: url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/Agiota_do_Artenio/php0JxVa6.png") 0% 0% / 100% 100% no-repeat!important;
            }
        }
        /*Coordinates*/
        if myBoard=="op1" {
            text.coordinate-light,
            div.number.coords-light,
            div.letter.coords-light {
                color: #0C4AB6 !important;
                fill:@color;
            }
            text.coordinate-dark,
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #CDCDCD !important;
                fill:@color;
            }
        }
        if myBoard=="op2" {
            text.coordinate-light,
            div.number.coords-light,
            div.letter.coords-light {
                color: #255094 !important;
                fill:@color;
            }
            text.coordinate-dark,
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #D1D1D1 !important;
                fill:@color;
            }
        }
        if myBoard=="op3" {
            text.coordinate-light,
            div.number.coords-light,
            div.letter.coords-light {
                color: #3C5A84 !important;
                fill:@color;
            }
            text.coordinate-dark,
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #D6D6D6 !important;
                fill:@color;
            }
        }
        /*Highlight*/
        if setHLopacity {
            .move-square,
            .highlight {
                opacity: highlightOpacity!important;
            }
        }
        if setHLhueRotation {
            .move-square,
            .highlight {
                filter: hue-rotate(highlightHueRotation) !important;
            }
        }
        /*Evaluation bar*/
        if setEvaluationBar {
            if myBoard=="op1" {
                .evaluation-bar-white {
                    background-color: #CDCDCD !important;
                }
                .evaluation-bar-black {
                    background-color: #0C4AB6 !important;
                }
            }
            if myBoard=="op2" {
                .evaluation-bar-white {
                    background-color: #D1D1D1 !important;
                }
                .evaluation-bar-black {
                    background-color: #255094 !important;
                }
            }
            if myBoard=="op3" {
                .evaluation-bar-white {
                    background-color: #D6D6D6 !important;
                }
                .evaluation-bar-black {
                    background-color: #3C5A84 !important;
                }
            }

            if enableBoardSettings {
                .evaluation-bar-white,
                .evaluation-bar-black {
                    filter: hue-rotate(hueRotationBoard);
                }
            }
        }
    }
    /*End of the code*/
}