/* ==UserStyle==
@name           Chessbase Fritz (pt-BR): chess pieces
@author         ChessSkins
@namespace      ChessSkins
@homepageURL    https://www.chess.com/blog/ChessSkins
@description    `Peças Fritz Chessbase com cores ajustáveis para o chess.com.`
@version        1.0.4
@license        NO-REDISTRIBUTION
@preprocessor   stylus

@var    select      setColors    "Cor principal"{
            "Bege*": "beigeBlack",
            "Branco": "blackWhite",
            "Personalizado": "custom",
        }


@var    color    wColor  "Cor personalizada"    #ffe9ac
@var    range   gradDeg  "Sombreamento"   [30,0,100,5,"%"]

==/UserStyle== */
@-moz-document domain("chess.com"),
domain("chesskid.com"), domain("chessable.com") {

    blightDeg = gradDeg - 4%;
    if gradDeg < 30{
	    bColor=hsla(231, 5%, blightDeg, 1);   
    }else{
		bColor=#43444a;
    }

    if setColors=="beigeBlack" {        
        wColor=#f8f0cc;
    }
    if setColors=="blackWhite" {
        wColor=#f8f8f8;
    }

    bColor=hsla(bColor);
    wColor=hsla(wColor);
    wShade=hsla(shade(wColor, gradDeg));
    
    wR="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='20' y1='52.33' x2='80' y2='52.33'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M25.77 79.11c0-4.98.31-7.77.95-8.37a591.9 591.9 0 004.4-4.22c.72-.69 1.18-1.1 1.37-1.23v-26.4c-.19-.13-.65-.55-1.37-1.28l-2.32-2.27c-.82-.79-1.86-1.85-3.12-3.17V16.65h10.98v6.91h7.19v-6.91h12.3v6.91h7.19v-6.91h10.98c0 10.35-.32 15.85-.95 16.51-.63.66-1.34 1.39-2.13 2.18l-2.27 2.27-1.28 1.28v26.4l1.23 1.23c.69.69 1.43 1.42 2.22 2.18.79.75 1.81 1.74 3.08 2.93v7.48H80v8.9H20v-8.9h5.77z'/%3E%3Cg%3E%3Cpath d='M25.77 79.11c0-4.98.31-7.77.95-8.37a591.9 591.9 0 004.4-4.22c.72-.69 1.18-1.1 1.37-1.23v-26.4c-.19-.13-.65-.55-1.37-1.28l-2.32-2.27c-.82-.79-1.86-1.85-3.12-3.17V16.65h10.98v6.91h7.19v-6.91h12.3v6.91h7.19v-6.91h10.98c0 10.35-.32 15.85-.95 16.51-.63.66-1.34 1.39-2.13 2.18l-2.27 2.27-1.28 1.28v26.4l1.23 1.23c.69.69 1.43 1.42 2.22 2.18.79.75 1.81 1.74 3.08 2.93v7.48H80v8.9H20v-8.9h5.77zm-3.59 2.18v4.54h55.74v-4.54H22.18zm49.97-50.63V18.83h-6.63v6.91H53.97v-6.91h-7.95v6.91H34.48v-6.91h-6.63v11.83h44.3zm-.1 48.45v-5.87h-44.1v5.87h44.1zM29.37 32.84c.69.7 1.5 1.48 2.41 2.37.91.88 1.62 1.61 2.13 2.18h32.37c.44-.57 1.1-1.29 1.99-2.18l2.36-2.37H29.37zm41.17 38.33l-4.26-4.26H33.91c-.5.44-1.2 1.09-2.08 1.94l-2.37 2.32h41.08zm-5.02-6.44V39.56H34.57v25.17h30.95z'/%3E%3C/g%3E%3C/svg%3E";

    wN="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='11.42' y1='51' x2='88.55' y2='51'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M45.69 12.17a30.17 30.17 0 013.03 4.17 22.64 22.64 0 011.85 3.92c.22.65.38 1.32.48 2 .07.52.27.35.75.37a30.64 30.64 0 0116.53 5.62c8.79 6.32 13.57 16.79 16.32 26.96 3.04 11.25 3.91 23.01 3.91 34.63H34.04c0-6.95 1.08-14.64 7.67-18.46 6.49-3.76 8.75-11.14 9.68-18.15a14.17 14.17 0 01-6.23 5.23c-1.53.71-3.24 1.13-4.7 1.99-2.39 1.42-4.26 3.97-6.05 6.05-.71.87-1.39 1.74-2.12 2.59-1.59 1.83-3.18 3.83-5.63 4.48-2.74.72-5.58.2-8.09-1.03a14.08 14.08 0 01-6.17-5.76c-1.32-2.48-1.08-5.56-.53-8.23a18.45 18.45 0 012.63-6.01 45.11 45.11 0 012.22-3.29c.37-.5.87-.9 1.21-1.41 1.46-2.15 2.94-4.23 4.01-6.61 1-2.23.53-4.8 1.01-7.17.45-2.19 1.54-4.07 2.76-5.91.46-.69.96-1.32 1.49-1.95.69-.83.52-2.04.39-3.04-.13-1.06-.53-2.01-.57-3.08-.04-1.19-.02-2.42.2-3.59.24-1.26.92-2.42 1.49-3.56 3.61 2.62 7.25 5.5 9.29 9.58.7-.2 1.42-.28 2.13-.38.47-.07.59.05.66-.45.05-.35.1-.7.18-1.05.29-1.38.81-2.71 1.45-3.96a20.49 20.49 0 013.27-4.5'/%3E%3Cg%3E%3Cpath d='M45.69 12.17a30.17 30.17 0 013.03 4.17 22.64 22.64 0 011.85 3.92c.22.65.38 1.32.48 2 .07.52.27.35.75.37a30.64 30.64 0 0116.53 5.62c8.79 6.32 13.57 16.79 16.32 26.96 3.04 11.25 3.91 23.01 3.91 34.63H34.04c0-6.95 1.08-14.64 7.67-18.46 6.49-3.76 8.75-11.14 9.68-18.15a14.17 14.17 0 01-6.23 5.23c-1.53.71-3.24 1.13-4.7 1.99-2.39 1.42-4.26 3.97-6.05 6.05-.71.87-1.39 1.74-2.12 2.59-1.59 1.83-3.18 3.83-5.63 4.48-2.74.72-5.58.2-8.09-1.03a14.08 14.08 0 01-6.17-5.76c-1.32-2.48-1.08-5.56-.53-8.23a18.45 18.45 0 012.63-6.01 45.11 45.11 0 012.22-3.29c.37-.5.87-.9 1.21-1.41 1.46-2.15 2.94-4.23 4.01-6.61 1-2.23.53-4.8 1.01-7.17.45-2.19 1.54-4.07 2.76-5.91.46-.69.96-1.32 1.49-1.95.69-.83.52-2.04.39-3.04-.13-1.06-.53-2.01-.57-3.08-.04-1.19-.02-2.42.2-3.59.24-1.26.92-2.42 1.49-3.56 3.61 2.62 7.25 5.5 9.29 9.58.7-.2 1.42-.28 2.13-.38.47-.07.59.05.66-.45.05-.35.1-.7.18-1.05.29-1.38.81-2.71 1.45-3.96a20.49 20.49 0 013.27-4.5M27.57 70.54a20.64 20.64 0 003.35-3.45c.58-.76 1.2-1.32 1.87-2 1.7-1.95 3.38-4.06 5.37-5.73a12.62 12.62 0 013.52-1.94c2-.82 4.08-1.6 5.74-3.02a13.28 13.28 0 003.72-5.62 20.2 20.2 0 001.07-6.45c.01-.18-.07-1.13.1-1.13h2.29c0 4.6-.22 9.23-1 13.77-.75 4.42-2.01 8.92-4.57 12.67a19.93 19.93 0 01-4.3 4.54c-1.72 1.33-3.58 2.29-5.01 3.98-2.68 3.17-3.3 7.19-3.43 11.22H83.89c0-12.57-.62-25.54-4.33-37.63-3.22-10.52-9.54-21.04-20.88-23.97a27.97 27.97 0 00-4.63-.77c-.83-.07-1.67-.11-2.5-.12-.61-.01-.37.53-.41 1.04-.03.37-.08.74-.18 1.1-.13.49-1.17 2.83-1.54 2.6l-1.84-1.14a5.78 5.78 0 001.28-2.67c.09-.78.07-1.6.04-2.38-.12-2.65-1.63-5.4-3.22-7.47a13.37 13.37 0 00-2.56 8.21c0 .42.32 3.69.4 3.67l-2.2.64c-.39-1.3-.66-2.62-.66-3.98-2.09.23-4.19.91-5.67 2.51-.43.46-.8.99-1.14 1.52-.27.43-.21.33-.58.1l-1.6-.99c-.19-.12 1.83-2.63 2.05-2.83a9.42 9.42 0 011.56-1.08c.4-.23.74-.18.47-.67l-.53-.88a24 24 0 00-5.46-5.65c-.9 2.01-.33 4.57.14 6.59.22.96.29 2.24-.06 3.17-.41 1.08-1.31 2.04-1.98 2.97a14.35 14.35 0 00-2.8 6.72c-.15 1.3-.03 2.64-.24 3.93a11.7 11.7 0 01-1.66 4.17c-1.27 2.1-2.74 4.04-4.1 6.08-1.61 2.41-3.48 4.57-4.42 7.37-.85 2.53-1.41 5.92-.06 8.36a11.5 11.5 0 006.35 5.3c.31.1.63.18.95.25.27-2.16 2.23-3.62 2.58-5.77.03-.19.01-1.06.16-1.06h2.29c0 1.34-.34 2.41-.96 3.57-.31.58-.56 1.2-.97 1.71a3.44 3.44 0 00-.82 1.83 6.4 6.4 0 003.41-1.19m-8.3-12.62a9.58 9.58 0 00-2.99 4.39c-.14.46-.47 1.45-.02 1.84.52.46 1.02.13 1.5-.26a10 10 0 003.02-4.24c.18-.51.51-1.49.09-1.97-.48-.54-1.15-.12-1.6.24m15.42-19.11c0 1.38-.94 3.22-2.59 2.51-.98-.42-1.47-2.25-1.01-3.17-.41.54-.89 1.07-1.21 1.67-.15.27-.59 1.74-.77 1.74h-2.29c.69-2.09 1.57-4.3 3.27-5.78 1.68-1.46 3.89-2.15 6.02-2.66v2.04c0 .54-.05.42-.63.55-.67.15-1.28.42-1.93.63.87.52 1.14 1.52 1.14 2.47'/%3E%3C/g%3E%3C/svg%3E";

    wB="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='10.86' y1='52.5' x2='89.14' y2='52.5'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M35.84 62.21l.34-.33.33-.34c.06-.19-.03-.69-.29-1.48-.25-.8-.92-1.64-2.01-2.53-3.57-2.94-5.36-7.15-5.36-12.63 0-1.85.33-3.51 1.01-4.98.67-1.47 1.5-2.76 2.49-3.88a17.25 17.25 0 013.16-2.82 26.5 26.5 0 013.01-1.82c2.04-1.15 3.73-2.15 5.07-3.01a13.61 13.61 0 003.06-2.54 6.34 6.34 0 01-3.25-5.65c0-1.85.65-3.43 1.96-4.74A6.33 6.33 0 0150 13.5a6.5 6.5 0 014.74 1.96 6.45 6.45 0 011.96 4.74c0 1.28-.3 2.41-.91 3.4a5.94 5.94 0 01-2.44 2.25c.77.83 1.8 1.67 3.11 2.54 1.31.86 3.01 1.87 5.12 3.01.89.45 1.9 1.05 3.01 1.82 1.12.77 2.17 1.71 3.16 2.82a15.54 15.54 0 012.49 3.88c.67 1.47 1 3.13 1 4.98 0 5.42-1.79 9.63-5.36 12.63a6.28 6.28 0 00-2.06 2.58 4.85 4.85 0 00-.38 1.34c.03.06.11.14.24.24l.38.33c1.78 1.91 2.68 3.89 2.68 5.94v2.2c0 1.08-.8 1.91-2.39 2.49a30.6 30.6 0 01-5.26 1.34c.06.64.25 1.15.57 1.53a3.35 3.35 0 002.29 1.24c.45.06.86.1 1.25.1l1.91-.05c1.21-.03 2.49-.3 3.83-.82 1.08-.45 2.33-.86 3.73-1.24 1.41-.38 2.52-.57 3.35-.57 2.29 0 4.45.38 6.46 1.15 2.01.77 3.84 1.88 5.5 3.35l1.15 1.15L83.5 91.5l-2.2-2.01a12.66 12.66 0 00-8.9-3.45c-.38 0-1.13.14-2.25.43s-2.19.62-3.21 1c-1.66.7-3.25 1.1-4.79 1.2-1.53.1-2.42.11-2.68.05-1.4 0-3.01-.4-4.83-1.2A14.1 14.1 0 0150 84.31a11.6 11.6 0 01-4.59 3.35 12.83 12.83 0 01-4.79 1.15c-.32 0-1.23-.03-2.73-.1-1.5-.06-3.11-.45-4.83-1.15a23.99 23.99 0 00-5.46-1.43c-3.45 0-6.38 1.12-8.81 3.35l-2.3 2.01-5.65-11.67 1.25-1.15a17.25 17.25 0 0111.77-4.5c.89 0 2.04.2 3.45.62 1.4.42 2.65.82 3.73 1.2 1.34.57 2.63.88 3.88.91l2.06.05a6.39 6.39 0 002.25-.48c.41-.19.8-.48 1.15-.86.35-.38.59-.93.72-1.63a28.9 28.9 0 01-5.41-1.34c-1.56-.57-2.34-1.4-2.34-2.49v-2.2c0-2.03.83-3.95 2.49-5.74z'/%3E%3Cg%3E%3Cpath d='M35.84 62.21l.34-.33.33-.34c.06-.19-.03-.69-.29-1.48-.25-.8-.92-1.64-2.01-2.53-3.57-2.94-5.36-7.15-5.36-12.63 0-1.85.33-3.51 1.01-4.98.67-1.47 1.5-2.76 2.49-3.88a17.25 17.25 0 013.16-2.82 26.5 26.5 0 013.01-1.82c2.04-1.15 3.73-2.15 5.07-3.01a13.61 13.61 0 003.06-2.54 6.34 6.34 0 01-3.25-5.65c0-1.85.65-3.43 1.96-4.74A6.33 6.33 0 0150 13.5a6.5 6.5 0 014.74 1.96 6.45 6.45 0 011.96 4.74c0 1.28-.3 2.41-.91 3.4a5.94 5.94 0 01-2.44 2.25c.77.83 1.8 1.67 3.11 2.54 1.31.86 3.01 1.87 5.12 3.01.89.45 1.9 1.05 3.01 1.82 1.12.77 2.17 1.71 3.16 2.82a15.54 15.54 0 012.49 3.88c.67 1.47 1 3.13 1 4.98 0 5.42-1.79 9.63-5.36 12.63a6.28 6.28 0 00-2.06 2.58 4.85 4.85 0 00-.38 1.34c.03.06.11.14.24.24l.38.33c1.78 1.91 2.68 3.89 2.68 5.94v2.2c0 1.08-.8 1.91-2.39 2.49a30.6 30.6 0 01-5.26 1.34c.06.64.25 1.15.57 1.53a3.35 3.35 0 002.29 1.24c.45.06.86.1 1.25.1l1.91-.05c1.21-.03 2.49-.3 3.83-.82 1.08-.45 2.33-.86 3.73-1.24 1.41-.38 2.52-.57 3.35-.57 2.29 0 4.45.38 6.46 1.15 2.01.77 3.84 1.88 5.5 3.35l1.15 1.15L83.5 91.5l-2.2-2.01a12.66 12.66 0 00-8.9-3.45c-.38 0-1.13.14-2.25.43s-2.19.62-3.21 1c-1.66.7-3.25 1.1-4.79 1.2-1.53.1-2.42.11-2.68.05-1.4 0-3.01-.4-4.83-1.2A14.1 14.1 0 0150 84.31a11.6 11.6 0 01-4.59 3.35 12.83 12.83 0 01-4.79 1.15c-.32 0-1.23-.03-2.73-.1-1.5-.06-3.11-.45-4.83-1.15a23.99 23.99 0 00-5.46-1.43c-3.45 0-6.38 1.12-8.81 3.35l-2.3 2.01-5.65-11.67 1.25-1.15a17.25 17.25 0 0111.77-4.5c.89 0 2.04.2 3.45.62 1.4.42 2.65.82 3.73 1.2 1.34.57 2.63.88 3.88.91l2.06.05a6.39 6.39 0 002.25-.48c.41-.19.8-.48 1.15-.86.35-.38.59-.93.72-1.63a28.9 28.9 0 01-5.41-1.34c-1.56-.57-2.34-1.4-2.34-2.49v-2.2c0-2.03.83-3.95 2.49-5.74zm13.2 12.35c-.57 0-1.44-.02-2.58-.05a29.3 29.3 0 01-3.16-.24c0 1.08-.18 1.95-.53 2.58a3.51 3.51 0 01-1.39 1.44c-.57.32-1.24.54-2.01.67-.77.13-1.56.19-2.39.19h-1.05c-.64 0-1.5-.08-2.58-.24a13.48 13.48 0 01-3.06-.81 39.13 39.13 0 00-3.49-1.05 12.56 12.56 0 00-2.92-.48 15.26 15.26 0 00-10.24 3.73l3.54 7.37a15.4 15.4 0 0110.43-4.12c.64 0 1.58.16 2.82.48 1.24.32 2.38.7 3.4 1.15a11.9 11.9 0 004.59 1.05h2.2a10.34 10.34 0 005.41-1.72 7.13 7.13 0 002.15-2.25 6.2 6.2 0 00.86-3.3v-4.4zM37.61 58c.48.7.78 1.37.91 2.01a22.62 22.62 0 015.31-2.1c1.95-.51 4-.77 6.17-.77 2.23 0 4.34.26 6.32.77 1.98.51 3.7 1.24 5.17 2.2a7.74 7.74 0 012.97-4.22c3-2.55 4.5-6.22 4.5-11.01 0-1.59-.29-3.01-.86-4.26a12.9 12.9 0 00-2.16-3.3 15.84 15.84 0 00-2.73-2.44 26.23 26.23 0 00-2.68-1.67 57.12 57.12 0 01-5.93-3.4 14.55 14.55 0 01-3.45-3.11c-.19 0-.38.02-.57.05-.19.03-.38.05-.57.05a2.3 2.3 0 01-.48-.05 3.68 3.68 0 00-.58-.05 14.55 14.55 0 01-3.45 3.11 61.37 61.37 0 01-5.93 3.4c-.77.45-1.64 1-2.63 1.67a14.5 14.5 0 00-4.98 5.74 9.59 9.59 0 00-.91 4.26c0 4.79 1.53 8.46 4.59 11.01.83.71 1.49 1.41 1.97 2.11zm-1.96 9.57c1.02-.44 2.3-.8 3.83-1.05a89.3 89.3 0 014.45-.62c1.44-.16 2.73-.25 3.88-.29l2.2-.05 2.2.05c1.15.03 2.44.13 3.88.29 1.44.16 2.92.37 4.45.62 1.53.25 2.84.61 3.92 1.05 0-1.4-.64-2.74-1.91-4.02a14.47 14.47 0 00-5.36-3.06 21.88 21.88 0 00-7.18-1.15c-2.55 0-4.96.4-7.23 1.2-2.27.8-4.07 1.9-5.41 3.3a5.8 5.8 0 00-1.72 3.73zm4.35 1.1c-2.46.54-3.88 1.04-4.26 1.49.38.51 1.8 1.02 4.26 1.53s5.79.77 10 .77 7.54-.25 10-.77c2.46-.51 3.94-1.02 4.45-1.53-.51-.45-1.99-.94-4.45-1.49-2.46-.54-5.79-.81-10-.81s-7.54.27-10 .81zm9.04-24.07h-6.7v-2.2h6.7v-6.7h2.11v6.7h6.7v2.2h-6.7v6.7h-2.11v-6.7zm-2.05-27.61a4.36 4.36 0 00-1.29 3.21c0 1.28.43 2.35 1.29 3.21A4.14 4.14 0 0050 24.7a4.37 4.37 0 004.5-4.5 4.39 4.39 0 00-4.5-4.5c-1.15 0-2.15.43-3.01 1.29zm4.16 61.97c0 1.28.29 2.38.86 3.3a7.59 7.59 0 002.11 2.25c.83.57 1.72 1 2.68 1.29.96.29 1.64.43 2.06.43h2.73c1.4 0 2.93-.35 4.59-1.05 1.02-.45 2.17-.83 3.45-1.15 1.27-.32 2.2-.48 2.78-.48 1.85 0 3.65.32 5.41.96 1.75.64 3.43 1.69 5.03 3.16l3.64-7.37a15.07 15.07 0 00-5.03-2.87 17.4 17.4 0 00-5.41-.86c-.58 0-1.48.16-2.73.48a34.5 34.5 0 00-3.4 1.05c-1.66.64-3.19.97-4.59 1l-2.2.05c-.77 0-1.53-.07-2.3-.19a6.83 6.83 0 01-2.06-.67 3.8 3.8 0 01-1.49-1.44 5.03 5.03 0 01-.57-2.58c-.89.13-1.91.21-3.06.24-1.15.03-1.98.05-2.49.05v4.4z'/%3E%3C/g%3E%3C/svg%3E";

    wK="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='12.36' y1='52.5' x2='87.64' y2='52.5'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M83.56 40.48c2.72 2.73 4.08 6.39 4.08 10.97 0 2.04-.33 3.96-1 5.77a24.28 24.28 0 01-2.56 5.06 33.6 33.6 0 01-3.51 4.39c-1.3 1.37-2.55 2.65-3.75 3.86l-1.33 1.24c-1.27 1.27-2.01 2.32-2.23 3.15-.22.83-.17 1.4.14 1.72a11.05 11.05 0 012.42 4.05 12 12 0 01.81 3.58c0 .83-.03 1.48-.09 1.95-.07.48-.25.87-.57 1.19-.76.76-2.08 1.4-3.94 1.91-1.87.51-4 .92-6.41 1.24-2.41.32-4.97.56-7.69.72a134.39 134.39 0 01-15.81 0c-2.75-.16-5.35-.4-7.78-.72a47.15 47.15 0 01-6.41-1.24c-1.84-.51-3.13-1.14-3.89-1.91a2.35 2.35 0 01-.76-1.81c0-1.66.29-3.26.86-4.82a12.71 12.71 0 012.47-4.15c.19-.32.19-.89 0-1.72s-.89-1.88-2.09-3.15l-1.23-1.24a113.9 113.9 0 01-3.8-3.81 34.66 34.66 0 01-3.51-4.34 22.17 22.17 0 01-2.61-5.05c-.67-1.81-1-3.77-1-5.86 0-4.58 1.36-8.23 4.08-10.97 2.72-2.73 6.39-4.1 11.01-4.1 1.2 0 2.53.19 3.99.57 1.46.38 2.96.97 4.51 1.76 1.55.8 3.08 1.8 4.6 3a25.5 25.5 0 014.27 4.39 51 51 0 01-1.95-8.72c-.35-2.77.08-4.97 1.28-6.63.88-1.27 2.43-2.07 4.65-2.38v-6.29h-4.65V19.8h4.65v-6.3h2.28v6.29h4.84v2.29h-4.84v6.29c2.15.26 3.76 1.11 4.84 2.57a6 6 0 011.09 2.77c.16 1.08.17 2.27.05 3.57-.13 1.3-.38 2.69-.76 4.15-.38 1.46-.79 2.96-1.23 4.48a26.52 26.52 0 018.97-7.25 24.08 24.08 0 014.51-1.72c1.46-.38 2.79-.57 3.99-.57 4.62.01 8.29 1.38 11.01 4.11z'/%3E%3Cg%3E%3Cpath d='M83.56 40.48c2.72 2.74 4.08 6.39 4.08 10.97 0 2.04-.33 3.96-1 5.77s-1.52 3.5-2.56 5.05a33.6 33.6 0 01-3.51 4.39c-1.3 1.37-2.55 2.65-3.75 3.86l-1.33 1.24c-1.26 1.27-2.01 2.32-2.23 3.15-.22.83-.17 1.4.14 1.72a11.05 11.05 0 012.42 4.05 12 12 0 01.81 3.58c0 .82-.03 1.48-.1 1.95a2 2 0 01-.57 1.19c-.76.77-2.08 1.4-3.94 1.91-1.87.51-4 .92-6.41 1.24-2.41.32-4.97.55-7.69.72a137.12 137.12 0 01-15.81 0c-2.75-.16-5.35-.4-7.79-.72a47.15 47.15 0 01-6.41-1.24c-1.84-.51-3.13-1.14-3.89-1.91a2.35 2.35 0 01-.76-1.81c0-1.66.29-3.26.86-4.82a12.71 12.71 0 012.47-4.15c.19-.32.19-.89 0-1.72s-.89-1.88-2.09-3.15l-1.23-1.24a113.9 113.9 0 01-3.8-3.81 35.4 35.4 0 01-3.51-4.34 22.17 22.17 0 01-2.61-5.05 16.8 16.8 0 01-1-5.87c0-4.58 1.36-8.23 4.08-10.97 2.72-2.73 6.39-4.1 11.01-4.1 1.2 0 2.53.19 3.99.57 1.46.38 2.96.97 4.51 1.76 1.55.8 3.08 1.8 4.6 3a25.5 25.5 0 014.27 4.39 51 51 0 01-1.95-8.72c-.35-2.77.08-4.97 1.28-6.63.88-1.27 2.43-2.07 4.65-2.38v-6.29h-4.65v-2.29h4.65V13.5h2.28v6.29h4.84v2.29h-4.84v6.29c2.15.26 3.76 1.11 4.84 2.57A6 6 0 0157 33.71c.16 1.08.17 2.27.05 3.57-.13 1.3-.38 2.69-.76 4.15-.38 1.46-.79 2.96-1.23 4.48a26.52 26.52 0 0113.48-8.96c1.46-.38 2.79-.57 3.99-.57 4.64 0 8.31 1.37 11.03 4.1zM15.63 56.6c.6 1.59 1.39 3.1 2.37 4.53a33.3 33.3 0 003.27 4.05c1.2 1.27 2.4 2.51 3.61 3.72l.38.38c1.71-1.84 4.57-3.05 8.59-3.62 4.02-.57 9-.89 14.95-.95-.13-4.58-.98-8.51-2.56-11.78a27.74 27.74 0 00-5.65-8.06 21.27 21.27 0 00-6.88-4.58 17.57 17.57 0 00-6.27-1.43c-3.99 0-7.11 1.11-9.35 3.34-2.25 2.23-3.37 5.31-3.37 9.25.01 1.84.31 3.56.91 5.15zm52.22 31.28c3.95-.83 6.13-1.59 6.5-2.29a5.54 5.54 0 00-1.85-.91c-.98-.35-2.45-.67-4.41-.95a97.77 97.77 0 00-7.36-.71c-2.94-.19-6.5-.29-10.68-.29-4.24 0-7.85.11-10.82.33a87.7 87.7 0 00-7.41.81c-1.96.32-3.43.63-4.41.95-.98.31-1.57.6-1.76.86.44.64 2.64 1.37 6.6 2.2 3.95.82 9.89 1.24 17.8 1.24 7.91-.01 13.84-.42 17.8-1.24zm5.27-7.49c-.44-.79-.92-1.51-1.42-2.15-2.03-1.59-4.72-2.51-8.07-2.77-3.35-.26-7.09-.38-11.2-.38h-4.65c-4.18 0-7.96.13-11.34.38-3.39.26-6.12 1.18-8.21 2.77-.51.7-.97 1.43-1.38 2.19a7.46 7.46 0 00-.81 2.48 20.78 20.78 0 014.79-1.38c1.93-.36 4-.62 6.22-.81 2.21-.19 4.46-.32 6.74-.38a195.58 195.58 0 0112.44 0c2.22.06 4.43.19 6.65.38 2.21.19 4.29.46 6.22.81 1.93.35 3.56.81 4.89 1.38a7.86 7.86 0 00-.87-2.52zM62.67 73c3.1.19 5.79.86 8.07 2a9.43 9.43 0 012.28-4.01 8.26 8.26 0 00-3.61-2.1 31.8 31.8 0 00-5.51-1.19 62.26 62.26 0 00-6.69-.52 283.3 283.3 0 00-14.72 0c-2.44.06-4.68.24-6.74.52-2.06.29-3.86.69-5.41 1.19a8.24 8.24 0 00-3.56 2.1 7.32 7.32 0 012.37 4 21.5 21.5 0 018.26-2c3.17-.19 6.61-.28 10.35-.28h4.65c3.75.01 7.16.1 10.26.29zM45.11 33.72c-.13.63-.19 1.33-.19 2.1 0 2.03.38 4.35 1.14 6.96a355.89 355.89 0 003.18 10.3l.81 2.57c.19-.82.43-1.68.71-2.57l.9-2.77 2.18-7.53a25.25 25.25 0 001.14-6.96c0-.76-.07-1.46-.19-2.1a5.3 5.3 0 00-.66-1.72c-.38-.51-.9-.91-1.57-1.19a6.34 6.34 0 00-2.52-.43c-1.83 0-3.23.54-4.18 1.62a4.37 4.37 0 00-.75 1.72zm33.56 31.37A33.71 33.71 0 0082 61.08c.98-1.4 1.79-2.89 2.42-4.48.63-1.59.95-3.3.95-5.15 0-3.94-1.14-7.02-3.42-9.25-2.28-2.22-5.41-3.34-9.4-3.34-1.84 0-3.94.48-6.32 1.43a21.4 21.4 0 00-6.83 4.58 27.6 27.6 0 00-5.65 8.06c-1.58 3.27-2.47 7.2-2.66 11.78 5.82.06 10.78.38 14.86.95s6.98 1.78 8.69 3.62l.38-.48c1.2-1.2 2.42-2.44 3.65-3.71z'/%3E%3C/g%3E%3C/svg%3E";

    wQ="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='8.23' y1='52.5' x2='91.77' y2='52.5'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M86.2 24c1.5 0 2.8.6 3.9 1.7s1.7 2.4 1.7 3.9c0 1.6-.6 2.9-1.7 4a5.28 5.28 0 01-3.9 1.6H86l-1.5 5.7c-.6 2.3-1.3 4.8-2 7.4-.7 2.6-1.5 5.3-2.2 8-.8 2.7-1.5 5.2-2.1 7.4-.7 2.2-1.3 4.1-1.8 5.6s-.9 2.3-1.1 2.5a9.8 9.8 0 00-1.9 5.8 5 5 0 001.1 2.7c.4.6.8 1.3 1.2 2.1.4.8.6 1.9.6 3.3 0 .9-.6 1.7-1.7 2.3-1.1.6-2.5 1.2-4.2 1.6-1.7.4-3.6.7-5.7 1-2.1.3-4.1.4-6.1.6-2 .1-3.8.2-5.3.2h-6.9c-1.6 0-3.4-.1-5.3-.2s-4-.3-6.1-.6c-2.1-.3-4-.6-5.7-1-1.7-.4-3.1-.9-4.2-1.6-1.1-.6-1.7-1.4-1.7-2.3 0-1.4.2-2.5.6-3.3.4-.8.8-1.5 1.2-2.1.8-.9 1.2-1.8 1.2-2.7 0-2-.7-3.9-2-5.8-.1-.1-.2-.3-.3-.6l-.8-2.4-1.8-5.8c-.8-2.6-1.8-6.2-3.1-10.7L15 40c-.3-1.1-.6-2.1-.9-2.9-.3-.8-.4-1.4-.6-1.9-1.5 0-2.8-.5-3.9-1.6a5.35 5.35 0 01-1.6-4c0-1.5.5-2.8 1.6-3.9S12 24 13.5 24s2.8.6 4 1.7a5.38 5.38 0 01.8 6.9c-.6.9-1.3 1.5-2.2 2.1l13.4 21.8V26.6c-1.3-.3-2.3-.9-3.2-1.9-.9-1-1.3-2.1-1.3-3.5 0-1.6.6-2.9 1.7-4s2.4-1.6 3.9-1.6c1.7 0 3 .5 4.1 1.6 1.1 1.1 1.6 2.4 1.6 4 0 1.3-.4 2.4-1.1 3.4-.8 1-1.7 1.6-2.9 2L42.5 55l6-30.6c-1.1-.3-2.1-1-3-2-.8-1-1.2-2.1-1.2-3.4 0-1.6.6-2.9 1.7-4s2.4-1.6 3.9-1.6c1.6 0 2.9.5 4.1 1.6 1.1 1.1 1.7 2.4 1.7 4 0 1.3-.4 2.4-1.2 3.4-.8 1-1.8 1.6-3 2l6 30.6 10.1-28.5c-1.1-.3-2.1-1-2.9-2-.8-1-1.2-2.1-1.2-3.4 0-1.6.5-2.9 1.6-4s2.4-1.6 4.1-1.6c1.5 0 2.8.5 3.9 1.6s1.7 2.4 1.7 4c0 1.3-.4 2.5-1.3 3.5s-1.9 1.6-3.2 1.9v29.8l13.4-21.8c-2-1-3-2.7-3-5.1 0-1.5.5-2.8 1.6-3.9 1-.9 2.3-1.5 3.9-1.5z'/%3E%3Cg%3E%3Cpath d='M86.2 24c1.5 0 2.8.6 3.9 1.7s1.7 2.4 1.7 3.9c0 1.6-.6 2.9-1.7 4a5.28 5.28 0 01-3.9 1.6H86l-1.5 5.7c-.6 2.3-1.3 4.8-2 7.4-.7 2.6-1.5 5.3-2.2 8-.8 2.7-1.5 5.2-2.1 7.4-.7 2.2-1.3 4.1-1.8 5.6s-.9 2.3-1.1 2.5a9.8 9.8 0 00-1.9 5.8 5 5 0 001.1 2.7c.4.6.8 1.3 1.2 2.1.4.8.6 1.9.6 3.3 0 .9-.6 1.7-1.7 2.3-1.1.6-2.5 1.2-4.2 1.6-1.7.4-3.6.7-5.7 1-2.1.3-4.1.4-6.1.6-2 .1-3.8.2-5.3.2h-6.9c-1.6 0-3.4-.1-5.3-.2s-4-.3-6.1-.6c-2.1-.3-4-.6-5.7-1-1.7-.4-3.1-.9-4.2-1.6-1.1-.6-1.7-1.4-1.7-2.3 0-1.4.2-2.5.6-3.3.4-.8.8-1.5 1.2-2.1.8-.9 1.2-1.8 1.2-2.7 0-2-.7-3.9-2-5.8-.1-.1-.2-.3-.3-.6l-.8-2.4-1.8-5.8c-.8-2.6-1.8-6.2-3.1-10.7L15 40c-.3-1.1-.6-2.1-.9-2.9-.3-.8-.4-1.4-.6-1.9-1.5 0-2.8-.5-3.9-1.6a5.35 5.35 0 01-1.6-4c0-1.5.5-2.8 1.6-3.9S12 24 13.5 24s2.8.6 4 1.7a5.38 5.38 0 01.8 6.9c-.6.9-1.3 1.5-2.2 2.1l13.4 21.8V26.6c-1.3-.3-2.3-.9-3.2-1.9-.9-1-1.3-2.1-1.3-3.5 0-1.6.6-2.9 1.7-4s2.4-1.6 3.9-1.6c1.7 0 3 .5 4.1 1.6 1.1 1.1 1.6 2.4 1.6 4 0 1.3-.4 2.4-1.1 3.4-.8 1-1.7 1.6-2.9 2L42.5 55l6-30.6c-1.1-.3-2.1-1-3-2-.8-1-1.2-2.1-1.2-3.4 0-1.6.6-2.9 1.7-4s2.4-1.6 3.9-1.6c1.6 0 2.9.5 4.1 1.6 1.1 1.1 1.7 2.4 1.7 4 0 1.3-.4 2.4-1.2 3.4-.8 1-1.8 1.6-3 2l6 30.6 10.1-28.5c-1.1-.3-2.1-1-2.9-2-.8-1-1.2-2.1-1.2-3.4 0-1.6.5-2.9 1.6-4s2.4-1.6 4.1-1.6c1.5 0 2.8.5 3.9 1.6s1.7 2.4 1.7 4c0 1.3-.4 2.5-1.3 3.5s-1.9 1.6-3.2 1.9v29.8l13.4-21.8c-2-1-3-2.7-3-5.1 0-1.5.5-2.8 1.6-3.9 1-.9 2.3-1.5 3.9-1.5zm-75.6 5.5c0 1 .3 1.7.9 2.3.6.6 1.4.9 2.2.9a3.26 3.26 0 003.3-3.2c0-.9-.3-1.6-1-2.2-.6-.6-1.4-.9-2.3-.9-.9 0-1.6.3-2.2.9-.6.6-.9 1.3-.9 2.2zm7.6 12.4c.8 3.2 1.8 6.7 2.8 10.4 1 3.7 2 7 3 10.1.7-.4 1.5-.7 2.4-1 .9-.3 1.9-.6 3-1-.4-.6-1-1.7-1.9-3.1-.9-1.4-1.8-3-2.9-4.7-1.1-1.7-2.2-3.6-3.3-5.4-1.1-1.9-2.2-3.7-3.1-5.3zm31.7 22.9c6.7 0 11.9.3 15.8 1 3.8.7 6.6 1.8 8.3 3.4.3-.6.5-1.2.7-1.9.2-.7.4-1.5.8-2.5-1-.6-2.4-1.2-4.1-1.7-1.7-.5-3.6-.9-5.8-1.2-2.2-.3-4.6-.6-7.2-.8-2.6-.2-5.3-.2-8.2-.2-2.4 0-4.8.1-7.3.2s-4.9.3-7.2.7-4.4.7-6.3 1.2c-1.9.5-3.5 1.1-4.6 1.8.3 1 .5 1.8.7 2.5.2.7.4 1.3.7 1.9 1.7-1.6 4.5-2.7 8.3-3.4s8.8-1 15.4-1zm0 24.3c7.8 0 13.7-.4 17.7-1.2 3.9-.8 6.1-1.5 6.5-2.1-.4-.7-2.5-1.4-6.5-2.2-3.9-.8-9.8-1.2-17.7-1.2-7.7 0-13.5.4-17.4 1.2-3.9.8-6.1 1.5-6.5 2.2.4.6 2.5 1.3 6.4 2.1 3.8.8 9.6 1.2 17.5 1.2zm0-15.4c-10.1 0-17.2 1.5-21.1 4.5-.1.8-.3 1.4-.6 2-.3.5-.6 1-1 1.5-.1.2-.2.4-.3.5l-.3.6c1.5-.6 3.5-1.1 5.8-1.5 2.3-.4 4.6-.7 7-.9 2.3-.2 4.5-.3 6.4-.4 1.9-.1 3.3-.1 4.2-.1.9 0 2.3 0 4.3.1s4.1.2 6.4.4c2.3.2 4.6.5 7 .9 2.3.4 4.2.9 5.8 1.5-.1-.3-.2-.5-.3-.6-.1-.2-.2-.3-.3-.5-.3-.4-.6-.9-1-1.5-.3-.5-.5-1.2-.6-2-4.1-3-11.2-4.5-21.4-4.5zm0-6.5c-2 0-4.2 0-6.6.1-2.4.1-4.6.3-6.8.6s-4.1.7-5.8 1.2c-1.7.5-2.9 1.3-3.7 2.2.4.6.7 1.2.9 2 .2.8.5 1.5.7 2.2 2.2-1.5 5.1-2.5 8.5-3 3.5-.5 7.7-.8 12.6-.8 5.2 0 9.5.3 12.9.8 3.4.5 6.3 1.5 8.5 3 .3-.7.5-1.4.8-2.2.3-.8.6-1.4 1-2-.9-1-2.2-1.7-3.9-2.2-1.7-.5-3.7-1-5.8-1.2-2.2-.3-4.4-.5-6.8-.6-2.2-.1-4.4-.1-6.5-.1zm-22.4-46c0 .9.3 1.7 1 2.3.7.6 1.4 1 2.2 1 1 0 1.7-.3 2.4-1 .6-.6 1-1.4 1-2.3 0-1-.3-1.7-1-2.3-.6-.6-1.4-.9-2.4-.9a3.26 3.26 0 00-3.2 3.2zM32 59.9c1.5-.3 3.1-.6 4.7-.7 1.6-.2 3.1-.3 4.6-.4L32 32.3v27.6zm12.2-1.2c.6-.1 1.2-.1 1.7-.1h8c.6 0 1.1 0 1.7.1l-5.8-29.2-5.6 29.2zm2.4-39.6c0 .9.3 1.6 1 2.2.7.6 1.4.9 2.2.9.9 0 1.7-.3 2.4-.9.7-.6 1-1.4 1-2.2 0-1-.4-1.7-1-2.3-.7-.6-1.5-.9-2.4-.9-.8 0-1.6.3-2.2.9-.7.6-1 1.4-1 2.3zm12 39.7c1.5.1 3 .3 4.6.4 1.6.2 3.2.4 4.7.7V32.3l-9.3 26.5zm7.2-37.6c0 .9.3 1.7 1 2.3.7.6 1.4 1 2.3 1 .8 0 1.6-.3 2.2-1 .7-.6 1-1.4 1-2.3 0-1-.3-1.7-1-2.3-.6-.6-1.3-.9-2.2-.9-.9 0-1.7.3-2.3.9-.7.6-1 1.4-1 2.3zM76 62.4c.8-2.7 1.7-5.9 2.7-9.5 1-3.6 2-7.3 3.1-11.1-1 1.7-2 3.4-3.2 5.3-1.1 1.9-2.2 3.7-3.3 5.4-1 1.8-2 3.3-2.9 4.7-.9 1.4-1.5 2.4-1.9 3.1 1 .3 2 .6 3 1 1 .3 1.8.7 2.5 1.1zm10.2-29.6a3.26 3.26 0 003.3-3.2c0-.9-.3-1.6-1-2.2-.6-.6-1.4-.9-2.3-.9-1 0-1.7.4-2.3 1.1-.6.7-.9 1.4-.9 2.1 0 1 .3 1.7.9 2.3.6.5 1.4.8 2.3.8z'/%3E%3C/g%3E%3C/svg%3E";

    wP="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='23.33' y1='52.5' x2='76.67' y2='52.5'%3E%3Cstop offset='.3' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M41.81 22.91a8.87 8.87 0 014.65-4.7 8.68 8.68 0 016.92 0 8.73 8.73 0 015.5 8.13c0 1.38-.31 2.67-.94 3.86a9.96 9.96 0 01-2.54 3.1 16 16 0 018.14 4.99 12.1 12.1 0 013.06 8.09c0 2.51-.72 4.78-2.17 6.82a16.96 16.96 0 01-5.74 5.04c2.63.69 5.06 1.66 7.29 2.92a23.13 23.13 0 015.69 4.42 19.76 19.76 0 013.67 5.55 15.54 15.54 0 011.32 6.3V87.5H23.33V77.43c0-2.2.44-4.3 1.32-6.3a19.31 19.31 0 013.72-5.55c1.6-1.7 3.51-3.17 5.74-4.42a30.86 30.86 0 017.29-2.92c-2.51-1.32-4.49-3-5.93-5.04a12 12 0 01.95-14.91 16.34 16.34 0 018.19-4.99 10.07 10.07 0 01-2.54-3.1 8.13 8.13 0 01-.94-3.86 8.28 8.28 0 01.68-3.43z'/%3E%3Cg%3E%3Cpath d='M41.81 22.91a8.87 8.87 0 014.65-4.7 8.68 8.68 0 016.92 0 8.73 8.73 0 015.5 8.13c0 1.38-.31 2.67-.94 3.86a9.96 9.96 0 01-2.54 3.1 16 16 0 018.14 4.99 12.1 12.1 0 013.06 8.09c0 2.51-.72 4.78-2.17 6.82a16.96 16.96 0 01-5.74 5.04c2.63.69 5.06 1.66 7.29 2.92a23.13 23.13 0 015.69 4.42 19.76 19.76 0 013.67 5.55 15.54 15.54 0 011.32 6.3V87.5H23.33V77.43c0-2.2.44-4.3 1.32-6.3a19.31 19.31 0 013.72-5.55c1.6-1.7 3.51-3.17 5.74-4.42a30.86 30.86 0 017.29-2.92c-2.51-1.32-4.49-3-5.93-5.04a12 12 0 01.95-14.91 16.34 16.34 0 018.19-4.99 10.07 10.07 0 01-2.54-3.1 8.13 8.13 0 01-.94-3.86 8.28 8.28 0 01.68-3.43zM25.4 85.43h49.11v-8c0-2.13-.49-4.19-1.46-6.16A18.16 18.16 0 0069 65.91a23.82 23.82 0 00-6.21-4.09 28.95 28.95 0 00-7.86-2.35l-.09-1.98a14.67 14.67 0 006.96-4.33 10.02 10.02 0 001.74-10.87A11.37 11.37 0 0061 38.81a14.43 14.43 0 00-3.86-2.59 17 17 0 00-4.84-1.41l-.28-2.07a7.1 7.1 0 003.44-2.45 6.4 6.4 0 001.27-3.95c0-1.88-.67-3.48-2.02-4.8-1.35-1.32-2.93-1.98-4.75-1.98s-3.39.66-4.7 1.98-1.98 2.92-1.98 4.8c0 1.5.41 2.82 1.22 3.95a6.8 6.8 0 003.39 2.45l-.09 2.07c-1.82.25-3.48.72-4.99 1.41-1.5.69-2.79 1.55-3.86 2.59s-1.91 2.2-2.54 3.48a9.19 9.19 0 00-.94 4.09c0 2.51.88 4.77 2.63 6.78a14.7 14.7 0 007.06 4.33l-.19 1.98a28.3 28.3 0 00-7.81 2.35 24.88 24.88 0 00-6.21 4.09 17.93 17.93 0 00-4.09 5.36 14.03 14.03 0 00-1.46 6.26v7.9z'/%3E%3C/g%3E%3C/svg%3E";

    bR="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='27.75' y1='54.88' x2='73.33' y2='54.88'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M50 28.83h22.58v3.67L67 37v28.25l6.33 6.58v9.09H27.75v-9.5l5.5-4.5V37.67l-5.5-4.75v-4.09z'/%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='20' y1='52.33' x2='80' y2='52.33'%3E%3Cstop offset='0' stop-color='" + bColor + "'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M80 78.89v8.95H20v-8.95h5.75c0-4.9.31-7.64.94-8.24a583.4 583.4 0 004.38-4.24c.72-.72 1.14-1.18 1.27-1.37V38.77l-1.27-1.27c-.72-.72-1.49-1.47-2.31-2.26-.82-.78-1.85-1.8-3.11-3.06V16.82h11.02v6.59h7.06v-6.59h12.43v6.59h7.07v-6.59h11.11c0 10.24-.09 15.43-.09 15.43l-3.02 2.99s-1.57 1.54-2.26 2.26l-1.22 1.27v26.28c.13.19.53.64 1.22 1.37a178.74 178.74 0 005.18 5.13v7.35H80zm-9.04-46.71v-1.41H28.95v1.41l1.41 1.22h39.18l1.42-1.22zM28.95 76.35v2.64h42.01v-2.64H28.95zm42.2-4.9l-1.51-1.32H30.46l-1.41 1.32v1.32h42.1v-1.32zM34.79 38.86v2.73h30.24v-2.73H34.79zm0 23.55v2.64h30.24v-2.64H34.79z'/%3E%3C/svg%3E";

    bN="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='11.48' y1='51' x2='88.5' y2='51'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M51.419999999999995 53.230000000000004a14.55 14.55 0 01-5.98 5.04c-1.57.74-3.23 1.28-4.77 2.07-2.44 1.25-4.32 3.84-6.07 5.88-.78.9-1.49 1.87-2.27 2.77-1.5 1.75-3.18 3.8-5.47 4.5-2.67.82-5.54.35-8.03-.8a13.95 13.95 0 01-6.27-5.62c-1.4-2.47-1.22-5.51-.72-8.21a18.53 18.53 0 012.69-6.32 48.57 48.57 0 012.22-3.29c.37-.5.87-.9 1.21-1.41 1.42-2.13 2.98-4.23 3.96-6.61.93-2.26.48-4.8.99-7.17.48-2.23 1.65-4.14 2.89-6.01.49-.73 1.12-1.38 1.57-2.14l23.66-3.33c.81.03 1.62.08 2.43.16A30.56 30.56 0 0168.5 28.4c8.74 6.41 13.45 16.93 16.17 27.12 2.97 11.15 3.82 22.78 3.82 34.29H62.13L51.42 53.23z'/%3E%3Cg%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='11.48' y1='51' x2='88.5' y2='51'%3E%3Cstop offset='0' stop-color='" + bColor + "'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M45.73 12.17c1.06 1.45 2.14 2.9 3.01 4.47.7 1.26 1.42 2.57 1.86 3.95.21.65.36 1.33.43 2.01.81.03 1.62.08 2.43.16a30.56 30.56 0 0115.04 5.66c8.74 6.41 13.45 16.93 16.17 27.12 2.97 11.15 3.82 22.78 3.82 34.29H33.96c0-3.49.22-7.11 1.33-10.45a14.96 14.96 0 016.16-7.86c6.66-3.7 8.92-11.22 9.96-18.3a14.55 14.55 0 01-5.98 5.04c-1.57.74-3.23 1.28-4.77 2.07-2.44 1.25-4.32 3.84-6.07 5.88-.78.9-1.49 1.87-2.27 2.77-1.5 1.75-3.18 3.8-5.47 4.5-2.67.82-5.54.35-8.03-.8a13.95 13.95 0 01-6.27-5.62c-1.4-2.47-1.22-5.51-.72-8.21a18.53 18.53 0 012.69-6.32 48.57 48.57 0 012.22-3.29c.37-.5.87-.9 1.21-1.41 1.42-2.13 2.98-4.23 3.96-6.61.93-2.26.48-4.8.99-7.17.48-2.23 1.65-4.14 2.89-6.01.49-.73 1.12-1.38 1.57-2.14.49-.83.25-2.18.11-3.1-.15-.96-.49-1.79-.52-2.79-.03-1.18-.02-2.39.19-3.55.22-1.27.93-2.38 1.42-3.56 1.39 1.01 2.85 1.95 4.13 3.11 1.04.94 2.01 1.96 2.94 3.01.46.52.88 1.07 1.27 1.65.19.29.38.58.55.89.26.45.29.97.86.86.71-.14 1.42-.25 2.13-.36.54-.08.37-.28.45-.76.05-.35.12-.7.2-1.04.32-1.36.87-2.67 1.5-3.91a19.8 19.8 0 013.14-4.18M19.18 57.92a10.45 10.45 0 00-2.97 4.3c-.17.5-.51 1.44-.09 1.91.48.54 1.14.13 1.59-.23a10.36 10.36 0 002.93-4.24c.19-.5.6-1.48.17-1.97-.47-.55-1.19-.14-1.63.23m3.75 13.9c.22.05.45.03.67.01.66-.07.58-.16.77-.74.24-.75.74-1.33 1.12-2.01a8.6 8.6 0 001.38-4.47h-2.29c-.12 0-.17 1.16-.22 1.38-.25 1.12-.95 2.1-1.55 3.06a6.65 6.65 0 00-.84 1.79c-.12.42-.26.56.2.74.23.09.49.18.76.24m11.61-35.85a7.87 7.87 0 011.52-.38c.06-.08 0-.48 0-.58v-1.88c-2.11.5-4.34 1.17-5.97 2.66-1.67 1.51-2.62 3.65-3.22 5.78h2.11c.37 0 .57-1.18.74-1.53.33-.69.87-1.28 1.32-1.89-.64 1.31.41 3.67 2.06 3.29 1.78-.4 1.84-4.2.5-5.09l.94-.38m5.6-11c-3.37.37-6.75 1.3-9.58 3.22l1.32 1.76c.21.29.87-.4 1.15-.56.76-.44 1.58-.79 2.42-1.05.49-.15 4.69-1.01 4.69-1.17v-2.2m10.9 2.18c12.17.64 19.59 11.04 23.36 21.61 4.27 11.98 5.46 25.01 5.66 37.65.01.54.06.4.54.4h3.55c0-12.59-1.62-25.55-6.03-37.4-3.84-10.32-10.79-21.33-22.29-23.93a26.48 26.48 0 00-4.78-.6l-.01 2.27m3.99 24.66c1.35-3.3 1.9-6.88 1.9-10.43h-1.84c-.42 0-.43-.12-.43.38a29.2 29.2 0 01-.12 2.48c-.23 2.59-.82 5.36-2.25 7.57h2.74'/%3E%3C/g%3E%3C/svg%3E";

    bB="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='34.38' y1='56.08' x2='65.13' y2='56.08'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='.58' stop-color='"+ wShade +"'/%3E%3Cstop offset='.81' stop-color='%23ebe6c2'/%3E%3Cstop offset='1' stop-color='%23d9d3b2'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M57.5 78.75V72.5h7.63v-6.12h-2.88V33.42H37.13v32.71h-2.75V72H43v6.75z'/%3E%3Cg%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='11.29' y1='52.5' x2='88.71' y2='52.5'%3E%3Cstop offset='0' stop-color='" + bColor + "'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M66.15 65.91a6.9 6.9 0 01.93 3.28v2.35c0 .59-.26 1.09-.78 1.52-.52.42-1.19.8-2.01 1.13-.82.32-1.76.6-2.84.83a35.6 35.6 0 01-3.28.54 4.32 4.32 0 002.4 3.42c.55.26 1.11.42 1.66.49.55.06.99.1 1.32.1l2.11-.1a15.5 15.5 0 004.26-.88c.98-.46 2.17-.87 3.57-1.22 1.4-.36 2.46-.54 3.18-.54 4.44 0 8.22 1.43 11.35 4.31l.69.59-4.8 9.79-1.08-.98a14.57 14.57 0 00-9.98-3.82 23.97 23.97 0 00-5.87 1.47c-.85.39-1.68.67-2.5.83a22.1 22.1 0 01-3.96.44h-.78c-1.44 0-3.13-.47-5.09-1.42a12.18 12.18 0 01-4.6-3.67 9.43 9.43 0 01-2.01 2.15 15.22 15.22 0 01-5.28 2.75 8.3 8.3 0 01-2.3.39c-.2 0-1.06-.05-2.59-.15-1.53-.1-3.12-.51-4.75-1.22a38.53 38.53 0 00-3.38-1.08 11.33 11.33 0 00-2.59-.49c-3.91 0-7.24 1.27-9.98 3.82l-1.08.98-4.79-9.79.69-.59a16.63 16.63 0 0111.35-4.21c.78 0 1.86.18 3.23.54 1.37.36 2.58.73 3.62 1.12a8.9 8.9 0 002.2.69 19.6 19.6 0 003.48.3h.78c1.24 0 2.38-.29 3.43-.88 1.04-.59 1.7-1.63 1.96-3.13a35.6 35.6 0 01-3.28-.54 20.07 20.07 0 01-2.89-.83 7.4 7.4 0 01-2.05-1.13 1.91 1.91 0 01-.78-1.52V69.2c0-2.09.81-3.98 2.45-5.68.13-.19.24-.32.34-.39.1-.06.21-.16.34-.29.06-.26-.03-.76-.29-1.52-.26-.75-.95-1.58-2.05-2.5-3.65-3.13-5.48-7.54-5.48-13.21 0-1.89.34-3.59 1.03-5.09s1.53-2.82 2.54-3.96c1.01-1.14 2.09-2.1 3.23-2.89s2.17-1.4 3.08-1.86c4.11-2.09 6.88-3.95 8.32-5.58a6.68 6.68 0 01-2.35-2.35 6.52 6.52 0 01-.98-3.52c0-1.89.67-3.51 2.01-4.85a6.6 6.6 0 014.85-2.01c1.89 0 3.51.67 4.84 2.01a6.6 6.6 0 012.01 4.85 6 6 0 01-.98 3.42 8.66 8.66 0 01-2.45 2.45c.78.85 1.84 1.71 3.18 2.59 1.34.88 3.05 1.88 5.14 2.99.91.46 1.94 1.08 3.08 1.86s2.22 1.75 3.23 2.89a15.7 15.7 0 012.54 3.96c.69 1.5 1.03 3.2 1.03 5.09 0 5.74-1.83 10.15-5.48 13.21a6.1 6.1 0 00-2.05 2.54c-.26.78-.36 1.27-.29 1.47.88.91 1.65 1.94 2.27 3.08zm-5.87 3.62c2.51.55 4 1.09 4.45 1.61l.15-1.13c.03-.29-.02-.77-.15-1.42a21.74 21.74 0 00-3.96-1.13c-1.53-.29-3.03-.5-4.5-.63a64.04 64.04 0 00-3.96-.24l-2.25-.05-2.25.05c-1.17.03-2.51.11-4.01.24s-3.02.34-4.55.63c-1.53.29-2.86.67-3.96 1.13a5.41 5.41 0 00-.15 1.42c.03.29.11.67.25 1.13.39-.52 1.86-1.06 4.4-1.61s5.97-.83 10.28-.83c4.28 0 7.69.28 10.21.83zm-2.94-7.44c2.25.69 4.06 1.75 5.43 3.18a4.91 4.91 0 01-1.08-1.96 3.62 3.62 0 010-1.67c-3.2-1.89-7.08-2.84-11.65-2.84-4.63 0-8.58.95-11.84 2.84.46 1.11.16 2.32-.88 3.62a11.59 11.59 0 015.33-3.18 25.43 25.43 0 017.39-1.03c2.62.01 5.05.36 7.3 1.04zm-5.92-20.5v-6.46c0-1.04-.52-1.57-1.57-1.57-.33 0-.62.15-.88.44-.26.29-.39.67-.39 1.13v6.46h-6.46c-.39 0-.73.15-1.03.44-.29.29-.44.64-.44 1.03s.15.72.44.98c.29.26.64.39 1.03.39h6.46v6.56c0 .39.13.72.39.98s.55.39.88.39c1.04 0 1.57-.46 1.57-1.37v-6.56h6.56c.91 0 1.37-.46 1.37-1.37 0-.39-.13-.73-.39-1.03a1.27 1.27 0 00-.98-.44h-6.56zm-5.24 36.99c1.08.07 2.01.1 2.79.1v-2.54c-.78 0-1.6-.02-2.45-.05-.85-.03-1.73-.11-2.64-.24-.06.52-.18.98-.34 1.37l-.44 1.08c.98.12 2.01.22 3.08.28zm7.24-2.49c-.82.03-1.61.05-2.4.05v2.54a45.8 45.8 0 005.88-.39c-.13-.33-.29-.68-.49-1.08a4.23 4.23 0 01-.39-1.37c-.91.13-1.78.21-2.6.25z'/%3E%3C/g%3E%3C/svg%3E";

    bK="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='12.19' y1='59.94' x2='87.81' y2='59.94'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M51.1 28.4c2.2.3 3.8 1.1 4.9 2.6.6.8.9 1.7 1.1 2.8.2 1.1.2 2.3.1 3.6-.1 1.3-.3 2.7-.7 4.2-.3 1.5-.7 3-1.1 4.5 1.3-1.7 2.7-3.2 4.2-4.4 1.5-1.2 3.1-2.2 4.6-3 1.5-.8 3-1.4 4.5-1.8 1.5-.4 2.8-.6 4.1-.6 4.6 0 8.2 1.4 11 4.1 2.7 2.7 4.1 6.4 4.1 11 0 2.1-.3 4.1-1 5.9-.7 1.8-1.5 3.5-2.6 5.1-1 1.6-2.2 3-3.5 4.3L77 70.5l-1.2 1.2c-1.3 1.3-2 2.3-2.2 3.1-.2.8-.2 1.4 0 1.7 1.1 1.2 1.9 2.6 2.4 4.1.5 1.5.8 2.7.9 3.5.1.8 0 1.5-.1 2s-.4.9-.7 1.2c-.8.8-2.1 1.4-4 1.9s-4 .9-6.4 1.2c-2.4.3-5 .6-7.7.7-2.7.2-5.4.2-7.9.2s-5.2-.1-8-.2-5.4-.4-7.8-.7c-2.4-.3-4.6-.7-6.4-1.2-1.8-.5-3.1-1.1-3.9-1.9-.3-.3-.5-.6-.6-1-.1-.3-.1-.6-.1-.8 0-1.7.3-3.4.9-4.9.6-1.6 1.4-2.9 2.5-4.1.3-.3.4-.9.1-1.7-.2-.8-.9-1.9-2.1-3.1l-1.3-1.2-3.8-3.8a27.14 27.14 0 01-6.1-9.4c-.7-1.8-1-3.8-1-5.9 0-4.6 1.4-8.2 4.1-11 2.8-2.7 6.4-4.1 11-4.1 1.2 0 2.5.2 4 .6 1.5.4 3 1 4.6 1.8 1.6.8 3.1 1.8 4.7 3 1.5 1.2 2.9 2.7 4.2 4.4l-1.2-4.5c-.4-1.5-.6-2.9-.7-4.2-.1-1.3 0-2.5.1-3.6.2-1.1.6-2.1 1.1-2.8.4-.8 1.1-1.3 1.9-1.8.8-.4 1.7-.7 2.7-.8'/%3E%3Cg%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='12.19' y1='52.5' x2='87.81' y2='52.5'%3E%3Cstop offset='0' stop-color='" + bColor + "'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M83.7 40.5c2.7 2.7 4.1 6.4 4.1 11 0 2.1-.3 4.1-1 5.9-.7 1.8-1.5 3.5-2.6 5.1-1 1.6-2.2 3-3.5 4.3l-3.8 3.8-1.2 1.2c-1.3 1.3-2 2.3-2.2 3.1-.2.8-.2 1.4 0 1.7 1.1 1.2 1.9 2.6 2.4 4.1.5 1.5.8 2.7.9 3.5.1.8 0 1.5-.1 2s-.4.9-.7 1.2c-.8.8-2.1 1.4-4 1.9s-4 .9-6.4 1.2c-2.4.3-5 .6-7.7.7-2.7.2-5.4.2-7.9.2s-5.2-.1-8-.2-5.4-.4-7.8-.7c-2.4-.3-4.6-.7-6.4-1.2-1.8-.5-3.1-1.1-3.9-1.9-.3-.3-.5-.6-.6-1-.1-.3-.1-.6-.1-.8 0-1.7.3-3.4.9-4.9.6-1.6 1.4-2.9 2.5-4.1.3-.3.4-.9.1-1.7-.2-.8-.9-1.9-2.1-3.1l-1.3-1.2-3.8-3.8a27.14 27.14 0 01-6.1-9.4c-.7-1.8-1-3.8-1-5.9 0-4.6 1.4-8.2 4.1-11 2.8-2.7 6.4-4.1 11-4.1 1.2 0 2.5.2 4 .6 1.5.4 3 1 4.6 1.8 1.6.8 3.1 1.8 4.7 3 1.5 1.2 2.9 2.7 4.2 4.4l-1.2-4.5c-.4-1.5-.6-2.9-.7-4.2-.1-1.3 0-2.5.1-3.6.2-1.1.6-2.1 1.1-2.8.4-.8 1.1-1.3 1.9-1.8.8-.4 1.7-.7 2.7-.8v-6.3h-4.7v-2.3h4.7v-6.3h2.3v6.3h5v2.3h-5v6.3c2.2.3 3.8 1.1 4.9 2.6.6.8.9 1.7 1.1 2.8.2 1.1.2 2.3.1 3.6-.1 1.3-.3 2.7-.7 4.2-.3 1.5-.7 3-1.1 4.5 1.3-1.7 2.7-3.2 4.2-4.4 1.5-1.2 3.1-2.2 4.6-3 1.5-.8 3-1.4 4.5-1.8 1.5-.4 2.8-.6 4.1-.6 4.4 0 8.1 1.4 10.8 4.1zM15.5 56.6c.6 1.6 1.4 3.1 2.4 4.5s2.1 2.8 3.3 4.1c1.2 1.3 2.4 2.5 3.6 3.7l1.9 1.9c1.1-.8 2.4-1.5 3.7-2 1.3-.5 2.8-.9 4.6-1.2 1.7-.3 3.8-.5 6-.7 2.3-.1 4.9-.2 7.9-.2 0-5-.8-9.2-2.3-12.7-1.6-3.5-3.4-6.4-5.7-8.7a20.2 20.2 0 00-7.1-4.9c-2.5-1-4.6-1.5-6.4-1.5-3.9 0-7.1 1.1-9.3 3.3-2.3 2.2-3.4 5.3-3.4 9.2-.1 1.9.2 3.6.8 5.2zm27.7-2.9c-1.2-2.8-2.8-5.1-4.6-7-1.8-1.8-3.7-3.1-5.7-4-2-.8-3.7-1.2-5.2-1.2-3.2 0-5.8.9-7.6 2.7s-2.7 4.3-2.7 7.5c0 1.5.3 2.8.8 4.1.5 1.3 1.2 2.5 2 3.7.8 1.2 1.7 2.3 2.7 3.3 1 1 2 2 2.9 3l1.4 1.5c.9-.6 1.9-1.2 3-1.6 1.1-.4 2.3-.8 3.8-1 1.4-.3 3.1-.4 4.9-.6 1.8-.1 3.9-.2 6.3-.2-.1-3.9-.7-7.4-2-10.2zm17.6 28.7c3 .2 5.5.5 7.4.8 2 .3 3.4.7 4.4 1 1 .3 1.6.7 1.8.9.3-.7.2-1.7-.2-2.9-1.3-.6-3-1-5-1.4-2-.4-4.1-.6-6.3-.8-2.2-.2-4.5-.3-6.7-.3H50c-2 0-4 0-6.3.1l-6.8.3a55 55 0 00-6.2.8c-1.9.3-3.5.8-4.8 1.4-.3.7-.4 1.3-.4 1.7v1.1c.2-.3.8-.6 1.8-.9 1-.4 2.5-.7 4.5-1 2-.3 4.4-.6 7.4-.8 3-.2 6.6-.3 10.8-.3s7.8.1 10.8.3zM50 75.1h8.3c1.9 0 3.7.1 5.4.3 1.7.2 3.2.5 4.6 1 1.4.4 2.6 1.1 3.6 1.9-.6-.7-.9-1.3-1-1.8-.1-.5 0-1 .1-1.5a21.6 21.6 0 00-8.3-2.1c-3.1-.2-6.6-.3-10.4-.2h-4.6c-3.8-.1-7.2 0-10.3.2-3.1.2-5.9.9-8.3 2.1.1.5.1 1 0 1.5 0 .5-.4 1.1-1 1.8 2.1-1.6 4.9-2.5 8.3-2.8s7.2-.4 11.3-.3H50zm-5.1-39.3c0 2 .4 4.4 1.1 7 .8 2.6 1.5 5.1 2.3 7.5.3 1 .6 1.9.9 2.8.3.9.6 1.7.8 2.6.2-.8.4-1.7.7-2.6.3-.9.6-1.8.9-2.8.9-2.4 1.7-4.9 2.3-7.5.7-2.6 1-4.9 1-7 0-.8-.1-1.5-.2-2.1-.1-.6-.4-1.2-.7-1.7-.8-1.1-2.1-1.6-4.1-1.6-1.8 0-3.2.5-4.2 1.6-.5 1.1-.8 2.4-.8 3.8zm4.1 7.3c-.6-1.5-1-2.9-1.4-4.2-.4-1.4-.5-2.6-.3-3.6s1-1.5 2.6-1.5 2.5.5 2.7 1.5c.2 1 .1 2.2-.3 3.6s-.9 2.8-1.5 4.2c-.6 1.5-.9 2.6-.9 3.5 0-.9-.3-2.1-.9-3.5zm29.8 22.1c1.2-1.3 2.3-2.6 3.3-4.1 1-1.4 1.8-2.9 2.4-4.5.6-1.6 1-3.3 1-5.1 0-3.9-1.1-7-3.4-9.2-2.3-2.2-5.4-3.3-9.3-3.3-1.8 0-4 .5-6.5 1.5s-4.8 2.7-7.1 4.9c-2.3 2.3-4.2 5.1-5.8 8.7-1.6 3.5-2.4 7.8-2.5 12.7 5.8 0 10.6.2 14.3.7 3.7.4 6.4 1.6 8.2 3.4l1.9-2c1.2-1.2 2.3-2.4 3.5-3.7zM77 62.9c1-1 1.9-2.2 2.7-3.3.8-1.2 1.4-2.4 2-3.7.5-1.3.8-2.7.8-4.1 0-3.2-.9-5.7-2.8-7.5-1.8-1.8-4.4-2.7-7.6-2.7-1.5 0-3.2.4-5.2 1.2-2 .8-3.9 2.1-5.7 4-1.8 1.8-3.3 4.1-4.6 7S54.7 60 54.7 64c4.8.1 8.5.4 11.1 1s4.9 1.4 6.8 2.5l1.5-1.5c.9-1 1.9-2 2.9-3.1z'/%3E%3C/g%3E%3C/svg%3E";

    bQ="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='23.63' y1='74.91' x2='76.38' y2='74.91'%3E%3Cstop offset='.4' stop-color='" + wColor + "'/%3E%3Cstop offset='1' stop-color='"+ wShade +"'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M25.81 86.38h48.94v-4l-2.56-2.82-.25-4.68 1.62-2.38 2.82-9.06H23.63l2.84 9.4 1.59 2.07-.25 4.59-2.68 3.56'/%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='8.28' y1='52.5' x2='91.72' y2='52.5'%3E%3Cstop offset='0' stop-color='" + bColor + "'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M90.05 25.71a5.37 5.37 0 011.67 4 5.3 5.3 0 01-1.67 3.86 5.3 5.3 0 01-3.86 1.67H86a2127.74 2127.74 0 01-3.58 13.06l-2.24 7.92a649.23 649.23 0 01-3.86 12.97 13.83 13.83 0 01-1 2.67 10.72 10.72 0 00-1.91 5.82c0 .57.11 1.05.33 1.43.22.38.49.79.81 1.24.44.57.87 1.27 1.29 2.1.41.83.62 1.94.62 3.34 0 .95-.56 1.75-1.67 2.38a16.4 16.4 0 01-4.24 1.57c-1.72.41-3.62.73-5.72.95-2.1.22-4.13.4-6.1.53-1.97.13-3.75.21-5.34.24-1.59.03-2.77.05-3.53.05a221.68 221.68 0 01-8.72-.24 84.6 84.6 0 01-6.06-.52c-2.1-.26-3.99-.59-5.67-1a16.89 16.89 0 01-4.2-1.57c-1.11-.64-1.67-1.43-1.67-2.38 0-1.4.21-2.51.62-3.34.41-.83.81-1.53 1.19-2.1.38-.45.68-.86.91-1.24.22-.38.33-.86.33-1.43 0-1.97-.67-3.91-2-5.82l-.33-.67c-.16-.32-.43-1.13-.81-2.43l-1.72-5.82c-.76-2.58-1.78-6.15-3.05-10.73l-3.34-12.3A46.06 46.06 0 0114 35.25h-.19a5.3 5.3 0 01-3.86-1.67 5.3 5.3 0 01-1.67-3.86c0-1.59.56-2.92 1.67-4a5.5 5.5 0 017.82 0 5.37 5.37 0 011.67 4 4.9 4.9 0 01-.86 2.86 6.57 6.57 0 01-2.19 2l13.35 21.74V26.66a5.92 5.92 0 01-3.15-1.95 5.23 5.23 0 01-1.24-3.48 5.5 5.5 0 011.62-3.96 5.37 5.37 0 014-1.67c1.53 0 2.84.56 3.96 1.67a5.41 5.41 0 011.67 3.96c0 1.27-.4 2.4-1.19 3.38a5.52 5.52 0 01-2.91 1.95l10.11 28.42 6.1-30.51a5.64 5.64 0 01-3.1-1.95 5.19 5.19 0 01-1.19-3.38 5.5 5.5 0 011.62-3.96 5.15 5.15 0 013.81-1.67c1.65 0 3.02.56 4.1 1.67a5.48 5.48 0 011.62 3.96 5.56 5.56 0 01-4.19 5.33l6.01 30.51L67.5 26.56a5.68 5.68 0 01-2.91-1.95 5.19 5.19 0 01-1.19-3.38c0-1.53.56-2.84 1.67-3.96a5.52 5.52 0 014.05-1.67c1.53 0 2.83.56 3.91 1.67a5.48 5.48 0 011.62 3.96c0 1.33-.41 2.5-1.24 3.48a5.76 5.76 0 01-3.05 1.95v29.66l13.26-21.74a5.08 5.08 0 01-3.05-4.86c0-1.59.54-2.92 1.62-4a5.45 5.45 0 014.01-1.62 5.28 5.28 0 013.85 1.61zM56.67 67.9c2.38.1 4.64.29 6.77.57 2.13.29 4.05.72 5.77 1.29a8.9 8.9 0 013.81 2.19l.29-.48a16.22 16.22 0 00.57-1.72c-1.65-1.53-4.42-2.64-8.29-3.34-3.88-.7-9.12-1.05-15.73-1.05-6.48 0-11.65.35-15.5 1.05-3.85.7-6.63 1.81-8.34 3.34.38.89.57 1.4.57 1.52.19.32.35.54.48.67.76-.89 2-1.62 3.72-2.19 1.72-.57 3.64-1 5.77-1.29 2.13-.29 4.35-.48 6.67-.57a153.69 153.69 0 0113.44.01zm10.92 14.02a99.38 99.38 0 00-13.39-1.14c-2-.03-3.45-.05-4.34-.05l-4.15.05a99.38 99.38 0 00-13.3 1.14c-2.29.35-4.2.84-5.72 1.48-.45.7-.67 1.68-.67 2.96.38-.57 2.53-1.27 6.44-2.1 3.91-.83 9.71-1.24 17.4-1.24 7.82 0 13.7.41 17.64 1.24 3.94.83 6.1 1.53 6.48 2.1 0-1.27-.22-2.26-.67-2.96a24.48 24.48 0 00-5.72-1.48zm-4.62-6.15c3.46.57 6.18 1.59 8.15 3.05v-.57a11.74 11.74 0 01.19-2.1c-2.23-1.46-5.07-2.43-8.54-2.91a94.16 94.16 0 00-12.63-.71c-5.09 0-9.38.24-12.87.71-3.5.48-6.36 1.45-8.58 2.91l.14 1.14c.03.32.05.63.05.95v.57c1.97-1.46 4.72-2.48 8.25-3.05s7.87-.86 13.02-.86c5.08.01 9.35.29 12.82.87z'/%3E%3C/svg%3E";

    bP="data:image/svg+xml;charset=utf8,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='23.33' y1='52.5' x2='76.67' y2='52.5'%3E%3Cstop offset='0' stop-color='" + bColor + "'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M41.81 22.91a8.87 8.87 0 014.66-4.7 8.56 8.56 0 013.48-.71c1.19 0 2.34.24 3.43.71s2.05 1.1 2.87 1.88a8.73 8.73 0 012.64 6.25c0 1.38-.31 2.67-.94 3.86a9.96 9.96 0 01-2.54 3.1 16 16 0 018.14 4.99 12.1 12.1 0 013.06 8.09c0 2.51-.72 4.78-2.17 6.82a16.83 16.83 0 01-5.74 5.03c2.63.69 5.06 1.66 7.29 2.92a23.13 23.13 0 015.69 4.42 19.9 19.9 0 013.67 5.55 15.54 15.54 0 011.32 6.3V87.5H23.33V77.43c0-2.2.44-4.3 1.32-6.3s2.12-3.86 3.72-5.55a24 24 0 015.74-4.42 30.86 30.86 0 017.29-2.92c-2.51-1.32-4.49-3-5.93-5.03a12 12 0 01.94-14.91 16.34 16.34 0 018.19-4.99 10.07 10.07 0 01-2.54-3.1 8.13 8.13 0 01-.94-3.86c-.01-1.2.22-2.34.69-3.44z'/%3E%3C/svg%3E";


    /*selectors*/
    .piece.wk:not(.pseudo3d .piece.wk),
    .promotion-piece.wk:not(.pseudo3d .promotion-piece.wk),
    [data-hand-piece="wk"],
    div [style*="wk.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(wK)!important;
    }
    .piece.wq:not(.pseudo3d .piece.wq),
    .promotion-piece.wq:not(.pseudo3d .promotion-piece.wq),
    [data-hand-piece="wq"],
    div [style*="wq.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(wQ)!important;
    }
    .piece.wb:not(.pseudo3d .piece.wb),
    .promotion-piece.wb:not(.pseudo3d .promotion-piece.wb),
    [data-hand-piece="wb"],
    div [style*="wb.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(wB)!important;
    }
    .piece.wn:not(.pseudo3d .piece.wn),
    .promotion-piece.wn:not(.pseudo3d .promotion-piece.wn),
    [data-hand-piece="wn"],
    div [style*="wn.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(wN)!important;
    }
    .piece.wr:not(.pseudo3d .piece.wr),
    .promotion-piece.wr:not(.pseudo3d .promotion-piece.wr),
    [data-hand-piece="wr"],
    div [style*="wr.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(wR)!important;
    }
    .piece.wp:not(.pseudo3d .piece.wp),
    .promotion-piece.wp:not(.pseudo3d .promotion-piece.wp),
    [data-hand-piece="wp"],
    div [style*="wp.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(wP)!important;
    }
    .piece.bk:not(.pseudo3d .piece.bk),
    .promotion-piece.bk:not(.pseudo3d .promotion-piece.bk),
    [data-hand-piece="bk"],
    div [style*="bk.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(bK)!important;
    }
    .piece.bq:not(.pseudo3d .piece.bq),
    .promotion-piece.bq:not(.pseudo3d .promotion-piece.bq),
    [data-hand-piece="bq"],
    div [style*="bq.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(bQ)!important;
    }
    .piece.bb:not(.pseudo3d .piece.bb),
    .promotion-piece.bb:not(.pseudo3d .promotion-piece.bb),
    [data-hand-piece="bb"],
    div [style*="bb.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(bB)!important;
    }
    .piece.bn:not(.pseudo3d .piece.bn),
    .promotion-piece.bn:not(.pseudo3d .promotion-piece.bn),
    [data-hand-piece="bn"],
    div [style*="bn.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(bN)!important;
    }
    .piece.br:not(.pseudo3d .piece.br),
    .promotion-piece.br:not(.pseudo3d .promotion-piece.br),
    [data-hand-piece="br"],
    div [style*="br.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(bR)!important;
    }
    .piece.bp:not(.pseudo3d .piece.bp),
    .promotion-piece.bp:not(.pseudo3d .promotion-piece.bp),
    [data-hand-piece="bp"],
    div [style*="bp.png"]:not([class*="preview"] div):not(div#board.board > div) {
        background-image: url(bP)!important;
    }
    /*pieces for mini-boards*/
    [data-piece="bK"],
    img[src*="/bk.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(bK)!important;
    }
    img[src*="/bQ.png"],
    [data-piece="bQ"],
    img[src*="/bq.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(bQ)!important;
    }
    img[src*="/bB.png"],
    [data-piece="bB"],
    img[src*="/bb.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(bB)!important;
    }
    img[src*="/bN.png"],
    [data-piece="bN"],
    img[src*="/bn.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(bN)!important;
    }
    img[src*="/bR.png"],
    [data-piece="bR"],
    img[src*="/br.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(bR)!important;
    }
    [data-piece="bP"],
    img[src*="/bp.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(bP)!important;
    }
    [data-piece="wK"],
    img[src*="/wk.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(wK)!important;
    }
    img[src*="/wQ.png"],
    [data-piece="wQ"],
    img[src*="/wq.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(wQ)!important;
    }
    img[src*="/wB.png"],
    [data-piece="wB"],
    img[src*="/wb.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(wB)!important;
    }
    img[src*="/wN.png"],
    [data-piece="wN"],
    img[src*="/wn.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(wN)!important;
    }
    img[src*="/wR.png"],
    [data-piece="wR"],
    img[src*="/wr.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(wR)!important;
    }
    [id^="wP"],
    [class^="square"]>[data-piece="wP"],
    [data-piece="wP"]>[data-piece="wP"],
    img[src*="/wp.png"]:not([class="settings-themes-preview-board-piece"]) {
        content: url(wP)!important;
    }
    /*2023-07-05 new rules for game preview*/
    :root{
        --theme-piece-set-perspective:1;
        --theme-piece-set-wp: url(wP);
        --theme-piece-set-wn: url(wN);
        --theme-piece-set-wr: url(wR);
        --theme-piece-set-wb: url(wB);
        --theme-piece-set-wq: url(wQ);
        --theme-piece-set-wk: url(wK);
        --theme-piece-set-bp: url(bP);
        --theme-piece-set-bn: url(bN);
        --theme-piece-set-bb: url(bB);
        --theme-piece-set-br: url(bR);
        --theme-piece-set-bq: url(bQ);
        --theme-piece-set-bk: url(bK);
    }
}
@-moz-document regexp("https://www\\.chessable\\.com/(?!mt1/chess-board-setup-editor)(?!mt1/explore/)(?!mt1/analysis/).*") {
    /*Chessable White Pawn*/
    /*matchs chessable domain except iframe for "setup position" as it is buggy at the moment.*/
    [data-piece="wP"]{
        content: url(wP)!important;
    }
}
@-moz-document url-prefix("https://www.chessable.com/mt1/explore/fen"), url-prefix("https://www.chessable.com/mt1/chess-board-setup-editor/") {
    /*Chessable setup position*/
    [id^="wP"],
    [class^="square"]>[data-piece="wP"],
    [data-piece="wP"]>[data-piece="wP"] {
        content: url(wP)!important;
    }
    /*Chessable Fix*/
	.notation-dark,.notationlight {
		bottom: -3px;
		right: 3px;
	}
    .setPromotion img, {
        width: 80px!important;
        height: auto!important;
        display:inline-block;
    }
    #promoteQueen{
        content: url(wQ)!important;
    }
    #promoteKnight{
        content: url(wN)!important;   
    }
    #promoteBishop{
        content: url(wB)!important;
    }
    #promoteRook{
        content: url(wR)!important;
    }
    div[class^="spare-pieces"]>div{
        display:inline-block!important;
    }
}