/* ==UserStyle==
@name           Páscoa: chessboard
@namespace      USO Archive
@author         agiota_do_artenio
@homepageURL    https://www.chess.com/blog/Agiota_do_Artenio
@description    `Tabuleiro de Páscoa`
@version        1.0.5
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Chocolate": "op1",
            "Desativado": "op0",
        }
@var    checkbox    setHLopacity "Modificar opacidade do destaque" 0
@var    range    highlightOpacity  "Opacidade do destaque" [0.4, 0.4, 1, 0.1, ""]
@var    checkbox    setHLhueRotation "Modificar tonalidade do destaque" 0
@var    range    highlightHueRotation  "Tonalidade do destaque" [0, 0, 355, 5, "deg"]
@var    checkbox    enableBoardSettings "Avançado: Config. do tabuleiro" 0
@var    range    hueRotationBoard  "Tonalidade do tabuleiro (melhor com pçs preto e branco)" [0, 0, 355, 5, "deg"]
@var    checkbox    setEvaluationBar "Barra de avaliação personalizada" 1
@var    select      myWallpaper    "Aplicar Wallpaper" {
            "Temático*": "op1",
            "Seu link": "op2",		
            "Desativado": "op0",
        }
@var    text     userWallpaper    "Seu papel de parede (entre aspas simples)"   "'https://ffwallpaper.com/wallup/chocolate/chocolate-21.jpg'"
==/UserStyle== */
@-moz-document domain("chess.com"),
domain("chessclub.com") {
    if myBoard!="op0" {
		/*Chessboard.board,*/
		.board-brown .cg-wrap,
		#board-single-sibling,
		.board-layout-chessboard .board,
		.fade-in-overlay/*chesskids*/
		,
		#boarddefault_boardarea/*chesskids*/
		,
		#divChessBoard_boardarea/*chesskids*/
		,
		#vsComputerDiv_boardarea/*chesskids*/
		,
		div[id^="board-"][class*="chess-board__board"]/*chesskids*/
		,
		div[class^="board v-board disabled rounded"],
		div[class^="daily-puzzle-board"],
		div[class^="board chessboard-component"],
		div[class^="board v-board chessboard-component"],
		div[class^="board rounded"],
		div[class^="board rounded fippled"],
		div[class^="board fippled rounded"],
		div[class^="board v-board rounded"],
		div[class^="board v-board fippled rounded"],
		div[class^="board disabled rounded"],
		div[id$="_ChessBoard_boardarea"],
		div[id^="chess_com_openingboard_1"],
		div[id^="board_training"],
		div[id^="divBoard_boardarea"],
		div[id^="chess_com_tactics_board"],
		div[id^="chessboard_"],
		div[id*="chessboard_"],
		div[id^="chess_com_chessmentorboard_"],
		div[id*="chess_com_chessmentorboard_"],
		div[id*="chess_com_chessmentor_board_1_boardarea"],
		div[id^="chess_com_emailboard_"],
		div[id^="board-blank"],
		chess-board[class^="board"],
		chess-board[class^="board flipped"],
		chess-board[id^="board-blank"],
		chess-board[id^="board-vs-personalities"],
		div[id*="chess_com_emailboard_"] {
            if enableBoardSettings {
                filter: hue-rotate(hueRotationBoard);
            }
            if myBoard=="op1" {
                background: url(https://github.com/FSA1/Styles/raw/df51b0ef8343aec3a6fc85a17e06cbe8a28ef91e/Pascoa/chocolatecb.png) 0% 0% / 100% 100% no-repeat!important;
            }
        }
        /*Coordinates*/
        if myBoard=="op1" {
            .cg-wrap.orientation-white .files coord:nth-child(2n),
            .cg-wrap.orientation-white .ranks coord:nth-child(2n+1),
            .cg-wrap.orientation-black .files coord:nth-child(2n+1),
            .cg-wrap.orientation-black .ranks coord:nth-child(2n),
            div.number.coords-light,
            div.letter.coords-light {
                color: #76472E !important;
            }
            .cg-wrap.orientation-white .files coord:nth-child(2n+1),
            .cg-wrap.orientation-white .ranks coord:nth-child(2n),
            .cg-wrap.orientation-black .files coord:nth-child(2n),
            .cg-wrap.orientation-black .ranks coord:nth-child(2n+1),
            div.number.coords-dark,
            div.letter.coords-dark {
                color: #EBD5B0 !important;
            }
            text.coordinate-light {
                fill: #76472E !important;
            }
            text.coordinate-dark {
                fill: #EBD5B0 !important;
            }
        }
        /*Highlight*/
        if setHLopacity {
            .move-square,
            .highlight {
                opacity: highlightOpacity!important;
            }
        }
        if setHLhueRotation {
            .move-square,
            .highlight {
                filter: hue-rotate(highlightHueRotation) !important;
            }
        }
        /*Evaluation bar*/
        if setEvaluationBar {
            if myBoard=="op1" {
                .evaluation-bar-white {
                    background-color: #EBD5B0 !important;
                }
                .evaluation-bar-black {
                    background-color: #76472E !important;
                }
            }

            if enableBoardSettings {
                .evaluation-bar-white,
                .evaluation-bar-black {
                    filter: hue-rotate(hueRotationBoard);
                }
            }
        }
        /*wallpaper (secondary server not defined here to save memory but gitLab links are available)*/
        body {
            --op1wall: url(https://ffwallpaper.com/wallup/chocolate/chocolate-19.jpg);
        }
        if myWallpaper!="op0" {
            body:after,
            .theme-bg {
                if myWallpaper=="op1" {
                    if myBoard=="op1" {
                        background: var(--op1wall) center center!important;
                    }
                }

                if myWallpaper=="op2" {
                    background: url(userWallpaper) center center!important;
                }
                    background-size: cover!important;
                    -webkit-background-size: @background-size;
                    -moz-background-size: @background-size;
                    -o-background-size: @background-size;
                    content: '';
                    position: fixed;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
            }
        }
    }
    /*End of the code*/
}
