/* ==UserStyle==
@name           Chess.com Board Molina: Wood
@namespace      USO Archive
@author         agiota_do_artenio
@description    `Chess board for MI Roberto Molina`
@version        20200831.22.30
@license        NO-REDISTRIBUTION
@preprocessor   uso
==/UserStyle== */
@-moz-document domain("chess.com") {
/*Chessboard*/
    #board-single-sibling,
.board-layout-chessboard .board,
div[class^="daily-puzzle-board"],
div[class^="board chessboard-component"],
div[class^="board v-board chessboard-component"],
div[class^="board rounded"],
div[class^="board rounded fippled"],
div[class^="board fippled rounded"],
div[class^="board v-board rounded"],
div[class^="board v-board fippled rounded"],
div[class^="board disabled rounded"],
div[id$="_ChessBoard_boardarea"],
div[id^="chess_com_openingboard_1"],
div[id^="board_training"],
div[id^="divBoard_boardarea"],
div[id^="chess_com_tactics_board"],
div[id^="chessboard_"],
div[id*="chessboard_"],
div[id^="chess_com_chessmentorboard_"],
div[id*="chess_com_chessmentorboard_"],
div[id*="chess_com_chessmentor_board_1_boardarea"],
div[id^="chess_com_emailboard_"],
div[id^="board-blank"],
chess-board[class^="board"],
chess-board[class^="board flipped"],
chess-board[id^="board-blank"],
chess-board[id^="board-vs-personalities"],
div[id*="chess_com_emailboard_"] {background-image: url(https://github.com/FSA1/Styles/raw/main/Molina/RMcb_Wood.jpg)!important;
}
/*Coordinates*/
	div.number.coords-light, div.letter.coords-light {
    color: #5a5956 !important;
}
	div.number.coords-dark, div.letter.coords-dark {
    color: #5a5956 !important;
}
	text.coordinate-light {
    fill: #5a5956 !important;
}    
	text.coordinate-dark {
    fill: #5a5956 !important;
} 
/*Highlight*/
    .move-square{
    background-color: #8E9293 !important;
    opacity: 0.8!important;
}	
	.selection-square{
    background-color: #FD9E5C !important;
	opacity:0.8 !important;
}
/*Evaluation Bar*/
    .evaluation-bar-white {
        background-color: #dbcfc0 !important;
    }
    .evaluation-bar-black {
        background-color: #514c46 !important;
    }
    .evaluation-bar-bar{
        opacity: 0.7;
    }
/*End of the code*/
}
